{
  "openapi": "3.0.0",
  "info": {
    "title": "TradingAPI",
    "description": "Client-scoped HTTP API for Broker Apps to access account, asset, trading, and related business capabilities.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lbkrs.com",
      "description": "Production"
    },
    {
      "url": "https://api.longbridge.xyz",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "Market data"
    },
    {
      "name": "Trading"
    },
    {
      "name": "Assets"
    },
    {
      "name": "Account"
    },
    {
      "name": "Rewards"
    }
  ],
  "components": {
    "securitySchemes": {},
    "schemas": {
      "ApiEnvelope": {
        "type": "object",
        "description": "Gateway unified outer response structure",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "Business status code, 0 indicates success"
          },
          "message": {
            "type": "string",
            "description": "Human-readable result or error message."
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "RewardsCard": {
        "type": "object",
        "description": "Card/Coupon information",
        "properties": {
          "card_id": {
            "type": "string",
            "description": "Card/Coupon id"
          },
          "member_id": {
            "type": "string",
            "description": "The `member_id` of the Client who holds the card."
          },
          "card_type": {
            "type": "string",
            "description": "Card/Coupon type: cash Cash card, quote Market data card, fundamental Fundamental card, commission Commission-free card, ipo IPO privilege card, ipo_interest IPO financing interest card, ipo_commission IPO fee card, stock Stock card, stock_fragment Fractional share card, platform_fee_deduct Platform fee deduction card, finance_interest Margin financing interest card, fund_interest Fund interest-boost card, coffee_coupon Coffee coupon\n",
            "enum": [
              "cash",
              "quote",
              "fundamental",
              "commission",
              "ipo",
              "ipo_interest",
              "ipo_commission",
              "stock",
              "stock_fragment",
              "platform_fee_deduct",
              "finance_interest",
              "fund_interest",
              "coffee_coupon"
            ]
          },
          "title": {
            "type": "string",
            "description": "Card/Coupon title"
          },
          "title_sec": {
            "type": "string",
            "description": "Card/Coupon subtitle"
          },
          "cover": {
            "type": "string",
            "description": "Cover image"
          },
          "description": {
            "type": "string",
            "description": "Client-facing description."
          },
          "start_time": {
            "type": "string",
            "description": "Usable start timestamp (seconds)"
          },
          "end_time": {
            "type": "string",
            "description": "Expiry timestamp (seconds)"
          },
          "card_status": {
            "type": "integer",
            "description": "Coupon/voucher status：\n\n- `0` - Not activated\n- `1` - Used\n- `2` - Expired\n- `3` - In use\n- `4` - Activated",
            "enum": [
              0,
              1,
              2,
              3,
              4
            ]
          },
          "detail": {
            "type": "string",
            "description": "Card/Coupon details"
          },
          "currency": {
            "type": "string",
            "description": "Currency unit, applicable to Cash cards, Commission-free cards, IPO financing interest cards, IPO fee cards"
          },
          "amount": {
            "type": "string",
            "description": "Associated amount"
          },
          "activate_time": {
            "type": "string",
            "description": "Card/Coupon activation time"
          },
          "invisible": {
            "type": "boolean",
            "description": "Is invisible (used only in available-cards list scenario)"
          },
          "background": {
            "type": "string",
            "description": "Card/Coupon background image"
          },
          "style": {
            "type": "string",
            "description": "Card/Coupon style"
          },
          "account_channel": {
            "type": "string",
            "description": "Account channels applicable to the card/coupon"
          },
          "new_flag": {
            "type": "boolean",
            "description": "New card indicator"
          },
          "cash": {
            "type": "object",
            "description": "Cash card information",
            "properties": {
              "receive_duration": {
                "type": "string",
                "description": "Cash arrival time required (seconds)"
              }
            }
          },
          "quote": {
            "$ref": "#/components/schemas/RewardsCardQuote"
          },
          "fundamental": {
            "$ref": "#/components/schemas/RewardsCardQuote"
          },
          "commission": {
            "type": "object",
            "description": "Commission-free card information",
            "properties": {
              "markets": {
                "type": "array",
                "description": "Commission-free markets, e.g. US, SH, SG, HK",
                "items": {
                  "type": "string"
                }
              },
              "rebate_rate": {
                "type": "string",
                "description": "Commission-free ratio, 1 represents 100%"
              },
              "bz_types": {
                "type": "array",
                "description": "Applicable instrument types",
                "items": {
                  "$ref": "#/components/schemas/RewardsTargetType"
                }
              },
              "commission_duration": {
                "type": "string",
                "description": "Commission-free card duration (seconds)"
              },
              "commission_balance": {
                "type": "string",
                "description": "Commission-free card balance"
              },
              "unlimited": {
                "type": "integer",
                "description": "Commission-free mode：\n\n- `0` - Proportional commission-free (collect first, rebate later; time-limited)\n- `1` - Full commission-free (collect first, rebate later; time-limited)\n- `2` - Lifetime commission-free (direct deduction; no usage limit)\n- `6` - Fixed-amount per-use card (usage count limit, time-limited)\n- `7` - Discount per-use card (usage count limit, time-limited)",
                "enum": [
                  0,
                  1,
                  2,
                  6,
                  7
                ]
              },
              "commission_expired_time": {
                "type": "string",
                "description": "Commission-free expiry time (for commission-free cards currently in use)"
              },
              "superposition": {
                "type": "boolean",
                "description": "Is time stackable"
              },
              "settlement_model": {
                "type": "string",
                "description": "Settlement mode: payback charge-first-refund-later, compensate direct deduction",
                "enum": [
                  "payback",
                  "compensate"
                ]
              },
              "usage_count": {
                "type": "string",
                "description": "Commission-free card usage count"
              },
              "lave_usage_count": {
                "type": "string",
                "description": "Remaining available uses"
              },
              "amount_limit": {
                "type": "string",
                "description": "Per-use amount cap (unit: cents); absence means no limit"
              }
            }
          },
          "ipo": {
            "type": "object",
            "description": "IPO privilege card information",
            "properties": {
              "subscription_id": {
                "type": "string",
                "description": "Reservation id; empty means generalized IPO card"
              }
            }
          },
          "ipo_interest": {
            "type": "object",
            "description": "IPO financing interest card information",
            "properties": {
              "discount_rate": {
                "type": "string",
                "description": "Subsidy interest rate, 1 represents 100%"
              }
            }
          },
          "ipo_commission": {
            "type": "object",
            "description": "IPO fee card information",
            "properties": {
              "bz_types": {
                "type": "array",
                "description": "IPO method",
                "items": {
                  "$ref": "#/components/schemas/RewardsIPOType"
                }
              },
              "financing_limit": {
                "type": "string",
                "description": "Financing IPO quota threshold, 0 means no threshold"
              },
              "counter_id": {
                "type": "string",
                "description": "Specified IPO stock id; empty means no restriction"
              }
            }
          },
          "stock": {
            "type": "object",
            "description": "Stock card information",
            "properties": {
              "counter_id": {
                "type": "string",
                "description": "Stock id"
              },
              "amount": {
                "type": "number",
                "description": "Number of shares issued, supports fractional shares"
              },
              "redemption_type": {
                "type": "string",
                "description": "Redemption type: by_card_value redeem by card face value, shares_number fixed shares redemption (default)",
                "enum": [
                  "by_card_value",
                  "shares_number"
                ]
              }
            }
          },
          "stock_fragment": {
            "type": "object",
            "description": "Fractional-share card information.",
            "properties": {
              "counter_id": {
                "type": "string",
                "description": "Applicable stock id; empty means fractional-share general card"
              },
              "markets": {
                "type": "array",
                "description": "Applicable market",
                "items": {
                  "type": "string"
                }
              },
              "amounts": {
                "type": "object",
                "description": "Issuance quantity per market",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "underlying_type": {
                "$ref": "#/components/schemas/RewardsTargetType"
              }
            }
          },
          "platform_fee_deduct": {
            "type": "object",
            "description": "Platform fee deduction card information",
            "properties": {
              "usage_count": {
                "type": "string",
                "description": "Usage count"
              },
              "lave_usage_count": {
                "type": "string",
                "description": "Remaining available uses"
              },
              "superposition": {
                "type": "boolean",
                "description": "Is time stackable"
              },
              "markets": {
                "type": "array",
                "description": "Applicable market",
                "items": {
                  "type": "string"
                }
              },
              "bz_types": {
                "type": "array",
                "description": "Applicable instrument types",
                "items": {
                  "$ref": "#/components/schemas/RewardsTargetType"
                }
              },
              "counter_id": {
                "type": "string",
                "description": "Applicable stock id"
              }
            }
          },
          "finance_interest": {
            "type": "object",
            "description": "Financing interest card information",
            "properties": {
              "discount_mode": {
                "type": "integer",
                "description": "Discount method"
              },
              "discount_rate": {
                "type": "number",
                "description": "Discount rate"
              },
              "superposition": {
                "type": "boolean",
                "description": "Is stackable/extendable"
              }
            }
          },
          "fund_interest": {
            "type": "object",
            "description": "Fund interest-boost card information (structure is dynamic JSON; fields are not fixed)"
          },
          "coffee_coupon": {
            "type": "object",
            "description": "Coffee coupon information",
            "properties": {
              "coupon_channel": {
                "type": "string",
                "description": "Card/Coupon channel"
              },
              "coupon_no": {
                "type": "string",
                "description": "Third-party card/coupon number"
              },
              "use_limit": {
                "type": "string",
                "description": "Usage limit type: total total-use limit, period periodic-use limit",
                "enum": [
                  "total",
                  "period"
                ]
              },
              "threshold": {
                "type": "string",
                "description": "Maximum uses"
              },
              "period_type": {
                "type": "string",
                "description": "Period type (effective when use_limit is period), e.g. day"
              },
              "coupon_id": {
                "type": "string",
                "description": "Third-party card/coupon id"
              },
              "store_id_list": {
                "type": "array",
                "description": "Store IDs where the coupon can be used.",
                "items": {
                  "type": "string"
                }
              },
              "is_available_all_store": {
                "type": "boolean",
                "description": "Whether the coupon can be used at every store."
              },
              "settled_store_id": {
                "type": "string",
                "description": "ID of the store where the coupon was redeemed."
              },
              "store_list": {
                "type": "array",
                "description": "Stores where the coupon can be used. The item schema is not defined.",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "crypto": {
            "type": "object",
            "description": "Virtual asset card information. The object schema is not defined."
          },
          "ai_benefit": {
            "type": "object",
            "description": "AI benefit card information.",
            "properties": {
              "benefit_tag": {
                "type": "string",
                "description": "Entitlement tag"
              },
              "benefit_days": {
                "type": "integer",
                "description": "Entitlement days"
              },
              "benefit_start": {
                "type": "string",
                "description": "Entitlement start time"
              },
              "benefit_end": {
                "type": "string",
                "description": "Entitlement end time"
              }
            }
          },
          "receive_duration": {
            "type": "string",
            "deprecated": true,
            "description": "Time for cash to arrive (seconds). Deprecated and pending removal; semantics same as cash.receive_duration; retained only for compatibility with legacy Broker App."
          },
          "quote_duration": {
            "type": "string",
            "deprecated": true,
            "description": "Permission duration (seconds). Deprecated and pending removal; semantics same as quote.quote_duration; retained only for compatibility with legacy Broker App."
          },
          "markets": {
            "type": "array",
            "deprecated": true,
            "description": "Commission-free markets. Deprecated and pending removal; semantics same as commission.markets; retained only for compatibility with legacy Broker App.",
            "items": {
              "type": "string"
            }
          },
          "rebate_rate": {
            "type": "string",
            "deprecated": true,
            "description": "Commission-free rebate rate. Deprecated and pending removal; semantics same as commission.rebate_rate; retained only for compatibility with legacy Broker App."
          },
          "bz_types": {
            "type": "array",
            "deprecated": true,
            "description": "Applicable underlying types. Deprecated and pending removal; semantics same as commission.bz_types; retained only for compatibility with legacy Broker App.",
            "items": {
              "$ref": "#/components/schemas/RewardsTargetType"
            }
          },
          "commission_balance": {
            "type": "string",
            "deprecated": true,
            "description": "Commission-free card balance. Deprecated and pending removal; semantics same as commission.commission_balance; retained only for compatibility with legacy Broker App."
          },
          "commission_duration": {
            "type": "string",
            "deprecated": true,
            "description": "Commission-free card duration (seconds). Deprecated and pending removal; semantics same as commission.commission_duration; retained only for compatibility with legacy Broker App."
          },
          "subscription_id": {
            "type": "string",
            "deprecated": true,
            "description": "IPO privilege card subscription id. Deprecated and pending removal; semantics same as ipo.subscription_id; retained only for compatibility with legacy Broker App."
          }
        }
      },
      "RewardsCardQuote": {
        "type": "object",
        "description": "Market data card / Fundamental card information",
        "properties": {
          "quote_duration": {
            "type": "string",
            "description": "Permission duration (seconds)"
          },
          "markets": {
            "type": "array",
            "description": "Entitlement market(s)",
            "items": {
              "type": "string"
            }
          },
          "superposition": {
            "type": "boolean",
            "description": "Is time stackable"
          },
          "quote_market": {
            "type": "string",
            "description": "Market data market"
          },
          "current_end_time": {
            "type": "string",
            "description": "Current expiration time"
          },
          "manual_activate": {
            "type": "boolean",
            "description": "Requires manual activation"
          },
          "need_certify": {
            "type": "boolean",
            "description": "Requires professional investor accreditation"
          }
        }
      },
      "RewardsTargetType": {
        "type": "integer",
        "description": "Underlying/instrument type：\n\n- `0` - Stock trading\n- `1` - US equity options\n- `2` - HK warrants\n- `3` - Exchange-traded funds (ETF)\n- `4` - Off-exchange funds (LOF)",
        "enum": [
          0,
          1,
          2,
          3,
          4
        ]
      },
      "RewardsIPOType": {
        "type": "integer",
        "description": "New-share subscription method：\n\n- `1` - Margin-based subscription\n- `2` - Cash subscription",
        "enum": [
          1,
          2
        ]
      },
      "MemberReward": {
        "type": "object",
        "description": "Client reward information",
        "properties": {
          "reward_type": {
            "type": "integer",
            "description": "Reward type：\n\n- `0` - Cash\n- `1` - Physical item\n- `2` - Coupon/voucher\n- `3` - Task coin",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "account_channel": {
            "type": "string",
            "description": "Applicable tenant(s)"
          },
          "cash": {
            "$ref": "#/components/schemas/MemberRewardCash"
          },
          "task_coin": {
            "$ref": "#/components/schemas/MemberRewardTaskCoin"
          },
          "prize": {
            "$ref": "#/components/schemas/MemberRewardPrize"
          },
          "card": {
            "$ref": "#/components/schemas/MemberRewardCard"
          }
        }
      },
      "MemberRewardCash": {
        "type": "object",
        "description": "Cash reward information",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "Record id"
          },
          "activity_title": {
            "type": "string",
            "description": "Campaign name"
          },
          "currency": {
            "type": "string",
            "description": "Currency"
          },
          "amount": {
            "type": "number",
            "description": "Amount"
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "Cancel issuance reason (only meaningful when status=1 cancelled issuance)：\n\n- `0` - Did not meet campaign threshold\n- `1` - Campaign mutually exclusive",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "Grant time; if not yet granted, this is the expected grant time"
          }
        }
      },
      "MemberRewardTaskCoin": {
        "type": "object",
        "description": "Task token reward information",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "Record id"
          },
          "activity_title": {
            "type": "string",
            "description": "Campaign name"
          },
          "amount": {
            "type": "number",
            "description": "Quantity"
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "Cancel issuance reason (only meaningful when status=1 cancelled issuance)：\n\n- `0` - Did not meet campaign threshold\n- `1` - Campaign mutually exclusive",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "Grant time; if not yet granted, this is the expected grant time"
          }
        }
      },
      "MemberRewardCard": {
        "type": "object",
        "description": "Coupon/card reward information",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "Record id"
          },
          "card_id": {
            "type": "string",
            "description": "Card/Coupon id"
          },
          "activity_title": {
            "type": "string",
            "description": "Campaign name"
          },
          "card_type": {
            "type": "string",
            "description": "Card/coupon type: cash cash card, quote market data card, fundamental fundamental card, commission commission-free card",
            "enum": [
              "cash",
              "quote",
              "fundamental",
              "commission"
            ]
          },
          "title": {
            "type": "string",
            "description": "Card/Coupon title"
          },
          "cover": {
            "type": "string",
            "description": "Cover image"
          },
          "description": {
            "type": "string",
            "description": "Client-facing description."
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "Cancel issuance reason (only meaningful when status=1 cancelled issuance)：\n\n- `0` - Did not meet campaign threshold\n- `1` - Campaign mutually exclusive",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "Grant time; if not yet granted, this is the expected grant time"
          },
          "detail": {
            "type": "string",
            "description": "Card/Coupon details"
          },
          "currency": {
            "type": "string",
            "description": "Currency unit (attribute of cash card / commission card)"
          },
          "amount": {
            "type": "number",
            "description": "Amount for cash card / commission card"
          },
          "receive_duration": {
            "type": "string",
            "description": "Estimated time for cash to arrive after using cash card (seconds)"
          },
          "quote_duration": {
            "type": "string",
            "description": "Duration (seconds), attribute of market data card / fundamental card"
          },
          "markets": {
            "type": "array",
            "description": "Commission-free card markets",
            "items": {
              "type": "string"
            }
          },
          "rebate_rate": {
            "type": "string",
            "description": "Commission-free rate for commission card"
          },
          "commission_duration": {
            "type": "string",
            "description": "Commission-free card duration (seconds)"
          },
          "background": {
            "type": "string",
            "description": "Card/Coupon background image"
          },
          "style": {
            "type": "string",
            "description": "Card/Coupon style"
          },
          "card_status": {
            "type": "integer",
            "description": "Voucher usage status：\n\n- `0` - Not used\n- `1` - Used\n- `2` - Expired\n- `3` - In use",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "reward_rule_url": {
            "type": "string",
            "description": "Link to reward distribution rules; when both this and reward_rule_description exist, this link often takes priority"
          },
          "reward_rule_description": {
            "type": "string",
            "description": "Reward distribution rule description"
          },
          "short_background": {
            "type": "string",
            "description": "Thumbnail background image, mainly used in reward record display"
          },
          "fund_interest": {
            "type": "object",
            "description": "Fund interest-boost card information (structure is dynamic JSON; fields are not fixed)"
          },
          "quote": {
            "type": "object",
            "description": "Market data card related information (structure is dynamic JSON; fields not fixed)"
          },
          "stock_fragment": {
            "type": "object",
            "description": "Fractional-share card information.",
            "properties": {
              "underlying_type": {
                "$ref": "#/components/schemas/RewardsTargetType"
              }
            }
          },
          "ai_benefit": {
            "type": "object",
            "description": "AI benefit card information."
          }
        }
      },
      "MemberRewardPrize": {
        "type": "object",
        "description": "Physical reward information",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "Record id"
          },
          "prize_id": {
            "type": "string",
            "description": "Physical item id"
          },
          "activity_title": {
            "type": "string",
            "description": "Campaign name"
          },
          "title": {
            "type": "string",
            "description": "Physical item title"
          },
          "cover": {
            "type": "string",
            "description": "Cover image"
          },
          "description": {
            "type": "string",
            "description": "Client-facing description."
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "Cancel issuance reason (only meaningful when status=1 cancelled issuance)：\n\n- `0` - Did not meet campaign threshold\n- `1` - Campaign mutually exclusive",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "Grant time"
          },
          "deliver_order": {
            "type": "string",
            "description": "Logistics/tracking number; present only when shipped"
          },
          "detail": {
            "type": "string",
            "description": "Physical item details"
          },
          "deliver_status": {
            "type": "integer",
            "description": "Delivery status (used for subsequent states of status=12 - Issued)：\n\n- `0` - Not activated\n- `1` - Activated\n- `2` - Consumed\n- `5` - E-voucher activating\n- `6` - E-voucher expired and cannot be activated\n- `7` - E-voucher invalid and cannot be consumed",
            "enum": [
              0,
              1,
              2,
              5,
              6,
              7
            ]
          },
          "prize_type": {
            "type": "integer",
            "description": "Physical goods business type：\n\n- `0` - Physical product\n- `1` - E-voucher",
            "enum": [
              0,
              1
            ]
          },
          "provider_code": {
            "type": "string",
            "description": "E-voucher provider: chengquan (Chengquan provider), manager (contact account manager to obtain), deposit (deposit), apple_card (Apple top-up card)",
            "enum": [
              "chengquan",
              "manager",
              "deposit",
              "apple_card"
            ]
          },
          "end_time": {
            "type": "string",
            "description": "E-voucher unactivated expiry time; 0 means does not expire"
          },
          "goods_result": {
            "type": "string",
            "description": "Result after e-voucher activation, e.g., QR code URL or Apple card serial number (JSON)"
          },
          "effective_time": {
            "type": "string",
            "description": "Validity period after e-voucher activation; 0 means always valid"
          },
          "reward_rule_url": {
            "type": "string",
            "description": "Link to reward distribution rules; when both this and reward_rule_description exist, this link often takes priority"
          },
          "reward_rule_description": {
            "type": "string",
            "description": "Reward distribution rule description"
          },
          "campaign_code": {
            "type": "string",
            "description": "Campaign code"
          },
          "express_info": {
            "$ref": "#/components/schemas/MemberRewardExpressInfo"
          },
          "receive_deadline": {
            "type": "string",
            "description": "Physical goods collection deadline"
          },
          "delivery_types": {
            "type": "array",
            "description": "Physical product delivery method：\n\n- `1` - Self pickup\n- `2` - Mail",
            "items": {
              "type": "integer"
            }
          },
          "addresses": {
            "type": "array",
            "description": "Physical goods pickup address information",
            "items": {
              "type": "object",
              "properties": {
                "brief": {
                  "type": "string",
                  "description": "Address short name"
                },
                "detail": {
                  "type": "string",
                  "description": "Address details"
                }
              }
            }
          },
          "coupon_secret_id": {
            "type": "string",
            "description": "0 indicates no stock at the time of reward grant; restocking required later"
          },
          "coupon_secret": {
            "$ref": "#/components/schemas/MemberRewardCouponSecret"
          },
          "to_cash_card": {
            "type": "boolean",
            "description": "Can be redeemed for a cash card"
          },
          "cash_card_code": {
            "type": "string",
            "description": "Cash card code"
          },
          "cash_card_value": {
            "type": "object",
            "description": "Cash card value"
          },
          "coupon_secret_type": {
            "type": "string",
            "description": "E-voucher type"
          }
        }
      },
      "MemberRewardCouponSecret": {
        "type": "object",
        "description": "E-voucher information",
        "properties": {
          "coupon_secret_type": {
            "type": "string",
            "description": "E-voucher type"
          },
          "coupon_id": {
            "type": "string",
            "description": "Card number"
          },
          "secret": {
            "type": "string",
            "description": "Card PIN"
          },
          "status": {
            "type": "integer",
            "description": "E-voucher status：\n\n- `0` - Available\n- `1` - Locked (reward issued, Client has not yet claimed)\n- `2` - Claimed\n- `3` - Voucher code expired",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "expire_at": {
            "type": "string",
            "description": "Redemption deadline"
          }
        }
      },
      "MemberRewardExpressInfo": {
        "type": "object",
        "description": "Logistics information for physical item delivery",
        "properties": {
          "addressee": {
            "type": "string",
            "description": "Recipient"
          },
          "phone": {
            "type": "string",
            "description": "Phone"
          },
          "shipping_address": {
            "type": "string",
            "description": "Shipping address"
          },
          "province": {
            "type": "string",
            "description": "Province"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "district": {
            "type": "string",
            "description": "District"
          },
          "delivery_type": {
            "type": "string",
            "description": "Delivery method：\n\n- `1` - Self pickup\n- `2` - Mail"
          },
          "pickup_info": {
            "type": "object",
            "description": "Self-pickup information",
            "properties": {
              "brief": {
                "type": "string",
                "description": "Brief description"
              },
              "detail": {
                "type": "string",
                "description": "Detailed description"
              }
            }
          },
          "email": {
            "type": "string",
            "description": "Email"
          },
          "country_code": {
            "type": "string",
            "description": "Country/region code"
          }
        }
      },
      "MemberRewardStatus": {
        "type": "integer",
        "description": "Issuance status (applicable values vary slightly by reward type)：\n\n- `0` - Pending issuance\n- `1` - Issuance cancelled\n- `2` - Withdrawn from campaign\n- `8` - Awaiting claim\n- `10` - Issuing\n- `12` - Issued\n- `13` - Issuance failed\n- `16` - Redeemed (coupon/voucher only)\n- `17` - Expired (physical/coupon only)",
        "enum": [
          0,
          1,
          2,
          8,
          10,
          12,
          13,
          16,
          17
        ]
      },
      "StockTemplate": {
        "type": "integer",
        "description": "Equity/security template：\n\n- `0` - Unknown\n- `1` - Stock\n- `2` - ETF\n- `3` - DLC\n- `4` - Index\n- `5` - LB industry sector\n- `6` - LB concept sector\n- `11` - Filed (submitted)\n- `12` - Pending listing\n- `13` - Dark pool today\n- `14` - IPO today\n- `15` - LB custom security\n- `16` - Security without market data\n- `17` - Sector without market data\n- `20` - Option\n- `31` - Warrant\n- `32` - Bull/Bear certificate\n- `33` - Structured note\n- `34` - US-linked security template\n- `35` - Virtual asset",
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          20,
          31,
          32,
          33,
          34,
          35
        ]
      },
      "TradeStatus": {
        "type": "integer",
        "description": "Trading status：\n\n- `0` - No market data (pending listing)\n- `101` - Liquidation state\n- `102` - Opening auction\n- `105` - Trading\n- `106` - Midday halt\n- `107` - Closing auction\n- `108` - Closed\n- `110` - Dark pool awaiting open\n- `111` - Dark pool trading\n- `112` - Dark pool closed\n- `120` - Fixed-price trade\n- `121` - Half-day market closed\n- `122` - Not opened\n- `201` - US pre-market\n- `202` - US trading\n- `203` - US post-market\n- `204` - US closed\n- `205` - US halted\n- `206` - US liquidation (including pre-market)\n- `207` - US night session\n- `1001` - Delisted\n- `1002` - Preparing for listing\n- `1003` - Code change\n- `1004` - Suspended\n- `1005` - Awaiting open\n- `1006` - Trading paused for split/consolidation\n- `1007` - Expired/not listed\n- `1008` - No price\n- `1009` - Not listed\n- `1010` - Terminated trading\n- `1011` - Waiting to list",
        "enum": [
          0,
          101,
          102,
          105,
          106,
          107,
          108,
          110,
          111,
          112,
          120,
          121,
          122,
          201,
          202,
          203,
          204,
          205,
          206,
          207,
          1001,
          1002,
          1003,
          1004,
          1005,
          1006,
          1007,
          1008,
          1009,
          1010,
          1011
        ]
      },
      "StockDetailDepth": {
        "type": "object",
        "description": "Order book tier information",
        "properties": {
          "price_level": {
            "type": "integer",
            "description": "Order book tier (level index)"
          },
          "count": {
            "type": "string",
            "description": "Order book queued volume (currently unused)"
          },
          "volume": {
            "type": "string",
            "description": "Order book buy/sell volume"
          },
          "price": {
            "type": "string",
            "description": "Order book price"
          }
        }
      },
      "StockDetailBrokerDepth": {
        "type": "object",
        "description": "Broker queue tier information",
        "properties": {
          "price_level": {
            "type": "integer",
            "description": "Order book tier (level index)"
          },
          "brokers": {
            "type": "array",
            "description": "Broker ID list",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "StockDetailAHPremium": {
        "type": "object",
        "description": "A/H premium information",
        "properties": {
          "counter_id": {
            "type": "string",
            "description": "Compared stock code"
          },
          "last_done": {
            "type": "string",
            "description": "Compared stock latest price"
          },
          "prev_close": {
            "type": "string",
            "description": "Compared stock previous close price"
          }
        }
      },
      "StockDetailAdrRate": {
        "type": "object",
        "description": "ADR ratio information",
        "properties": {
          "counter_id": {
            "type": "string",
            "description": "Related stock code"
          },
          "rate": {
            "type": "string",
            "description": "ADR ratio"
          }
        }
      },
      "StockDetailPrice": {
        "type": "object",
        "description": "Night session price quote",
        "properties": {
          "last_done": {
            "type": "string",
            "description": "Last price"
          },
          "high": {
            "type": "string",
            "description": "High price"
          },
          "low": {
            "type": "string",
            "description": "Low price"
          },
          "prev_close": {
            "type": "string",
            "description": "Previous close"
          },
          "amount": {
            "type": "string",
            "description": "Volume"
          },
          "balance": {
            "type": "string",
            "description": "Turnover"
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp"
          }
        }
      },
      "StockDetailChannelItem": {
        "type": "object",
        "description": "Channel-related status information",
        "properties": {
          "tradeable": {
            "type": "integer",
            "description": "Display trading region"
          },
          "margin": {
            "type": "boolean",
            "description": "Is margin trading enabled"
          },
          "restricted": {
            "type": "integer",
            "description": "Buy/sell restrictions"
          },
          "sip_status": {
            "type": "string",
            "description": "SIP status"
          }
        }
      },
      "StockDetailETFReference": {
        "type": "object",
        "description": "ETF reference information",
        "properties": {
          "disc_prem": {
            "type": "string",
            "description": "Premium/discount rate"
          },
          "nav": {
            "type": "string",
            "description": "Net asset value (NAV)"
          },
          "nav_date": {
            "type": "string",
            "description": "NAV date"
          }
        }
      },
      "StockDetailHKDual": {
        "type": "object",
        "description": "A/H dual-counter security information",
        "properties": {
          "counter_id": {
            "type": "string",
            "description": "Stock code for corresponding counter"
          },
          "security_type": {
            "type": "integer",
            "description": "Counter type：\n\n- `1` - RMB counter instrument\n- `2` - HKD counter instrument",
            "enum": [
              1,
              2
            ]
          }
        }
      },
      "StockDetailStatusDescription": {
        "type": "object",
        "description": "Trading status description information",
        "properties": {
          "status_desc": {
            "type": "string",
            "description": "Status description text"
          },
          "append_market_time": {
            "type": "boolean",
            "description": "Requires additional market time"
          },
          "is_holiday": {
            "type": "boolean",
            "description": "Is closed for holidays"
          }
        }
      },
      "OptionDetailExtendQuote": {
        "type": "object",
        "description": "Extended session market data",
        "properties": {
          "last_done": {
            "type": "string",
            "description": "Last price"
          },
          "prev_close": {
            "type": "string",
            "description": "Previous close"
          },
          "high": {
            "type": "string",
            "description": "High price"
          },
          "low": {
            "type": "string",
            "description": "Low price"
          },
          "amount": {
            "type": "string",
            "description": "Volume"
          },
          "balance": {
            "type": "string",
            "description": "Turnover"
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp"
          },
          "iv": {
            "type": "string",
            "description": "Implied volatility"
          },
          "trade_session": {
            "type": "integer",
            "format": "int32",
            "description": "Trading session"
          }
        }
      },
      "OptionExpireDate": {
        "type": "object",
        "description": "Option expiration information",
        "properties": {
          "expire_date": {
            "type": "string",
            "description": "Expiration date, format YYYYMMDD"
          },
          "type": {
            "type": "string",
            "description": "Expiration date type：\n\n- `W` - Weekly option\n- `Q` - Quarterly option"
          },
          "standard_attr": {
            "type": "string",
            "description": "Standard attribute：\n\n- `S` - Standard option\n- `N` - Non-standard option (adjusted options generated after corporate actions such as stock splits/mergers; Broker App labels as Old; some multi-leg strategy order flows and position adjustments may exclude N)"
          },
          "support_extend": {
            "type": "integer",
            "format": "int32",
            "description": "Supports extended sessions (pre-market/after-hours/night) quotes：\n\n- `1` - Supported\n- `0` - Not supported"
          }
        }
      },
      "StrikePriceInfo": {
        "type": "object",
        "description": "Option strike price information",
        "properties": {
          "price": {
            "type": "string",
            "description": "Strike price"
          },
          "call_counter_id": {
            "type": "string",
            "description": "Call option contract id"
          },
          "put_counter_id": {
            "type": "string",
            "description": "Put option contract id"
          },
          "standard_attr": {
            "type": "string",
            "description": "Standard attribute：\n\n- `S` - Standard option\n- `N` - Non-standard option (adjusted options generated after corporate actions such as stock splits/mergers; Broker App labels as Old; some multi-leg strategy order flows and position adjustments may exclude N)"
          },
          "call_support_extend": {
            "type": "integer",
            "format": "int32",
            "description": "Call contract supports extended sessions (pre-market/after-hours/night) quotes：\n\n- `1` - Supported\n- `0` - Not supported"
          },
          "put_support_extend": {
            "type": "integer",
            "format": "int32",
            "description": "Put contract supports extended sessions (pre-market/after-hours/night) quotes：\n\n- `1` - Supported\n- `0` - Not supported"
          }
        }
      },
      "FeeRateTier": {
        "type": "object",
        "description": "Tiered fee rate range",
        "properties": {
          "id": {
            "type": "string",
            "description": "Tiered fee rate record id (protobuf StepFeeRate.id, uint64)"
          },
          "fee_id": {
            "type": "string",
            "description": "Fee configuration id (protobuf StepFeeRate.fee_id, uint64)"
          },
          "fee_rate": {
            "type": "string",
            "description": "Fee rate"
          },
          "gt": {
            "type": "string",
            "description": "Range lower bound (>)"
          },
          "lte": {
            "type": "string",
            "description": "Range upper bound (<=)"
          },
          "min": {
            "type": "string",
            "description": "Lower bound for this fee-rate tier."
          }
        }
      },
      "FeeRateDetail": {
        "type": "object",
        "description": "Single-tier fee details",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency"
          },
          "max_fee": {
            "type": "string",
            "description": "Maximum fee"
          },
          "min_fee": {
            "type": "string",
            "description": "Minimum fee"
          },
          "metric_type": {
            "type": "integer",
            "description": "Billing method"
          },
          "metric_cycle_type": {
            "type": "integer",
            "description": "Billing period type (protobuf SimpleFeeInfo.metric_cycle_type)"
          },
          "step_fee_rates": {
            "type": "array",
            "description": "Tiered fee rate list",
            "items": {
              "$ref": "#/components/schemas/FeeRateTier"
            }
          },
          "max_metric_rate": {
            "type": "string",
            "description": "Maximum metric rate returned by the fee configuration."
          },
          "max_metric_type": {
            "type": "integer",
            "description": "Metric type associated with `max_metric_rate`."
          },
          "metric_cycle": {
            "type": "string",
            "description": "Billing cycle identifier, such as `none`."
          },
          "metric_type_bill_amount_item_ids": {
            "type": "array",
            "description": "Billing item IDs used by the metric-based fee rule.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FeeRatePair": {
        "type": "object",
        "description": "Default tier and member tier fee rates",
        "properties": {
          "dft": {
            "$ref": "#/components/schemas/FeeRateDetail"
          },
          "member": {
            "$ref": "#/components/schemas/FeeRateDetail"
          }
        }
      },
      "MarketFeeDetail": {
        "type": "object",
        "description": "Commission or platform fee rate details, including default tier, member tier, and annotations of differences from default/standard rates",
        "properties": {
          "dft": {
            "$ref": "#/components/schemas/FeeRateDetail"
          },
          "member": {
            "$ref": "#/components/schemas/FeeRateDetail"
          },
          "diff": {
            "type": "boolean",
            "description": "Whether the Client rate is the same as the default rate"
          },
          "general": {
            "type": "boolean",
            "description": "Whether it is a standard charge"
          },
          "diff_from_general": {
            "type": "boolean",
            "description": "Whether it differs from the standard charge"
          },
          "divisor": {
            "type": "integer",
            "description": "Divisor used for annualized rate calculations, such as `365`."
          }
        }
      },
      "CommssionRebateCardItem": {
        "type": "object",
        "description": "Available/unavailable rebate card entry for order placement",
        "properties": {
          "amount": {
            "type": "string",
            "description": "Available card amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency"
          },
          "remain_cnt": {
            "type": "integer",
            "description": "Remaining usage count (for per-use cards)"
          },
          "time_start": {
            "type": "string",
            "description": "Effective start time"
          },
          "time_end": {
            "type": "string",
            "description": "Effective end time"
          },
          "card_title": {
            "type": "string",
            "description": "Card title"
          },
          "card_id": {
            "type": "string",
            "description": "Card ID"
          },
          "card_type": {
            "type": "integer",
            "description": "Card type:\n\n- `0` - Regular rebate card\n- `1` - Unlimited rebate card\n- `2` - Lifetime commission-free card\n- `3` - Cash card\n- `4` - Platform fee deduction card\n- `6` - Commission-free fixed-amount per-use card\n- `7` - Commission-free discount per-use card",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              6,
              7
            ]
          },
          "rebate_rate": {
            "type": "string",
            "description": "Rebate rate"
          },
          "document": {
            "type": "string",
            "description": "Card description document"
          }
        }
      },
      "RewardsQuoteProductSku": {
        "type": "object",
        "description": "Quote store product SKU information (including price, duration package, and inventory)",
        "properties": {
          "product_id": {
            "type": "string",
            "description": "Product SKU ID"
          },
          "title": {
            "type": "string",
            "description": "Product title"
          },
          "cover": {
            "type": "string",
            "description": "Cover image"
          },
          "description": {
            "type": "string",
            "description": "Product description"
          },
          "detail": {
            "type": "string",
            "description": "Product details"
          },
          "currency": {
            "type": "string",
            "description": "Currency unit"
          },
          "price": {
            "type": "number",
            "description": "List price (original price)"
          },
          "real_price": {
            "type": "number",
            "description": "Actual selling price"
          },
          "start_time": {
            "type": "string",
            "description": "Effective start timestamp (seconds); 0 means unrestricted"
          },
          "end_time": {
            "type": "string",
            "description": "Effective end timestamp (seconds); 0 means unrestricted"
          },
          "type": {
            "type": "integer",
            "description": "Product type: 0 NORMAL Regular entitlement, 1 CARD Voucher/card, 2 COMBO Package, 3 COMBO_CARD Package voucher/card",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "limitation": {
            "type": "integer",
            "description": "Purchase limit; 0 means unlimited"
          },
          "detail_url": {
            "type": "string",
            "description": "Product detail page URL"
          },
          "store_kind": {
            "type": "integer",
            "description": "Store the product belongs to: 0 COMMON General product, 1 QUOTE Market data product, 2 FUNDAMENTAL Fundamentals product, 3 AI_PLAN",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "quota_visable": {
            "type": "integer",
            "description": "Whether to show purchase-limit information; 1 means shown"
          },
          "inventory": {
            "type": "string",
            "description": "Inventory count"
          },
          "labels": {
            "type": "array",
            "description": "Product labels",
            "items": {
              "type": "string"
            }
          },
          "extra": {
            "type": "string",
            "description": "Extra information"
          },
          "is_discount": {
            "type": "boolean",
            "description": "Whether the price is a discounted price"
          },
          "market": {
            "type": "string",
            "description": "Market the product belongs to"
          },
          "card_duration": {
            "type": "integer",
            "description": "Package duration type: 0 WeekCard Weekly card, 1 MonthCard Monthly card, 2 QuarterCard Quarterly card, 3 YearCard Annual card, 4 ContinuousWeekCard Auto-renewing weekly card, 5 ContinuousMonthCard Auto-renewing monthly card, 6 ContinuousQuarterCard Auto-renewing quarterly card, 7 ContinuousYearCard Auto-renewing annual card",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7
            ]
          },
          "payment_modes": {
            "type": "array",
            "description": "Supported payment methods: 0 Cash Cash, 1 Berry Berry, 2 Stripe Stripe, 3 ApplePay Apple Pay, 4 ZeroFree Free (zero-cost)",
            "items": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3,
                4
              ]
            }
          },
          "per_month_price": {
            "type": "number",
            "description": "Converted average monthly price"
          },
          "combo_cards": {
            "type": "object",
            "nullable": true,
            "description": "Voucher/card information associated with the package; only present for package-type products"
          },
          "enable": {
            "type": "boolean",
            "description": "Whether the product is purchasable"
          },
          "professional_category": {
            "type": "integer",
            "description": "Professional investor category"
          },
          "apple_product_id": {
            "type": "string",
            "description": "Apple in-app purchase product ID; used when paying via Apple Pay"
          },
          "get_methods": {
            "type": "array",
            "description": "Acquisition method, e.g. buy",
            "items": {
              "type": "string"
            }
          },
          "icon": {
            "type": "string",
            "description": "Icon"
          },
          "get_method_description": {
            "type": "object",
            "description": "Explanatory copy for each acquisition method, keyed by acquisition method",
            "additionalProperties": {
              "type": "string"
            }
          },
          "button_text": {
            "type": "object",
            "description": "Button copy for each scenario",
            "additionalProperties": {
              "type": "string"
            }
          },
          "is_recommend": {
            "type": "boolean",
            "description": "Whether the product is recommended"
          }
        }
      },
      "RewardsProfessionalCheck": {
        "type": "object",
        "description": "Professional investor questionnaire check result",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Check result: 0 PASS Passed, 1 NEED_QUESTIONNAIRE Questionnaire required, 2 NOT_APPLICABLE Not applicable",
            "enum": [
              0,
              1,
              2
            ]
          },
          "message": {
            "type": "string",
            "description": "Message"
          }
        }
      }
    }
  },
  "paths": {
    "/v3/quote/stock/detail": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "Get Stock Details",
        "description": "Fetch detailed market data for a single stock, including last price, price change-related prices, bid/ask order book, broker queues, AH premium, ADR ratio, total shares outstanding, industry info, ETF reference NAV, night session quotes, etc., for display on the stock detail page.\n",
        "operationId": "getV3QuoteStockDetail",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "Stock id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded. The response body contains the result of the “Get stock details” operation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "last_done": {
                              "type": "string",
                              "description": "Last price"
                            },
                            "open": {
                              "type": "string",
                              "description": "Open price"
                            },
                            "prev_close": {
                              "type": "string",
                              "description": "Previous close"
                            },
                            "high": {
                              "type": "string",
                              "description": "Today's high"
                            },
                            "low": {
                              "type": "string",
                              "description": "Today's low"
                            },
                            "amount": {
                              "type": "string",
                              "description": "Volume"
                            },
                            "balance": {
                              "type": "string",
                              "description": "Turnover"
                            },
                            "turnover_rate": {
                              "type": "string",
                              "description": "Turnover rate"
                            },
                            "eps": {
                              "type": "string",
                              "description": "Earnings per share"
                            },
                            "eps_ttm": {
                              "type": "string",
                              "description": "Earnings per share (TTM)"
                            },
                            "trade_status": {
                              "$ref": "#/components/schemas/TradeStatus"
                            },
                            "timestamp": {
                              "type": "string",
                              "description": "Timestamp"
                            },
                            "volume_rate": {
                              "type": "string",
                              "description": "Volume ratio"
                            },
                            "depth_rate": {
                              "type": "string",
                              "description": "Order imbalance"
                            },
                            "year_high": {
                              "type": "string",
                              "description": "52-week high"
                            },
                            "year_low": {
                              "type": "string",
                              "description": "52-week low"
                            },
                            "lowest": {
                              "type": "string",
                              "description": "All-time low"
                            },
                            "highest": {
                              "type": "string",
                              "description": "All-time high"
                            },
                            "total_shares": {
                              "type": "string",
                              "description": "Total shares outstanding"
                            },
                            "circulating_shares": {
                              "type": "string",
                              "description": "Free float shares"
                            },
                            "dividend_yield": {
                              "type": "string",
                              "description": "Dividend"
                            },
                            "bps": {
                              "type": "string",
                              "description": "Net asset value per share"
                            },
                            "bid_depths": {
                              "type": "array",
                              "description": "Bid depth",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "ask_depths": {
                              "type": "array",
                              "description": "Ask depth",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "market_timestamp": {
                              "type": "string",
                              "description": "Pre-market or after-hours time (US market)"
                            },
                            "market_price": {
                              "type": "string",
                              "description": "Pre-/post-market price (US market)"
                            },
                            "factor_a": {
                              "type": "string",
                              "description": "Adjusted factor A"
                            },
                            "factor_b": {
                              "type": "string",
                              "description": "Adjusted factor B"
                            },
                            "pretrade_close": {
                              "type": "string",
                              "description": "Pre-market previous close price"
                            },
                            "limit_up": {
                              "type": "string",
                              "description": "Upper limit price"
                            },
                            "limit_down": {
                              "type": "string",
                              "description": "Lower limit price"
                            },
                            "ah_premium": {
                              "$ref": "#/components/schemas/StockDetailAHPremium"
                            },
                            "latency": {
                              "type": "boolean",
                              "description": "Whether the quote is delayed"
                            },
                            "market_high": {
                              "type": "string",
                              "description": "Pre-/post-market high"
                            },
                            "market_low": {
                              "type": "string",
                              "description": "Pre-/post-market low"
                            },
                            "market_amount": {
                              "type": "string",
                              "description": "Pre-/post-market volume"
                            },
                            "market_balance": {
                              "type": "string",
                              "description": "Pre-/post-market turnover"
                            },
                            "unit": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Shares per lot"
                            },
                            "dps_rate": {
                              "type": "string",
                              "description": "Dividend yield"
                            },
                            "upgrade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Upgrade prompt id; 0 means no upgrade prompt needed"
                            },
                            "available_levels": {
                              "type": "array",
                              "description": "Quote type",
                              "items": {
                                "type": "string"
                              }
                            },
                            "prev_year_close": {
                              "type": "string",
                              "description": "Last year's close price"
                            },
                            "bid_brokers": {
                              "type": "array",
                              "description": "Broker queue bid depth",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailBrokerDepth"
                              }
                            },
                            "ask_brokers": {
                              "type": "array",
                              "description": "Broker queue ask depth",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailBrokerDepth"
                              }
                            },
                            "inflow": {
                              "type": "string",
                              "description": "Capital inflow"
                            },
                            "currency": {
                              "type": "string",
                              "description": "Currency"
                            },
                            "exchange": {
                              "type": "string",
                              "description": "Exchange"
                            },
                            "rise": {
                              "type": "string",
                              "description": "Number of advancing stocks (index-specific)"
                            },
                            "fall": {
                              "type": "string",
                              "description": "Number of declining stocks (index-specific)"
                            },
                            "flatline": {
                              "type": "string",
                              "description": "Number of unchanged stocks (index-specific)"
                            },
                            "hk_shares": {
                              "type": "string",
                              "description": "Hong Kong shares outstanding"
                            },
                            "counter_id": {
                              "type": "string",
                              "description": "Stock id"
                            },
                            "eps_forecast": {
                              "type": "string",
                              "description": "Earnings per share (forecast)"
                            },
                            "market_cap": {
                              "type": "string",
                              "description": "Total market capitalization (index only)"
                            },
                            "stock_name": {
                              "type": "string",
                              "description": "Stock name"
                            },
                            "tpl": {
                              "$ref": "#/components/schemas/StockTemplate"
                            },
                            "cnconnect": {
                              "type": "integer",
                              "format": "int32",
                              "description": "A-share Connect trading (display A-share Connect icon)：\n\n- `1` - Buy and sell allowed\n- `2` - Sell only"
                            },
                            "short_sell": {
                              "type": "boolean",
                              "description": "Whether short selling is allowed"
                            },
                            "ticker_size": {
                              "type": "string",
                              "description": "HK step size type, one of A/B/C/D"
                            },
                            "channel_info": {
                              "type": "object",
                              "description": "Channel messages, key is the channel identifier",
                              "additionalProperties": {
                                "$ref": "#/components/schemas/StockDetailChannelItem"
                              }
                            },
                            "industry_counter_id": {
                              "type": "string",
                              "description": "Industry counter_id for the stock"
                            },
                            "industry_name": {
                              "type": "string",
                              "description": "Industry name for the stock"
                            },
                            "show_kline_type": {
                              "type": "integer",
                              "format": "int32",
                              "description": "K-line comparison display type：\n\n- `1` - K-line < 120 days\n- `2` - K-line < 240 days\n- `3` - K-line < 730 days\n- `4` - K-line < 1460 days"
                            },
                            "sub_status": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Sub-status"
                            },
                            "base_large_balance": {
                              "type": "string",
                              "description": "Block trade reference"
                            },
                            "sub_market": {
                              "type": "string",
                              "description": "Sub-market"
                            },
                            "tags": {
                              "type": "array",
                              "description": "Full market tag",
                              "items": {
                                "type": "string"
                              }
                            },
                            "first_kline_timestamp": {
                              "type": "string",
                              "description": "Timestamp of the first K-line"
                            },
                            "stock_derivatives": {
                              "type": "array",
                              "description": "Supported derivatives",
                              "items": {
                                "type": "string"
                              }
                            },
                            "adr_rate": {
                              "$ref": "#/components/schemas/StockDetailAdrRate"
                            },
                            "cnconnect_neue": {
                              "type": "integer",
                              "format": "int32",
                              "description": "A-share Connect trading (new version)：\n\n- `1` - Buy and sell allowed\n- `2` - Sell only\n- `-1` - No handling"
                            },
                            "constituent_stock": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Has component stocks：\n\n- `-1` - Template not applicable\n- `0` - No\n- `1` - Yes"
                            },
                            "amount_precision": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Volume precision"
                            },
                            "support_overnight": {
                              "type": "boolean",
                              "description": "Whether night session is supported"
                            },
                            "overnight_price": {
                              "$ref": "#/components/schemas/StockDetailPrice"
                            },
                            "overnight_bid_depths": {
                              "type": "array",
                              "description": "Night session bid depth",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "overnight_ask_depths": {
                              "type": "array",
                              "description": "Night session ask depth",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "etf_reference": {
                              "$ref": "#/components/schemas/StockDetailETFReference"
                            },
                            "relate_etf": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Has related ETF：\n\n- `-1` - Template not applicable\n- `0` - No\n- `1` - Yes"
                            },
                            "hk_dual": {
                              "$ref": "#/components/schemas/StockDetailHKDual"
                            },
                            "status_desc": {
                              "$ref": "#/components/schemas/StockDetailStatusDescription"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "last_done": "319.690",
                    "open": "341.000",
                    "prev_close": "374.010",
                    "high": "342.110",
                    "low": "315.735",
                    "amount": "115606413",
                    "balance": "37606914184.000",
                    "turnover_rate": "",
                    "eps": "1.0101914119127742",
                    "eps_ttm": "1.0133865349868262",
                    "trade_status": 207,
                    "timestamp": "1784836800",
                    "volume_rate": "3.63",
                    "depth_rate": "",
                    "year_high": "498.830",
                    "year_low": "297.820",
                    "lowest": "",
                    "highest": "",
                    "total_shares": "3755723871",
                    "circulating_shares": "2815883440",
                    "dividend_yield": "",
                    "bps": "23.1268333305007236",
                    "bid_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "0",
                        "price": ""
                      }
                    ],
                    "ask_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "0",
                        "price": ""
                      }
                    ],
                    "market_timestamp": "1784851199",
                    "market_price": "324.000",
                    "factor_a": "",
                    "factor_b": "",
                    "pretrade_close": "319.690",
                    "limit_up": "",
                    "limit_down": "",
                    "ah_premium": {
                      "counter_id": "",
                      "last_done": "",
                      "prev_close": ""
                    },
                    "latency": false,
                    "market_high": "324.500",
                    "market_low": "318.890",
                    "market_amount": "1248137",
                    "market_balance": "402230214.410",
                    "unit": 1,
                    "dps_rate": "",
                    "upgrade": 0,
                    "available_levels": [
                      "NBBO"
                    ],
                    "prev_year_close": "",
                    "bid_brokers": [],
                    "ask_brokers": [],
                    "inflow": "-249015203.6530",
                    "currency": "USD",
                    "exchange": "NASD",
                    "rise": "",
                    "fall": "",
                    "flatline": "",
                    "hk_shares": "0",
                    "counter_id": "ST/US/TSLA",
                    "eps_forecast": "1.1885857835473443",
                    "market_cap": "",
                    "stock_name": "Tesla",
                    "tpl": 1,
                    "cnconnect": 0,
                    "short_sell": true,
                    "ticker_size": "",
                    "channel_info": {},
                    "industry_counter_id": "BK/US/IN00276",
                    "industry_name": "Automobile Manufacturers",
                    "show_kline_type": 4,
                    "sub_status": 10500,
                    "base_large_balance": "514025.408",
                    "sub_market": "US_USON",
                    "tags": [
                      "Web|USAA|Global|NBBO",
                      "Web|USON|Global|LV1"
                    ],
                    "first_kline_timestamp": "1277784000",
                    "stock_derivatives": [
                      "OP"
                    ],
                    "adr_rate": null,
                    "cnconnect_neue": -1,
                    "constituent_stock": -1,
                    "amount_precision": 0,
                    "support_overnight": true,
                    "overnight_price": {
                      "last_done": "321.220",
                      "high": "324.830",
                      "low": "320.130",
                      "prev_close": "319.690",
                      "amount": "210212",
                      "balance": "67920320.670",
                      "timestamp": "1784863366"
                    },
                    "overnight_bid_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "103",
                        "price": "321.130"
                      }
                    ],
                    "overnight_ask_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "25",
                        "price": "321.340"
                      }
                    ],
                    "etf_reference": null,
                    "relate_etf": 0,
                    "hk_dual": null,
                    "status_desc": {
                      "status_desc": "Night session trading in progress 07.24 EDT",
                      "append_market_time": false,
                      "is_holiday": false
                    }
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          },
          "400": {
            "description": "The service rejected the request because a business rule or input validation failed. Review the business codes and correct the request before retrying.",
            "x-business-codes": [
              {
                "code": 301003,
                "description": "Security does not exist (delisted or unsupported); Broker App should indicate that market data cannot be viewed."
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/newmarket/aggregate/logo": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "Get Aggregated Icons for Stock Detail Page",
        "description": "Retrieve aggregated badge icons displayed on a single stock's detail page (e.g., exchange, quote_level, financing, shorting, depth, fractional_shares, sh_sz_connect, etc.) for use as corner badges/icons on the detail page.\n",
        "operationId": "getNewmarketAggregateLogo",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "Stock id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded. The response body contains the result of the “Get aggregated icons for stock detail page” operation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "lists": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "Identifier types: exchange exchange identifier, quote_level quote-level identifier, option night session identifier, option_extend option extended session identifier, cn_connect A-share connect identifier, financing financing identifier, shorting securities lending identifier, depth market depth identifier, fractional_shares fractional shares identifier, sh_sz_connect Shanghai-Shenzhen Stock Connect identifier",
                                    "enum": [
                                      "exchange",
                                      "quote_level",
                                      "option",
                                      "option_extend",
                                      "cn_connect",
                                      "financing",
                                      "shorting",
                                      "depth",
                                      "fractional_shares",
                                      "sh_sz_connect"
                                    ]
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "Title"
                                  },
                                  "sub_title": {
                                    "type": "string",
                                    "description": "Subtitle"
                                  },
                                  "logo": {
                                    "type": "string",
                                    "description": "Icon URL"
                                  },
                                  "guide": {
                                    "type": "string",
                                    "description": "Guidance copy"
                                  },
                                  "variable_guide": {
                                    "type": "string",
                                    "description": "Dynamic guidance copy"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "lists": [
                      {
                        "title": "NASDAQ Stock Market",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/market/0ce3564f-0659-410a-9716-75b64b79ef28/market_us.png",
                        "guide": "",
                        "key": "exchange",
                        "variable_guide": ""
                      },
                      {
                        "title": "NASDAQ Basic quotes",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/quote_level/18bd9025-50cc-4f47-99c1-c8d1ac81fc42/lv1.png",
                        "guide": "",
                        "key": "quote_level",
                        "variable_guide": ""
                      },
                      {
                        "title": "Night trading supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/overnight/48dbb0cd-a40c-414a-95b7-d243575e3ed8/overnight.png",
                        "guide": "https://support.longbridgehk.com/topics/marketdata/Overnight20230922",
                        "key": "overnight",
                        "variable_guide": ""
                      },
                      {
                        "title": "Fractional shares supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/fractional/e1edf2e8-34e5-492f-88c7-160b80547be8/20240830-112536.png",
                        "guide": "https://support.longbridgehk.com/topics/us-trade/fractional_shares",
                        "key": "fractional_shares",
                        "variable_guide": ""
                      },
                      {
                        "title": "Margin financing supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/finance/0e52b6b8-d2f8-4810-9a45-9282b162a804/financeable.png",
                        "guide": "https://longbridge.activity.wbrks.com/spa/margin-info?id=ST/US/TSLA",
                        "key": "financing",
                        "variable_guide": "https://{web_activity_host}/spa/margin-info?id=ST/US/TSLA"
                      },
                      {
                        "title": "Short selling supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/finance/7f61759f-1e52-4613-a010-3c03672290de/loanable.png",
                        "guide": "https://longbridge.activity.wbrks.com/spa/margin-info?id=ST/US/TSLA",
                        "key": "shorting",
                        "variable_guide": "https://{web_activity_host}/spa/margin-info?id=ST/US/TSLA"
                      }
                    ]
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          }
        }
      }
    },
    "/v1/credit/stock_margin_ratio_detail": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Get Stock Margin Ratio Details",
        "description": "Retrieve risk-control parameters for a single stock such as financing and shorting margin ratios, used to determine whether the stock supports margin buy or short sell.\n",
        "operationId": "getCreditStockMarginRatioDetail",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "Stock id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded. The response body contains the result of the “Get stock margin ratio details” operation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "long": {
                              "type": "object",
                              "description": "Financing (long) margin information",
                              "properties": {
                                "financeable": {
                                  "type": "boolean",
                                  "description": "Is margin financing allowed"
                                },
                                "im_factor": {
                                  "type": "string",
                                  "description": "Initial margin ratio"
                                },
                                "mm_factor": {
                                  "type": "string",
                                  "description": "Maintenance margin ratio"
                                },
                                "mcm_factor": {
                                  "type": "string",
                                  "description": "Additional margin (Margin Call) ratio"
                                },
                                "fm_factor": {
                                  "type": "string",
                                  "description": "Forced liquidation margin ratio"
                                }
                              }
                            },
                            "short": {
                              "type": "object",
                              "description": "Shorting (short) margin information",
                              "properties": {
                                "short_sellable": {
                                  "type": "boolean",
                                  "description": "Is short selling allowed"
                                },
                                "im_factor": {
                                  "type": "string",
                                  "description": "Initial margin ratio"
                                },
                                "mm_factor": {
                                  "type": "string",
                                  "description": "Maintenance margin ratio"
                                },
                                "mcm_factor": {
                                  "type": "string",
                                  "description": "Additional margin (Margin Call) ratio"
                                },
                                "fm_factor": {
                                  "type": "string",
                                  "description": "Forced liquidation margin ratio"
                                },
                                "available": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Sellable short quantity"
                                },
                                "stock_lending_pool_visible": {
                                  "type": "boolean",
                                  "description": "Is borrowable-stock pool displayed"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "long": {
                      "financeable": true,
                      "im_factor": "0.45",
                      "mm_factor": "0.3",
                      "mcm_factor": "0.45",
                      "fm_factor": "0.25"
                    },
                    "short": {
                      "short_sellable": true,
                      "im_factor": "0.45",
                      "mm_factor": "0.3",
                      "mcm_factor": "0.42",
                      "fm_factor": "0.25",
                      "available": 10000001,
                      "stock_lending_pool_visible": false
                    }
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          }
        }
      }
    },
    "/v2/app/risk/account_stock_margin/query": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Get Stock Financing Information",
        "description": "Query the financing margin ratios and financing rate information for a specified stock for displaying available financing amounts before placing an order.\n",
        "operationId": "getRiskAccountStockMarginQuery",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "Stock id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Currency",
            "schema": {
              "type": "string"
            },
            "example": "USD"
          }
        ],
        "responses": {
          "200": {
[...]
