{
  "openapi": "3.1.1",
  "info": {
    "title": "Longport Whale Broker API",
    "description": "供使用 Longport Whale 的 Broker 調用的伺服器端 API。",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://b-api.longbridge.xyz",
      "description": "測試環境"
    },
    {
      "url": "https://b-api.lbkrs.com",
      "description": "生產環境"
    }
  ],
  "tags": [
    {
      "name": "資產賬户"
    }
  ],
  "paths": {
    "/v1/portfolio/query_account_balances_summary": {
      "get": {
        "operationId": "query_account_balances_summary",
        "summary": "總資產及賬面總現金",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "asset.summary_query"
        ],
        "x-lbonly": false,
        "description": "查詢總資產的類型與幣種佔比，以及賬面總現金明細。資產類型標籤會根據 `Accept-Language` 返回對應語言。\n\n請調用 `GET /v1/datasets/refs/equity_type_summary` 獲取當前可用的資產類型字典。\n\n### 請求參數\n\n- 可選：`client_types`（client_types）、`account_types`（account_types）、`broker_codes`（broker_codes）\n- 各字段的格式、取值範圍、默認行為和業務含義見對應字段說明。\n\n### 處理結果\n\n成功時返回查詢結果，具體結構見 `200` 響應定義。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "client_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "客戶類型。\n\n- 多值使用英文逗號 `,` 拼接\n- 不傳時查詢全部\n- 示例：`1,2`",
            "example": "2,1"
          },
          {
            "name": "account_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "賬戶類型。\n\n- 多值使用英文逗號 `,` 拼接\n- 不傳時查詢全部\n- 示例：`F,C`",
            "example": "F,C"
          },
          {
            "name": "broker_codes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "按經紀人（AE）代碼過濾。\n\n- 多值使用英文逗號 `,` 拼接\n- 不傳時查詢全部\n- `=` 表示未分配經紀人\n- 示例：`=,LBtestwbwhale123`\n\n完整的 AE 代碼列表可通過 `GET /v1/datasets/refs/broker_accounts` 查詢，具體取值隨租戶和環境變化。",
            "example": "=,LBtestwbwhale123"
          }
        ],
        "responses": {
          "200": {
            "description": "請求處理成功。業務結果位於 `data`，包含 `total_assets`、`total_asset_type`、`total_asset_currency`、`total_balance` 字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_assets": {
                          "type": "array",
                          "description": "總資產（各幣種）. 各幣種總資產，用於頂部總資產展示與幣種切換",
                          "items": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "幣種. 如 HKD/USD/CNY/SGD"
                              },
                              "amount": {
                                "type": "string",
                                "description": "總資產金額. 該幣種總資產金額（decimal 字符串）"
                              }
                            }
                          }
                        },
                        "total_asset_type": {
                          "type": "array",
                          "description": "總資產按類型佔比. 按資產類型的佔比（總資產類型餅圖）",
                          "items": {
                            "type": "object",
                            "properties": {
                              "equity_type": {
                                "type": "string",
                                "description": "資產類型的 `key`，例如 `CASH`、`US`、`HK`、`CN`、`OTHER` 或 `FUND`。\n\n完整取值可通過 `GET /v1/datasets/refs/equity_type_summary` 動態獲取。"
                              },
                              "name": {
                                "type": "string",
                                "description": "資產類型名稱. 資產類型的本地化展示名稱，隨 Accept-Language 返回（如 現金 / Cash）"
                              },
                              "ratio": {
                                "type": "string",
                                "description": "佔比，使用 decimal 字符串表示；取值乘以 `100` 後為百分比。"
                              }
                            }
                          }
                        },
                        "total_asset_currency": {
                          "type": "array",
                          "description": "總資產按幣種佔比. 按幣種的佔比（總資產幣種餅圖）",
                          "items": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "幣種. **返回值：** 幣種。"
                              },
                              "ratio": {
                                "type": "string",
                                "description": "佔比. 使用 decimal 字符串表示，取值範圍為 `0` 至 `1`；取值乘以 `100` 後為百分比。"
                              }
                            }
                          }
                        },
                        "total_balance": {
                          "type": "array",
                          "description": "賬面總現金明細（按幣種，對應「賬面總現金」表格）",
                          "items": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "幣種. **返回值：** 幣種。"
                              },
                              "book_balance": {
                                "type": "string",
                                "description": "賬面總現金. decimal 字符串"
                              },
                              "settled_amount": {
                                "type": "string",
                                "description": "已結算. **返回值：** 已結算。"
                              },
                              "unsettle_amount": {
                                "type": "string",
                                "description": "待結算. **返回值：** 待結算。"
                              },
                              "trade_0": {
                                "type": "string",
                                "description": "T+0 待交收金額. **返回值：** T+0 待交收金額。"
                              },
                              "trade_1": {
                                "type": "string",
                                "description": "T+1 待交收金額. **返回值：** T+1 待交收金額。"
                              },
                              "trade_2": {
                                "type": "string",
                                "description": "T+2 待交收金額. **返回值：** T+2 待交收金額。"
                              },
                              "trade_n": {
                                "type": "string",
                                "description": "T+N 待交收金額. **返回值：** T+N 待交收金額。"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "total_assets": [
                      {
                        "currency": "string",
                        "amount": "string"
                      }
                    ],
                    "total_asset_type": [
                      {
                        "equity_type": "string",
                        "name": "string",
                        "ratio": "string"
                      }
                    ],
                    "total_asset_currency": [
                      {
                        "currency": "string",
                        "ratio": "string"
                      }
                    ],
                    "total_balance": [
                      {
                        "currency": "string",
                        "book_balance": "string",
                        "settled_amount": "string",
                        "unsettle_amount": "string",
                        "trade_0": "string",
                        "trade_1": "string",
                        "trade_2": "string",
                        "trade_n": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/query_account_balances_summary",
          "metadata": {
            "sidebarTitle": "總資產及賬面總現金"
          }
        }
      }
    },
    "/v1/portfolio/query_equity_holding_summary": {
      "post": {
        "operationId": "query_equity_holding_summary",
        "summary": "資產總覽持倉",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "asset.summary_query"
        ],
        "x-lbonly": false,
        "description": "資產總覽持倉。\n\n### 請求參數\n\n- 必填：`equity_type`（資產類型）\n- 可選：`client_types`（客戶類型）、`account_types`（賬戶類型）、`broker_codes`（經紀人）、`page`（頁碼）、`page_size`（每頁數量）\n- 各字段的格式、取值範圍和業務含義見對應字段說明。\n\n### 處理結果\n\n成功時完成上述業務操作；後續狀態和返回數據以 `200` 響應定義為準。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "equity_type"
                ],
                "properties": {
                  "client_types": {
                    "type": "string",
                    "description": "客戶類型。\n\n- 多值使用英文逗號 `,` 拼接\n- 不傳時查詢全部\n- 示例：`1,2`\n\n**可選值：**\n- `1` - 表示個人客戶\n- `2` - 表示企業客戶\n- `3` - 表示聯名客戶",
                    "example": "1,2",
                    "enum": [
                      "1",
                      "2",
                      "3"
                    ]
                  },
                  "account_types": {
                    "type": "string",
                    "description": "賬戶類型。\n\n- 多值使用英文逗號 `,` 拼接\n- 不傳時查詢全部\n- 示例：`M,C`\n\n> 注意：賬戶類型與 `equity_type` 的非法組合（如期貨賬戶 `F` 與基金 `FUND` ）會返回 `400`。\n\n**可選值：**\n- `M` - 表示融資賬戶\n- `C` - 表示現金賬戶\n- `F` - 表示期貨賬戶",
                    "example": "M,C",
                    "enum": [
                      "M",
                      "C",
                      "F"
                    ]
                  },
                  "broker_codes": {
                    "type": "string",
                    "description": "經紀人. 按經紀人（AE）代碼過濾。\n\n- 多值使用英文逗號 `,` 拼接\n- 不傳時查詢全部\n- `=` 表示未分配經紀人\n- 示例：`=,LBtestwbwhale123`\n\n完整的 AE 代碼列表可通過 `GET /v1/datasets/refs/broker_accounts` 查詢，具體取值隨租戶和環境變化。\n\n**當前文檔列出的取值：**\n- `=` - 表示未分配",
                    "enum": [
                      "="
                    ]
                  },
                  "equity_type": {
                    "type": "string",
                    "description": "資產類型. 持倉匯總的資產類型篩選條件，僅支持單值。\n\n取值來自 `equity_holding_summary_equity_type` 動態枚舉，非固定值。\n\n請調用 `GET /v1/datasets/refs/equity_holding_summary_equity_type` 獲取當前可用的數據字典，並使用返回項的 `key` 作為本字段值。\n\n**當前文檔列出的取值：**\n- `STOCK` - 表示股票\n- `OPTION` - 表示期權\n- `FUND` - 表示基金\n- `BOND` - 表示債券\n- `MMF` - 表示餘額通\n- `OTC` - 表示其他\n- `CRYPTO` - 表示加密貨幣\n- `WM` - 表示場外衍生品",
                    "enum": [
                      "STOCK",
                      "OPTION",
                      "FUND",
                      "BOND",
                      "MMF",
                      "OTC",
                      "CRYPTO",
                      "WM"
                    ]
                  },
                  "page": {
                    "type": "number",
                    "description": "頁碼. 要查詢的頁碼，從 `1` 開始。"
                  },
                  "page_size": {
                    "type": "number",
                    "description": "每頁數量. 每頁返回的最大記錄數，應為正整數。"
                  }
                }
              },
              "example": {
                "client_types": "2,1",
                "account_types": "M,C",
                "broker_codes": "=,LBtestwbwhale123",
                "page": 1,
                "page_size": 20,
                "equity_type": "STOCK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "請求處理成功。業務結果位於 `data`，包含 `total_holdings`、`page`、`page_size`、`total_page`、`total` 字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_holdings": {
                          "type": "array",
                          "description": "持倉列表. **返回值：** 持倉列表列表。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "counter_id": {
                                "type": "string",
                                "description": "證券代碼. **返回值：** 證券代碼。"
                              },
                              "equity_type": {
                                "type": "string",
                                "description": "資產類型. 同請求 equity_type，取值見 equity_holding_summary_equity_type"
                              },
                              "counter_name": {
                                "type": "string",
                                "description": "證券名稱. 本地化名稱，隨 Accept-Language 返回"
                              },
                              "total_quantity": {
                                "type": "string",
                                "description": "持倉數量. **返回值：** 持倉數量。"
                              },
                              "last_done": {
                                "type": "string",
                                "description": "收盤價. **返回值：** 收盤價。"
                              },
                              "market_value": {
                                "type": "string",
                                "description": "持倉總市值. **返回值：** 持倉總市值。"
                              },
                              "settled": {
                                "type": "string",
                                "description": "已結算. **返回值：** 已結算。"
                              },
                              "unsettle": {
                                "type": "string",
                                "description": "待結算. **返回值：** 待結算。"
                              },
                              "trade_0": {
                                "type": "string",
                                "description": "T+0 待交收數量. **返回值：** T+0 待交收數量。"
                              },
                              "trade_1": {
                                "type": "string",
                                "description": "T+1 待交收數量. **返回值：** T+1 待交收數量。"
                              },
                              "trade_2": {
                                "type": "string",
                                "description": "T+2 待交收數量. **返回值：** T+2 待交收數量。"
                              },
                              "trade_n": {
                                "type": "string",
                                "description": "T+N 待交收數量. **返回值：** T+N 待交收數量。"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "標的代碼，部分持倉為空"
                              }
                            }
                          }
                        },
                        "page": {
                          "type": "number",
                          "description": "當前頁碼. **返回值：** 當前頁碼。"
                        },
                        "page_size": {
                          "type": "number",
                          "description": "每頁數量. **返回值：** 當前響應每頁的記錄數。"
                        },
                        "total_page": {
                          "type": "number",
                          "description": "總頁數. **返回值：** 查詢結果的總頁數。"
                        },
                        "total": {
                          "type": "number",
                          "description": "總條數. **返回值：** 符合查詢條件的記錄總數，用於計算分頁。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "total_holdings": [
                      {
                        "counter_id": "string",
                        "equity_type": "string",
                        "counter_name": "string",
                        "total_quantity": "string",
                        "last_done": "string",
                        "market_value": "string",
                        "settled": "string",
                        "unsettle": "string",
                        "trade_0": "string",
                        "trade_1": "string",
                        "trade_2": "string",
                        "trade_n": "string",
                        "symbol": "string"
                      }
                    ],
                    "page": 0,
                    "page_size": 0,
                    "total_page": 0,
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/query_equity_holding_summary",
          "metadata": {
            "sidebarTitle": "資產總覽持倉"
          }
        }
      }
    },
    "/portfolio/dawn/get_all_biz_code_info": {
      "get": {
        "operationId": "get_all_biz_code_info",
        "summary": "查詢全部業務碼",
        "tags": [
          "資產賬户"
        ],
        "x-lbonly": false,
        "description": "查詢全部業務碼。\n\n### 請求參數\n\n- 可選：`locale`（locale）\n- 各字段的格式、取值範圍和業務含義見對應字段說明。\n\n### 處理結果\n\n成功時返回查詢結果；響應字段及其含義見 `200` 響應定義。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "调用方傳當前 UI 語言，用於 title 本地化，實測語言實際由 Accept-Language 頭控制"
          }
        ],
        "responses": {
          "200": {
            "description": "請求處理成功。業務結果位於 `data`，包含 `info_list`、`info_list_ex` 字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "info_list": {
                          "type": "array",
                          "description": "業務碼分組樹. 按大類分組，如「衍生品」DP / 「加密貨幣」等",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "分組展示名. 隨 Accept-Language 本地化"
                              },
                              "value": {
                                "type": "string",
                                "description": "分組代碼. **返回值：** 數據字典項的展示文本。"
                              },
                              "children": {
                                "type": "array",
                                "description": "該分組下業務碼列表. **返回值：** 該分組下業務碼列表列表。",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "title": {
                                      "type": "string",
                                      "description": "業務碼展示名. 形如 \"LDPDNSDR 到期兌付持倉出賬\""
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "業務碼. **返回值：** 數據字典項的展示文本。"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "info_list_ex": {
                          "type": "array",
                          "description": "擴展分組樹. 實測為空數組，用途未知",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "info_list": [
                      {
                        "title": "string",
                        "value": "string",
                        "children": [
                          {
                            "title": "string",
                            "value": "string"
                          }
                        ]
                      }
                    ],
                    "info_list_ex": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/get_all_biz_code_info",
          "metadata": {
            "sidebarTitle": "查詢全部業務碼"
          }
        }
      }
    },
    "/portfolio/dawn/update_biz_code_info_v2": {
      "post": {
        "operationId": "update_biz_code_info_v2",
        "summary": "編輯業務碼",
        "tags": [
          "資產賬户"
        ],
        "x-lbonly": false,
        "description": "編輯業務碼。\n\n### 請求參數\n\n- 必填：`biz_code`（業務碼）\n- 可選：`visible`（是否可見）、`business_type`（業務類型）、`account_type`（賬戶類型）、`action_type`（動作類型）、`language`（多語言名稱）、`remark`（備註）\n- 各字段的格式、取值範圍和業務含義見對應字段說明。\n\n### 處理結果\n\n成功時完成上述業務操作；後續狀態和返回數據以 `200` 響應定義為準。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "biz_code"
                ],
                "properties": {
                  "biz_code": {
                    "type": "string",
                    "description": "業務碼. 編輯時不可更改，用於定位記錄"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "是否可見。\n\n**布爾值：**\n- `true` - 表示條件成立\n- `false` - 表示條件不成立"
                  },
                  "business_type": {
                    "type": "string",
                    "description": "業務類型. 用於區分本次請求適用的業務場景。"
                  },
                  "account_type": {
                    "type": "string",
                    "description": "賬戶類型. 用於指定「賬戶類型」。"
                  },
                  "action_type": {
                    "type": "string",
                    "description": "動作類型. 用於指定「動作類型」。"
                  },
                  "language": {
                    "type": "string",
                    "description": "多語言名稱. 用於指定「多語言名稱」。"
                  },
                  "remark": {
                    "type": "string",
                    "description": "備註. 隨本次操作保存的備註。"
                  }
                }
              },
              "example": {
                "biz_code": "LCUSTOM001",
                "visible": true,
                "business_type": "1",
                "account_type": "1",
                "action_type": "1",
                "language": "{\"zh-CN\":\"自定义业务码\",\"en\":\"Custom Biz Code\"}",
                "remark": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "請求處理成功。`data.ticket_id` 返回審批工單 ID；調用方可使用該 ID 查詢後續審批狀態。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ticket_id": {
                          "type": "string",
                          "description": "審批工單號. **返回值：** 審批工單 ID。僅在本次操作觸發審批流程時返回。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "ticket_id": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/update_biz_code_info_v2",
          "metadata": {
            "sidebarTitle": "編輯業務碼"
          }
        }
      }
    },
    "/portfolio/dawn/update_biz_code_group_info": {
      "post": {
        "operationId": "update_biz_code_group_info",
        "summary": "修改業務碼分組配置",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "biz_code.biz_code_group_operation"
        ],
        "x-lbonly": false,
        "description": "更新業務碼分組。字段與新增分組一致，並額外傳入 `id` 標識待更新記錄。\n\n### 請求參數\n\n- 必填：`id`（分組記錄 ID）、`account_channel`（所屬渠道）、`biz_group`（業務所屬）、`group_name`（分組名稱）、`group_info`（分組説明）、`biz_code_list`（分組內業務碼列表）、`op_user`（操作人）\n- 可選：`account_channel_list`（同步渠道列表）\n- 各字段的格式、取值範圍、默認行為和業務含義見對應字段說明。\n\n### 處理結果\n\n成功時完成所述業務操作，具體返回內容見 `200` 響應定義。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "account_channel",
                  "biz_group",
                  "group_name",
                  "group_info",
                  "biz_code_list",
                  "op_user"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "分組記錄 ID，用於標識本次請求關聯的業務對象。此字段為必填項。"
                  },
                  "account_channel": {
                    "type": "string",
                    "description": "所屬渠道. 用於指定「所屬渠道」。此字段為必填項。"
                  },
                  "biz_group": {
                    "type": "string",
                    "description": "業務所屬. 用於指定「業務所屬」。此字段為必填項。"
                  },
                  "group_name": {
                    "type": "string",
                    "description": "分組名稱. 用於指定「分組名稱」。此字段為必填項。"
                  },
                  "group_info": {
                    "type": "string",
                    "description": "分組説明. 用於指定「分組説明」。此字段為必填項。"
                  },
                  "biz_code_list": {
                    "type": "array",
                    "description": "分組內業務碼列表，以 JSON 數組形式提交。此字段為必填項。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "account_channel_list": {
                    "type": "array",
                    "description": "同步渠道列表，以 JSON 數組形式提交。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "op_user": {
                    "type": "string",
                    "description": "發起本次操作的人員標識，用於審計追蹤。此字段為必填項。"
                  }
                }
              },
              "example": {
                "id": "123",
                "account_channel": "longport_test",
                "biz_group": "1",
                "group_name": "示例分组",
                "group_info": "分组说明",
                "biz_code_list": [
                  "LCUSTOM001",
                  "LCUSTOM002"
                ],
                "account_channel_list": [
                  "longport_test"
                ],
                "op_user": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "請求處理成功。響應的 `data` 不包含額外業務字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/update_biz_code_group_info",
          "metadata": {
            "sidebarTitle": "修改業務碼分組配置"
          }
        }
      }
    },
    "/v1/risk_event/settlement_revoke_check": {
      "post": {
        "operationId": "settlement_revoke_check",
        "summary": "手工調賬撤銷校驗",
        "tags": [
          "資產賬户"
        ],
        "x-lbonly": false,
        "description": "手工調賬撤銷校驗：現金/股票/基金/期權/債券/OTC 其他/加密貨幣/場外衍生品 8 個資產類型共用該接口，點擊「撤銷」時先校驗該調賬單是否可撤銷（如後續資金已被使用則不可撤銷）。\n\n### 請求參數\n\n- 必填：`id`（調賬工單ID）\n- 各字段的格式、取值範圍、默認行為和業務含義見對應字段說明。\n\n### 處理結果\n\n成功時完成所述業務操作，具體返回內容見 `200` 響應定義。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "調賬工單ID，用於標識本次請求關聯的業務對象。此字段為必填項。"
                  }
                }
              },
              "example": {
                "id": 123
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "請求處理成功。業務結果位於 `data`，包含 `revoke_type` 字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "revoke_type": {
                          "type": "string",
                          "description": "可撤銷的撤銷類型. 決定「撤銷原因」單選項中哪個選項可選；取值來自 dawn_undo_adjustment_revoke_type 動態枚舉，非固定\n\n**可選值：**\n- `REGULAR_REVOCATION` - 表示常規撤銷\n- `UNTRACEABLE_REVOCATION` - 表示無痕撤銷\n\n請調用 `GET /v1/datasets/refs/dawn_undo_adjustment_revoke_type` 獲取當前可用的數據字典，並使用返回項的 `key` 作為本字段值。",
                          "enum": [
                            "REGULAR_REVOCATION",
                            "UNTRACEABLE_REVOCATION"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "revoke_type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/settlement_revoke_check",
          "metadata": {
            "sidebarTitle": "手工調賬撤銷校驗"
          }
        }
      }
    },
    "/risk_event/settlement_revoke": {
      "post": {
        "operationId": "settlement_revoke",
        "summary": "撤銷手工調賬",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "change_ticket.delete_record"
        ],
        "x-lbonly": false,
        "description": "撤銷手工調賬。\n\n### 請求參數\n\n- 必填：`id`（調賬工單ID）\n- 可選：`remark`（撤銷備註）\n- 各字段的格式、取值範圍和業務含義見對應字段說明。\n\n### 風險提示\n\n> 此操作可能引起真實資金、持倉或交易狀態變化。調用前請確認目標記錄和參數無誤。\n\n### 處理結果\n\n成功時完成上述業務操作；後續狀態和返回數據以 `200` 響應定義為準。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "調賬工單ID，用於標識本次請求關聯的業務對象。此字段為必填項。"
                  },
                  "remark": {
                    "type": "string",
                    "description": "撤銷備註. 其它撤銷原因相關字段可隨請求一並提交；字段結構以請求 schema 為準。"
                  }
                }
              },
              "example": {
                "id": 123
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "請求處理成功。響應的 `data` 不包含額外業務字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/settlement_revoke",
          "metadata": {
            "sidebarTitle": "撤銷手工調賬"
          }
        }
      }
    },
    "/v1/datasets/account_cash_balances": {
      "post": {
        "operationId": "account_cash_balances",
        "summary": "現金賬戶餘額",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "account_balance.account"
        ],
        "x-lbonly": false,
        "description": "查詢「現金賬戶餘額」數據，可通過 `filters` 組合業務篩選條件，並使用 `page`、`page_size` 和 `orderBy` 控制分頁與排序。\n\n### 返回結果\n\n成功時返回匹配的記錄列表及分頁信息。各過濾字段的用途、可選值和動態數據來源見對應字段說明。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "過濾條件. 組合業務過濾條件。省略某個過濾字段時，不按該字段篩選。",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客戶. 用於按「客戶」篩選結果。"
                      },
                      "currency": {
                        "type": "string",
                        "description": "幣種. 用於按「幣種」篩選結果。\n\n候選值會動態變化。請調用 `GET /v1/datasets/refs/tenant_currencies_by_channel` 獲取當前可用的數據字典，並使用返回項的 `key` 作為本參數值。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "賬戶類型. 用於按「賬戶類型」篩選結果。\n\n**可選值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新時間. 用於按「更新時間」篩選結果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大於等於. 篩選範圍的下限，匹配值包含該值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小於等於. 篩選範圍的上限，匹配值包含該值。"
                          }
                        }
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "頁碼. 要查詢的頁碼，從 `1` 開始。"
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "每頁數量. 每頁返回的記錄數量。"
                  }
                }
              },
              "example": {
                "filters": {},
                "page": 1,
                "page_size": 20,
                "orderBy": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時分頁返回「現金賬戶餘額」記錄，以及頁碼、每頁數量和總記錄數等分頁信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "list",
                        "total"
                      ],
                      "properties": {
                        "list": {
                          "type": "array",
                          "description": "**返回值：** 列表列表。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "編號. **返回值：** 當前記錄的唯一標識。"
                              },
                              "member_id": {
                                "type": "string",
                                "description": "客戶編號. **返回值：** 客戶編號。"
                              },
                              "real_name": {
                                "type": "string",
                                "description": "客戶姓名. **返回值：** 客戶姓名。"
                              },
                              "real_name_val": {
                                "type": "string",
                                "description": "客戶姓名（原始值）. 字段 real_name 的原始值：real_name 返回的是經字典/關聯表映射解析後的可讀展示值，本字段返回映射前的原始編碼/ID。"
                              },
                              "origin_id": {
                                "type": "string",
                                "description": "證券賬號. **返回值：** 證券賬號。"
                              },
                              "account_type": {
                                "type": "string",
                                "description": "賬戶類型. **返回值：** 賬戶類型。"
                              },
                              "currency": {
                                "type": "string",
                                "description": "幣種. **返回值：** 幣種。"
                              },
                              "currency_val": {
                                "type": "string",
                                "description": "幣種（原始值）. 字段 currency 的原始值：currency 返回的是經字典/關聯表映射解析後的可讀展示值，本字段返回映射前的原始編碼/ID。"
                              },
                              "custom_unavailable_amount": {
                                "type": "string",
                                "description": "凍結資金. **返回值：** 凍結資金。"
                              },
                              "book_balance": {
                                "type": "string",
                                "description": "總餘額. **返回值：** 總餘額。"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "更新時間. **返回值：** 更新時間；時間或日期格式以接口實際返回值為準。"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "總條數. **返回值：** 符合查詢條件的記錄總數，用於計算分頁。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "list": [
                      {
                        "id": "7496263",
                        "member_id": "1000000000000000000",
                        "real_name": "示例用户",
                        "real_name_val": "",
                        "origin_id": "H00000000",
                        "account_type": "SETTLEMENT",
                        "currency": "CNH",
                        "currency_val": "CNH",
                        "custom_unavailable_amount": "",
                        "book_balance": "1,000,000,000.00",
                        "updated_at": "1784185026"
                      }
                    ],
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dataset-download": {
          "method": "POST",
          "path": "/v1/datasets/account_cash_balances/download",
          "operationId": "account_cash_balances_download"
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/account_cash_balances",
          "metadata": {
            "sidebarTitle": "現金賬戶餘額"
          }
        }
      }
    },
    "/v1/datasets/account_cash_balances/download": {
      "post": {
        "operationId": "account_cash_balances_download",
        "summary": "現金賬戶餘額導出",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "account_balance.account"
        ],
        "x-lbonly": false,
        "description": "將「現金賬戶餘額」數據導出為文件。`filters` 決定導出範圍，`orderBy` 決定排序，`down_fields` 可限制導出字段。\n\n### 導出模式\n\n- `mode: 0`：同步導出，成功後直接返回下載地址。\n- `mode: 1`：異步導出，先返回 `file_download_id`；隨後調用 `GET /v1/datasets/download/{id}` 獲取下載地址。\n- 不再需要導出記錄時，可調用 `DELETE /v1/datasets/download/{id}` 刪除。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "過濾條件. 字段同 account_cash_balances.yaml（query 能力）裏的 filters",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客戶. 用於按「客戶」篩選結果。"
                      },
                      "currency": {
                        "type": "string",
                        "description": "幣種. 用於按「幣種」篩選結果。\n\n候選值會動態變化。請調用 `GET /v1/datasets/refs/tenant_currencies_by_channel` 獲取當前可用的數據字典，並使用返回項的 `key` 作為本參數值。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "賬戶類型. 用於按「賬戶類型」篩選結果。\n\n**可選值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新時間. 用於按「更新時間」篩選結果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大於等於. 篩選範圍的下限，匹配值包含該值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小於等於. 篩選範圍的上限，匹配值包含該值。"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "filters": {},
                "orderBy": [],
                "mode": 0,
                "ext": "csv",
                "file_name": "",
                "remark": "",
                "down_fields": [],
                "ticket_content": "",
                "ticket_preview_url": "",
                "hide": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時返回「現金賬戶餘額導出」任務信息。同步導出直接提供下載地址；異步導出提供用於後續查詢的 `file_download_id`。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "下載地址. 同步模式（`mode: 0`）下返回，異步模式下為空"
                        },
                        "file_download_id": {
                          "type": "string",
                          "description": "文件下載ID. 異步模式（`mode: 1`）下返回，即 `GET /v1/datasets/download/{id}` /\n`DELETE /v1/datasets/download/{id}` 路徑中的 id：GET 獲取最終下載地址，DELETE 刪除該導出記錄。"
                        },
                        "ticket_id": {
                          "type": "string",
                          "description": "工單ID. **返回值：** 審批工單 ID。僅在本次操作觸發審批流程時返回。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "url": "https://b-api.longbridge.xyz/download/export_result.csv",
                    "file_download_id": "",
                    "ticket_id": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dataset-parent": {
          "method": "POST",
          "path": "/v1/datasets/account_cash_balances",
          "operationId": "account_cash_balances"
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/account_cash_balances_download",
          "metadata": {
            "sidebarTitle": "現金賬戶餘額導出"
          }
        }
      }
    },
    "/v1/datasets/account_stock_holdings": {
      "post": {
        "operationId": "account_stock_holdings",
        "summary": "股票賬戶餘額",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "account_balance.stock"
        ],
        "x-lbonly": false,
        "description": "查詢「股票賬戶餘額」數據，可通過 `filters` 組合業務篩選條件，並使用 `page`、`page_size` 和 `orderBy` 控制分頁與排序。\n\n### 返回結果\n\n成功時返回匹配的記錄列表及分頁信息。各過濾字段的用途、可選值和動態數據來源見對應字段說明。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "過濾條件. 組合業務過濾條件。省略某個過濾字段時，不按該字段篩選。",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客戶. 用於按「客戶」篩選結果。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "賬戶類型. 用於按「賬戶類型」篩選結果。\n\n**可選值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "用於按「股票」篩選結果。"
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新時間. 用於按「更新時間」篩選結果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大於等於. 篩選範圍的下限，匹配值包含該值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小於等於. 篩選範圍的上限，匹配值包含該值。"
                          }
                        }
                      },
                      "is_zero": {
                        "type": "string",
                        "description": "顯示類型. 用於按「顯示類型」篩選結果。\n\n支持多選；提交時使用英文逗號（`,`）拼接多個值。不傳時不按此字段篩選。\n\n**可選值：**\n- `0` - 表示清倉\n- `1` - 表示未清倉",
                        "example": "0,1",
                        "enum": [
                          "0",
                          "1"
                        ]
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "頁碼. 要查詢的頁碼，從 `1` 開始。"
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "每頁數量. 每頁返回的記錄數量。"
                  }
                }
              },
              "example": {
                "filters": {},
                "page": 1,
                "page_size": 20,
                "orderBy": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時分頁返回「股票賬戶餘額」記錄，以及頁碼、每頁數量和總記錄數等分頁信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "list",
                        "total"
                      ],
                      "properties": {
                        "list": {
                          "type": "array",
                          "description": "**返回值：** 列表列表。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "編號. **返回值：** 當前記錄的唯一標識。"
                              },
                              "member_id": {
                                "type": "string",
                                "description": "客戶編號. **返回值：** 客戶編號。"
                              },
                              "real_name": {
                                "type": "string",
                                "description": "客戶姓名. **返回值：** 客戶姓名。"
                              },
                              "origin_id": {
                                "type": "string",
                                "description": "證券賬號. **返回值：** 證券賬號。"
                              },
                              "account_type": {
                                "type": "string",
                                "description": "賬戶類型. **返回值：** 賬戶類型。"
                              },
                              "account_type_val": {
                                "type": "string",
                                "description": "賬戶類型（原始值）. 字段 account_type 的原始值：account_type 返回的是經字典/關聯表映射解析後的可讀展示值，本字段返回映射前的原始編碼/ID。"
                              },
                              "counter_id": {
                                "type": "string",
                                "description": "股票代碼. **返回值：** 股票代碼。"
                              },
                              "unavailable_quantity": {
                                "type": "string",
                                "description": "凍結持倉. **返回值：** 凍結持倉。"
                              },
                              "holding_quantity": {
                                "type": "string",
                                "description": "總持倉餘額. **返回值：** 總持倉餘額。"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "更新時間. **返回值：** 更新時間；時間或日期格式以接口實際返回值為準。"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "總條數. **返回值：** 符合查詢條件的記錄總數，用於計算分頁。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "list": [
                      {
                        "id": "5898040",
                        "member_id": "1000000000000000000",
                        "real_name": "示例用户",
                        "origin_id": "H00000000",
                        "account_type": "SETTLEMENT",
                        "account_type_val": "SETTLEMENT",
                        "counter_id": "ST/HK/700",
                        "unavailable_quantity": "0",
                        "holding_quantity": "5,000",
                        "updated_at": "1784181462"
                      }
                    ],
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dataset-download": {
          "method": "POST",
          "path": "/v1/datasets/account_stock_holdings/download",
          "operationId": "account_stock_holdings_download"
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/account_stock_holdings",
          "metadata": {
            "sidebarTitle": "股票賬戶餘額"
          }
        }
      }
    },
    "/v1/datasets/account_stock_holdings/download": {
      "post": {
        "operationId": "account_stock_holdings_download",
        "summary": "股票賬戶餘額導出",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "account_balance.stock"
        ],
        "x-lbonly": false,
        "description": "將「股票賬戶餘額」數據導出為文件。`filters` 決定導出範圍，`orderBy` 決定排序，`down_fields` 可限制導出字段。\n\n### 導出模式\n\n- `mode: 0`：同步導出，成功後直接返回下載地址。\n- `mode: 1`：異步導出，先返回 `file_download_id`；隨後調用 `GET /v1/datasets/download/{id}` 獲取下載地址。\n- 不再需要導出記錄時，可調用 `DELETE /v1/datasets/download/{id}` 刪除。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "過濾條件. 字段同 account_stock_holdings.yaml（query 能力）裏的 filters",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客戶. 用於按「客戶」篩選結果。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "賬戶類型. 用於按「賬戶類型」篩選結果。\n\n**可選值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "用於按「股票」篩選結果。"
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新時間. 用於按「更新時間」篩選結果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大於等於. 篩選範圍的下限，匹配值包含該值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小於等於. 篩選範圍的上限，匹配值包含該值。"
                          }
                        }
                      },
                      "is_zero": {
                        "type": "string",
                        "description": "顯示類型. 用於按「顯示類型」篩選結果。\n\n支持多選；提交時使用英文逗號（`,`）拼接多個值。不傳時不按此字段篩選。\n\n**可選值：**\n- `0` - 表示清倉\n- `1` - 表示未清倉",
                        "example": "0,1",
                        "enum": [
                          "0",
                          "1"
                        ]
                      }
                    }
                  }
                }
              },
              "example": {
                "filters": {},
                "orderBy": [],
                "mode": 0,
                "ext": "csv",
                "file_name": "",
                "remark": "",
                "down_fields": [],
                "ticket_content": "",
                "ticket_preview_url": "",
                "hide": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時返回「股票賬戶餘額導出」任務信息。同步導出直接提供下載地址；異步導出提供用於後續查詢的 `file_download_id`。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "下載地址. 同步模式（`mode: 0`）下返回，異步模式下為空"
                        },
                        "file_download_id": {
                          "type": "string",
                          "description": "文件下載ID. 異步模式（`mode: 1`）下返回，即 `GET /v1/datasets/download/{id}` /\n`DELETE /v1/datasets/download/{id}` 路徑中的 id：GET 獲取最終下載地址，DELETE 刪除該導出記錄。"
                        },
                        "ticket_id": {
                          "type": "string",
                          "description": "工單ID. **返回值：** 審批工單 ID。僅在本次操作觸發審批流程時返回。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "url": "https://b-api.longbridge.xyz/download/export_result.csv",
                    "file_download_id": "",
                    "ticket_id": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dataset-parent": {
          "method": "POST",
          "path": "/v1/datasets/account_stock_holdings",
          "operationId": "account_stock_holdings"
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/account_stock_holdings_download",
          "metadata": {
            "sidebarTitle": "股票賬戶餘額導出"
          }
        }
      }
    },
    "/v1/datasets/account_fund_holdings": {
      "post": {
        "operationId": "account_fund_holdings",
        "summary": "基金賬戶餘額",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "account_balance.fund"
        ],
        "x-lbonly": false,
        "description": "查詢「基金賬戶餘額」數據，可通過 `filters` 組合業務篩選條件，並使用 `page`、`page_size` 和 `orderBy` 控制分頁與排序。\n\n### 返回結果\n\n成功時返回匹配的記錄列表及分頁信息。各過濾字段的用途、可選值和動態數據來源見對應字段說明。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "過濾條件. 組合業務過濾條件。省略某個過濾字段時，不按該字段篩選。",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客戶. 用於按「客戶」篩選結果。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "賬戶類型. 用於按「賬戶類型」篩選結果。\n\n**可選值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "基金代碼. 用於按「基金代碼」篩選結果。"
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新時間. 用於按「更新時間」篩選結果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大於等於. 篩選範圍的下限，匹配值包含該值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小於等於. 篩選範圍的上限，匹配值包含該值。"
                          }
                        }
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "頁碼. 要查詢的頁碼，從 `1` 開始。"
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "每頁數量. 每頁返回的記錄數量。"
                  }
                }
              },
              "example": {
                "filters": {},
                "page": 1,
                "page_size": 20,
                "orderBy": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時分頁返回「基金賬戶餘額」記錄，以及頁碼、每頁數量和總記錄數等分頁信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "list",
                        "total"
                      ],
                      "properties": {
                        "list": {
                          "type": "array",
                          "description": "**返回值：** 列表列表。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "編號. **返回值：** 當前記錄的唯一標識。"
                              },
                              "member_id": {
                                "type": "string",
                                "description": "客戶編號. **返回值：** 客戶編號。"
                              },
                              "real_name": {
                                "type": "string",
                                "description": "客戶姓名. **返回值：** 客戶姓名。"
                              },
                              "origin_id": {
                                "type": "string",
                                "description": "證券賬號. **返回值：** 證券賬號。"
                              },
                              "account_type": {
                                "type": "string",
                                "description": "賬戶類型. **返回值：** 賬戶類型。"
                              },
                              "account_type_val": {
                                "type": "string",
                                "description": "賬戶類型（原始值）. 字段 account_type 的原始值：account_type 返回的是經字典/關聯表映射解析後的可讀展示值，本字段返回映射前的原始編碼/ID。"
                              },
                              "counter_id": {
                                "type": "string",
                                "description": "基金代碼. **返回值：** 基金代碼。"
                              },
                              "unavailable_quantity": {
                                "type": "string",
                                "description": "凍結持倉. **返回值：** 凍結持倉。"
                              },
                              "holding_quantity": {
                                "type": "string",
                                "description": "總持倉餘額. **返回值：** 總持倉餘額。"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "更新時間. **返回值：** 更新時間；時間或日期格式以接口實際返回值為準。"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "總條數. **返回值：** 符合查詢條件的記錄總數，用於計算分頁。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "list": [
                      {
                        "id": "5897999",
                        "member_id": "1000000000000000000",
                        "real_name": "示例用户",
                        "origin_id": "H00000000",
                        "account_type": "SETTLEMENT",
                        "account_type_val": "SETTLEMENT",
                        "counter_id": "UT/FD/LU1894109211",
                        "unavailable_quantity": "0",
                        "holding_quantity": "164.1132",
                        "updated_at": "1784183998"
                      }
                    ],
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dataset-download": {
          "method": "POST",
          "path": "/v1/datasets/account_fund_holdings/download",
          "operationId": "account_fund_holdings_download"
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/account_fund_holdings",
          "metadata": {
            "sidebarTitle": "基金賬戶餘額"
          }
        }
      }
    },
    "/v1/datasets/account_fund_holdings/download": {
      "post": {
        "operationId": "account_fund_holdings_download",
        "summary": "基金賬戶餘額導出",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "account_balance.fund"
        ],
        "x-lbonly": false,
        "description": "將「基金賬戶餘額」數據導出為文件。`filters` 決定導出範圍，`orderBy` 決定排序，`down_fields` 可限制導出字段。\n\n### 導出模式\n\n- `mode: 0`：同步導出，成功後直接返回下載地址。\n- `mode: 1`：異步導出，先返回 `file_download_id`；隨後調用 `GET /v1/datasets/download/{id}` 獲取下載地址。\n- 不再需要導出記錄時，可調用 `DELETE /v1/datasets/download/{id}` 刪除。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "過濾條件. 字段同 account_fund_holdings.yaml（query 能力）裏的 filters",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客戶. 用於按「客戶」篩選結果。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "賬戶類型. 用於按「賬戶類型」篩選結果。\n\n**可選值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "基金代碼. 用於按「基金代碼」篩選結果。"
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新時間. 用於按「更新時間」篩選結果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大於等於. 篩選範圍的下限，匹配值包含該值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小於等於. 篩選範圍的上限，匹配值包含該值。"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "filters": {},
                "orderBy": [],
                "mode": 0,
                "ext": "csv",
                "file_name": "",
                "remark": "",
                "down_fields": [],
                "ticket_content": "",
                "ticket_preview_url": "",
                "hide": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時返回「基金賬戶餘額導出」任務信息。同步導出直接提供下載地址；異步導出提供用於後續查詢的 `file_download_id`。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "下載地址. 同步模式（`mode: 0`）下返回，異步模式下為空"
                        },
                        "file_download_id": {
                          "type": "string",
                          "description": "文件下載ID. 異步模式（`mode: 1`）下返回，即 `GET /v1/datasets/download/{id}` /\n`DELETE /v1/datasets/download/{id}` 路徑中的 id：GET 獲取最終下載地址，DELETE 刪除該導出記錄。"
                        },
                        "ticket_id": {
                          "type": "string",
                          "description": "工單ID. **返回值：** 審批工單 ID。僅在本次操作觸發審批流程時返回。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "url": "https://b-api.longbridge.xyz/download/export_result.csv",
                    "file_download_id": "",
                    "ticket_id": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "請求無效。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登錄或登錄狀態已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "當前賬號未獲得該功能授權。請在 User Permission 中為該賬號開通相應權限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "請求處理超時。具體原因請查看響應體中的業務錯誤碼 `code` 和錯誤信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dataset-parent": {
          "method": "POST",
          "path": "/v1/datasets/account_fund_holdings",
          "operationId": "account_fund_holdings"
        },
        "x-mint": {
          "href": "/zh-HK/api-reference/account_fund_holdings_download",
          "metadata": {
            "sidebarTitle": "基金賬戶餘額導出"
          }
        }
      }
    },
    "/v1/datasets/account_option_holdings": {
      "post": {
        "operationId": "account_option_holdings",
        "summary": "期權賬戶餘額",
        "tags": [
          "資產賬户"
        ],
        "x-permission-key": [
          "account_balance.option"
        ],
        "x-lbonly": false,
        "description": "查詢「期權賬戶餘額」數據，可通過 `filters` 組合業務篩選條件，並使用 `page`、`page_size` 和 `orderBy` 控制分頁與排序。\n\n### 返回結果\n\n成功時返回匹配的記錄列表及分頁信息。各過濾字段的用途、可選值和動態數據來源見對應字段說明。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "過濾條件. 組合業務過濾條件。省略某個過濾字段時，不按該字段篩選。",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客戶. 用於按「客戶」篩選結果。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "賬戶類型. 用於按「賬戶類型」篩選結果。\n\n**可選值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "期權代碼. 用於按「期權代碼」篩選結果。"
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新時間. 用於按「更新時間」篩選結果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大於等於. 篩選範圍的下限，匹配值包含該值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小於等於. 篩選範圍的上限，匹配值包含該值。"
                          }
                        }
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "頁碼. 要查詢的頁碼，從 `1` 開始。"
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "每頁數量. 每頁返回的記錄數量。"
                  }
                }
              },
              "example": {
                "filters": {},
                "page": 1,
                "page_size": 20,
                "orderBy": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時分頁返回「期權賬戶餘額」記錄，以及頁碼、每頁數量和總記錄數等分頁信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 為業務錯誤碼，此時 `data` 通常為空。\n\nHTTP status 使用標準語義：成功時通常為 `200`，異常時可能為 `400`、`401`、`403`、`408` 等，需結合業務 `code`\n判斷具體結果。\n\n- `401`：未登錄。\n- `403`：當前賬號未獲得該功能授權，需通過 User Permission 授權。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "list",
                        "total"
                      ],
                      "properties": {
                        "list": {
                          "type": "array",
                          "description": "**返回值：** 列表列表。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "編號. **返回值：** 當前記錄的唯一標識。"
                              },
                              "member_id": {
                                "type": "string",
                                "description": "客戶編號. **返回值：** 客戶編號。"
                              },
                              "real_name": {
                                "type": "string",
                                "description": "客戶姓名. **返回值：** 客戶姓名。"
                              },
                              "origin_id": {
                                "type": "string",
                                "description": "證券賬號. **返回值：** 證券賬號。"
                              },
[...]
