{
  "openapi": "3.1.1",
  "info": {
    "title": "Longport Whale Broker API",
    "description": "供使用 Longport Whale 的 Broker 调用的服务端 API。",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://b-api.longbridge.xyz",
      "description": "测试环境"
    },
    {
      "url": "https://b-api.lbkrs.com",
      "description": "生产环境"
    }
  ],
  "tags": [
    {
      "name": "资产账户"
    }
  ],
  "paths": {
    "/v1/portfolio/query_account_balances_summary": {
      "get": {
        "operationId": "query_account_balances_summary",
        "summary": "总资产及账面总现金",
        "tags": [
          "资产账户"
        ],
        "x-permission-key": [
          "asset.summary_query"
        ],
        "x-lbonly": false,
        "description": "查询总资产的类型与币种占比，以及账面总现金明细。资产类型标签会根据 `Accept-Language` 返回对应语言。\n\n请调用 `GET /v1/datasets/refs/equity_type_summary` 获取当前可用的资产类型字典。\n\n### 请求参数\n\n- 可选：`client_types`（client_types）、`account_types`（account_types）、`broker_codes`（broker_codes）\n- 各字段的格式、取值范围、默认行为和业务含义见对应字段说明。\n\n### 处理结果\n\n成功时返回查询结果，具体结构见 `200` 响应定义。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "client_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "客户类型。\n\n- 多值使用英文逗号 `,` 拼接\n- 不传时查询全部\n- 示例：`1,2`",
            "example": "2,1"
          },
          {
            "name": "account_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "账户类型。\n\n- 多值使用英文逗号 `,` 拼接\n- 不传时查询全部\n- 示例：`F,C`",
            "example": "F,C"
          },
          {
            "name": "broker_codes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "按经纪人（AE）代码过滤。\n\n- 多值使用英文逗号 `,` 拼接\n- 不传时查询全部\n- `=` 表示未分配经纪人\n- 示例：`=,LBtestwbwhale123`\n\n完整的 AE 代码列表可通过 `GET /v1/datasets/refs/broker_accounts` 查询，具体取值随租户和环境变化。",
            "example": "=,LBtestwbwhale123"
          }
        ],
        "responses": {
          "200": {
            "description": "请求处理成功。业务结果位于 `data`，包含 `total_assets`、`total_asset_type`、`total_asset_currency`、`total_balance` 字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_assets": {
                          "type": "array",
                          "description": "总资产（各币种）. 各币种总资产，用于顶部总资产展示与币种切换",
                          "items": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "币种. 如 HKD/USD/CNY/SGD"
                              },
                              "amount": {
                                "type": "string",
                                "description": "总资产金额. 该币种总资产金额（decimal 字符串）"
                              }
                            }
                          }
                        },
                        "total_asset_type": {
                          "type": "array",
                          "description": "总资产按类型占比. 按资产类型的占比（总资产类型饼图）",
                          "items": {
                            "type": "object",
                            "properties": {
                              "equity_type": {
                                "type": "string",
                                "description": "资产类型的 `key`，例如 `CASH`、`US`、`HK`、`CN`、`OTHER` 或 `FUND`。\n\n完整取值可通过 `GET /v1/datasets/refs/equity_type_summary` 动态获取。"
                              },
                              "name": {
                                "type": "string",
                                "description": "资产类型名称. 资产类型的本地化展示名称，随 Accept-Language 返回（如 现金 / Cash）"
                              },
                              "ratio": {
                                "type": "string",
                                "description": "占比，使用 decimal 字符串表示；取值乘以 `100` 后为百分比。"
                              }
                            }
                          }
                        },
                        "total_asset_currency": {
                          "type": "array",
                          "description": "总资产按币种占比. 按币种的占比（总资产币种饼图）",
                          "items": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "币种. **返回值：** 币种。"
                              },
                              "ratio": {
                                "type": "string",
                                "description": "占比. 使用 decimal 字符串表示，取值范围为 `0` 至 `1`；取值乘以 `100` 后为百分比。"
                              }
                            }
                          }
                        },
                        "total_balance": {
                          "type": "array",
                          "description": "账面总现金明细（按币种，对应「账面总现金」表格）",
                          "items": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "币种. **返回值：** 币种。"
                              },
                              "book_balance": {
                                "type": "string",
                                "description": "账面总现金. decimal 字符串"
                              },
                              "settled_amount": {
                                "type": "string",
                                "description": "已结算. **返回值：** 已结算。"
                              },
                              "unsettle_amount": {
                                "type": "string",
                                "description": "待结算. **返回值：** 待结算。"
                              },
                              "trade_0": {
                                "type": "string",
                                "description": "T+0 待交收金额. **返回值：** T+0 待交收金额。"
                              },
                              "trade_1": {
                                "type": "string",
                                "description": "T+1 待交收金额. **返回值：** T+1 待交收金额。"
                              },
                              "trade_2": {
                                "type": "string",
                                "description": "T+2 待交收金额. **返回值：** T+2 待交收金额。"
                              },
                              "trade_n": {
                                "type": "string",
                                "description": "T+N 待交收金额. **返回值：** T+N 待交收金额。"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "total_assets": [
                      {
                        "currency": "string",
                        "amount": "string"
                      }
                    ],
                    "total_asset_type": [
                      {
                        "equity_type": "string",
                        "name": "string",
                        "ratio": "string"
                      }
                    ],
                    "total_asset_currency": [
                      {
                        "currency": "string",
                        "ratio": "string"
                      }
                    ],
                    "total_balance": [
                      {
                        "currency": "string",
                        "book_balance": "string",
                        "settled_amount": "string",
                        "unsettle_amount": "string",
                        "trade_0": "string",
                        "trade_1": "string",
                        "trade_2": "string",
                        "trade_n": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/query_account_balances_summary",
          "metadata": {
            "sidebarTitle": "总资产及账面总现金"
          }
        }
      }
    },
    "/v1/portfolio/query_equity_holding_summary": {
      "post": {
        "operationId": "query_equity_holding_summary",
        "summary": "资产总览持仓",
        "tags": [
          "资产账户"
        ],
        "x-permission-key": [
          "asset.summary_query"
        ],
        "x-lbonly": false,
        "description": "资产总览持仓。\n\n### 请求参数\n\n- 必填：`equity_type`（资产类型）\n- 可选：`client_types`（客户类型）、`account_types`（账户类型）、`broker_codes`（经纪人）、`page`（页码）、`page_size`（每页数量）\n- 各字段的格式、取值范围和业务含义见对应字段说明。\n\n### 处理结果\n\n成功时完成上述业务操作；后续状态和返回数据以 `200` 响应定义为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "equity_type"
                ],
                "properties": {
                  "client_types": {
                    "type": "string",
                    "description": "客户类型。\n\n- 多值使用英文逗号 `,` 拼接\n- 不传时查询全部\n- 示例：`1,2`\n\n**可选值：**\n- `1` - 表示个人客户\n- `2` - 表示企业客户\n- `3` - 表示联名客户",
                    "example": "1,2",
                    "enum": [
                      "1",
                      "2",
                      "3"
                    ]
                  },
                  "account_types": {
                    "type": "string",
                    "description": "账户类型。\n\n- 多值使用英文逗号 `,` 拼接\n- 不传时查询全部\n- 示例：`M,C`\n\n> 注意：账户类型与 `equity_type` 的非法组合（如期货账户 `F` 与基金 `FUND` ）会返回 `400`。\n\n**可选值：**\n- `M` - 表示融资账户\n- `C` - 表示现金账户\n- `F` - 表示期货账户",
                    "example": "M,C",
                    "enum": [
                      "M",
                      "C",
                      "F"
                    ]
                  },
                  "broker_codes": {
                    "type": "string",
                    "description": "经纪人. 按经纪人（AE）代码过滤。\n\n- 多值使用英文逗号 `,` 拼接\n- 不传时查询全部\n- `=` 表示未分配经纪人\n- 示例：`=,LBtestwbwhale123`\n\n完整的 AE 代码列表可通过 `GET /v1/datasets/refs/broker_accounts` 查询，具体取值随租户和环境变化。\n\n**当前文档列出的取值：**\n- `=` - 表示未分配",
                    "enum": [
                      "="
                    ]
                  },
                  "equity_type": {
                    "type": "string",
                    "description": "资产类型. 持仓汇总的资产类型筛选条件，仅支持单值。\n\n取值来自 `equity_holding_summary_equity_type` 动态枚举，非固定值。\n\n请调用 `GET /v1/datasets/refs/equity_holding_summary_equity_type` 获取当前可用的数据字典，并使用返回项的 `key` 作为本字段值。\n\n**当前文档列出的取值：**\n- `STOCK` - 表示股票\n- `OPTION` - 表示期权\n- `FUND` - 表示基金\n- `BOND` - 表示债券\n- `MMF` - 表示余额通\n- `OTC` - 表示其他\n- `CRYPTO` - 表示加密货币\n- `WM` - 表示场外衍生品",
                    "enum": [
                      "STOCK",
                      "OPTION",
                      "FUND",
                      "BOND",
                      "MMF",
                      "OTC",
                      "CRYPTO",
                      "WM"
                    ]
                  },
                  "page": {
                    "type": "number",
                    "description": "页码. 要查询的页码，从 `1` 开始。"
                  },
                  "page_size": {
                    "type": "number",
                    "description": "每页数量. 每页返回的最大记录数，应为正整数。"
                  }
                }
              },
              "example": {
                "client_types": "2,1",
                "account_types": "M,C",
                "broker_codes": "=,LBtestwbwhale123",
                "page": 1,
                "page_size": 20,
                "equity_type": "STOCK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求处理成功。业务结果位于 `data`，包含 `total_holdings`、`page`、`page_size`、`total_page`、`total` 字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_holdings": {
                          "type": "array",
                          "description": "持仓列表. **返回值：** 持仓列表列表。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "counter_id": {
                                "type": "string",
                                "description": "证券代码. **返回值：** 证券代码。"
                              },
                              "equity_type": {
                                "type": "string",
                                "description": "资产类型. 同请求 equity_type，取值见 equity_holding_summary_equity_type"
                              },
                              "counter_name": {
                                "type": "string",
                                "description": "证券名称. 本地化名称，随 Accept-Language 返回"
                              },
                              "total_quantity": {
                                "type": "string",
                                "description": "持仓数量. **返回值：** 持仓数量。"
                              },
                              "last_done": {
                                "type": "string",
                                "description": "收盘价. **返回值：** 收盘价。"
                              },
                              "market_value": {
                                "type": "string",
                                "description": "持仓总市值. **返回值：** 持仓总市值。"
                              },
                              "settled": {
                                "type": "string",
                                "description": "已结算. **返回值：** 已结算。"
                              },
                              "unsettle": {
                                "type": "string",
                                "description": "待结算. **返回值：** 待结算。"
                              },
                              "trade_0": {
                                "type": "string",
                                "description": "T+0 待交收数量. **返回值：** T+0 待交收数量。"
                              },
                              "trade_1": {
                                "type": "string",
                                "description": "T+1 待交收数量. **返回值：** T+1 待交收数量。"
                              },
                              "trade_2": {
                                "type": "string",
                                "description": "T+2 待交收数量. **返回值：** T+2 待交收数量。"
                              },
                              "trade_n": {
                                "type": "string",
                                "description": "T+N 待交收数量. **返回值：** T+N 待交收数量。"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "标的代码，部分持仓为空"
                              }
                            }
                          }
                        },
                        "page": {
                          "type": "number",
                          "description": "当前页码. **返回值：** 当前页码。"
                        },
                        "page_size": {
                          "type": "number",
                          "description": "每页数量. **返回值：** 当前响应每页的记录数。"
                        },
                        "total_page": {
                          "type": "number",
                          "description": "总页数. **返回值：** 查询结果的总页数。"
                        },
                        "total": {
                          "type": "number",
                          "description": "总条数. **返回值：** 符合查询条件的记录总数，用于计算分页。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "total_holdings": [
                      {
                        "counter_id": "string",
                        "equity_type": "string",
                        "counter_name": "string",
                        "total_quantity": "string",
                        "last_done": "string",
                        "market_value": "string",
                        "settled": "string",
                        "unsettle": "string",
                        "trade_0": "string",
                        "trade_1": "string",
                        "trade_2": "string",
                        "trade_n": "string",
                        "symbol": "string"
                      }
                    ],
                    "page": 0,
                    "page_size": 0,
                    "total_page": 0,
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/query_equity_holding_summary",
          "metadata": {
            "sidebarTitle": "资产总览持仓"
          }
        }
      }
    },
    "/portfolio/dawn/get_all_biz_code_info": {
      "get": {
        "operationId": "get_all_biz_code_info",
        "summary": "查询全部业务码",
        "tags": [
          "资产账户"
        ],
        "x-lbonly": false,
        "description": "查询全部业务码。\n\n### 请求参数\n\n- 可选：`locale`（locale）\n- 各字段的格式、取值范围和业务含义见对应字段说明。\n\n### 处理结果\n\n成功时返回查询结果；响应字段及其含义见 `200` 响应定义。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "调用方传入当前界面语言，用于 title 本地化，实测语言实际由 Accept-Language 头控制"
          }
        ],
        "responses": {
          "200": {
            "description": "请求处理成功。业务结果位于 `data`，包含 `info_list`、`info_list_ex` 字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "info_list": {
                          "type": "array",
                          "description": "业务码分组树. 按大类分组，如「衍生品」DP / 「加密货币」等",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "分组展示名. 随 Accept-Language 本地化"
                              },
                              "value": {
                                "type": "string",
                                "description": "分组代码. **返回值：** 数据字典项的展示文本。"
                              },
                              "children": {
                                "type": "array",
                                "description": "该分组下业务码列表. **返回值：** 该分组下业务码列表列表。",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "title": {
                                      "type": "string",
                                      "description": "业务码展示名. 形如 \"LDPDNSDR 到期兑付持仓出账\""
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "业务码. **返回值：** 数据字典项的展示文本。"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "info_list_ex": {
                          "type": "array",
                          "description": "扩展分组树. 实测为空数组，用途未知",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "info_list": [
                      {
                        "title": "string",
                        "value": "string",
                        "children": [
                          {
                            "title": "string",
                            "value": "string"
                          }
                        ]
                      }
                    ],
                    "info_list_ex": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/get_all_biz_code_info",
          "metadata": {
            "sidebarTitle": "查询全部业务码"
          }
        }
      }
    },
    "/portfolio/dawn/update_biz_code_info_v2": {
      "post": {
        "operationId": "update_biz_code_info_v2",
        "summary": "编辑业务码",
        "tags": [
          "资产账户"
        ],
        "x-lbonly": false,
        "description": "编辑业务码。\n\n### 请求参数\n\n- 必填：`biz_code`（业务码）\n- 可选：`visible`（是否可见）、`business_type`（业务类型）、`account_type`（账户类型）、`action_type`（动作类型）、`language`（多语言名称）、`remark`（备注）\n- 各字段的格式、取值范围和业务含义见对应字段说明。\n\n### 处理结果\n\n成功时完成上述业务操作；后续状态和返回数据以 `200` 响应定义为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "biz_code"
                ],
                "properties": {
                  "biz_code": {
                    "type": "string",
                    "description": "业务码. 编辑时不可更改，用于定位记录"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "是否可见。\n\n**布尔值：**\n- `true` - 表示条件成立\n- `false` - 表示条件不成立"
                  },
                  "business_type": {
                    "type": "string",
                    "description": "业务类型. 用于区分本次请求适用的业务场景。"
                  },
                  "account_type": {
                    "type": "string",
                    "description": "账户类型. 用于指定「账户类型」。"
                  },
                  "action_type": {
                    "type": "string",
                    "description": "动作类型. 用于指定「动作类型」。"
                  },
                  "language": {
                    "type": "string",
                    "description": "多语言名称. 用于指定「多语言名称」。"
                  },
                  "remark": {
                    "type": "string",
                    "description": "备注. 随本次操作保存的备注。"
                  }
                }
              },
              "example": {
                "biz_code": "LCUSTOM001",
                "visible": true,
                "business_type": "1",
                "account_type": "1",
                "action_type": "1",
                "language": "{\"zh-CN\":\"自定义业务码\",\"en\":\"Custom Biz Code\"}",
                "remark": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求处理成功。`data.ticket_id` 返回审批工单 ID；调用方可使用该 ID 查询后续审批状态。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ticket_id": {
                          "type": "string",
                          "description": "审批工单号. **返回值：** 审批工单 ID。仅在本次操作触发审批流程时返回。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "ticket_id": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/update_biz_code_info_v2",
          "metadata": {
            "sidebarTitle": "编辑业务码"
          }
        }
      }
    },
    "/portfolio/dawn/update_biz_code_group_info": {
      "post": {
        "operationId": "update_biz_code_group_info",
        "summary": "修改业务码分组配置",
        "tags": [
          "资产账户"
        ],
        "x-permission-key": [
          "biz_code.biz_code_group_operation"
        ],
        "x-lbonly": false,
        "description": "更新业务码分组。字段与新增分组一致，并额外传入 `id` 标识待更新记录。\n\n### 请求参数\n\n- 必填：`id`（分组记录 ID）、`account_channel`（所属渠道）、`biz_group`（业务所属）、`group_name`（分组名称）、`group_info`（分组说明）、`biz_code_list`（分组内业务码列表）、`op_user`（操作人）\n- 可选：`account_channel_list`（同步渠道列表）\n- 各字段的格式、取值范围、默认行为和业务含义见对应字段说明。\n\n### 处理结果\n\n成功时完成所述业务操作，具体返回内容见 `200` 响应定义。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "account_channel",
                  "biz_group",
                  "group_name",
                  "group_info",
                  "biz_code_list",
                  "op_user"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "分组记录 ID，用于标识本次请求关联的业务对象。此字段为必填项。"
                  },
                  "account_channel": {
                    "type": "string",
                    "description": "所属渠道. 用于指定「所属渠道」。此字段为必填项。"
                  },
                  "biz_group": {
                    "type": "string",
                    "description": "业务所属. 用于指定「业务所属」。此字段为必填项。"
                  },
                  "group_name": {
                    "type": "string",
                    "description": "分组名称. 用于指定「分组名称」。此字段为必填项。"
                  },
                  "group_info": {
                    "type": "string",
                    "description": "分组说明. 用于指定「分组说明」。此字段为必填项。"
                  },
                  "biz_code_list": {
                    "type": "array",
                    "description": "分组内业务码列表，以 JSON 数组形式提交。此字段为必填项。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "account_channel_list": {
                    "type": "array",
                    "description": "同步渠道列表，以 JSON 数组形式提交。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "op_user": {
                    "type": "string",
                    "description": "操作人. 发起本次操作的人员标识，用于审计追踪。此字段为必填项。"
                  }
                }
              },
              "example": {
                "id": "123",
                "account_channel": "longport_test",
                "biz_group": "1",
                "group_name": "示例分组",
                "group_info": "分组说明",
                "biz_code_list": [
                  "LCUSTOM001",
                  "LCUSTOM002"
                ],
                "account_channel_list": [
                  "longport_test"
                ],
                "op_user": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求处理成功。响应的 `data` 不包含额外业务字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/update_biz_code_group_info",
          "metadata": {
            "sidebarTitle": "修改业务码分组配置"
          }
        }
      }
    },
    "/v1/risk_event/settlement_revoke_check": {
      "post": {
        "operationId": "settlement_revoke_check",
        "summary": "手工调账撤销校验",
        "tags": [
          "资产账户"
        ],
        "x-lbonly": false,
        "description": "手工调账撤销校验：现金/股票/基金/期权/债券/OTC 其他/加密货币/场外衍生品 8 个资产类型共用该接口，点击「撤销」时先校验该调账单是否可撤销（如后续资金已被使用则不可撤销）。\n\n### 请求参数\n\n- 必填：`id`（调账工单ID）\n- 各字段的格式、取值范围、默认行为和业务含义见对应字段说明。\n\n### 处理结果\n\n成功时完成所述业务操作，具体返回内容见 `200` 响应定义。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "调账工单ID，用于标识本次请求关联的业务对象。此字段为必填项。"
                  }
                }
              },
              "example": {
                "id": 123
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求处理成功。业务结果位于 `data`，包含 `revoke_type` 字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "revoke_type": {
                          "type": "string",
                          "description": "可撤销的撤销类型. 决定「撤销原因」单选项中哪个选项可选；取值来自 dawn_undo_adjustment_revoke_type 动态枚举，非固定\n\n**可选值：**\n- `REGULAR_REVOCATION` - 表示常规撤销\n- `UNTRACEABLE_REVOCATION` - 表示无痕撤销\n\n请调用 `GET /v1/datasets/refs/dawn_undo_adjustment_revoke_type` 获取当前可用的数据字典，并使用返回项的 `key` 作为本字段值。",
                          "enum": [
                            "REGULAR_REVOCATION",
                            "UNTRACEABLE_REVOCATION"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "revoke_type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/settlement_revoke_check",
          "metadata": {
            "sidebarTitle": "手工调账撤销校验"
          }
        }
      }
    },
    "/risk_event/settlement_revoke": {
      "post": {
        "operationId": "settlement_revoke",
        "summary": "撤销手工调账",
        "tags": [
          "资产账户"
        ],
        "x-permission-key": [
          "change_ticket.delete_record"
        ],
        "x-lbonly": false,
        "description": "撤销手工调账。\n\n### 请求参数\n\n- 必填：`id`（调账工单ID）\n- 可选：`remark`（撤销备注）\n- 各字段的格式、取值范围和业务含义见对应字段说明。\n\n### 风险提示\n\n> 此操作可能引起真实资金、持仓或交易状态变化。调用前请确认目标记录和参数无误。\n\n### 处理结果\n\n成功时完成上述业务操作；后续状态和返回数据以 `200` 响应定义为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "调账工单ID，用于标识本次请求关联的业务对象。此字段为必填项。"
                  },
                  "remark": {
                    "type": "string",
                    "description": "撤销备注. 其它撤销原因相关字段可随请求一并提交；字段结构以请求 schema 为准。"
                  }
                }
              },
              "example": {
                "id": 123
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求处理成功。响应的 `data` 不包含额外业务字段。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/settlement_revoke",
          "metadata": {
            "sidebarTitle": "撤销手工调账"
          }
        }
      }
    },
    "/v1/datasets/account_cash_balances": {
      "post": {
        "operationId": "account_cash_balances",
        "summary": "现金账户余额",
        "tags": [
          "资产账户"
        ],
        "x-permission-key": [
          "account_balance.account"
        ],
        "x-lbonly": false,
        "description": "查询「现金账户余额」数据，可通过 `filters` 组合业务筛选条件，并使用 `page`、`page_size` 和 `orderBy` 控制分页与排序。\n\n### 返回结果\n\n成功时返回匹配的记录列表及分页信息。各过滤字段的用途、可选值和动态数据来源见对应字段说明。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "过滤条件. 组合业务过滤条件。省略某个过滤字段时，不按该字段筛选。",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客户. 用于按「客户」筛选结果。"
                      },
                      "currency": {
                        "type": "string",
                        "description": "币种. 用于按「币种」筛选结果。\n\n候选值会动态变化。请调用 `GET /v1/datasets/refs/tenant_currencies_by_channel` 获取当前可用的数据字典，并使用返回项的 `key` 作为本参数值。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "账户类型. 用于按「账户类型」筛选结果。\n\n**可选值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新时间. 用于按「更新时间」筛选结果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大于等于. 筛选范围的下限，匹配值包含该值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小于等于. 筛选范围的上限，匹配值包含该值。"
                          }
                        }
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "页码. 要查询的页码，从 `1` 开始。"
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "每页数量. 每页返回的记录数量。"
                  },
                  "orderBy": {
                    "type": "array",
                    "description": "排序参数. 排序规则数组；每一项定义一个排序字段及排序方向。",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              },
              "example": {
                "filters": {},
                "page": 1,
                "page_size": 20,
                "orderBy": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功时分页返回「现金账户余额」记录，以及页码、每页数量和总记录数等分页信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "list",
                        "total"
                      ],
                      "properties": {
                        "list": {
                          "type": "array",
                          "description": "列表. **返回值：** 列表列表。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "编号. **返回值：** 当前记录的唯一标识。"
                              },
                              "member_id": {
                                "type": "string",
                                "description": "客户编号. **返回值：** 客户编号。"
                              },
                              "real_name": {
                                "type": "string",
                                "description": "客户姓名. **返回值：** 客户姓名。"
                              },
                              "real_name_val": {
                                "type": "string",
                                "description": "客户姓名（原始值）. 字段 real_name 的原始值：real_name 返回的是经字典/关联表映射解析后的可读展示值，本字段返回映射前的原始编码/ID。"
                              },
                              "origin_id": {
                                "type": "string",
                                "description": "证券账号. **返回值：** 证券账号。"
                              },
                              "account_type": {
                                "type": "string",
                                "description": "账户类型. **返回值：** 账户类型。"
                              },
                              "currency": {
                                "type": "string",
                                "description": "币种. **返回值：** 币种。"
                              },
                              "currency_val": {
                                "type": "string",
                                "description": "币种（原始值）. 字段 currency 的原始值：currency 返回的是经字典/关联表映射解析后的可读展示值，本字段返回映射前的原始编码/ID。"
                              },
                              "custom_unavailable_amount": {
                                "type": "string",
                                "description": "冻结资金. **返回值：** 冻结资金。"
                              },
                              "book_balance": {
                                "type": "string",
                                "description": "总余额. **返回值：** 总余额。"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "更新时间. **返回值：** 更新时间；时间或日期格式以接口实际返回值为准。"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "总条数. **返回值：** 符合查询条件的记录总数，用于计算分页。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "list": [
                      {
                        "id": "7496263",
                        "member_id": "1000000000000000000",
                        "real_name": "示例用户",
                        "real_name_val": "",
                        "origin_id": "H00000000",
                        "account_type": "SETTLEMENT",
                        "currency": "CNH",
                        "currency_val": "CNH",
                        "custom_unavailable_amount": "",
                        "book_balance": "1,000,000,000.00",
                        "updated_at": "1784185026"
                      }
                    ],
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/account_cash_balances",
          "metadata": {
            "sidebarTitle": "现金账户余额"
          }
        }
      }
    },
    "/v1/datasets/account_cash_balances/download": {
      "post": {
        "operationId": "account_cash_balances_download",
        "summary": "现金账户余额导出",
        "tags": [
          "资产账户"
        ],
        "x-permission-key": [
          "account_balance.account"
        ],
        "x-lbonly": false,
        "description": "将「现金账户余额」数据导出为文件。`filters` 决定导出范围，`orderBy` 决定排序，`down_fields` 可限制导出字段。\n\n### 导出模式\n\n- `mode: 0`：同步导出，成功后直接返回下载地址。\n- `mode: 1`：异步导出，先返回 `file_download_id`；随后调用 `GET /v1/datasets/download/{id}` 获取下载地址。\n- 不再需要导出记录时，可调用 `DELETE /v1/datasets/download/{id}` 删除。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "过滤条件. 字段同 account_cash_balances.yaml（query 能力）里的 filters",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客户. 用于按「客户」筛选结果。"
                      },
                      "currency": {
                        "type": "string",
                        "description": "币种. 用于按「币种」筛选结果。\n\n候选值会动态变化。请调用 `GET /v1/datasets/refs/tenant_currencies_by_channel` 获取当前可用的数据字典，并使用返回项的 `key` 作为本参数值。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "账户类型. 用于按「账户类型」筛选结果。\n\n**可选值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新时间. 用于按「更新时间」筛选结果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大于等于. 筛选范围的下限，匹配值包含该值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小于等于. 筛选范围的上限，匹配值包含该值。"
                          }
                        }
                      }
                    }
                  },
                  "orderBy": {
                    "type": "array",
                    "description": "排序参数. 排序规则数组；每一项定义一个排序字段及排序方向。",
                    "items": {
                      "type": "object"
                    }
                  },
                  "mode": {
                    "type": "integer",
                    "default": 0,
                    "description": "导出模式. 不传时默认 0（同步）\n\n**可选值：**\n- `0` - 表示同步\n- `1` - 表示异步",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "ext": {
                    "type": "string",
                    "description": "下载扩展名. 下载文件格式。不传时默认为 `csv`。\n\n**可选值：**\n- `csv` - 表示 CSV\n- `xlsx` - 表示 Excel",
                    "enum": [
                      "csv",
                      "xlsx"
                    ]
                  },
                  "file_name": {
                    "type": "string",
                    "description": "下载文件名称. 导出文件名称。不传时由服务端生成。"
                  },
                  "remark": {
                    "type": "string",
                    "description": "下载备注. 与本次操作一并保存的备注。"
                  },
                  "down_fields": {
                    "type": "array",
                    "description": "指定下载字段. 不传时导出全部字段；取值范围见 items.enum（同查询接口 data.list.items 的字段列表）",
                    "items": {
                      "type": "string",
                      "enum": [
                        "id",
                        "member_id",
                        "real_name",
                        "real_name_val",
                        "origin_id",
                        "account_type",
                        "currency",
                        "currency_val",
                        "custom_unavailable_amount",
                        "book_balance",
                        "updated_at"
                      ]
                    }
                  },
                  "ticket_content": {
                    "type": "string",
                    "description": "工单备注. 模板配置了下载审核工单时，供审批人查看"
                  },
                  "ticket_preview_url": {
                    "type": "string",
                    "description": "工单审核界面详情 url. 导出审批详情地址；仅在导出需要审批时使用。"
                  },
                  "hide": {
                    "type": "integer",
                    "description": "是否隐藏下载记录. 是否在下载记录列表中隐藏本次导出记录。\n\n**可选值：**\n- `0` - 表示不隐藏\n- `1` - 表示隐藏",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              },
              "example": {
                "filters": {},
                "orderBy": [],
                "mode": 0,
                "ext": "csv",
                "file_name": "",
                "remark": "",
                "down_fields": [],
                "ticket_content": "",
                "ticket_preview_url": "",
                "hide": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功时返回「现金账户余额导出」任务信息。同步导出直接提供下载地址；异步导出提供用于后续查询的 `file_download_id`。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "下载地址. 同步模式（`mode: 0`）下返回，异步模式下为空"
                        },
                        "file_download_id": {
                          "type": "string",
                          "description": "文件下载ID. 异步模式（`mode: 1`）下返回，即 `GET /v1/datasets/download/{id}` /\n`DELETE /v1/datasets/download/{id}` 路径中的 id：GET 获取最终下载地址，DELETE 删除该导出记录。"
                        },
                        "ticket_id": {
                          "type": "string",
                          "description": "工单ID. **返回值：** 审批工单 ID。仅在本次操作触发审批流程时返回。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "url": "https://b-api.longbridge.xyz/download/export_result.csv",
                    "file_download_id": "",
                    "ticket_id": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/account_cash_balances_download",
          "metadata": {
            "sidebarTitle": "现金账户余额导出"
          }
        }
      }
    },
    "/v1/datasets/account_stock_holdings": {
      "post": {
        "operationId": "account_stock_holdings",
        "summary": "股票账户余额",
        "tags": [
          "资产账户"
        ],
        "x-permission-key": [
          "account_balance.stock"
        ],
        "x-lbonly": false,
        "description": "查询「股票账户余额」数据，可通过 `filters` 组合业务筛选条件，并使用 `page`、`page_size` 和 `orderBy` 控制分页与排序。\n\n### 返回结果\n\n成功时返回匹配的记录列表及分页信息。各过滤字段的用途、可选值和动态数据来源见对应字段说明。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "过滤条件. 组合业务过滤条件。省略某个过滤字段时，不按该字段筛选。",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客户. 用于按「客户」筛选结果。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "账户类型. 用于按「账户类型」筛选结果。\n\n**可选值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "股票. 用于按「股票」筛选结果。"
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新时间. 用于按「更新时间」筛选结果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大于等于. 筛选范围的下限，匹配值包含该值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小于等于. 筛选范围的上限，匹配值包含该值。"
                          }
                        }
                      },
                      "is_zero": {
                        "type": "string",
                        "description": "显示类型. 用于按「显示类型」筛选结果。\n\n支持多选；提交时使用英文逗号（`,`）拼接多个值。不传时不按此字段筛选。\n\n**可选值：**\n- `0` - 表示清仓\n- `1` - 表示未清仓",
                        "example": "0,1",
                        "enum": [
                          "0",
                          "1"
                        ]
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "页码. 要查询的页码，从 `1` 开始。"
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "每页数量. 每页返回的记录数量。"
                  },
                  "orderBy": {
                    "type": "array",
                    "description": "排序参数. 排序规则数组；每一项定义一个排序字段及排序方向。",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              },
              "example": {
                "filters": {},
                "page": 1,
                "page_size": 20,
                "orderBy": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功时分页返回「股票账户余额」记录，以及页码、每页数量和总记录数等分页信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "list",
                        "total"
                      ],
                      "properties": {
                        "list": {
                          "type": "array",
                          "description": "列表. **返回值：** 列表列表。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "编号. **返回值：** 当前记录的唯一标识。"
                              },
                              "member_id": {
                                "type": "string",
                                "description": "客户编号. **返回值：** 客户编号。"
                              },
                              "real_name": {
                                "type": "string",
                                "description": "客户姓名. **返回值：** 客户姓名。"
                              },
                              "origin_id": {
                                "type": "string",
                                "description": "证券账号. **返回值：** 证券账号。"
                              },
                              "account_type": {
                                "type": "string",
                                "description": "账户类型. **返回值：** 账户类型。"
                              },
                              "account_type_val": {
                                "type": "string",
                                "description": "账户类型（原始值）. 字段 account_type 的原始值：account_type 返回的是经字典/关联表映射解析后的可读展示值，本字段返回映射前的原始编码/ID。"
                              },
                              "counter_id": {
                                "type": "string",
                                "description": "股票代码. **返回值：** 股票代码。"
                              },
                              "unavailable_quantity": {
                                "type": "string",
                                "description": "冻结持仓. **返回值：** 冻结持仓。"
                              },
                              "holding_quantity": {
                                "type": "string",
                                "description": "总持仓余额. **返回值：** 总持仓余额。"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "更新时间. **返回值：** 更新时间；时间或日期格式以接口实际返回值为准。"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "总条数. **返回值：** 符合查询条件的记录总数，用于计算分页。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "list": [
                      {
                        "id": "5898040",
                        "member_id": "1000000000000000000",
                        "real_name": "示例用户",
                        "origin_id": "H00000000",
                        "account_type": "SETTLEMENT",
                        "account_type_val": "SETTLEMENT",
                        "counter_id": "ST/HK/700",
                        "unavailable_quantity": "0",
                        "holding_quantity": "5,000",
                        "updated_at": "1784181462"
                      }
                    ],
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/account_stock_holdings",
          "metadata": {
            "sidebarTitle": "股票账户余额"
          }
        }
      }
    },
    "/v1/datasets/account_stock_holdings/download": {
      "post": {
        "operationId": "account_stock_holdings_download",
        "summary": "股票账户余额导出",
        "tags": [
          "资产账户"
        ],
        "x-permission-key": [
          "account_balance.stock"
        ],
        "x-lbonly": false,
        "description": "将「股票账户余额」数据导出为文件。`filters` 决定导出范围，`orderBy` 决定排序，`down_fields` 可限制导出字段。\n\n### 导出模式\n\n- `mode: 0`：同步导出，成功后直接返回下载地址。\n- `mode: 1`：异步导出，先返回 `file_download_id`；随后调用 `GET /v1/datasets/download/{id}` 获取下载地址。\n- 不再需要导出记录时，可调用 `DELETE /v1/datasets/download/{id}` 删除。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "过滤条件. 字段同 account_stock_holdings.yaml（query 能力）里的 filters",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客户. 用于按「客户」筛选结果。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "账户类型. 用于按「账户类型」筛选结果。\n\n**可选值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "股票. 用于按「股票」筛选结果。"
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新时间. 用于按「更新时间」筛选结果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大于等于. 筛选范围的下限，匹配值包含该值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小于等于. 筛选范围的上限，匹配值包含该值。"
                          }
                        }
                      },
                      "is_zero": {
                        "type": "string",
                        "description": "显示类型. 用于按「显示类型」筛选结果。\n\n支持多选；提交时使用英文逗号（`,`）拼接多个值。不传时不按此字段筛选。\n\n**可选值：**\n- `0` - 表示清仓\n- `1` - 表示未清仓",
                        "example": "0,1",
                        "enum": [
                          "0",
                          "1"
                        ]
                      }
                    }
                  },
                  "orderBy": {
                    "type": "array",
                    "description": "排序参数. 排序规则数组；每一项定义一个排序字段及排序方向。",
                    "items": {
                      "type": "object"
                    }
                  },
                  "mode": {
                    "type": "integer",
                    "default": 0,
                    "description": "导出模式. 不传时默认 0（同步）\n\n**可选值：**\n- `0` - 表示同步\n- `1` - 表示异步",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "ext": {
                    "type": "string",
                    "description": "下载扩展名. 下载文件格式。不传时默认为 `csv`。\n\n**可选值：**\n- `csv` - 表示 CSV\n- `xlsx` - 表示 Excel",
                    "enum": [
                      "csv",
                      "xlsx"
                    ]
                  },
                  "file_name": {
                    "type": "string",
                    "description": "下载文件名称. 导出文件名称。不传时由服务端生成。"
                  },
                  "remark": {
                    "type": "string",
                    "description": "下载备注. 与本次操作一并保存的备注。"
                  },
                  "down_fields": {
                    "type": "array",
                    "description": "指定下载字段. 不传时导出全部字段；取值范围见 items.enum（同查询接口 data.list.items 的字段列表）",
                    "items": {
                      "type": "string",
                      "enum": [
                        "id",
                        "member_id",
                        "real_name",
                        "origin_id",
                        "account_type",
                        "account_type_val",
                        "counter_id",
                        "unavailable_quantity",
                        "holding_quantity",
                        "updated_at"
                      ]
                    }
                  },
                  "ticket_content": {
                    "type": "string",
                    "description": "工单备注. 模板配置了下载审核工单时，供审批人查看"
                  },
                  "ticket_preview_url": {
                    "type": "string",
                    "description": "工单审核界面详情 url. 导出审批详情地址；仅在导出需要审批时使用。"
                  },
                  "hide": {
                    "type": "integer",
                    "description": "是否隐藏下载记录. 是否在下载记录列表中隐藏本次导出记录。\n\n**可选值：**\n- `0` - 表示不隐藏\n- `1` - 表示隐藏",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              },
              "example": {
                "filters": {},
                "orderBy": [],
                "mode": 0,
                "ext": "csv",
                "file_name": "",
                "remark": "",
                "down_fields": [],
                "ticket_content": "",
                "ticket_preview_url": "",
                "hide": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功时返回「股票账户余额导出」任务信息。同步导出直接提供下载地址；异步导出提供用于后续查询的 `file_download_id`。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "下载地址. 同步模式（`mode: 0`）下返回，异步模式下为空"
                        },
                        "file_download_id": {
                          "type": "string",
                          "description": "文件下载ID. 异步模式（`mode: 1`）下返回，即 `GET /v1/datasets/download/{id}` /\n`DELETE /v1/datasets/download/{id}` 路径中的 id：GET 获取最终下载地址，DELETE 删除该导出记录。"
                        },
                        "ticket_id": {
                          "type": "string",
                          "description": "工单ID. **返回值：** 审批工单 ID。仅在本次操作触发审批流程时返回。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "url": "https://b-api.longbridge.xyz/download/export_result.csv",
                    "file_download_id": "",
                    "ticket_id": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/account_stock_holdings_download",
          "metadata": {
            "sidebarTitle": "股票账户余额导出"
          }
        }
      }
    },
    "/v1/datasets/account_fund_holdings": {
      "post": {
        "operationId": "account_fund_holdings",
        "summary": "基金账户余额",
        "tags": [
          "资产账户"
        ],
        "x-permission-key": [
          "account_balance.fund"
        ],
        "x-lbonly": false,
        "description": "查询「基金账户余额」数据，可通过 `filters` 组合业务筛选条件，并使用 `page`、`page_size` 和 `orderBy` 控制分页与排序。\n\n### 返回结果\n\n成功时返回匹配的记录列表及分页信息。各过滤字段的用途、可选值和动态数据来源见对应字段说明。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "过滤条件. 组合业务过滤条件。省略某个过滤字段时，不按该字段筛选。",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客户. 用于按「客户」筛选结果。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "账户类型. 用于按「账户类型」筛选结果。\n\n**可选值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "基金代码. 用于按「基金代码」筛选结果。"
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新时间. 用于按「更新时间」筛选结果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大于等于. 筛选范围的下限，匹配值包含该值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小于等于. 筛选范围的上限，匹配值包含该值。"
                          }
                        }
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "页码. 要查询的页码，从 `1` 开始。"
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "每页数量. 每页返回的记录数量。"
                  },
                  "orderBy": {
                    "type": "array",
                    "description": "排序参数. 排序规则数组；每一项定义一个排序字段及排序方向。",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              },
              "example": {
                "filters": {},
                "page": 1,
                "page_size": 20,
                "orderBy": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功时分页返回「基金账户余额」记录，以及页码、每页数量和总记录数等分页信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "list",
                        "total"
                      ],
                      "properties": {
                        "list": {
                          "type": "array",
                          "description": "列表. **返回值：** 列表列表。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "编号. **返回值：** 当前记录的唯一标识。"
                              },
                              "member_id": {
                                "type": "string",
                                "description": "客户编号. **返回值：** 客户编号。"
                              },
                              "real_name": {
                                "type": "string",
                                "description": "客户姓名. **返回值：** 客户姓名。"
                              },
                              "origin_id": {
                                "type": "string",
                                "description": "证券账号. **返回值：** 证券账号。"
                              },
                              "account_type": {
                                "type": "string",
                                "description": "账户类型. **返回值：** 账户类型。"
                              },
                              "account_type_val": {
                                "type": "string",
                                "description": "账户类型（原始值）. 字段 account_type 的原始值：account_type 返回的是经字典/关联表映射解析后的可读展示值，本字段返回映射前的原始编码/ID。"
                              },
                              "counter_id": {
                                "type": "string",
                                "description": "基金代码. **返回值：** 基金代码。"
                              },
                              "unavailable_quantity": {
                                "type": "string",
                                "description": "冻结持仓. **返回值：** 冻结持仓。"
                              },
                              "holding_quantity": {
                                "type": "string",
                                "description": "总持仓余额. **返回值：** 总持仓余额。"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "更新时间. **返回值：** 更新时间；时间或日期格式以接口实际返回值为准。"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "总条数. **返回值：** 符合查询条件的记录总数，用于计算分页。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "list": [
                      {
                        "id": "5897999",
                        "member_id": "1000000000000000000",
                        "real_name": "示例用户",
                        "origin_id": "H00000000",
                        "account_type": "SETTLEMENT",
                        "account_type_val": "SETTLEMENT",
                        "counter_id": "UT/FD/LU1894109211",
                        "unavailable_quantity": "0",
                        "holding_quantity": "164.1132",
                        "updated_at": "1784183998"
                      }
                    ],
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "未登录或登录状态已失效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "当前账号未获得该功能授权。请在 User Permission 中为该账号开通相应权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "请求处理超时。具体原因请查看响应体中的业务错误码 `code` 和错误信息 `message`。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-CN/api-reference/account_fund_holdings",
          "metadata": {
            "sidebarTitle": "基金账户余额"
          }
        }
      }
    },
    "/v1/datasets/account_fund_holdings/download": {
      "post": {
        "operationId": "account_fund_holdings_download",
        "summary": "基金账户余额导出",
        "tags": [
          "资产账户"
        ],
        "x-permission-key": [
          "account_balance.fund"
        ],
        "x-lbonly": false,
        "description": "将「基金账户余额」数据导出为文件。`filters` 决定导出范围，`orderBy` 决定排序，`down_fields` 可限制导出字段。\n\n### 导出模式\n\n- `mode: 0`：同步导出，成功后直接返回下载地址。\n- `mode: 1`：异步导出，先返回 `file_download_id`；随后调用 `GET /v1/datasets/download/{id}` 获取下载地址。\n- 不再需要导出记录时，可调用 `DELETE /v1/datasets/download/{id}` 删除。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "过滤条件. 字段同 account_fund_holdings.yaml（query 能力）里的 filters",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "客户. 用于按「客户」筛选结果。"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "账户类型. 用于按「账户类型」筛选结果。\n\n**可选值：** `SETTLEMENT`、`BUSINESS`、`EXTERNAL`、`INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "基金代码. 用于按「基金代码」筛选结果。"
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "更新时间. 用于按「更新时间」筛选结果。",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "大于等于. 筛选范围的下限，匹配值包含该值。"
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "小于等于. 筛选范围的上限，匹配值包含该值。"
                          }
                        }
                      }
                    }
                  },
                  "orderBy": {
                    "type": "array",
                    "description": "排序参数. 排序规则数组；每一项定义一个排序字段及排序方向。",
                    "items": {
                      "type": "object"
                    }
                  },
                  "mode": {
                    "type": "integer",
                    "default": 0,
                    "description": "导出模式. 不传时默认 0（同步）\n\n**可选值：**\n- `0` - 表示同步\n- `1` - 表示异步",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "ext": {
                    "type": "string",
                    "description": "下载扩展名. 下载文件格式。不传时默认为 `csv`。\n\n**可选值：**\n- `csv` - 表示 CSV\n- `xlsx` - 表示 Excel",
                    "enum": [
                      "csv",
                      "xlsx"
                    ]
                  },
                  "file_name": {
                    "type": "string",
                    "description": "下载文件名称. 导出文件名称。不传时由服务端生成。"
                  },
                  "remark": {
                    "type": "string",
                    "description": "下载备注. 与本次操作一并保存的备注。"
                  },
                  "down_fields": {
                    "type": "array",
                    "description": "指定下载字段. 不传时导出全部字段；取值范围见 items.enum（同查询接口 data.list.items 的字段列表）",
                    "items": {
                      "type": "string",
                      "enum": [
                        "id",
                        "member_id",
                        "real_name",
                        "origin_id",
                        "account_type",
                        "account_type_val",
                        "counter_id",
                        "unavailable_quantity",
                        "holding_quantity",
                        "updated_at"
                      ]
                    }
                  },
                  "ticket_content": {
                    "type": "string",
                    "description": "工单备注. 模板配置了下载审核工单时，供审批人查看"
                  },
                  "ticket_preview_url": {
                    "type": "string",
                    "description": "工单审核界面详情 url. 导出审批详情地址；仅在导出需要审批时使用。"
                  },
                  "hide": {
                    "type": "integer",
                    "description": "是否隐藏下载记录. 是否在下载记录列表中隐藏本次导出记录。\n\n**可选值：**\n- `0` - 表示不隐藏\n- `1` - 表示隐藏",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              },
              "example": {
                "filters": {},
                "orderBy": [],
                "mode": 0,
                "ext": "csv",
                "file_name": "",
                "remark": "",
                "down_fields": [],
                "ticket_content": "",
                "ticket_preview_url": "",
                "hide": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功时返回「基金账户余额导出」任务信息。同步导出直接提供下载地址；异步导出提供用于后续查询的 `file_download_id`。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "0 表示成功；非 0 为业务错误码，此时 `data` 通常为空。\n\nHTTP status 使用标准语义：成功时通常为 `200`，异常时可能为 `400`、`401`、`403`、`408` 等，需结合业务 `code`\n判断具体结果。\n\n- `401`：未登录。\n- `403`：当前账号未获得该功能授权，需通过 User Permission 授权。"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "下载地址. 同步模式（`mode: 0`）下返回，异步模式下为空"
                        },
                        "file_download_id": {
                          "type": "string",
[...]
