{
  "openapi": "3.0.1",
  "info": {
    "title": "Whale API",
    "description": "Longbridge Whale OpenAPI for SaaS tenants.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://openapi.longbridge.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Asset"
    }
  ],
  "paths": {
    "/v1/portfolio/query_account_balances_summary": {
      "get": {
        "tags": [
          "Asset"
        ],
        "summary": "Total Asset & Total Cash（总资产及账面总现金）",
        "description": "资产总览页顶部总资产（按类型/币种占比）与账面总现金明细。筛选项枚举来自 data_porter/search_bar（template_id=balance_and_equity_holding_summary），资产类型标签来自 data_porter/refs 的 equity_type_summary。中英文取自 Accept-Language: zh-CN / en。",
        "parameters": [
          {
            "name": "client_types",
            "in": "query",
            "required": false,
            "description": "Client Type（客户类型）. 客户类型，多值用英文逗号拼接；空字符串表示全部 Options: `\"\"` = All（全部）; `1` = Retail Account（个人客户）; `2` = House Account（企业客户）; `3` = Joint Account（联名客户）.",
            "schema": {
              "type": "string"
            },
            "example": "2,1"
          },
          {
            "name": "account_types",
            "in": "query",
            "required": false,
            "description": "Account Type（账户类型）. 账户类型，多值用英文逗号拼接；空字符串表示全部 Options: `\"\"` = All（全部）; `M` = Margin（融资账户）; `C` = Cash（现金账户）; `F` = Futures（期货账户）.",
            "schema": {
              "type": "string"
            },
            "example": "F,C"
          },
          {
            "name": "broker_codes",
            "in": "query",
            "required": false,
            "description": "AE（经纪人）. 按经纪人(AE)代码过滤，多值用英文逗号拼接。除下列固定项外，其余为 search_bar 动态下发的 AE 代码列表（随租户/环境变化，key 与 value 相同，如 LBtestwbwhale123、LPT808909 等；示例环境共 127 项） Options: `\"\"` = All（全部）; `=` = Unassigned（未分配）. Note: 其余为动态 AE 代码，非固定枚举，以 search_bar 接口实时返回为准",
            "schema": {
              "type": "string"
            },
            "example": "=,LBtestwbwhale123"
          }
        ],
        "responses": {
          "200": {
            "description": "接口直接返回资产汇总对象（前端 assetsOverview）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_assets": {
                      "type": "array",
                      "description": "Total Assets (by currency)（总资产（各币种））. 各币种总资产，用于顶部总资产展示与币种切换",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "Currency（币种）. 如 HKD/USD/CNY/SGD"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount（总资产金额）. 该币种总资产金额（decimal 字符串）"
                          }
                        }
                      }
                    },
                    "total_asset_type": {
                      "type": "array",
                      "description": "Total Asset by Type（总资产按类型占比）. 按资产类型的占比（总资产类型饼图）",
                      "items": {
                        "type": "object",
                        "properties": {
                          "equity_type": {
                            "type": "string",
                            "description": "Equity Type（资产类型）. 资产类型 key（如 CASH/US/HK/CN/OTHER/FUND），对应 data_porter/refs 的 equity_type_summary"
                          },
                          "name": {
                            "type": "string",
                            "description": "Type Name（资产类型名称）. 资产类型的本地化展示名称，随 Accept-Language 返回（如 现金 / Cash）"
                          },
                          "ratio": {
                            "type": "string",
                            "description": "Ratio（占比）. 占比（decimal 字符串），前端 *100 显示百分比"
                          }
                        }
                      }
                    },
                    "total_asset_currency": {
                      "type": "array",
                      "description": "Total Asset by Currency（总资产按币种占比）. 按币种的占比（总资产币种饼图）",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "Currency（币种）"
                          },
                          "ratio": {
                            "type": "string",
                            "description": "Ratio（占比）. decimal 字符串，取值 0~1，前端 *100 显示百分比"
                          }
                        }
                      }
                    },
                    "total_balance": {
                      "type": "array",
                      "description": "Total Cash（账面总现金）. 账面总现金明细（按币种，对应「账面总现金」表格）",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "Currency（币种）"
                          },
                          "book_balance": {
                            "type": "string",
                            "description": "Total Cash（账面总现金）. decimal 字符串"
                          },
                          "settled_amount": {
                            "type": "string",
                            "description": "Settled（已结算）"
                          },
                          "unsettle_amount": {
                            "type": "string",
                            "description": "Outstanding（待结算）"
                          },
                          "trade_0": {
                            "type": "string",
                            "description": "T+0 amount to be settled（T+0 待交收金额）"
                          },
                          "trade_1": {
                            "type": "string",
                            "description": "T+1 amount to be settled（T+1 待交收金额）"
                          },
                          "trade_2": {
                            "type": "string",
                            "description": "T+2 amount to be settled（T+2 待交收金额）"
                          },
                          "trade_n": {
                            "type": "string",
                            "description": "T+N amount to be settled（T+N 待交收金额）"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "total_assets": [
                    {
                      "currency": "HKD",
                      "amount": "12345678.90"
                    },
                    {
                      "currency": "USD",
                      "amount": "2345678.10"
                    }
                  ],
                  "total_asset_type": [
                    {
                      "equity_type": "CASH",
                      "name": "Cash",
                      "ratio": "0.35"
                    },
                    {
                      "equity_type": "HK",
                      "name": "HK Equities",
                      "ratio": "0.65"
                    }
                  ],
                  "total_asset_currency": [
                    {
                      "currency": "HKD",
                      "ratio": "0.8"
                    },
                    {
                      "currency": "USD",
                      "ratio": "0.2"
                    }
                  ],
                  "total_balance": [
                    {
                      "currency": "HKD",
                      "book_balance": "1000000.00",
                      "settled_amount": "900000.00",
                      "unsettle_amount": "100000.00",
                      "trade_0": "0.00",
                      "trade_1": "50000.00",
                      "trade_2": "50000.00",
                      "trade_n": "0.00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/data_porter/template/data": {
      "get": {
        "tags": [
          "Asset"
        ],
        "summary": "Cash Account Balance（现金账户余额）",
        "description": "data_porter query template `dawn_account_balances`（groupName: dawn, db: pg;portfolio.dawn）. Returns cash account balance rows where book_balance <> 0 or unavailable_amount <> 0, ordered by id DESC. Pagination: 10/20/50/100/200 per page (default 10). TODO: confirm the actual data_porter query path — documented from the template config (data_porter/template/info).",
        "parameters": [
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "description": "data_porter template ID. Fixed value for this dataset.",
            "schema": {
              "type": "string",
              "enum": [
                "dawn_account_balances"
              ]
            },
            "example": "dawn_account_balances"
          },
          {
            "name": "aaid",
            "in": "query",
            "required": false,
            "description": "Client（客户）. Client identifier (AAID); member_id is resolved to AAID (cond: mem2aaid).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member_id",
            "in": "query",
            "required": false,
            "description": "Member ID（客户编号）. Alternative to aaid; resolved via mem2aaid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin_id",
            "in": "query",
            "required": false,
            "description": "A/C No（证券账号）. Securities account number; resolved via org2aaid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Currency（币种）. Options come from ref global_currency_filter_by_account_channel.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_type",
            "in": "query",
            "required": false,
            "description": "Account Type（账户类型）. Options come from ref account_type. Default: SETTLEMENT.",
            "schema": {
              "type": "string",
              "default": "SETTLEMENT"
            }
          },
          {
            "name": "updated_at",
            "in": "query",
            "required": false,
            "description": "Updated At（更新时间）. Date range filter (cond: range).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_channel",
            "in": "query",
            "required": false,
            "description": "Account Channel（柜台渠道）. Tenant counter channel.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cash account balance rows（现金账户余额列表）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "Result rows（结果行）",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID（编号）"
                          },
                          "member_id": {
                            "type": "string",
                            "description": "Member ID（客户编号）"
                          },
                          "real_name": {
                            "type": "string",
                            "description": "Name（客户姓名）. Joined from lb_aaid_member_infos."
                          },
                          "aaid": {
                            "type": "string",
                            "description": "AAID. Joined from lb_aaid_member_infos."
                          },
                          "origin_id": {
                            "type": "string",
                            "description": "A/C No（证券账号）"
                          },
                          "account_type": {
                            "type": "string",
                            "description": "Account Type（账户类型）"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency（币种）"
                          },
                          "custom_unavailable_amount": {
                            "type": "string",
                            "description": "Frozen Balance（冻结资金）. Amount, format %###.2f."
                          },
                          "book_balance": {
                            "type": "string",
                            "description": "Total Balance（总余额）. Amount, format %###.2f."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Updated At（更新时间）. Timestamp."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Tenant APP_KEY"
      },
      "accessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "ACCESS_TOKEN issued for the tenant"
      },
      "timestamp": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Timestamp",
        "description": "Unix timestamp of the request, e.g. 1539095200.123"
      },
      "signature": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Signature",
        "description": "HMAC-SHA256 request signature. See Authentication guide."
      }
    }
  },
  "security": [
    {
      "apiKey": [],
      "accessToken": [],
      "timestamp": [],
      "signature": []
    }
  ]
}