{
  "openapi": "3.0.0",
  "info": {
    "title": "TradingAPI",
    "description": "供 Broker App 以单个客户身份调用账户、资产、交易和相关业务能力。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lbkrs.com",
      "description": "Production"
    },
    {
      "url": "https://api.longbridge.xyz",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "行情"
    },
    {
      "name": "交易"
    },
    {
      "name": "资产"
    },
    {
      "name": "账户"
    },
    {
      "name": "活动"
    }
  ],
  "components": {
    "securitySchemes": {},
    "schemas": {
      "ApiEnvelope": {
        "type": "object",
        "description": "网关统一响应外层结构",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "业务状态码，0 表示成功"
          },
          "message": {
            "type": "string",
            "description": "便于阅读的处理结果或错误信息。"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "RewardsCard": {
        "type": "object",
        "description": "卡券信息",
        "properties": {
          "card_id": {
            "type": "string",
            "description": "卡券 id"
          },
          "member_id": {
            "type": "string",
            "description": "持有该卡券的客户对应的 `member_id`。"
          },
          "card_type": {
            "type": "string",
            "description": "卡券类型：cash 现金卡，quote 行情卡，fundamental 基本面卡，commission 免佣卡，ipo 打新特权卡，ipo_interest 打新融资利息卡，ipo_commission 打新手续费卡，stock 股票卡，stock_fragment 碎股卡，platform_fee_deduct 平台费抵扣卡，finance_interest 融资利息卡，fund_interest 基金加息卡，coffee_coupon 咖啡券\n",
            "enum": [
              "cash",
              "quote",
              "fundamental",
              "commission",
              "ipo",
              "ipo_interest",
              "ipo_commission",
              "stock",
              "stock_fragment",
              "platform_fee_deduct",
              "finance_interest",
              "fund_interest",
              "coffee_coupon"
            ]
          },
          "title": {
            "type": "string",
            "description": "卡券标题"
          },
          "title_sec": {
            "type": "string",
            "description": "卡券副标题"
          },
          "cover": {
            "type": "string",
            "description": "封面图"
          },
          "description": {
            "type": "string",
            "description": "面向客户展示的说明。"
          },
          "start_time": {
            "type": "string",
            "description": "可使用起始时间戳（秒）"
          },
          "end_time": {
            "type": "string",
            "description": "失效时间戳（秒）"
          },
          "card_status": {
            "type": "integer",
            "description": "卡券状态：\n\n- `0` - 未激活\n- `1` - 已使用\n- `2` - 已过期\n- `3` - 正在使用\n- `4` - 已激活",
            "enum": [
              0,
              1,
              2,
              3,
              4
            ]
          },
          "detail": {
            "type": "string",
            "description": "卡券详情"
          },
          "currency": {
            "type": "string",
            "description": "货币单位，适用现金卡、免佣卡、打新融资利息卡、打新手续费卡"
          },
          "amount": {
            "type": "string",
            "description": "关联金额"
          },
          "activate_time": {
            "type": "string",
            "description": "卡券激活时间"
          },
          "invisible": {
            "type": "boolean",
            "description": "是否不可见（仅可用卡列表场景使用）"
          },
          "background": {
            "type": "string",
            "description": "卡券背景图"
          },
          "style": {
            "type": "string",
            "description": "卡券样式"
          },
          "account_channel": {
            "type": "string",
            "description": "卡券适用的账户渠道"
          },
          "new_flag": {
            "type": "boolean",
            "description": "新卡标识"
          },
          "cash": {
            "type": "object",
            "description": "现金卡信息",
            "properties": {
              "receive_duration": {
                "type": "string",
                "description": "现金到账所需时间（秒）"
              }
            }
          },
          "quote": {
            "$ref": "#/components/schemas/RewardsCardQuote"
          },
          "fundamental": {
            "$ref": "#/components/schemas/RewardsCardQuote"
          },
          "commission": {
            "type": "object",
            "description": "免佣卡信息",
            "properties": {
              "markets": {
                "type": "array",
                "description": "免佣市场，如 US、SH、SG、HK",
                "items": {
                  "type": "string"
                }
              },
              "rebate_rate": {
                "type": "string",
                "description": "免佣比例，1 表示 100%"
              },
              "bz_types": {
                "type": "array",
                "description": "适用标的类型",
                "items": {
                  "$ref": "#/components/schemas/RewardsTargetType"
                }
              },
              "commission_duration": {
                "type": "string",
                "description": "免佣卡持续时间（秒）"
              },
              "commission_balance": {
                "type": "string",
                "description": "免佣卡余额"
              },
              "unlimited": {
                "type": "integer",
                "description": "免佣模式：\n\n- `0` - 按比例免佣（先收后返，有时间限制）\n- `1` - 全额免佣（先收后返，有时间限制）\n- `2` - 终生免佣（直接抵扣，无次数限制）\n- `6` - 金额次卡（有次数限制，有时间限制）\n- `7` - 折扣次卡（有次数限制，有时间限制）",
                "enum": [
                  0,
                  1,
                  2,
                  6,
                  7
                ]
              },
              "commission_expired_time": {
                "type": "string",
                "description": "免佣到期时间（针对正在使用的免佣卡）"
              },
              "superposition": {
                "type": "boolean",
                "description": "是否可时间叠加"
              },
              "settlement_model": {
                "type": "string",
                "description": "结算模式：payback 先收后返，compensate 直接抵扣",
                "enum": [
                  "payback",
                  "compensate"
                ]
              },
              "usage_count": {
                "type": "string",
                "description": "免佣卡使用次数"
              },
              "lave_usage_count": {
                "type": "string",
                "description": "剩余可使用次数"
              },
              "amount_limit": {
                "type": "string",
                "description": "单次金额上限（单位：分），不返回表示不限制"
              }
            }
          },
          "ipo": {
            "type": "object",
            "description": "打新特权卡信息",
            "properties": {
              "subscription_id": {
                "type": "string",
                "description": "预约 id，空表示打新通用卡"
              }
            }
          },
          "ipo_interest": {
            "type": "object",
            "description": "打新融资利息卡信息",
            "properties": {
              "discount_rate": {
                "type": "string",
                "description": "贴息利率，1 表示 100%"
              }
            }
          },
          "ipo_commission": {
            "type": "object",
            "description": "打新手续费卡信息",
            "properties": {
              "bz_types": {
                "type": "array",
                "description": "打新方式",
                "items": {
                  "$ref": "#/components/schemas/RewardsIPOType"
                }
              },
              "financing_limit": {
                "type": "string",
                "description": "融资打新额度门槛，0 表示不设门槛"
              },
              "counter_id": {
                "type": "string",
                "description": "指定 IPO 股票 id，空表示不限制"
              }
            }
          },
          "stock": {
            "type": "object",
            "description": "股票卡信息",
            "properties": {
              "counter_id": {
                "type": "string",
                "description": "股票 id"
              },
              "amount": {
                "type": "number",
                "description": "股票发放数量，支持碎股"
              },
              "redemption_type": {
                "type": "string",
                "description": "兑换类型：by_card_value 按卡面价值兑换，shares_number 固定股数兑换（默认）",
                "enum": [
                  "by_card_value",
                  "shares_number"
                ]
              }
            }
          },
          "stock_fragment": {
            "type": "object",
            "description": "碎股卡信息。",
            "properties": {
              "counter_id": {
                "type": "string",
                "description": "适用股票 id，空表示碎股通用卡"
              },
              "markets": {
                "type": "array",
                "description": "适用市场",
                "items": {
                  "type": "string"
                }
              },
              "amounts": {
                "type": "object",
                "description": "各市场对应的发放数量",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "underlying_type": {
                "$ref": "#/components/schemas/RewardsTargetType"
              }
            }
          },
          "platform_fee_deduct": {
            "type": "object",
            "description": "平台费抵扣卡信息",
            "properties": {
              "usage_count": {
                "type": "string",
                "description": "使用次数"
              },
              "lave_usage_count": {
                "type": "string",
                "description": "剩余可使用次数"
              },
              "superposition": {
                "type": "boolean",
                "description": "是否时间叠加"
              },
              "markets": {
                "type": "array",
                "description": "适用市场",
                "items": {
                  "type": "string"
                }
              },
              "bz_types": {
                "type": "array",
                "description": "适用标的类型",
                "items": {
                  "$ref": "#/components/schemas/RewardsTargetType"
                }
              },
              "counter_id": {
                "type": "string",
                "description": "适用股票 id"
              }
            }
          },
          "finance_interest": {
            "type": "object",
            "description": "融资利息卡信息",
            "properties": {
              "discount_mode": {
                "type": "integer",
                "description": "优惠方式"
              },
              "discount_rate": {
                "type": "number",
                "description": "折扣率"
              },
              "superposition": {
                "type": "boolean",
                "description": "是否可叠加展期"
              }
            }
          },
          "fund_interest": {
            "type": "object",
            "description": "基金加息卡信息（结构为动态 JSON，字段不固定）"
          },
          "coffee_coupon": {
            "type": "object",
            "description": "咖啡券信息",
            "properties": {
              "coupon_channel": {
                "type": "string",
                "description": "卡券渠道"
              },
              "coupon_no": {
                "type": "string",
                "description": "三方卡券编号"
              },
              "use_limit": {
                "type": "string",
                "description": "使用限制类型：total 总次数限制，period 周期次数限制",
                "enum": [
                  "total",
                  "period"
                ]
              },
              "threshold": {
                "type": "string",
                "description": "上限次数"
              },
              "period_type": {
                "type": "string",
                "description": "周期类型（use_limit 为 period 时有效），如 day"
              },
              "coupon_id": {
                "type": "string",
                "description": "三方卡券 id"
              },
              "store_id_list": {
                "type": "array",
                "description": "可使用该卡券的门店 ID 列表。",
                "items": {
                  "type": "string"
                }
              },
              "is_available_all_store": {
                "type": "boolean",
                "description": "是否可在所有门店使用该卡券。"
              },
              "settled_store_id": {
                "type": "string",
                "description": "兑换该卡券的门店 ID。"
              },
              "store_list": {
                "type": "array",
                "description": "可使用该卡券的门店列表。接口暂未定义列表项结构。",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "crypto": {
            "type": "object",
            "description": "虚拟资产卡信息。接口暂未定义对象结构。"
          },
          "ai_benefit": {
            "type": "object",
            "description": "AI 权益卡信息。",
            "properties": {
              "benefit_tag": {
                "type": "string",
                "description": "权益标签"
              },
              "benefit_days": {
                "type": "integer",
                "description": "权益天数"
              },
              "benefit_start": {
                "type": "string",
                "description": "权益开始时间"
              },
              "benefit_end": {
                "type": "string",
                "description": "权益结束时间"
              }
            }
          },
          "receive_duration": {
            "type": "string",
            "deprecated": true,
            "description": "现金到账所需时间（秒），已作废待删除，语义同 cash.receive_duration，仅为兼容旧 Broker App 保留"
          },
          "quote_duration": {
            "type": "string",
            "deprecated": true,
            "description": "权限持续时间（秒），已作废待删除，语义同 quote.quote_duration，仅为兼容旧 Broker App 保留"
          },
          "markets": {
            "type": "array",
            "deprecated": true,
            "description": "免佣市场，已作废待删除，语义同 commission.markets，仅为兼容旧 Broker App 保留",
            "items": {
              "type": "string"
            }
          },
          "rebate_rate": {
            "type": "string",
            "deprecated": true,
            "description": "免佣比例，已作废待删除，语义同 commission.rebate_rate，仅为兼容旧 Broker App 保留"
          },
          "bz_types": {
            "type": "array",
            "deprecated": true,
            "description": "适用标的类型，已作废待删除，语义同 commission.bz_types，仅为兼容旧 Broker App 保留",
            "items": {
              "$ref": "#/components/schemas/RewardsTargetType"
            }
          },
          "commission_balance": {
            "type": "string",
            "deprecated": true,
            "description": "免佣卡余额，已作废待删除，语义同 commission.commission_balance，仅为兼容旧 Broker App 保留"
          },
          "commission_duration": {
            "type": "string",
            "deprecated": true,
            "description": "免佣卡持续时间（秒），已作废待删除，语义同 commission.commission_duration，仅为兼容旧 Broker App 保留"
          },
          "subscription_id": {
            "type": "string",
            "deprecated": true,
            "description": "打新特权卡预约 id，已作废待删除，语义同 ipo.subscription_id，仅为兼容旧 Broker App 保留"
          }
        }
      },
      "RewardsCardQuote": {
        "type": "object",
        "description": "行情卡/基本面卡信息",
        "properties": {
          "quote_duration": {
            "type": "string",
            "description": "权限持续时间（秒）"
          },
          "markets": {
            "type": "array",
            "description": "权益对应市场",
            "items": {
              "type": "string"
            }
          },
          "superposition": {
            "type": "boolean",
            "description": "是否可时间叠加"
          },
          "quote_market": {
            "type": "string",
            "description": "行情市场"
          },
          "current_end_time": {
            "type": "string",
            "description": "当前到期时间"
          },
          "manual_activate": {
            "type": "boolean",
            "description": "是否需手动激活"
          },
          "need_certify": {
            "type": "boolean",
            "description": "是否需要专业投资者认证"
          }
        }
      },
      "RewardsTargetType": {
        "type": "integer",
        "description": "标的类型：\n\n- `0` - 股票交易\n- `1` - 美股期权\n- `2` - 港股轮证\n- `3` - 场内基金（ETF）\n- `4` - 场外基金（LOF）",
        "enum": [
          0,
          1,
          2,
          3,
          4
        ]
      },
      "RewardsIPOType": {
        "type": "integer",
        "description": "打新方式：\n\n- `1` - 融资打新\n- `2` - 现金打新",
        "enum": [
          1,
          2
        ]
      },
      "MemberReward": {
        "type": "object",
        "description": " 客户奖励信息",
        "properties": {
          "reward_type": {
            "type": "integer",
            "description": "奖励类型：\n\n- `0` - 现金\n- `1` - 实物\n- `2` - 卡券\n- `3` - 任务币",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "account_channel": {
            "type": "string",
            "description": "适用租户"
          },
          "cash": {
            "$ref": "#/components/schemas/MemberRewardCash"
          },
          "task_coin": {
            "$ref": "#/components/schemas/MemberRewardTaskCoin"
          },
          "prize": {
            "$ref": "#/components/schemas/MemberRewardPrize"
          },
          "card": {
            "$ref": "#/components/schemas/MemberRewardCard"
          }
        }
      },
      "MemberRewardCash": {
        "type": "object",
        "description": "现金奖励信息",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "记录 id"
          },
          "activity_title": {
            "type": "string",
            "description": "活动名称"
          },
          "currency": {
            "type": "string",
            "description": "币种"
          },
          "amount": {
            "type": "number",
            "description": "金额"
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "取消发放原因（仅 status=1 取消发放时有意义）：\n\n- `0` - 未达到活动门槛\n- `1` - 活动互斥",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "发放时间；未发放则为预计发放时间"
          }
        }
      },
      "MemberRewardTaskCoin": {
        "type": "object",
        "description": "任务币奖励信息",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "记录 id"
          },
          "activity_title": {
            "type": "string",
            "description": "活动名称"
          },
          "amount": {
            "type": "number",
            "description": "数量"
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "取消发放原因（仅 status=1 取消发放时有意义）：\n\n- `0` - 未达到活动门槛\n- `1` - 活动互斥",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "发放时间；未发放则为预计发放时间"
          }
        }
      },
      "MemberRewardCard": {
        "type": "object",
        "description": "卡券奖励信息",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "记录 id"
          },
          "card_id": {
            "type": "string",
            "description": "卡券 id"
          },
          "activity_title": {
            "type": "string",
            "description": "活动名称"
          },
          "card_type": {
            "type": "string",
            "description": "卡券类型：cash 现金卡，quote 行情卡，fundamental 基本面卡，commission 免佣卡",
            "enum": [
              "cash",
              "quote",
              "fundamental",
              "commission"
            ]
          },
          "title": {
            "type": "string",
            "description": "卡券标题"
          },
          "cover": {
            "type": "string",
            "description": "封面"
          },
          "description": {
            "type": "string",
            "description": "面向客户展示的说明。"
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "取消发放原因（仅 status=1 取消发放时有意义）：\n\n- `0` - 未达到活动门槛\n- `1` - 活动互斥",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "发放时间；未发放则为预计发放时间"
          },
          "detail": {
            "type": "string",
            "description": "卡券详情"
          },
          "currency": {
            "type": "string",
            "description": "货币单位，现金卡、免佣卡属性"
          },
          "amount": {
            "type": "number",
            "description": "现金卡、免佣卡金额"
          },
          "receive_duration": {
            "type": "string",
            "description": "现金卡使用后预计到账时间（秒）"
          },
          "quote_duration": {
            "type": "string",
            "description": "持续时间（秒），行情卡/基本面卡属性"
          },
          "markets": {
            "type": "array",
            "description": "免佣卡市场",
            "items": {
              "type": "string"
            }
          },
          "rebate_rate": {
            "type": "string",
            "description": "免佣卡免佣比率"
          },
          "commission_duration": {
            "type": "string",
            "description": "免佣卡持续时间（秒）"
          },
          "background": {
            "type": "string",
            "description": "卡券背景图"
          },
          "style": {
            "type": "string",
            "description": "卡券样式"
          },
          "card_status": {
            "type": "integer",
            "description": "卡券使用状态：\n\n- `0` - 未使用\n- `1` - 已使用\n- `2` - 已过期\n- `3` - 正在使用",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "reward_rule_url": {
            "type": "string",
            "description": "奖励发放规则链接，与 reward_rule_description 都有时优先跳转链接"
          },
          "reward_rule_description": {
            "type": "string",
            "description": "奖励发放规则描述"
          },
          "short_background": {
            "type": "string",
            "description": "缩略背景图，主要用于奖励记录侧展示"
          },
          "fund_interest": {
            "type": "object",
            "description": "基金加息卡信息（结构为动态 JSON，字段不固定）"
          },
          "quote": {
            "type": "object",
            "description": "行情卡相关信息（结构为动态 JSON，字段不固定）"
          },
          "stock_fragment": {
            "type": "object",
            "description": "碎股卡信息。",
            "properties": {
              "underlying_type": {
                "$ref": "#/components/schemas/RewardsTargetType"
              }
            }
          },
          "ai_benefit": {
            "type": "object",
            "description": "AI 权益卡信息。"
          }
        }
      },
      "MemberRewardPrize": {
        "type": "object",
        "description": "实物奖励信息",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "记录 id"
          },
          "prize_id": {
            "type": "string",
            "description": "实物 id"
          },
          "activity_title": {
            "type": "string",
            "description": "活动名称"
          },
          "title": {
            "type": "string",
            "description": "实物标题"
          },
          "cover": {
            "type": "string",
            "description": "封面"
          },
          "description": {
            "type": "string",
            "description": "面向客户展示的说明。"
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "取消发放原因（仅 status=1 取消发放时有意义）：\n\n- `0` - 未达到活动门槛\n- `1` - 活动互斥",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "发放时间"
          },
          "deliver_order": {
            "type": "string",
            "description": "物流单号，已发货才有该值"
          },
          "detail": {
            "type": "string",
            "description": "实物详情"
          },
          "deliver_status": {
            "type": "integer",
            "description": "交付状态，用于 status=12（已发放）的后续状态：\n\n- `0` - 未激活\n- `1` - 已激活\n- `2` - 已消费\n- `5` - 电子券激活中\n- `6` - 电子券已过期无法激活\n- `7` - 电子券已失效无法消费",
            "enum": [
              0,
              1,
              2,
              5,
              6,
              7
            ]
          },
          "prize_type": {
            "type": "integer",
            "description": "实物业务类型：\n\n- `0` - 实体商品\n- `1` - 电子券",
            "enum": [
              0,
              1
            ]
          },
          "provider_code": {
            "type": "string",
            "description": "电子券供应商：chengquan 橙券供应商，manager 联系客户经理获取，deposit 寄存，apple_card 苹果充值卡",
            "enum": [
              "chengquan",
              "manager",
              "deposit",
              "apple_card"
            ]
          },
          "end_time": {
            "type": "string",
            "description": "电子券未激活过期时间，0 表示不过期"
          },
          "goods_result": {
            "type": "string",
            "description": "电子券激活后的结果，如二维码地址或苹果卡序列号 JSON"
          },
          "effective_time": {
            "type": "string",
            "description": "电子券激活后的有效期，0 表示一直有效"
          },
          "reward_rule_url": {
            "type": "string",
            "description": "奖励发放规则链接，与 reward_rule_description 都有时优先跳转链接"
          },
          "reward_rule_description": {
            "type": "string",
            "description": "奖励发放规则描述"
          },
          "campaign_code": {
            "type": "string",
            "description": "活动 code"
          },
          "express_info": {
            "$ref": "#/components/schemas/MemberRewardExpressInfo"
          },
          "receive_deadline": {
            "type": "string",
            "description": "实体商品领取截止时间"
          },
          "delivery_types": {
            "type": "array",
            "description": "实体商品配送方式：\n\n- `1` - 自取\n- `2` - 邮寄",
            "items": {
              "type": "integer"
            }
          },
          "addresses": {
            "type": "array",
            "description": "实体商品自取地址信息",
            "items": {
              "type": "object",
              "properties": {
                "brief": {
                  "type": "string",
                  "description": "地址简称"
                },
                "detail": {
                  "type": "string",
                  "description": "地址详情"
                }
              }
            }
          },
          "coupon_secret_id": {
            "type": "string",
            "description": "为 0 表示发放奖励时没有库存，需要后续补充库存"
          },
          "coupon_secret": {
            "$ref": "#/components/schemas/MemberRewardCouponSecret"
          },
          "to_cash_card": {
            "type": "boolean",
            "description": "能否兑换成现金卡"
          },
          "cash_card_code": {
            "type": "string",
            "description": "现金卡 code"
          },
          "cash_card_value": {
            "type": "object",
            "description": "现金卡价值"
          },
          "coupon_secret_type": {
            "type": "string",
            "description": "电子券类型"
          }
        }
      },
      "MemberRewardCouponSecret": {
        "type": "object",
        "description": "电子券信息",
        "properties": {
          "coupon_secret_type": {
            "type": "string",
            "description": "电子券类型"
          },
          "coupon_id": {
            "type": "string",
            "description": "卡号"
          },
          "secret": {
            "type": "string",
            "description": "卡密"
          },
          "status": {
            "type": "integer",
            "description": "电子券状态：\n\n- `0` - 可用\n- `1` - 锁定（奖励已发放， 客户还未领取）\n- `2` - 已领取\n- `3` - 卡密已过期",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "expire_at": {
            "type": "string",
            "description": "兑换截止日期"
          }
        }
      },
      "MemberRewardExpressInfo": {
        "type": "object",
        "description": "实物发放的快递信息",
        "properties": {
          "addressee": {
            "type": "string",
            "description": "收件人"
          },
          "phone": {
            "type": "string",
            "description": "电话"
          },
          "shipping_address": {
            "type": "string",
            "description": "收件地址"
          },
          "province": {
            "type": "string",
            "description": "省"
          },
          "city": {
            "type": "string",
            "description": "市"
          },
          "district": {
            "type": "string",
            "description": "区"
          },
          "delivery_type": {
            "type": "string",
            "description": "配送方式：\n\n- `1` - 自取\n- `2` - 邮寄"
          },
          "pickup_info": {
            "type": "object",
            "description": "自提信息",
            "properties": {
              "brief": {
                "type": "string",
                "description": "简要说明"
              },
              "detail": {
                "type": "string",
                "description": "详细说明"
              }
            }
          },
          "email": {
            "type": "string",
            "description": "邮箱"
          },
          "country_code": {
            "type": "string",
            "description": "国家/地区代码"
          }
        }
      },
      "MemberRewardStatus": {
        "type": "integer",
        "description": "发放状态（不同奖励类型适用值域略有差异）：\n\n- `0` - 即将发放\n- `1` - 取消发放\n- `2` - 退出活动\n- `8` - 待领取\n- `10` - 发放中\n- `12` - 已发放\n- `13` - 发放失败\n- `16` - 已兑换（仅卡券奖励）\n- `17` - 已过期（仅实物/卡券奖励）",
        "enum": [
          0,
          1,
          2,
          8,
          10,
          12,
          13,
          16,
          17
        ]
      },
      "StockTemplate": {
        "type": "integer",
        "description": "股票模板：\n\n- `0` - 未知\n- `1` - 股票\n- `2` - ETF\n- `3` - DLC\n- `4` - 指数\n- `5` - LB 行业板块\n- `6` - LB 概念板块\n- `11` - 已递表\n- `12` - 待上市\n- `13` - 今日暗盘\n- `14` - 今日 IPO\n- `15` - LB 自定义证券\n- `16` - 无行情证券\n- `17` - 板块无行情\n- `20` - 期权\n- `31` - 窝轮证\n- `32` - 牛熊证\n- `33` - 界内证\n- `34` - 美股关联证券模板\n- `35` - 虚拟资产",
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          20,
          31,
          32,
          33,
          34,
          35
        ]
      },
      "TradeStatus": {
        "type": "integer",
        "description": "交易状态：\n\n- `0` - 无行情（待上市）\n- `101` - 清盘状态\n- `102` - 开盘集合竞价\n- `105` - 交易中\n- `106` - 午间休市\n- `107` - 收盘集合竞价\n- `108` - 收盘\n- `110` - 暗盘待开盘\n- `111` - 暗盘交易中\n- `112` - 暗盘已收盘\n- `120` - 固定价格成交\n- `121` - 半日市已收盘\n- `122` - 未开盘\n- `201` - 美股盘前\n- `202` - 美股交易中\n- `203` - 美股盘后\n- `204` - 美股收盘\n- `205` - 美股停牌\n- `206` - 美股清盘（含盘前）\n- `207` - 美股夜盘\n- `1001` - 退市\n- `1002` - 预备上市\n- `1003` - 代码变更\n- `1004` - 停牌\n- `1005` - 待开盘\n- `1006` - 拆合股暂停交易\n- `1007` - 已到期/未上市\n- `1008` - 无价格\n- `1009` - 未上市\n- `1010` - 终止交易\n- `1011` - 等待上市",
        "enum": [
          0,
          101,
          102,
          105,
          106,
          107,
          108,
          110,
          111,
          112,
          120,
          121,
          122,
          201,
          202,
          203,
          204,
          205,
          206,
          207,
          1001,
          1002,
          1003,
          1004,
          1005,
          1006,
          1007,
          1008,
          1009,
          1010,
          1011
        ]
      },
      "StockDetailDepth": {
        "type": "object",
        "description": "盘口档位信息",
        "properties": {
          "price_level": {
            "type": "integer",
            "description": "第几档盘口"
          },
          "count": {
            "type": "string",
            "description": "盘口挂单量（暂未使用）"
          },
          "volume": {
            "type": "string",
            "description": "盘口买卖量"
          },
          "price": {
            "type": "string",
            "description": "盘口价"
          }
        }
      },
      "StockDetailBrokerDepth": {
        "type": "object",
        "description": "经纪队列档位信息",
        "properties": {
          "price_level": {
            "type": "integer",
            "description": "第几档盘口"
          },
          "brokers": {
            "type": "array",
            "description": "经纪商 id 列表",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "StockDetailAHPremium": {
        "type": "object",
        "description": "AH 溢价信息",
        "properties": {
          "counter_id": {
            "type": "string",
            "description": "对比股票代码"
          },
          "last_done": {
            "type": "string",
            "description": "对比股票最新价"
          },
          "prev_close": {
            "type": "string",
            "description": "对比股票昨收价"
          }
        }
      },
      "StockDetailAdrRate": {
        "type": "object",
        "description": "ADR 比率信息",
        "properties": {
          "counter_id": {
            "type": "string",
            "description": "关联股票代码"
          },
          "rate": {
            "type": "string",
            "description": "ADR 比率"
          }
        }
      },
      "StockDetailPrice": {
        "type": "object",
        "description": "夜盘价格行情",
        "properties": {
          "last_done": {
            "type": "string",
            "description": "最新价"
          },
          "high": {
            "type": "string",
            "description": "最高价"
          },
          "low": {
            "type": "string",
            "description": "最低价"
          },
          "prev_close": {
            "type": "string",
            "description": "昨收价"
          },
          "amount": {
            "type": "string",
            "description": "成交量"
          },
          "balance": {
            "type": "string",
            "description": "成交额"
          },
          "timestamp": {
            "type": "string",
            "description": "时间戳"
          }
        }
      },
      "StockDetailChannelItem": {
        "type": "object",
        "description": "渠道相关状态信息",
        "properties": {
          "tradeable": {
            "type": "integer",
            "description": "是否显示交易区域"
          },
          "margin": {
            "type": "boolean",
            "description": "是否融资"
          },
          "restricted": {
            "type": "integer",
            "description": "买卖限制"
          },
          "sip_status": {
            "type": "string",
            "description": "SIP 状态"
          }
        }
      },
      "StockDetailETFReference": {
        "type": "object",
        "description": "ETF 参考信息",
        "properties": {
          "disc_prem": {
            "type": "string",
            "description": "折溢价率"
          },
          "nav": {
            "type": "string",
            "description": "净值"
          },
          "nav_date": {
            "type": "string",
            "description": "净值日期"
          }
        }
      },
      "StockDetailHKDual": {
        "type": "object",
        "description": "A/H 双柜台标的信息",
        "properties": {
          "counter_id": {
            "type": "string",
            "description": "对应柜台的股票代码"
          },
          "security_type": {
            "type": "integer",
            "description": "柜台类型：\n\n- `1` - 人民币柜台标的\n- `2` - 港币柜台标的",
            "enum": [
              1,
              2
            ]
          }
        }
      },
      "StockDetailStatusDescription": {
        "type": "object",
        "description": "交易状态描述信息",
        "properties": {
          "status_desc": {
            "type": "string",
            "description": "状态描述文案"
          },
          "append_market_time": {
            "type": "boolean",
            "description": "是否需要附加市场时间"
          },
          "is_holiday": {
            "type": "boolean",
            "description": "是否假期休市"
          }
        }
      },
      "OptionDetailExtendQuote": {
        "type": "object",
        "description": "延长时段行情",
        "properties": {
          "last_done": {
            "type": "string",
            "description": "最新价"
          },
          "prev_close": {
            "type": "string",
            "description": "昨收价"
          },
          "high": {
            "type": "string",
            "description": "最高价"
          },
          "low": {
            "type": "string",
            "description": "最低价"
          },
          "amount": {
            "type": "string",
            "description": "成交量"
          },
          "balance": {
            "type": "string",
            "description": "成交额"
          },
          "timestamp": {
            "type": "string",
            "description": "时间戳"
          },
          "iv": {
            "type": "string",
            "description": "隐含波动率"
          },
          "trade_session": {
            "type": "integer",
            "format": "int32",
            "description": "交易时段"
          }
        }
      },
      "OptionExpireDate": {
        "type": "object",
        "description": "期权到期日信息",
        "properties": {
          "expire_date": {
            "type": "string",
            "description": "到期日，格式 YYYYMMDD"
          },
          "type": {
            "type": "string",
            "description": "到期日类型：\n\n- `W` - 周期权\n- `Q` - 季期权"
          },
          "standard_attr": {
            "type": "string",
            "description": "标准属性：\n\n- `S` - 标准期权\n- `N` - 非标准期权（发生拆股/合并等公司行动后新生成的调整期权， Broker App 标注为 Old；部分多腿策略下单、改仓等流程会排除 N）"
          },
          "support_extend": {
            "type": "integer",
            "format": "int32",
            "description": "是否支持延长时段（盘前/盘后/夜盘）行情：\n\n- `1` - 支持\n- `0` - 不支持"
          }
        }
      },
      "StrikePriceInfo": {
        "type": "object",
        "description": "期权行权价信息",
        "properties": {
          "price": {
            "type": "string",
            "description": "行权价"
          },
          "call_counter_id": {
            "type": "string",
            "description": "看涨期权合约 id"
          },
          "put_counter_id": {
            "type": "string",
            "description": "看跌期权合约 id"
          },
          "standard_attr": {
            "type": "string",
            "description": "标准属性：\n\n- `S` - 标准期权\n- `N` - 非标准期权（发生拆股/合并等公司行动后新生成的调整期权， Broker App 标注为 Old；部分多腿策略下单、改仓等流程会排除 N）"
          },
          "call_support_extend": {
            "type": "integer",
            "format": "int32",
            "description": "看涨合约是否支持延长时段（盘前/盘后/夜盘）行情：\n\n- `1` - 支持\n- `0` - 不支持"
          },
          "put_support_extend": {
            "type": "integer",
            "format": "int32",
            "description": "看跌合约是否支持延长时段（盘前/盘后/夜盘）行情：\n\n- `1` - 支持\n- `0` - 不支持"
          }
        }
      },
      "FeeRateTier": {
        "type": "object",
        "description": "阶梯费率区间",
        "properties": {
          "id": {
            "type": "string",
            "description": "阶梯费率记录 id（protobuf StepFeeRate.id，uint64）"
          },
          "fee_id": {
            "type": "string",
            "description": "费率配置 id（protobuf StepFeeRate.fee_id，uint64）"
          },
          "fee_rate": {
            "type": "string",
            "description": "费率"
          },
          "gt": {
            "type": "string",
            "description": "区间下限（大于）"
          },
          "lte": {
            "type": "string",
            "description": "区间上限（小于等于）"
          },
          "min": {
            "type": "string",
            "description": "该阶梯费率档位的下限。"
          }
        }
      },
      "FeeRateDetail": {
        "type": "object",
        "description": "单档费率详情",
        "properties": {
          "currency": {
            "type": "string",
            "description": "币种"
          },
          "max_fee": {
            "type": "string",
            "description": "最高费用"
          },
          "min_fee": {
            "type": "string",
            "description": "最低费用"
          },
          "metric_type": {
            "type": "integer",
            "description": "计费方式"
          },
          "metric_cycle_type": {
            "type": "integer",
            "description": "计费周期类型（protobuf SimpleFeeInfo.metric_cycle_type）"
          },
          "step_fee_rates": {
            "type": "array",
            "description": "阶梯费率列表",
            "items": {
              "$ref": "#/components/schemas/FeeRateTier"
            }
          },
          "max_metric_rate": {
            "type": "string",
            "description": "费用配置返回的最高计费比率。"
          },
          "max_metric_type": {
            "type": "integer",
            "description": "与 `max_metric_rate` 对应的计费类型。"
          },
          "metric_cycle": {
            "type": "string",
            "description": "计费周期标识，例如 `none`。"
          },
          "metric_type_bill_amount_item_ids": {
            "type": "array",
            "description": "计量计费规则使用的账单项目 ID 列表。",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FeeRatePair": {
        "type": "object",
        "description": "默认档位与会员档位费率",
        "properties": {
          "dft": {
            "$ref": "#/components/schemas/FeeRateDetail"
          },
          "member": {
            "$ref": "#/components/schemas/FeeRateDetail"
          }
        }
      },
      "MarketFeeDetail": {
        "type": "object",
        "description": "佣金或平台费费率详情，含默认档位、会员档位，以及与默认/普通费率的差异标注",
        "properties": {
          "dft": {
            "$ref": "#/components/schemas/FeeRateDetail"
          },
          "member": {
            "$ref": "#/components/schemas/FeeRateDetail"
          },
          "diff": {
            "type": "boolean",
            "description": " 客户费率和默认费率是否相同"
          },
          "general": {
            "type": "boolean",
            "description": "是否是普通收费"
          },
          "diff_from_general": {
            "type": "boolean",
            "description": "和普通收费是否不同"
          },
          "divisor": {
            "type": "integer",
            "description": "年化费率计算使用的除数，例如 `365`。"
          }
        }
      }
    }
  },
  "paths": {
    "/v3/quote/stock/detail": {
      "get": {
        "tags": [
          "行情"
        ],
        "summary": "获取股票详情",
        "description": "查询单支股票的详情行情数据，包含最新价、涨跌相关价格、买卖盘口、经纪队列、AH 溢价、ADR 比率、总股本、行业信息、ETF 参考净值、夜盘行情等，用于股票详情页展示。\n",
        "operationId": "getV3QuoteStockDetail",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "股票 id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。响应体包含“获取股票详情”操作的结果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "last_done": {
                              "type": "string",
                              "description": "最新价"
                            },
                            "open": {
                              "type": "string",
                              "description": "开盘价"
                            },
                            "prev_close": {
                              "type": "string",
                              "description": "昨收盘价"
                            },
                            "high": {
                              "type": "string",
                              "description": "今日最高价"
                            },
                            "low": {
                              "type": "string",
                              "description": "今日最低价"
                            },
                            "amount": {
                              "type": "string",
                              "description": "成交量"
                            },
                            "balance": {
                              "type": "string",
                              "description": "成交额"
                            },
                            "turnover_rate": {
                              "type": "string",
                              "description": "换手率"
                            },
                            "eps": {
                              "type": "string",
                              "description": "每股盈利"
                            },
                            "eps_ttm": {
                              "type": "string",
                              "description": "每股盈利（TTM）"
                            },
                            "trade_status": {
                              "$ref": "#/components/schemas/TradeStatus"
                            },
                            "timestamp": {
                              "type": "string",
                              "description": "时间戳"
                            },
                            "volume_rate": {
                              "type": "string",
                              "description": "量比"
                            },
                            "depth_rate": {
                              "type": "string",
                              "description": "委比"
                            },
                            "year_high": {
                              "type": "string",
                              "description": "52 周最高"
                            },
                            "year_low": {
                              "type": "string",
                              "description": "52 周最低"
                            },
                            "lowest": {
                              "type": "string",
                              "description": "历史最低"
                            },
                            "highest": {
                              "type": "string",
                              "description": "历史最高"
                            },
                            "total_shares": {
                              "type": "string",
                              "description": "总股本"
                            },
                            "circulating_shares": {
                              "type": "string",
                              "description": "流通股本"
                            },
                            "dividend_yield": {
                              "type": "string",
                              "description": "股息"
                            },
                            "bps": {
                              "type": "string",
                              "description": "每股净资产"
                            },
                            "bid_depths": {
                              "type": "array",
                              "description": "买盘深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "ask_depths": {
                              "type": "array",
                              "description": "卖盘深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "market_timestamp": {
                              "type": "string",
                              "description": "盘前或盘后时间（美股用）"
                            },
                            "market_price": {
                              "type": "string",
                              "description": "盘前盘后价（美股用）"
                            },
                            "factor_a": {
                              "type": "string",
                              "description": "复权系数 A"
                            },
                            "factor_b": {
                              "type": "string",
                              "description": "复权系数 B"
                            },
                            "pretrade_close": {
                              "type": "string",
                              "description": "盘前昨收价"
                            },
                            "limit_up": {
                              "type": "string",
                              "description": "涨停价格"
                            },
                            "limit_down": {
                              "type": "string",
                              "description": "跌停价格"
                            },
                            "ah_premium": {
                              "$ref": "#/components/schemas/StockDetailAHPremium"
                            },
                            "latency": {
                              "type": "boolean",
                              "description": "是否延迟行情"
                            },
                            "market_high": {
                              "type": "string",
                              "description": "盘前盘后最高价"
                            },
                            "market_low": {
                              "type": "string",
                              "description": "盘前盘后最低价"
                            },
                            "market_amount": {
                              "type": "string",
                              "description": "盘前盘后成交量"
                            },
                            "market_balance": {
                              "type": "string",
                              "description": "盘前盘后成交额"
                            },
                            "unit": {
                              "type": "integer",
                              "format": "int32",
                              "description": "每手股数"
                            },
                            "dps_rate": {
                              "type": "string",
                              "description": "股息率"
                            },
                            "upgrade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "引导升级提示 id，0 表示不需要升级提醒"
                            },
                            "available_levels": {
                              "type": "array",
                              "description": "行情类型",
                              "items": {
                                "type": "string"
                              }
                            },
                            "prev_year_close": {
                              "type": "string",
                              "description": "上一年收盘价"
                            },
                            "bid_brokers": {
                              "type": "array",
                              "description": "经纪队列买盘深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailBrokerDepth"
                              }
                            },
                            "ask_brokers": {
                              "type": "array",
                              "description": "经纪队列卖盘深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailBrokerDepth"
                              }
                            },
                            "inflow": {
                              "type": "string",
                              "description": "资金流入"
                            },
                            "currency": {
                              "type": "string",
                              "description": "货币"
                            },
                            "exchange": {
                              "type": "string",
                              "description": "交易所"
                            },
                            "rise": {
                              "type": "string",
                              "description": "上涨家数（指数专属字段）"
                            },
                            "fall": {
                              "type": "string",
                              "description": "下跌家数（指数专属字段）"
                            },
                            "flatline": {
                              "type": "string",
                              "description": "平盘家数（指数专属字段）"
                            },
                            "hk_shares": {
                              "type": "string",
                              "description": "港股股数"
                            },
                            "counter_id": {
                              "type": "string",
                              "description": "股票 id"
                            },
                            "eps_forecast": {
                              "type": "string",
                              "description": "每股盈利（预测）"
                            },
                            "market_cap": {
                              "type": "string",
                              "description": "总市值（仅指数）"
                            },
                            "stock_name": {
                              "type": "string",
                              "description": "股票名字"
                            },
                            "tpl": {
                              "$ref": "#/components/schemas/StockTemplate"
                            },
                            "cnconnect": {
                              "type": "integer",
                              "format": "int32",
                              "description": "A 股通交易，需要展示 A 股通 icon：\n\n- `1` - 可买可卖\n- `2` - 仅可卖"
                            },
                            "short_sell": {
                              "type": "boolean",
                              "description": "是否可以卖空"
                            },
                            "ticker_size": {
                              "type": "string",
                              "description": "港股步长类型，A/B/C/D 四种"
                            },
                            "channel_info": {
                              "type": "object",
                              "description": "渠道消息，key 为渠道标识",
                              "additionalProperties": {
                                "$ref": "#/components/schemas/StockDetailChannelItem"
                              }
                            },
                            "industry_counter_id": {
                              "type": "string",
                              "description": "股票所属行业的 counter_id"
                            },
                            "industry_name": {
                              "type": "string",
                              "description": "股票所属行业名称"
                            },
                            "show_kline_type": {
                              "type": "integer",
                              "format": "int32",
                              "description": "K 线对比显示的类型：\n\n- `1` - K 线少于 120 天\n- `2` - 少于 240 天\n- `3` - 少于 730 天\n- `4` - 少于 1460 天"
                            },
                            "sub_status": {
                              "type": "integer",
                              "format": "int32",
                              "description": "子状态"
                            },
                            "base_large_balance": {
                              "type": "string",
                              "description": "大单成交基准"
                            },
                            "sub_market": {
                              "type": "string",
                              "description": "子市场"
                            },
                            "tags": {
                              "type": "array",
                              "description": "完整行情标签",
                              "items": {
                                "type": "string"
                              }
                            },
                            "first_kline_timestamp": {
                              "type": "string",
                              "description": "第一根 K 线的时间戳"
                            },
                            "stock_derivatives": {
                              "type": "array",
                              "description": "支持的衍生品",
                              "items": {
                                "type": "string"
                              }
                            },
                            "adr_rate": {
                              "$ref": "#/components/schemas/StockDetailAdrRate"
                            },
                            "cnconnect_neue": {
                              "type": "integer",
                              "format": "int32",
                              "description": "A 股通交易（新版）：\n\n- `1` - 可买可卖\n- `2` - 仅可卖\n- `-1` - 不处理"
                            },
                            "constituent_stock": {
                              "type": "integer",
                              "format": "int32",
                              "description": "是否有成分股：\n\n- `-1` - 该模板不适用\n- `0` - 没有\n- `1` - 有"
                            },
                            "amount_precision": {
                              "type": "integer",
                              "format": "int32",
                              "description": "成交量精度"
                            },
                            "support_overnight": {
                              "type": "boolean",
                              "description": "是否支持夜盘"
                            },
                            "overnight_price": {
                              "$ref": "#/components/schemas/StockDetailPrice"
                            },
                            "overnight_bid_depths": {
                              "type": "array",
                              "description": "夜盘买盘深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "overnight_ask_depths": {
                              "type": "array",
                              "description": "夜盘卖盘深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "etf_reference": {
                              "$ref": "#/components/schemas/StockDetailETFReference"
                            },
                            "relate_etf": {
                              "type": "integer",
                              "format": "int32",
                              "description": "是否有关联 ETF：\n\n- `-1` - 该模板不适用\n- `0` - 无\n- `1` - 有"
                            },
                            "hk_dual": {
                              "$ref": "#/components/schemas/StockDetailHKDual"
                            },
                            "status_desc": {
                              "$ref": "#/components/schemas/StockDetailStatusDescription"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "last_done": "319.690",
                    "open": "341.000",
                    "prev_close": "374.010",
                    "high": "342.110",
                    "low": "315.735",
                    "amount": "115606413",
                    "balance": "37606914184.000",
                    "turnover_rate": "",
                    "eps": "1.0101914119127742",
                    "eps_ttm": "1.0133865349868262",
                    "trade_status": 207,
                    "timestamp": "1784836800",
                    "volume_rate": "3.63",
                    "depth_rate": "",
                    "year_high": "498.830",
                    "year_low": "297.820",
                    "lowest": "",
                    "highest": "",
                    "total_shares": "3755723871",
                    "circulating_shares": "2815883440",
                    "dividend_yield": "",
                    "bps": "23.1268333305007236",
                    "bid_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "0",
                        "price": ""
                      }
                    ],
                    "ask_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "0",
                        "price": ""
                      }
                    ],
                    "market_timestamp": "1784851199",
                    "market_price": "324.000",
                    "factor_a": "",
                    "factor_b": "",
                    "pretrade_close": "319.690",
                    "limit_up": "",
                    "limit_down": "",
                    "ah_premium": {
                      "counter_id": "",
                      "last_done": "",
                      "prev_close": ""
                    },
                    "latency": false,
                    "market_high": "324.500",
                    "market_low": "318.890",
                    "market_amount": "1248137",
                    "market_balance": "402230214.410",
                    "unit": 1,
                    "dps_rate": "",
                    "upgrade": 0,
                    "available_levels": [
                      "NBBO"
                    ],
                    "prev_year_close": "",
                    "bid_brokers": [],
                    "ask_brokers": [],
                    "inflow": "-249015203.6530",
                    "currency": "USD",
                    "exchange": "NASD",
                    "rise": "",
                    "fall": "",
                    "flatline": "",
                    "hk_shares": "0",
                    "counter_id": "ST/US/TSLA",
                    "eps_forecast": "1.1885857835473443",
                    "market_cap": "",
                    "stock_name": "Tesla",
                    "tpl": 1,
                    "cnconnect": 0,
                    "short_sell": true,
                    "ticker_size": "",
                    "channel_info": {},
                    "industry_counter_id": "BK/US/IN00276",
                    "industry_name": "Automobile Manufacturers",
                    "show_kline_type": 4,
                    "sub_status": 10500,
                    "base_large_balance": "514025.408",
                    "sub_market": "US_USON",
                    "tags": [
                      "Web|USAA|Global|NBBO",
                      "Web|USON|Global|LV1"
                    ],
                    "first_kline_timestamp": "1277784000",
                    "stock_derivatives": [
                      "OP"
                    ],
                    "adr_rate": null,
                    "cnconnect_neue": -1,
                    "constituent_stock": -1,
                    "amount_precision": 0,
                    "support_overnight": true,
                    "overnight_price": {
                      "last_done": "321.220",
                      "high": "324.830",
                      "low": "320.130",
                      "prev_close": "319.690",
                      "amount": "210212",
                      "balance": "67920320.670",
                      "timestamp": "1784863366"
                    },
                    "overnight_bid_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "103",
                        "price": "321.130"
                      }
                    ],
                    "overnight_ask_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "25",
                        "price": "321.340"
                      }
                    ],
                    "etf_reference": null,
                    "relate_etf": 0,
                    "hk_dual": null,
                    "status_desc": {
                      "status_desc": "Night session trading in progress 07.24 EDT",
                      "append_market_time": false,
                      "is_holiday": false
                    }
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          },
          "400": {
            "description": "请求未通过业务规则或输入校验。重试前，请根据业务码修正请求。",
            "x-business-codes": [
              {
                "code": 301003,
                "description": "证券不存在（标的已退市或不支持）， Broker App 据此提示无法查看行情"
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/newmarket/aggregate/logo": {
      "get": {
        "tags": [
          "行情"
        ],
        "summary": "获取股票详情页聚合图标",
        "description": "查询单支股票在详情页展示的聚合标识图标（如交易所、行情等级、融资、融券、盘口、碎股、沪深股通等标识），用于详情页角标/图标展示。\n",
        "operationId": "getNewmarketAggregateLogo",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "股票 id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。响应体包含“获取股票详情页聚合图标”操作的结果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "lists": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "标识类型：exchange 交易所标识，quote_level 行情等级标识，option 夜盘标识，option_extend 期权延长时段标识，cn_connect A 股通标识，financing 融资标识，shorting 融券标识，depth 盘口标识，fractional_shares 碎股标识，sh_sz_connect 沪深股通标识",
                                    "enum": [
                                      "exchange",
                                      "quote_level",
                                      "option",
                                      "option_extend",
                                      "cn_connect",
                                      "financing",
                                      "shorting",
                                      "depth",
                                      "fractional_shares",
                                      "sh_sz_connect"
                                    ]
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "标题"
                                  },
                                  "sub_title": {
                                    "type": "string",
                                    "description": "副标题"
                                  },
                                  "logo": {
                                    "type": "string",
                                    "description": "图标地址"
                                  },
                                  "guide": {
                                    "type": "string",
                                    "description": "引导说明文案"
                                  },
                                  "variable_guide": {
                                    "type": "string",
                                    "description": "动态引导说明文案"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "lists": [
                      {
                        "title": "NASDAQ Stock Market",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/market/0ce3564f-0659-410a-9716-75b64b79ef28/market_us.png",
                        "guide": "",
                        "key": "exchange",
                        "variable_guide": ""
                      },
                      {
                        "title": "NASDAQ Basic quotes",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/quote_level/18bd9025-50cc-4f47-99c1-c8d1ac81fc42/lv1.png",
                        "guide": "",
                        "key": "quote_level",
                        "variable_guide": ""
                      },
                      {
                        "title": "Night trading supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/overnight/48dbb0cd-a40c-414a-95b7-d243575e3ed8/overnight.png",
                        "guide": "https://support.longbridgehk.com/topics/marketdata/Overnight20230922",
                        "key": "overnight",
                        "variable_guide": ""
                      },
                      {
                        "title": "Fractional shares supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/fractional/e1edf2e8-34e5-492f-88c7-160b80547be8/20240830-112536.png",
                        "guide": "https://support.longbridgehk.com/topics/us-trade/fractional_shares",
                        "key": "fractional_shares",
                        "variable_guide": ""
                      },
                      {
                        "title": "Margin financing supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/finance/0e52b6b8-d2f8-4810-9a45-9282b162a804/financeable.png",
                        "guide": "https://longbridge.activity.wbrks.com/spa/margin-info?id=ST/US/TSLA",
                        "key": "financing",
                        "variable_guide": "https://{web_activity_host}/spa/margin-info?id=ST/US/TSLA"
                      },
                      {
                        "title": "Short selling supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/finance/7f61759f-1e52-4613-a010-3c03672290de/loanable.png",
                        "guide": "https://longbridge.activity.wbrks.com/spa/margin-info?id=ST/US/TSLA",
                        "key": "shorting",
                        "variable_guide": "https://{web_activity_host}/spa/margin-info?id=ST/US/TSLA"
                      }
                    ]
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          }
        }
      }
    },
    "/v1/credit/stock_margin_ratio_detail": {
      "get": {
        "tags": [
          "交易"
        ],
        "summary": "查询股票保证金比例详情",
        "description": "查询单支股票的融资、融券保证金比例等风控参数，用于判断该股票是否支持融资买入或融券卖出。\n",
        "operationId": "getCreditStockMarginRatioDetail",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "股票 id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。响应体包含“查询股票保证金比例详情”操作的结果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "long": {
                              "type": "object",
                              "description": "融资（多头）保证金信息",
                              "properties": {
                                "financeable": {
                                  "type": "boolean",
                                  "description": "是否可融资"
                                },
                                "im_factor": {
                                  "type": "string",
                                  "description": "初始保证金比例"
                                },
                                "mm_factor": {
                                  "type": "string",
                                  "description": "维持保证金比例"
                                },
                                "mcm_factor": {
                                  "type": "string",
                                  "description": "追加保证金（Margin Call）比例"
                                },
                                "fm_factor": {
                                  "type": "string",
                                  "description": "强平保证金比例"
                                }
                              }
                            },
                            "short": {
                              "type": "object",
                              "description": "融券（空头）保证金信息",
                              "properties": {
                                "short_sellable": {
                                  "type": "boolean",
                                  "description": "是否可融券卖出"
                                },
                                "im_factor": {
                                  "type": "string",
                                  "description": "初始保证金比例"
                                },
                                "mm_factor": {
                                  "type": "string",
                                  "description": "维持保证金比例"
                                },
                                "mcm_factor": {
                                  "type": "string",
                                  "description": "追加保证金（Margin Call）比例"
                                },
                                "fm_factor": {
                                  "type": "string",
                                  "description": "强平保证金比例"
                                },
                                "available": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "可卖空数量"
                                },
                                "stock_lending_pool_visible": {
                                  "type": "boolean",
                                  "description": "是否展示可借股池"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "long": {
                      "financeable": true,
                      "im_factor": "0.45",
                      "mm_factor": "0.3",
                      "mcm_factor": "0.45",
                      "fm_factor": "0.25"
                    },
                    "short": {
                      "short_sellable": true,
                      "im_factor": "0.45",
                      "mm_factor": "0.3",
                      "mcm_factor": "0.42",
                      "fm_factor": "0.25",
                      "available": 10000001,
                      "stock_lending_pool_visible": false
                    }
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          }
        }
      }
    },
    "/v2/app/risk/account_stock_margin/query": {
      "get": {
        "tags": [
          "交易"
        ],
        "summary": "获取股票融资信息",
        "description": "查询指定股票的融资保证金比例及融资费率信息，用于交易下单前的融资额度展示。\n",
        "operationId": "getRiskAccountStockMarginQuery",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "股票 id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "币种",
            "schema": {
              "type": "string"
            },
            "example": "USD"
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。响应体包含“获取股票融资信息”操作的结果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "initial": {
                              "type": "string",
                              "description": "初始保证金比例"
                            },
                            "maintenance": {
                              "type": "string",
                              "description": "维持保证金比例"
                            },
                            "force": {
                              "type": "string",
                              "description": "强平保证金比例"
                            },
                            "counter_id": {
                              "type": "string",
                              "description": "股票 id"
                            },
                            "my_rate": {
                              "type": "string",
                              "description": "我的融资费率"
                            },
                            "finance_rate": {
                              "type": "string",
                              "description": "默认融资费率"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "counter_id": "ST/US/TSLA",
                    "finance_rate": "0.0575",
                    "force": "0.25",
                    "initial": "0.45",
                    "maintenance": "0.3",
                    "my_rate": "0.0575"
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          }
        }
      }
    },
    "/v2/app/risk/credit_adjust/apply": {
      "post": {
        "tags": [
          "交易"
        ],
        "summary": "申请调整融资额度",
        "description": " 客户申请调整（提升）融资信用额度，提交后立即返回调整结果：调整成功、调整失败（超出可调整的最大额度）或进入人工审核。\n",
        "operationId": "applyRiskCreditAdjust",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_channel": {
                    "type": "string",
                    "description": "Broker 渠道"
                  },
                  "credit_currency": {
                    "type": "string",
                    "description": "融资币种"
                  },
                  "apply_amount": {
                    "type": "string",
                    "description": "申请调整的额度，步长为 1000"
                  }
                },
                "required": [
                  "account_channel",
                  "credit_currency",
                  "apply_amount"
                ]
              },
              "example": {
                "account_channel": "<BROKER_CHANNEL>",
                "credit_currency": "HKD",
                "apply_amount": "10000"
              },
              "x-example-kind": "illustrative",
              "x-example-source": "schema"
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功。响应体包含“申请调整融资额度”操作的结果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "adjust_status": {
                              "type": "integer",
                              "description": "调整状态：\n\n- `0` - 调整成功\n- `1` - 调整失败（超出最大可调整额度）\n- `2` - 审核中",
                              "enum": [
                                0,
                                1,
                                2
                              ]
                            },
                            "max_credit_amount": {
                              "type": "string",
                              "description": "当前可调整至的最大额度"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "adjust_status": 2,
                    "max_credit_amount": "<MAX_CREDIT_AMOUNT>"
                  }
                },
                "x-example-kind": "illustrative",
                "x-example-source": "schema"
              }
            }
          }
        },
        "x-permissions": [
          "trade_token"
        ]
      }
    },
    "/v1/portfolio/statement/list": {
      "get": {
        "tags": [
          "资产"
        ],
        "summary": "获取结单列表",
        "description": "分页获取客户的结单（日结单/月结单）列表，返回每份结单的展示名称与下载用 key。\n",
        "operationId": "getPortfolioStatementList",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": true,
            "description": "结单类型：\n\n- `0` - 日结单\n- `1` - 月结单",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "example": 1
          },
          {
            "name": "start_dt",
            "in": "query",
            "required": false,
            "description": "起始日期，格式 yyyyMM",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_dt",
            "in": "query",
            "required": false,
            "description": "结束日期，格式 yyyyMM",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "页码",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每页数量，取值范围 1~100",
            "schema": {
              "type": "integer"
            },
            "example": 5
          },
          {
            "name": "account_channel",
            "in": "query",
            "required": true,
            "description": "Broker 渠道",
            "schema": {
              "type": "string"
            },
            "example": "lb"
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。响应体包含“获取结单列表”操作的结果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "display_name": {
                                    "type": "string",
                                    "description": "结单展示用文件名"
                                  },
                                  "key": {
                                    "type": "string",
                                    "description": "结单文件 key，用于获取下载地址"
                                  },
                                  "cache_key": {
                                    "type": "string",
                                    "description": "缓存 key， Broker App 用于判断本地是否需要重新下载缓存文件"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "items": [
                      {
                        "display_name": "2026.06",
                        "key": "*lb-statement*lb*1*202606*statement-monthly-202606-<ACCOUNT_NO>.pdf",
                        "cache_key": "*lb-statement*lb*1*202606*statement-monthly-202606-<ACCOUNT_NO>.pdf_1782902191878"
                      },
                      {
                        "display_name": "2026.05",
                        "key": "*lb-statement*lb*1*202605*statement-monthly-202605-<ACCOUNT_NO>.pdf",
                        "cache_key": "*lb-statement*lb*1*202605*statement-monthly-202605-<ACCOUNT_NO>.pdf_1780314144061"
                      },
                      {
                        "display_name": "2026.04",
                        "key": "*lb-statement*lb*1*202604*statement-monthly-202604-<ACCOUNT_NO>.pdf",
                        "cache_key": "*lb-statement*lb*1*202604*statement-monthly-202604-<ACCOUNT_NO>.pdf_1777634945328"
                      },
                      {
                        "display_name": "2026.03",
                        "key": "*lb-statement*lb*1*202603*statement-monthly-202603-<ACCOUNT_NO>.pdf",
                        "cache_key": "*lb-statement*lb*1*202603*statement-monthly-202603-<ACCOUNT_NO>.pdf_1775052649346"
                      },
                      {
                        "display_name": "2026.02",
                        "key": "*lb-statement*lb*1*202602*statement-monthly-202602-<ACCOUNT_NO>.pdf",
                        "cache_key": "*lb-statement*lb*1*202602*statement-monthly-202602-<ACCOUNT_NO>.pdf_1772449443111"
                      }
                    ]
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          }
        }
      }
    },
    "/v1/portfolio/statement/url": {
      "get": {
        "tags": [
          "资产"
        ],
        "summary": "获取结单文件下载地址",
        "description": "获取结单（日结单/月结单）PDF 文件的下载地址、解锁密码及缓存 key，用于结单文件的查看与下载。\n",
        "operationId": "getPortfolioStatementUrl",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "结单文件 key",
            "schema": {
              "type": "string"
            },
            "example": "*lb-statement*lb*1*202606*statement-monthly-202606-<ACCOUNT_NO>.pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。响应体包含“获取结单文件下载地址”操作的结果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "结单文件下载地址"
                            },
                            "pass": {
                              "type": "string",
                              "description": "结单文件（PDF）解锁密码"
                            },
                            "cache_key": {
                              "type": "string",
                              "description": "缓存 key， Broker App 用于判断本地是否需要重新下载缓存文件"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "url": "https://example.com/statements/monthly.pdf",
                    "pass": "<PDF_PASSWORD>",
                    "cache_key": "*lb-statement*lb*1*202606*statement-monthly-202606-<ACCOUNT_NO>.pdf_1782902191878"
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          }
        },
        "x-permissions": [
          "trade_token"
        ]
      }
    },
    "/rewards/card_list": {
      "get": {
        "tags": [
          "活动"
        ],
        "summary": "获取客户卡券列表",
        "description": "分页查询客户持有的各类卡券（现金卡、行情卡、基本面卡、免佣卡、打新特权卡、股票卡、碎股卡、平台费抵扣卡、融资利息卡、基金加息卡、咖啡券、AI 权益卡等），支持按状态和卡类型筛选。\n",
        "operationId": "getRewardsCardList",
        "parameters": [
          {
            "name": "current",
            "in": "query",
            "required": true,
            "description": "页码，从 1 开始",
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "每页数量，最大 50",
            "schema": {
              "type": "string"
            },
            "example": 10
          },
          {
            "name": "card_status",
            "in": "query",
            "required": false,
            "description": "卡券状态筛选：\n\n- `-1` - 未过期\n- `2` - 已过期",
            "schema": {
              "type": "string",
              "enum": [
                "-1",
                "2"
              ]
            },
            "example": -1
          },
          {
            "name": "card_type",
            "in": "query",
            "required": false,
            "description": "卡券类型筛选，为空返回全部；聚合 tab：ipo_tab（IPO 权益卡多合一）、quote_tab（合并行情卡/基本面卡）；单卡类型：cash 现金卡、quote 行情卡、fundamental 基本面卡、commission 免佣卡、ipo 打新特权卡、ipo_interest 打新融资利息卡、ipo_commission 打新手续费卡、stock 股票卡、stock_fragment 碎股卡、platform_fee_deduct 平台费抵扣卡、finance_interest 融资利息卡、fund_interest 基金加息卡、coffee_coupon 咖啡券\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag_key",
            "in": "query",
            "required": false,
            "description": "卡券 tag_key，0 表示全部，用于 tab 模式筛选",
            "schema": {
              "type": "string"
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。响应体包含“获取客户卡券列表”操作的结果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "top_list": {
                              "type": "array",
                              "description": "置顶卡券列表",
                              "items": {
                                "$ref": "#/components/schemas/RewardsCard"
                              }
                            },
                            "list": {
                              "type": "array",
                              "description": "卡券列表",
                              "items": {
                                "$ref": "#/components/schemas/RewardsCard"
                              }
                            },
                            "bottom_list": {
                              "type": "array",
                              "description": "置底卡券列表",
                              "items": {
                                "$ref": "#/components/schemas/RewardsCard"
                              }
                            },
                            "total": {
                              "type": "string",
                              "description": "总数"
                            },
                            "expired_count": {
                              "type": "string",
                              "description": "失效卡数量"
                            },
                            "tags": {
                              "type": "array",
                              "description": "筛选标签",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "integer",
                                    "description": "标签 key"
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "标签名称，如\"全部\"\"预约卡\""
                                  },
                                  "activated": {
                                    "type": "boolean",
                                    "description": "是否为当前选中标签"
                                  }
                                }
                              }
                            },
                            "valid_card_types": {
                              "type": "array",
                              "deprecated": true,
                              "description": "有效卡类型列表，protobuf 标注待废弃",
                              "items": {
                                "type": "string"
                              }
                            },
                            "valid_types": {
                              "type": "object",
                              "description": "key 为卡券类型，value 表示该类型是否有新纪录（用于展示红点提示）",
                              "additionalProperties": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "top_list": [],
                    "list": [
                      {
                        "card_id": "<CARD_ID>",
                        "card_type": "coffee_coupon",
                        "title": "Lifetime Half-Price Coffee Coupon",
                        "title_sec": "",
                        "member_id": "<MEMBER_ID>",
                        "cover": "https://assets.lbctrl.com/uploads/045892a9-67c6-490a-96b6-b051b94b5fb0/e_voucher_icon.png",
                        "description": "Redeemable at Longbridge Café",
                        "start_time": "1759075200",
[...]
