{
  "openapi": "3.0.1",
  "info": {
    "title": "Whale API",
    "description": "Longport Whale OpenAPI for SaaS tenants.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://b-api.longbridge.xyz",
      "description": "Test"
    },
    {
      "url": "https://b-api.lbkrs.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "FD／B2B"
    },
    {
      "name": "Service Parameter"
    },
    {
      "name": "Trading Panel"
    },
    {
      "name": "Accounting"
    },
    {
      "name": "Corporate Action"
    },
    {
      "name": "Announcement"
    },
    {
      "name": "Shared Components"
    },
    {
      "name": "Suspicious Incident Monitoring"
    },
    {
      "name": "Fund Management"
    },
    {
      "name": "Reports"
    },
    {
      "name": "IPO System"
    },
    {
      "name": "Cash Management"
    },
    {
      "name": "Day-End Settlement"
    },
    {
      "name": "Broker Management"
    },
    {
      "name": "VA Clearing Management"
    },
    {
      "name": "Stock Management"
    },
    {
      "name": "Account Assets"
    },
    {
      "name": "Risk Control Compliance"
    }
  ],
  "paths": {
    "/v1/datasets/fd_organizations": {
      "post": {
        "tags": [
          "FD／B2B"
        ],
        "summary": "券商组织列表",
        "description": "获取 `券商组织列表` 数据集。URL path 中的数据集名为 `fd_organizations`。",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "过滤对象。",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "组织 ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "券商名称"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "页码（从 1 开始）。"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "每页行数（10/20/50/100/200）。"
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "组织 ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "券商名称"
                          },
                          "code": {
                            "type": "string",
                            "description": "组织 Code"
                          },
                          "contact_name": {
                            "type": "string",
                            "description": "联系人"
                          },
                          "contact_email": {
                            "type": "string",
                            "description": "联系人邮箱"
                          },
                          "contact_phone_number": {
                            "type": "string",
                            "description": "联系人手机号"
                          },
                          "logo": {
                            "type": "string",
                            "description": "LOGO"
                          },
                          "licence": {
                            "type": "string",
                            "description": "营业执照号码"
                          },
                          "admin_name": {
                            "type": "string",
                            "description": "管理员"
                          },
                          "ce_no": {
                            "type": "string",
                            "description": "证券账户牌照"
                          },
                          "banner": {
                            "type": "string",
                            "description": "Banner"
                          },
                          "icon": {
                            "type": "string",
                            "description": "证券账户 Icon"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "总行数。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/organization/create": {
      "post": {
        "tags": [
          "FD／B2B"
        ],
        "summary": "新建 FD 机构",
        "description": "券商机构(Brokerage institutions) 页面「新增」弹窗（AddItem.tsx -> OrgForm.tsx）提交。前端 service 层 addOrg(params: any) 类型未定义，字段实际来自 OrgForm.tsx 的表单字段配置。来自前端 fe-wealth-admin packages/next/src/services/organization.ts#addOrg，未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为 any）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为 any）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "机构ID. 仅数字，1-8位"
                  },
                  "code": {
                    "type": "string",
                    "description": "机构代码. 数字/大写字母/连字符，1-6位"
                  },
                  "name": {
                    "type": "string",
                    "description": "机构名称"
                  },
                  "banner": {
                    "type": "string",
                    "description": "Banner图"
                  },
                  "ce_no": {
                    "type": "string",
                    "description": "CE编号"
                  },
                  "icon": {
                    "type": "string",
                    "description": "图标"
                  },
                  "licence": {
                    "type": "string",
                    "description": "牌照号"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "联系人姓名"
                  },
                  "contact_phone_number": {
                    "type": "string",
                    "description": "联系人电话. 格式：区号-号码，如 1-2345678"
                  },
                  "contact_email": {
                    "type": "string",
                    "description": "联系人邮箱"
                  },
                  "logo": {
                    "type": "string",
                    "description": "Logo"
                  },
                  "settings": {
                    "type": "string",
                    "description": "配置. 前端固定传 JSON.stringify({})，页面上没有可编辑入口"
                  }
                },
                "required": [
                  "id",
                  "code",
                  "icon",
                  "licence",
                  "contact_name",
                  "contact_phone_number",
                  "contact_email"
                ]
              },
              "example": {
                "id": "1",
                "code": "A1",
                "name": "",
                "ce_no": "",
                "licence": "",
                "contact_name": "",
                "contact_phone_number": "1-2345678",
                "contact_email": "",
                "icon": "",
                "banner": "",
                "logo": "",
                "settings": "{}"
              }
            }
          }
        }
      }
    },
    "/account/organization/update": {
      "put": {
        "tags": [
          "FD／B2B"
        ],
        "summary": "编辑 FD 机构信息/设置",
        "description": "券商机构(Brokerage institutions) 列表行内「编辑」弹窗（EditItem.tsx）和「设置」弹窗（EditSetting.tsx）共用同一接口，仅表单字段范围不同。来自前端 fe-wealth-admin packages/next/src/services/organization.ts#editOrg/editOrgSetting，未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为 any）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为 any）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "org_id": {
                    "type": "string",
                    "description": "机构ID. 同 id，两个入口（编辑/设置）都会带上"
                  },
                  "id": {
                    "type": "string",
                    "description": "机构ID"
                  },
                  "code": {
                    "type": "string",
                    "description": "机构代码. 「编辑」弹窗字段，只读展示不可改"
                  },
                  "name": {
                    "type": "string",
                    "description": "机构名称. 「编辑」弹窗字段"
                  },
                  "banner": {
                    "type": "string",
                    "description": "Banner图. 「编辑」弹窗字段"
                  },
                  "ce_no": {
                    "type": "string",
                    "description": "CE编号. 「编辑」弹窗字段"
                  },
                  "icon": {
                    "type": "string",
                    "description": "图标. 「编辑」弹窗字段"
                  },
                  "licence": {
                    "type": "string",
                    "description": "牌照号. 「编辑」弹窗字段"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "联系人姓名. 「编辑」弹窗字段"
                  },
                  "contact_phone_number": {
                    "type": "string",
                    "description": "联系人电话. 「编辑」弹窗字段，格式：区号-号码"
                  },
                  "contact_email": {
                    "type": "string",
                    "description": "联系人邮箱. 「编辑」弹窗字段"
                  },
                  "logo": {
                    "type": "string",
                    "description": "Logo. 「编辑」弹窗字段"
                  },
                  "settings": {
                    "type": "string",
                    "description": "机构展示配置. 「设置」弹窗（OrgSettingForm.tsx）可编辑字段，JSON 字符串（前端先与旧值合并、再 JSON.stringify 后传递）；「编辑」弹窗（OrgForm.tsx）提交时该字段原样透传，不做修改。内层可编辑项见 settings_fields。"
                  }
                },
                "required": [
                  "org_id",
                  "id"
                ]
              },
              "example": {
                "org_id": "1",
                "id": "1",
                "code": "A1",
                "name": "",
                "ce_no": "",
                "licence": "",
                "contact_name": "",
                "contact_phone_number": "1-2345678",
                "contact_email": "",
                "icon": "",
                "banner": "",
                "logo": "",
                "settings": "{\"name\":{\"en\":\"\",\"zh-CN\":\"\",\"zh-HK\":\"\"},\"entity\":{\"lb\":{\"en\":\"\",\"zh-CN\":\"\",\"zh-HK\":\"\"}},\"slogan\":{\"en\":\"\",\"zh-CN\":\"\",\"zh-HK\":\"\"},\"intro\":{\"en\":\"\",\"zh-CN\":\"\",\"zh-HK\":\"\"},\"account_name\":{\"lb\":{\"en\":\"\",\"zh-CN\":\"\",\"zh-HK\":\"\"}}}"
              }
            }
          }
        }
      }
    },
    "/v1/datasets/corp_action_sub_position_views": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "公司行动 - 子仓视图",
        "description": "获取 `公司行动 - 子仓视图` 数据集。URL path 中的数据集名为 `corp_action_sub_position_views`。",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "过滤对象。",
                    "properties": {}
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "页码（从 1 开始）。"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "每页行数（10/20/50/100/200）。"
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "视图编号"
                          },
                          "view_name": {
                            "type": "string",
                            "description": "视图名称"
                          },
                          "usage_scene": {
                            "type": "string",
                            "description": "使用场景"
                          },
                          "status": {
                            "type": "string",
                            "description": "状态"
                          },
                          "remark": {
                            "type": "string",
                            "description": "备注"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "创建时间"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "创建人"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "总行数。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corporate_action/sub_position_view/disable": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "停用子仓视图",
        "description": "子仓视图(Sub Account View) 列表行内「停用/关闭」按钮。来自前端 fe-wealth-admin packages/bss/src/services/corporate-action-sub-account.ts#disableSubAccountView，未实际提交验证。request 参数取自该文件里具名 interface SubAccountViewActionData 的完整定义，并以 packages/bss/src/pages/corporate-action-sub-account/index.tsx 中「关闭」行操作的真实调用值（runDisable({ id, audit_frontend_resource })）核实，涉及真实子仓视图停用状态变更，未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "子仓视图ID. 来自列表行记录的 record.id。当 record.status_val == '0'（已停用）时该「关闭」操作按钮会被隐藏，说明 status_val 至少含 '0'=已停用、'1'=已启用两种取值（由后端 ref 字典解析，前端未找到静态枚举定义）。"
                  },
                  "audit_frontend_resource": {
                    "type": "object",
                    "description": "审计用前端附加信息. 非业务字段，仅用于审计日志展示，interface SubAccountViewActionData 定义为 { id: string; audit_frontend_resource?: { view_name?: string; $behavior?: any } }。前端调用处传入 { view_name: record.view_name, $behavior: t('corporate_action_sub_account_disable') }（本地化文本 zh-CN: 关闭 / en: Disable）。"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "10086",
                "audit_frontend_resource": {
                  "view_name": "尾差调整视图A",
                  "$behavior": "关闭"
                }
              }
            }
          }
        }
      }
    },
    "/corporate_action/sub_position_view/del": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "删除子仓视图",
        "description": "子仓视图(Sub Account View) 列表行内「删除」按钮。来自前端 fe-wealth-admin packages/bss/src/services/corporate-action-sub-account.ts#deleSubAccountView，request 字段取自该文件 SubAccountViewActionData 类型定义（id + 可选 audit_frontend_resource 审批工单资源），未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "子仓视图ID"
                  },
                  "audit_frontend_resource": {
                    "type": "object",
                    "description": "审批工单展示资源. 用于审批工单展示原视图信息（如 view_name）及行为标记 $behavior，非业务必填字段"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "10086",
                "audit_frontend_resource": {
                  "view_name": "示例子仓视图"
                }
              }
            }
          }
        }
      }
    },
    "/corporate_action/sub_position_view/enable": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "启用子仓视图",
        "description": "子仓视图(Sub Account View) 列表行内「启用」按钮。来自前端 fe-wealth-admin packages/bss/src/services/corporate-action-sub-account.ts#enableSubAccountView，request 字段取自该文件 SubAccountViewActionData 类型定义（id + 可选 audit_frontend_resource 审批工单资源），未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "子仓视图ID"
                  },
                  "audit_frontend_resource": {
                    "type": "object",
                    "description": "审批工单展示资源. 用于审批工单展示原视图信息（如 view_name）及行为标记 $behavior，非业务必填字段"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "10086",
                "audit_frontend_resource": {
                  "view_name": "示例子仓视图"
                }
              }
            }
          }
        }
      }
    },
    "/corporate_action/sub_position_view/create": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "新建子仓视图",
        "description": "子仓视图(Sub Account View) 页面「新增」抽屉（detail-drawer-form.tsx）提交。来自前端 fe-wealth-admin packages/bss/src/services/corporate-action-sub-account.ts#createSubAccountView，未实际提交验证。request 参数取自该文件里具名 interface CreateSubAccountViewData 的完整定义（同结构也复用为 packages/bss/src/pages/corporate-action-sub-account/type.ts#SubAccountView），并以 detail-drawer-form.tsx 中的表单字段定义（formFields）及 packages/bss/src/services/audit-logs/5380.ts 审计模板核实，涉及真实新建子仓视图，未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为具名 interface CreateSubAccountViewData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为具名 interface CreateSubAccountViewData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "view_name": {
                    "type": "string",
                    "description": "视图名称. 表单字段 name=view_name，input 输入框，必填（rules: [{ required: true }]）。"
                  },
                  "usage_scene": {
                    "type": "number",
                    "description": "使用场景. 表单字段 name=usage_scene，radio-group，必填。可选项通过 GET /data_porter/refs?ref_ids=corp_sub_account_view_usage_scene（Accept-Language: zh-CN / en）动态获取；前端源码注释给出唯一静态线索：1=尾差调整 2=退税 3=明细调整。. Options: `1` = 尾差调整; `2` = 退税; `3` = 明细调整"
                  },
                  "remark": {
                    "type": "string",
                    "description": "备注. 表单字段 name=remark，textarea，非必填。"
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "分组列表. 对应表单 Form.List，name=groups，初始值 [{}]，可通过「新增分组」按钮追加。每项为 { group_name: string; sub_position_scope: string[] }。"
                  },
                  "groups[].group_name": {
                    "type": "string",
                    "description": "分组名称. 表单字段 name=group_name，input，必填，并有前端自定义校验：同一提交内分组名称不可重复（去除空白后比较）。"
                  },
                  "groups[].sub_position_scope": {
                    "type": "string",
                    "description": "子仓范围. 表单字段 name=sub_position_scope，select（多选，mode: 'multiple'），必填。可选项通过 GET /data_porter/refs?ref_ids=all_sub_position_no（Accept-Language: zh-CN / en）动态获取，为结算子仓/子仓编号列表，前端未找到静态枚举定义。"
                  }
                },
                "required": [
                  "view_name",
                  "usage_scene",
                  "groups",
                  "groups[].group_name",
                  "groups[].sub_position_scope"
                ]
              },
              "example": {
                "view_name": "尾差调整视图A",
                "usage_scene": 1,
                "remark": "用于日终尾差调整",
                "groups": [
                  {
                    "group_name": "分组1",
                    "sub_position_scope": [
                      "1001",
                      "1002"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/datasets/va_coin_withdraw_audit_rules": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "出币审核规则",
        "description": "获取 `出币审核规则` 数据集。URL path 中的数据集名为 `va_coin_withdraw_audit_rules`。",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "过滤对象。",
                    "properties": {
                      "rule_name": {
                        "type": "string",
                        "description": "规则名称 规则名称"
                      },
                      "status": {
                        "type": "string",
                        "description": "状态 状态 选项 ref：`atm_va_ref_coin_withdraw_audit_status`。"
                      },
                      "audit_type": {
                        "type": "string",
                        "description": "审核规则 审核规则 选项 ref：`atm_va_ref_coin_withdraw_audit_type`。"
                      },
                      "id": {
                        "type": "string",
                        "description": "编号"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "页码（从 1 开始）。"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "每页行数（10/20/50/100/200）。"
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "编号"
                          },
                          "rule_name": {
                            "type": "string",
                            "description": "规则名称"
                          },
                          "upstream_broker": {
                            "type": "string",
                            "description": "渠道"
                          },
                          "account_nos": {
                            "type": "string",
                            "description": "证券账号"
                          },
                          "broker_allocate_states": {
                            "type": "string",
                            "description": "公司资金调拨状态"
                          },
                          "custom_coin_quantity_ranges": {
                            "type": "string",
                            "description": "加密货币及数量范围"
                          },
                          "custom_equivalent_usd_range": {
                            "type": "string",
                            "description": "等值 USD 的金额范围"
                          },
                          "custom_delay_time": {
                            "type": "string",
                            "description": "审核延迟时长"
                          },
                          "audit_type": {
                            "type": "string",
                            "description": "审核规则"
                          },
                          "priority": {
                            "type": "string",
                            "description": "优先级"
                          },
                          "status": {
                            "type": "string",
                            "description": "状态"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "创建时间"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "更新时间"
                          },
                          "remark": {
                            "type": "string",
                            "description": "备注"
                          },
                          "updater": {
                            "type": "string",
                            "description": "操作人"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "总行数。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/delete/withdraw/audit/rule": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "删除虚拟资产出币审核规则",
        "description": "出币审核规则(Crypto Approval) 列表行内「删除」按钮。来自前端 fe-wealth-admin apps/atm-next/src/services/atm.ts#deleteWithdrawAuditRule，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "规则ID"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "123"
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/add/withdraw/audit/rule": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "新增虚拟资产出币审核规则",
        "description": "出币审核规则(Crypto Approval) 页面「新增」子页面（crypto-approval/edit.tsx，路由 /crypto-withdrawal-rules/crypto-approval/new）提交。字段来自前端 fe-wealth-admin apps/atm-next/src/services/atm.ts#addWithdrawAuditRule 的 addWithdrawAuditRuleRequest 接口定义，并结合 apps/atm-next/src/pages/crypto-withdrawal-rules/crypto-approval/edit.tsx 的表单字段确认。broker_allocate_states/audit_type/coin(coin_quantity_list 内)等枚举值来自后端 refs（atm_va_ref_broker_allocation_status / atm_va_ref_coin_withdraw_audit_type / global_coin），未在前端硬编码中文/英文文案。此接口为写操作（涉及真实规则数据变更），本次仅做静态代码分析，未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为具名 interface addWithdrawAuditRuleRequest，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为具名 interface addWithdrawAuditRuleRequest，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rule_name": {
                    "type": "string",
                    "description": "规则名称"
                  },
                  "priority": {
                    "type": "number",
                    "description": "优先级. 取值范围 1-999"
                  },
                  "upstream_broker": {
                    "type": "string",
                    "description": "渠道. 区分存款账户对应的上手，目前前端固定可选值为 HASHKEY"
                  },
                  "account_nos": {
                    "type": "string",
                    "description": "适用账户. 前端为「全部账户」/「指定账户」二选一：全部账户传 all；指定账户传多个证券账号，以逗号分隔"
                  },
                  "broker_allocate_states": {
                    "type": "string",
                    "description": "公司资金调拨状态. 多选，提交时以逗号拼接为字符串；可选值来自后端枚举 ref atm_va_ref_broker_allocation_status，已知取值：all-全部，4-成功，5-失败，6-异常，7-已驳回"
                  },
                  "coin_quantity_list": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "币种及数量范围列表. 动态列表，每项为 { coin: string（币种，枚举来自 ref global_coin）, quantity_min: string（最小数量）, quantity_max: string（最大数量） }"
                  },
                  "equivalent_usd": {
                    "type": "object",
                    "description": "等值USD金额范围. { amount_min: string, amount_max: string }，前端为可选数值范围输入"
                  },
                  "delay_time": {
                    "type": "number",
                    "description": "审核延迟时长. 单位分钟，取值范围 1-999"
                  },
                  "audit_type": {
                    "type": "string",
                    "description": "审核规则. 枚举值（来自 ref atm_va_ref_coin_withdraw_audit_type）：auto_pass-自动通过，auto_reject-自动驳回，manual_ticket-人工工单审核"
                  },
                  "status": {
                    "type": "string",
                    "description": "状态. 枚举值：enabled-启用，disabled-禁用"
                  },
                  "remark": {
                    "type": "string",
                    "description": "备注. 最长 500 字符"
                  }
                },
                "required": [
                  "rule_name",
                  "priority",
                  "upstream_broker",
                  "account_nos",
                  "broker_allocate_states",
                  "coin_quantity_list",
                  "delay_time",
                  "audit_type",
                  "status"
                ]
              },
              "example": {
                "rule_name": "HashKey自动通过规则",
                "priority": 10,
                "upstream_broker": "HASHKEY",
                "account_nos": "all",
                "broker_allocate_states": "4,5",
                "coin_quantity_list": [
                  {
                    "coin": "BTC",
                    "quantity_min": "0",
                    "quantity_max": "1"
                  }
                ],
                "equivalent_usd": {
                  "amount_min": "0",
                  "amount_max": "10000"
                },
                "delay_time": 30,
                "audit_type": "auto_pass",
                "status": "enabled",
                "remark": "示例备注"
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/modify/withdraw/audit/rule": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "编辑虚拟资产出币审核规则",
        "description": "出币审核规则(Crypto Approval) 列表行内「编辑」子页面（crypto-approval/edit.tsx）提交，字段结构与「新增」一致（见同目录 withdraw_audit_rule_add.json 的 addWithdrawAuditRuleRequest 接口），额外多传 id 定位待编辑记录。来自前端 fe-wealth-admin apps/atm-next/src/services/atm.ts#modifyWithdrawAuditRule，结合 apps/atm-next/src/pages/crypto-withdrawal-rules/crypto-approval/edit.tsx 表单字段确认。此接口为写操作（涉及真实规则数据变更），本次仅做静态代码分析，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "规则ID. 待编辑规则的主键，编辑时必填"
                  },
                  "rule_name": {
                    "type": "string",
                    "description": "规则名称"
                  },
                  "priority": {
                    "type": "number",
                    "description": "优先级. 取值范围 1-999"
                  },
                  "upstream_broker": {
                    "type": "string",
                    "description": "渠道. 区分存款账户对应的上手，目前前端固定可选值为 HASHKEY"
                  },
                  "account_nos": {
                    "type": "string",
                    "description": "适用账户. 前端为「全部账户」/「指定账户」二选一：全部账户传 all；指定账户传多个证券账号，以逗号分隔"
                  },
                  "broker_allocate_states": {
                    "type": "string",
                    "description": "公司资金调拨状态. 多选，提交时以逗号拼接为字符串；可选值来自后端枚举 ref atm_va_ref_broker_allocation_status，已知取值：all-全部，4-成功，5-失败，6-异常，7-已驳回"
                  },
                  "coin_quantity_list": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "币种及数量范围列表. 动态列表，每项为 { coin: string（币种，枚举来自 ref global_coin）, quantity_min: string（最小数量）, quantity_max: string（最大数量） }"
                  },
                  "equivalent_usd": {
                    "type": "object",
                    "description": "等值USD金额范围. { amount_min: string, amount_max: string }，前端为可选数值范围输入"
                  },
                  "delay_time": {
                    "type": "number",
                    "description": "审核延迟时长. 单位分钟，取值范围 1-999"
                  },
                  "audit_type": {
                    "type": "string",
                    "description": "审核规则. 枚举值（来自 ref atm_va_ref_coin_withdraw_audit_type）：auto_pass-自动通过，auto_reject-自动驳回，manual_ticket-人工工单审核"
                  },
                  "status": {
                    "type": "string",
                    "description": "状态. 枚举值：enabled-启用，disabled-禁用"
                  },
                  "remark": {
                    "type": "string",
                    "description": "备注. 最长 500 字符"
                  }
                },
                "required": [
                  "id",
                  "rule_name",
                  "priority",
                  "upstream_broker",
                  "account_nos",
                  "broker_allocate_states",
                  "coin_quantity_list",
                  "delay_time",
                  "audit_type",
                  "status"
                ]
              },
              "example": {
                "id": "1001",
                "rule_name": "HashKey自动通过规则",
                "priority": 10,
                "upstream_broker": "HASHKEY",
                "account_nos": "all",
                "broker_allocate_states": "4,5",
                "coin_quantity_list": [
                  {
                    "coin": "BTC",
                    "quantity_min": "0",
                    "quantity_max": "1"
                  }
                ],
                "equivalent_usd": {
                  "amount_min": "0",
                  "amount_max": "10000"
                },
                "delay_time": 30,
                "audit_type": "auto_pass",
                "status": "enabled",
                "remark": "示例备注"
              }
            }
          }
        }
      }
    },
    "/v1/datasets/va_coin_withdraw_limit_configs": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "出币日限额配置",
        "description": "获取 `出币日限额配置` 数据集。URL path 中的数据集名为 `va_coin_withdraw_limit_configs`。",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "过滤对象。",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "编号 编号"
                      },
                      "member_ids": {
                        "type": "string",
                        "description": "客户编号 客户编号"
                      },
                      "status": {
                        "type": "string",
                        "description": "状态 状态 选项 ref：`atm_va_ref_coin_withdraw_limit_status`。"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "创建时间"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "页码（从 1 开始）。"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "每页行数（10/20/50/100/200）。"
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "编号"
                          },
                          "custom_member_ids": {
                            "type": "string",
                            "description": "客户编号"
                          },
                          "withdrawal_crypto": {
                            "type": "string",
                            "description": "出币支持的加密货币"
                          },
                          "custom_cut_time": {
                            "type": "string",
                            "description": "循环周期基准日"
                          },
                          "custom_limit_currency": {
                            "type": "string",
                            "description": "日限额（币种）"
                          },
                          "custom_frequency_limit": {
                            "type": "string",
                            "description": "出币频率限制"
                          },
                          "priority": {
                            "type": "string",
                            "description": "优先级"
                          },
                          "raw_status": {
                            "type": "string",
                            "description": "状态"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "创建时间"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "更新时间"
                          },
                          "remark": {
                            "type": "string",
                            "description": "备注"
                          },
                          "updater": {
                            "type": "string",
                            "description": "操作人"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "总行数。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/delete/coin/withdraw/limit": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "删除出币日限额配置",
        "description": "出币日限额(Cryptocurrency W/D Limit) 列表行内「删除」按钮。来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#deleteCoinWithdrawLimit，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "配置ID"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "123"
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/add/coin/withdraw/limit": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "新增出币日限额配置",
        "description": "出币日限额(Cryptocurrency W/D Limit) 页面「新增」弹窗（WithdrawLimitConfigHandler.tsx）提交。此页面为最近合并到 master 的新功能（PD-30693），来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#addCoinWithdrawLimit，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "配置ID"
                  },
                  "creator": {
                    "type": "string",
                    "description": "创建人"
                  },
                  "cut_time": {
                    "type": "string",
                    "description": "循环周期基准日"
                  },
                  "exchange_currency": {
                    "type": "string",
                    "description": "兑换币种"
                  },
                  "frequency_limit": {
                    "type": "string",
                    "description": "出币频率限制. 空表示不限制"
                  },
                  "limit_amount": {
                    "type": "string",
                    "description": "初始额度. 只允许非负数"
                  },
                  "limit_type": {
                    "type": "string",
                    "description": "限额类型"
                  },
                  "member_ids": {
                    "type": "string",
                    "description": "客户编号. 多个用逗号分隔，全部传 all，特定客户如 1,2,3"
                  },
                  "priority": {
                    "type": "number",
                    "description": "优先级. 用于排序"
                  },
                  "remark": {
                    "type": "string",
                    "description": "备注"
                  },
                  "status": {
                    "type": "string",
                    "description": "状态"
                  },
                  "time_zone": {
                    "type": "string",
                    "description": "时区"
                  },
                  "updater": {
                    "type": "string",
                    "description": "更新人"
                  },
                  "withdrawal_crypto": {
                    "type": "string",
                    "description": "出币支持的加密货币. 多选逗号分隔"
                  }
                },
                "required": [
                  "cut_time",
                  "exchange_currency",
                  "limit_amount",
                  "member_ids",
                  "priority",
                  "status",
                  "time_zone"
                ]
              },
              "example": {
                "creator": "",
                "cut_time": "",
                "exchange_currency": "USD",
                "frequency_limit": "",
                "limit_amount": "0",
                "limit_type": "daily",
                "member_ids": "all",
                "priority": 1,
                "remark": "",
                "status": "enabled",
                "time_zone": "CN",
                "withdrawal_crypto": ""
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/modify/coin/withdraw/limit": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "编辑出币日限额配置",
        "description": "出币日限额(Cryptocurrency W/D Limit) 列表行内「编辑」弹窗（WithdrawLimitConfigHandler.tsx）提交，字段结构与「新增」一致（见同目录 add_coin_withdraw_limit.json），此时 id 必传。来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#modifyCoinWithdrawLimit，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "配置ID"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "123"
              }
            }
          }
        }
      }
    },
    "/v1/datasets/atm_balance_rules": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "余额风控规则",
        "description": "获取 `余额风控规则` 数据集。URL path 中的数据集名为 `atm_balance_rules`。",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "过滤对象。",
                    "properties": {
                      "biz_type": {
                        "type": "string",
                        "description": "业务类型 选项 ref：`atm_biz_type`。"
                      },
                      "rule_status": {
                        "type": "string",
                        "description": "状态 选项 ref：`atm_rule_status`。"
                      },
                      "bank_code": {
                        "type": "string",
                        "description": "银行代码"
                      },
                      "bank_account": {
                        "type": "string",
                        "description": "银行账号"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "页码（从 1 开始）。"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "每页行数（10/20/50/100/200）。"
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bank_code": {
                            "type": "string",
                            "description": "银行代码"
                          },
                          "bank_account": {
                            "type": "string",
                            "description": "银行账号"
                          },
                          "biz_type": {
                            "type": "string",
                            "description": "业务类型"
                          },
                          "rule_status": {
                            "type": "string",
                            "description": "状态"
                          },
                          "currency": {
                            "type": "string",
                            "description": "币种"
                          },
                          "warning_amount": {
                            "type": "string",
                            "description": "提示余额"
                          },
                          "intercept_amount": {
                            "type": "string",
                            "description": "拦截余额"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "修改时间"
                          },
                          "modify_operator": {
                            "type": "string",
                            "description": "修改人"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "总行数。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atmrisk/switch_balance_rule": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "启用/停用余额拦截规则",
        "description": "余额拦截(Balance Blocking Rules) 列表行内启停开关。来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#switchBalanceRule，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "规则ID"
                  },
                  "rule_switch": {
                    "type": "boolean",
                    "description": "规则开关"
                  }
                },
                "required": [
                  "id",
                  "rule_switch"
                ]
              },
              "example": {
                "id": "123",
                "rule_switch": true
              }
            }
          }
        }
      }
    },
    "/v1/datasets/atm_withdraw_prompts": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "出金参数配置",
        "description": "获取 `出金参数配置` 数据集。URL path 中的数据集名为 `atm_withdraw_prompts`。",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "过滤对象。",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "编号"
                      },
                      "currencies": {
                        "type": "string",
                        "description": "币种 选项 ref：`global_currency_with_all`。"
                      },
                      "account_channel": {
                        "type": "string",
                        "description": "柜台"
                      },
                      "rule_status": {
                        "type": "string",
                        "description": "状态 选项 ref：`atm_withdraw_audits_rule`。"
                      },
                      "region_codes": {
                        "type": "string",
                        "description": "银行账户地区 选项 ref：`atm_cash_notice_region`。"
                      },
                      "bank_ids": {
                        "type": "string",
                        "description": "银行名称 选项 ref：`atm_out_region_banks`。"
                      },
                      "rule_name": {
                        "type": "string",
                        "description": "规则名称"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "页码（从 1 开始）。"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "每页行数（10/20/50/100/200）。"
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "编号"
                          },
                          "region_codes": {
                            "type": "string",
                            "description": "银行账户地区"
                          },
                          "bank_ids": {
                            "type": "string",
                            "description": "银行名称"
                          },
                          "custom_time": {
                            "type": "string",
                            "description": "提交时间截点"
                          },
                          "currency": {
                            "type": "string",
                            "description": "币种"
                          },
                          "priority": {
                            "type": "string",
                            "description": "优先级"
                          },
                          "rule_status": {
                            "type": "string",
                            "description": "状态"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "创建时间"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "更新时间"
                          },
                          "modify_operator": {
                            "type": "string",
                            "description": "修改人"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "总行数。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atm/withdraw/prompt/add": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "新增出金提示/参数配置",
        "description": "出金参数(Withdrawal Configuration) 页面「新增」子页面（rule/parameter-query/add.tsx，经 ParameterForm.tsx）提交。来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#AddWithdrawPrompt，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "region_codes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "地区代码列表"
                  },
                  "bank_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "银行ID列表"
                  },
                  "currency": {
                    "type": "string",
                    "description": "币种"
                  },
                  "time_type": {
                    "type": "string",
                    "description": "时间类型"
                  },
                  "time_left": {
                    "type": "string",
                    "description": "时间区间左值"
                  },
                  "time_right": {
                    "type": "string",
                    "description": "时间区间右值"
                  },
                  "priority": {
                    "type": "number",
                    "description": "优先级"
                  },
                  "rule_status": {
                    "type": "string",
                    "description": "规则状态"
                  },
                  "prompts": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "提示文案明细列表. 每项含 amount_left/amount_right/plat_fee/bank_fee/arrive_time（均为多语言对象）/arrive_rule"
                  }
                },
                "required": [
                  "region_codes",
                  "bank_ids",
                  "currency",
                  "time_type",
                  "time_left",
                  "time_right",
                  "priority",
                  "rule_status",
                  "prompts"
                ]
              },
              "example": {
                "region_codes": [],
                "bank_ids": [],
                "currency": "HKD",
                "time_type": "",
                "time_left": "",
                "time_right": "",
                "priority": 1,
                "rule_status": "",
                "prompts": [
                  {
                    "amount_left": "",
                    "amount_right": "",
                    "plat_fee": {
                      "en": "",
                      "zh-CN": "",
                      "zh-HK": ""
                    },
                    "bank_fee": {
                      "en": "",
                      "zh-CN": "",
                      "zh-HK": ""
                    },
                    "arrive_time": {
                      "en": "",
                      "zh-CN": "",
                      "zh-HK": ""
                    },
                    "arrive_rule": ""
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/atm/withdraw/prompt/modify": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "编辑出金提示/参数配置",
        "description": "出金参数(Withdrawal Configuration) 页面「编辑」子页面（rule/parameter-query/edit.tsx，经 ParameterForm.tsx）提交，字段结构与「新增出金提示配置」一致（见同目录 add_withdraw_prompt.json），额外带 id。来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#ModifyWithdrawPrompt，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "配置ID"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "123"
              }
            }
          }
        }
      }
    },
    "/v1/datasets/atm_bank_daily_limits": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "日限额配置",
        "description": "获取 `日限额配置` 数据集。URL path 中的数据集名为 `atm_bank_daily_limits`。",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "过滤对象。",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "日限额配置编号"
                      },
                      "lb_bank_name": {
                        "type": "string",
                        "description": "公司银行名称 选项 ref：`atm_lb_bank_name`。"
                      },
                      "currency": {
                        "type": "string",
                        "description": "币种 选项 ref：`global_currency_filter_by_account_channel`。"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "创建时间"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "页码（从 1 开始）。"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "每页行数（10/20/50/100/200）。"
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "日限额配置编号"
                          },
                          "last_bill_date": {
                            "type": "string",
                            "description": "循环基准日"
                          },
                          "lb_bank_name": {
                            "type": "string",
                            "description": "公司银行名称"
                          },
                          "bank_accounts": {
                            "type": "string",
                            "description": "银行账号"
                          },
                          "bank_operation_types_names": {
                            "type": "string",
                            "description": "出金方式"
                          },
                          "currency": {
                            "type": "string",
                            "description": "币种"
                          },
                          "limit_amount": {
                            "type": "string",
                            "description": "初始额度"
                          },
                          "alarm_amount": {
                            "type": "string",
                            "description": "日剩余额度警戒线"
                          },
                          "remaining_amount": {
                            "type": "string",
                            "description": "日剩余额度"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "创建时间"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "更新时间"
                          },
                          "remark": {
                            "type": "string",
                            "description": "备注"
                          },
                          "operator": {
                            "type": "string",
                            "description": "操作人"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "总行数。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atm/delete/bank/balance": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "删除日限额（换汇池）配置",
        "description": "日限额(Daily limits) 列表行内「删除」按钮，与 汇兑(Exchange)/换汇池额度设置(FX Pool Limit Configuration) 页面共用同一接口（详见该目录下 delete_bank_balance.json）。来自前端 fe-wealth-admin packages/finance/src/services/atm.ts#delExchangeBalance，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "记录ID"
                  },
                  "business_type": {
                    "type": "string",
                    "description": "业务类型"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "123",
                "business_type": ""
              }
            }
          }
        }
      }
    },
    "/v1/datasets/atm_bank_daily_limit_changes": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "日限额变动表",
        "description": "获取 `日限额变动表` 数据集。URL path 中的数据集名为 `atm_bank_daily_limit_changes`。",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "过滤对象。",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "日限额变动编号"
                      },
                      "change_type": {
                        "type": "string",
                        "description": "业务类型 选项 ref：`atm_change_type_cash_for_list`。"
                      },
                      "currency": {
                        "type": "string",
                        "description": "币种 选项 ref：`global_currency_filter_by_account_channel`。"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "创建时间"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "页码（从 1 开始）。"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "每页行数（10/20/50/100/200）。"
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "日限额变动编号"
                          },
                          "bank_balance_id": {
                            "type": "string",
                            "description": "日限额配置编号"
                          },
                          "bill_date": {
                            "type": "string",
                            "description": "循环基准日"
                          },
                          "change_type": {
                            "type": "string",
                            "description": "业务类型"
                          },
                          "lb_bank_name": {
                            "type": "string",
                            "description": "公司银行名称"
                          },
                          "bank_accounts": {
                            "type": "string",
                            "description": "银行账号"
                          },
                          "bank_operation_types_names": {
                            "type": "string",
                            "description": "出金方式"
                          },
                          "currency": {
                            "type": "string",
                            "description": "币种"
                          },
                          "order_no": {
                            "type": "string",
                            "description": "业务单号"
                          },
                          "before_occurred": {
                            "type": "string",
                            "description": "日初始剩余额度"
                          },
                          "occurred_amount": {
                            "type": "string",
                            "description": "发生额度"
                          },
                          "after_occurred": {
                            "type": "string",
                            "description": "日剩余额度"
                          },
                          "occurred_from": {
                            "type": "string",
                            "description": "是否系统自动"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "创建时间"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "更新时间"
                          },
                          "remark": {
                            "type": "string",
                            "description": "备注"
                          },
                          "operator": {
                            "type": "string",
                            "description": "操作人"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "总行数。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atm/update/direct/withdraw/audit/config": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "切换出金是否需要审核开关",
        "description": "更多设置(More settings) 页面开关切换。来自前端 fe-wealth-admin packages/next/src/services/atm.ts#auditConfig，未实际提交验证。config_key 前端固定传 direct_withdraw_need_audit。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "config_key": {
                    "type": "string",
                    "description": "配置项键"
                  },
                  "config_value": {
                    "type": "string",
                    "description": "配置值"
                  }
                },
                "required": [
                  "config_key",
                  "config_value"
                ]
              },
              "example": {
                "config_key": "direct_withdraw_need_audit",
                "config_value": "yes"
              }
            }
          }
        }
      }
    },
    "/v1/datasets/atm_withdraw_package_rules": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "自动化出金打包配置表",
        "description": "获取 `自动化出金打包配置表` 数据集。URL path 中的数据集名为 `atm_withdraw_package_rules`。",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "过滤对象。",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "自动出金规则编号 请输入 选项 ref：`withdraw_type`。"
                      },
                      "lb_bank_channel_id": {
                        "type": "string",
                        "description": "出金渠道 选项 ref：`atm_lb_bank_channel_id_name`。"
                      },
                      "package_type": {
                        "type": "string",
                        "description": "出金策略 选项 ref：`atm_package_type`。"
                      },
                      "support_region": {
                        "type": "string",
                        "description": "支持的银行类型 选项 ref：`atm_cash_notice_region`。"
                      },
                      "support_bank_ids": {
                        "type": "string",
                        "description": "支持的银行名称 选项 ref：`atm_cash_notice_region_bank`。"
                      },
                      "status": {
                        "type": "string",
                        "description": "状态 选项 ref：`atm_status`。"
                      },
                      "audit_status": {
                        "type": "string",
                        "description": "审核状态 选项 ref：`atm_out_package_rule_apply_state`。"
                      },
                      "original_limit": {
                        "type": "string",
                        "description": "原路出金 选项 ref：`atm_out_package_original_limit`。"
                      },
                      "hit_rules": {
                        "type": "string",
                        "description": "命中规则 选项 ref：`withdraw_audit_flags_all`。"
                      },
                      "rule_codes": {
                        "type": "string",
                        "description": "命中规则 选项 ref：`aml_withdraw_rules`。"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "页码（从 1 开始）。"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "每页行数（10/20/50/100/200）。"
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "自动出金规则编号"
                          },
                          "original_limit": {
                            "type": "string",
                            "description": "原路出金"
                          },
                          "rule_codes": {
                            "type": "string",
                            "description": "命中规则"
                          },
                          "custom_lb_bank_channel_id": {
                            "type": "string",
                            "description": "出金渠道"
                          },
                          "custom_original_limit_accounts": {
                            "type": "string",
                            "description": "出金账户"
                          },
                          "fee_bank_account_id": {
                            "type": "string",
                            "description": "手续费账户"
                          },
                          "package_type": {
                            "type": "string",
                            "description": "出金策略"
                          },
                          "batch_max_count": {
                            "type": "string",
                            "description": "批次笔数最大值"
                          },
                          "charge_type": {
                            "type": "string",
                            "description": "费用承担方式"
                          },
                          "custom_single_quota_currency_amount": {
                            "type": "string",
                            "description": "支持币种及单笔限额"
                          },
                          "custom_service_time": {
                            "type": "string",
                            "description": "银行服务窗口"
                          },
                          "custom_lb_service_time": {
                            "type": "string",
                            "description": "公司窗口期间"
                          },
                          "support_region": {
                            "type": "string",
                            "description": "银行账户地区"
                          },
                          "support_bank_ids": {
                            "type": "string",
                            "description": "支持的银行列表名称"
                          },
                          "sec_auth_show": {
                            "type": "string",
                            "description": "是否支持银证"
                          },
                          "priority": {
                            "type": "string",
                            "description": "优先级"
                          },
                          "status": {
                            "type": "string",
                            "description": "状态"
                          },
                          "audit_status": {
                            "type": "string",
                            "description": "审核状态"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "创建时间"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "更新时间"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "总行数。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/atm/out/cash/package/rule": {
      "delete": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "删除自动出金规则",
        "description": "自动出金规则(Auto Withdrawal Rules) 列表行内「删除」按钮。来自前端 fe-wealth-admin packages/finance/src/services/atm.ts#delOutCashPackage，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "规则ID"
                  },
                  "action_in": {
                    "type": "number",
                    "description": "操作类型. 前端固定传 1"
                  }
                },
                "required": [
                  "id",
                  "action_in"
                ]
              },
              "example": {
                "id": "123",
                "action_in": 1
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "新增自动出金规则",
        "description": "自动出金规则(Auto Withdrawal Rules) 页面「新增」子页面（rule/withdrawal/edit.tsx）提交。来自前端 fe-wealth-admin packages/finance/src/services/atm.ts#addOutCashPackage，request.params 取自 edit.tsx 的 handleSubmit（先用常量 white 白名单 pick 表单值，再合并 action_in/audit_frontend_resource 才调用 addOutCashPackage），未实际提交验证，涉及真实自动出金规则配置。\n\n未在前端调用处发现明确字段读取（函数参数为 data，无类型标注）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为 data，无类型标注）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "original_limit": {
                    "type": "string",
                    "description": "出金账户限额类型. 仅 LBHK 站点展示的 radio-group，枚举来自 ref atm_out_package_original_limit（如是否使用「原始限额出金账户」维度）；新增时可编辑，编辑态禁用。"
                  },
                  "lb_bank_channel_id": {
                    "type": "string",
                    "description": "出金银行渠道ID. select，候选项依 original_limit 与是否 LBHK 从不同 ref 取值：original_limit=1 且 LBHK 时用 ref atm_bank_operate_types_original，否则用 ref atm_select_lb_bank_channel_id_name（编辑态用级联 ref atm_select_lb_bank_channel_id_name_cascade）。"
                  },
                  "package_type": {
                    "type": "string",
                    "description": "出金方式/套餐类型. select，枚举来自 ref atm_package_type。"
                  },
                  "batch_max_count": {
                    "type": "string",
                    "description": "单批最大笔数. input-number，范围 0-100，整数，提交前会转成字符串。"
                  },
                  "charge_type": {
                    "type": "string",
                    "description": "手续费承担方式. select，枚举来自 ref atm_charge_type，如 SHA/OUR/BEN 等 SWIFT 费用承担方式。"
                  },
                  "fee_bank_account_id": {
                    "type": "string",
                    "description": "手续费账户. 仅当 charge_type 为 SHA 或 OUR 时展示，select，候选项来自选定银行渠道后动态查询 template lb_bank_accounts 的结果。"
                  },
                  "single_quota_currency_amount": {
                    "type": "string",
                    "description": "单笔限额（按币种）. 可增行的 [{currency, amount}] 列表，currency 来自 ref global_currency_filter_by_account_channel，amount 为数字；提交前 JSON.stringify 成字符串。"
                  },
                  "single_quota_currency_amount_keys": {
                    "type": "string",
                    "description": "单笔限额行索引. 前端自动生成，值为 single_quota_currency_amount 数组的下标序列（如 [0,1,...]），供后端/审计标识行顺序。"
                  },
                  "currency": {
                    "type": "string",
                    "description": "币种（逗号分隔）. 由 single_quota_currency_amount 中各行 currency 去重拼接的逗号分隔字符串，非独立表单项。"
                  },
                  "support_region": {
                    "type": "string",
                    "description": "支持地区（逗号分隔）. 表单多选 select，候选项来自 ref atm_out_cash_rule_region，提交前 join(',') 成字符串；变更后会重新联动查询 support_bank_ids 的候选银行。"
                  },
                  "support_bank_ids": {
                    "type": "string",
                    "description": "支持银行ID列表. TreeSelect 多选，候选项来自按 support_region 联动查询 ref atm_region_banks_pick_exclude_default 返回的银行列表。"
                  },
                  "sec_auth": {
                    "type": "string",
                    "description": "二次验证方式. radio-group，枚举来自 ref atm_sec_auth。"
                  },
                  "priority": {
                    "type": "number",
                    "description": "优先级. input-number，范围 0-999，整数。"
                  },
                  "status": {
                    "type": "string",
                    "description": "规则状态. radio-group，前端本地定义两个选项：'1'=启用，'2'=禁用。"
                  },
                  "remark": {
                    "type": "string",
                    "description": "备注. textarea 自由文本。"
                  },
                  "rule_codes": {
                    "type": "string",
                    "description": "命中的AML出金规则（仅 LBHK）. 仅 LBHK 站点展示，多选，枚举来自 ref aml_withdraw_rules（含 all=全部，选 all 会互斥清空其它选项）。"
                  },
                  "original_limit_bank_accounts": {
                    "type": "string",
                    "description": "原始限额出金账户列表（仅 LBHK 且 original_limit=1）. 仅当 LBHK 站点且 original_limit='1' 时展示，按银行分组多选账户，候选项来自联动查询 template atm_lb_bank_accounts_package_rule 的结果。"
                  },
                  "service_time": {
                    "type": "string",
                    "description": "服务时间（本方时区）. 由 time_zones(枚举: hk_trade_day/calendar_day/week) + time_rule 拼装的 JSON 字符串；time_zones='week' 时 time_rule 为多组 {week_interval, time_interval}。"
                  },
                  "lb_service_time": {
                    "type": "string",
                    "description": "服务时间（LB侧时区）. 结构同 service_time，另一套独立的时间窗口配置，JSON 字符串。"
                  },
                  "version": {
                    "type": "number",
                    "description": "接口版本标记. 前端固定传 2，代码注释「兼容租户老接口」，非表单可见字段。"
                  },
                  "name": {
                    "type": "string",
                    "description": "银行渠道名称（冗余展示字段）. 非表单直接字段，提交前从 lb_bank_channel_id 对应的候选项中查出 label 赋值给 values.name 后一并提交（仅当能匹配到时才会有值）。"
                  },
                  "action_in": {
                    "type": "number",
                    "description": "操作入口标记. 非表单字段，前端固定传 1（新增/编辑共用，来自 useRequest 内组装的 config.action_in）。"
                  },
                  "audit_frontend_resource": {
                    "type": "object",
                    "description": "前端审计日志附加信息. 非业务字段，供后台审计日志展示用，新增场景固定传 { before_id: copy_id(从「复制」入口带入的源规则ID，可为空), showCopy: 是否复制新增(布尔或 null) }。"
                  }
                },
                "required": [
                  "original_limit",
                  "lb_bank_channel_id",
                  "package_type",
                  "batch_max_count",
                  "charge_type",
                  "single_quota_currency_amount",
                  "single_quota_currency_amount_keys",
                  "currency",
                  "support_region",
                  "support_bank_ids",
                  "sec_auth",
                  "priority",
                  "service_time",
                  "lb_service_time",
                  "version",
                  "action_in"
                ]
              },
              "example": {
                "original_limit": "0",
                "lb_bank_channel_id": "10086",
                "package_type": "1",
                "batch_max_count": "50",
                "charge_type": "SHA",
                "fee_bank_account_id": "2001",
                "single_quota_currency_amount": "[{\"currency\":\"USD\",\"amount\":10000}]",
                "single_quota_currency_amount_keys": [
                  0
                ],
                "currency": "USD",
                "support_region": "hk,us",
                "support_bank_ids": "101,102",
                "sec_auth": "1",
                "priority": 10,
                "status": "1",
                "remark": "",
                "rule_codes": [
                  "all"
                ],
                "original_limit_bank_accounts": [],
                "service_time": "{\"time_zones\":\"week\",\"time_rule\":[{\"week_interval\":\"1-5\",\"time_interval\":\"09:00:00-18:00:00\"}]}",
[...]
