{
  "openapi": "3.0.1",
  "info": {
    "title": "Whale API",
    "description": "Longbridge Whale OpenAPI for SaaS tenants.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://openapi.longbridge.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Asset"
    }
  ],
  "paths": {
    "/v1/portfolio/query_account_balances_summary": {
      "get": {
        "tags": [
          "Asset"
        ],
        "summary": "Total Asset & Total Cash",
        "description": "Total assets at the top of the asset overview page (with breakdowns by type and currency) and book total cash details. Filter enums come from data_porter/search_bar (template_id=balance_and_equity_holding_summary); asset type labels come from the equity_type_summary ref of data_porter/refs. Localized names follow Accept-Language.",
        "parameters": [
          {
            "name": "client_types",
            "in": "query",
            "required": false,
            "description": "Client Type. Client types. Multiple values joined by commas; an empty string means all. Options: `\"\"` = All; `1` = Retail Account; `2` = House Account; `3` = Joint Account.",
            "schema": {
              "type": "string"
            },
            "example": "2,1"
          },
          {
            "name": "account_types",
            "in": "query",
            "required": false,
            "description": "Account Type. Account types. Multiple values joined by commas; an empty string means all. Options: `\"\"` = All; `M` = Margin; `C` = Cash; `F` = Futures.",
            "schema": {
              "type": "string"
            },
            "example": "F,C"
          },
          {
            "name": "broker_codes",
            "in": "query",
            "required": false,
            "description": "AE. Filter by AE (broker) codes, multiple values joined by commas. Besides the fixed options below, the rest are AE codes dynamically issued by search_bar (vary by tenant/environment; key equals value, e.g. LBtestwbwhale123, LPT808909; 127 items in the sample environment). Options: `\"\"` = All; `=` = Unassigned. Note: the remaining values are dynamic AE codes, not a fixed enum; the live search_bar response is authoritative.",
            "schema": {
              "type": "string"
            },
            "example": "=,LBtestwbwhale123"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the asset summary object directly (frontend assetsOverview).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_assets": {
                      "type": "array",
                      "description": "Total Assets (by currency). Total assets per currency, used for the header display and currency switching.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "Currency. e.g. HKD/USD/CNY/SGD."
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount. Total asset amount in this currency (decimal string)."
                          }
                        }
                      }
                    },
                    "total_asset_type": {
                      "type": "array",
                      "description": "Total Asset by Type. Ratio by asset type (total asset type pie chart).",
                      "items": {
                        "type": "object",
                        "properties": {
                          "equity_type": {
                            "type": "string",
                            "description": "Equity Type. Asset type key (e.g. CASH/US/HK/CN/OTHER/FUND), mapped to the equity_type_summary ref of data_porter/refs."
                          },
                          "name": {
                            "type": "string",
                            "description": "Type Name. Localized display name of the asset type, returned per Accept-Language (e.g. Cash)."
                          },
                          "ratio": {
                            "type": "string",
                            "description": "Ratio. Ratio (decimal string); the frontend multiplies by 100 for percentage display."
                          }
                        }
                      }
                    },
                    "total_asset_currency": {
                      "type": "array",
                      "description": "Total Asset by Currency. Ratio by currency (total asset currency pie chart).",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "Currency."
                          },
                          "ratio": {
                            "type": "string",
                            "description": "Ratio. Decimal string in the range 0–1; the frontend multiplies by 100 for percentage display."
                          }
                        }
                      }
                    },
                    "total_balance": {
                      "type": "array",
                      "description": "Total Cash. Book total cash details per currency (the \"Total Cash\" table).",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "Currency."
                          },
                          "book_balance": {
                            "type": "string",
                            "description": "Total Cash. Decimal string."
                          },
                          "settled_amount": {
                            "type": "string",
                            "description": "Settled."
                          },
                          "unsettle_amount": {
                            "type": "string",
                            "description": "Outstanding."
                          },
                          "trade_0": {
                            "type": "string",
                            "description": "T+0 amount to be settled."
                          },
                          "trade_1": {
                            "type": "string",
                            "description": "T+1 amount to be settled."
                          },
                          "trade_2": {
                            "type": "string",
                            "description": "T+2 amount to be settled."
                          },
                          "trade_n": {
                            "type": "string",
                            "description": "T+N amount to be settled."
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "total_assets": [
                    {
                      "currency": "HKD",
                      "amount": "12345678.90"
                    },
                    {
                      "currency": "USD",
                      "amount": "2345678.10"
                    }
                  ],
                  "total_asset_type": [
                    {
                      "equity_type": "CASH",
                      "name": "Cash",
                      "ratio": "0.35"
                    },
                    {
                      "equity_type": "HK",
                      "name": "HK Equities",
                      "ratio": "0.65"
                    }
                  ],
                  "total_asset_currency": [
                    {
                      "currency": "HKD",
                      "ratio": "0.8"
                    },
                    {
                      "currency": "USD",
                      "ratio": "0.2"
                    }
                  ],
                  "total_balance": [
                    {
                      "currency": "HKD",
                      "book_balance": "1000000.00",
                      "settled_amount": "900000.00",
                      "unsettle_amount": "100000.00",
                      "trade_0": "0.00",
                      "trade_1": "50000.00",
                      "trade_2": "50000.00",
                      "trade_n": "0.00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Tenant APP_KEY."
      },
      "accessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "ACCESS_TOKEN issued for the tenant."
      },
      "timestamp": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Timestamp",
        "description": "Unix timestamp of the request, e.g. 1539095200.123."
      },
      "signature": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Signature",
        "description": "HMAC-SHA256 request signature. See the Authentication guide."
      }
    }
  },
  "security": [
    {
      "apiKey": [],
      "accessToken": [],
      "timestamp": [],
      "signature": []
    }
  ]
}