{
  "openapi": "3.0.0",
  "info": {
    "title": "TradingAPI",
    "description": "供 Broker App 以單個客戶身份調用帳戶、資產、交易及相關業務能力。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lbkrs.com",
      "description": "Production"
    },
    {
      "url": "https://api.longbridge.xyz",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "行情"
    },
    {
      "name": "交易"
    },
    {
      "name": "資產"
    },
    {
      "name": "帳戶"
    },
    {
      "name": "活動"
    }
  ],
  "components": {
    "securitySchemes": {},
    "schemas": {
      "ApiEnvelope": {
        "type": "object",
        "description": "網關統一回應外層結構",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "業務狀態碼，0 表示成功"
          },
          "message": {
            "type": "string",
            "description": "便於閱讀的處理結果或錯誤資訊。"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "RewardsCard": {
        "type": "object",
        "description": "卡券資訊",
        "properties": {
          "card_id": {
            "type": "string",
            "description": "卡券 id"
          },
          "member_id": {
            "type": "string",
            "description": "持有該卡券的客戶對應的 `member_id`。"
          },
          "card_type": {
            "type": "string",
            "description": "卡券類型：cash 現金卡，quote 行情卡，fundamental 基本面卡，commission 免佣卡，ipo 打新特權卡，ipo_interest 打新融資利息卡，ipo_commission 打新手續費卡，stock 股票卡，stock_fragment 碎股卡，platform_fee_deduct 平台費抵扣卡，finance_interest 融資利息卡，fund_interest 基金加息卡，coffee_coupon 咖啡券\n",
            "enum": [
              "cash",
              "quote",
              "fundamental",
              "commission",
              "ipo",
              "ipo_interest",
              "ipo_commission",
              "stock",
              "stock_fragment",
              "platform_fee_deduct",
              "finance_interest",
              "fund_interest",
              "coffee_coupon"
            ]
          },
          "title": {
            "type": "string",
            "description": "卡券標題"
          },
          "title_sec": {
            "type": "string",
            "description": "卡券副標題"
          },
          "cover": {
            "type": "string",
            "description": "封面圖"
          },
          "description": {
            "type": "string",
            "description": "面向客戶展示的說明。"
          },
          "start_time": {
            "type": "string",
            "description": "可使用起始時間戳（秒）"
          },
          "end_time": {
            "type": "string",
            "description": "失效時間戳（秒）"
          },
          "card_status": {
            "type": "integer",
            "description": "卡券狀態：\n\n- `0` - 未激活\n- `1` - 已使用\n- `2` - 已過期\n- `3` - 正在使用\n- `4` - 已激活",
            "enum": [
              0,
              1,
              2,
              3,
              4
            ]
          },
          "detail": {
            "type": "string",
            "description": "卡券詳情"
          },
          "currency": {
            "type": "string",
            "description": "貨幣單位，適用於現金卡、免佣卡、打新融資利息卡、打新手續費卡"
          },
          "amount": {
            "type": "string",
            "description": "關聯金額"
          },
          "activate_time": {
            "type": "string",
            "description": "卡券激活時間"
          },
          "invisible": {
            "type": "boolean",
            "description": "是否不可見（僅於可用卡列表場景使用）"
          },
          "background": {
            "type": "string",
            "description": "卡券背景圖"
          },
          "style": {
            "type": "string",
            "description": "卡券樣式"
          },
          "account_channel": {
            "type": "string",
            "description": "卡券適用的帳戶渠道"
          },
          "new_flag": {
            "type": "boolean",
            "description": "新卡標識"
          },
          "cash": {
            "type": "object",
            "description": "現金卡資訊",
            "properties": {
              "receive_duration": {
                "type": "string",
                "description": "現金到賬所需時間（秒）"
              }
            }
          },
          "quote": {
            "$ref": "#/components/schemas/RewardsCardQuote"
          },
          "fundamental": {
            "$ref": "#/components/schemas/RewardsCardQuote"
          },
          "commission": {
            "type": "object",
            "description": "免佣卡資訊",
            "properties": {
              "markets": {
                "type": "array",
                "description": "免佣市場，如 US、SH、SG、HK",
                "items": {
                  "type": "string"
                }
              },
              "rebate_rate": {
                "type": "string",
                "description": "免佣比例，1 表示 100%"
              },
              "bz_types": {
                "type": "array",
                "description": "適用標的類型",
                "items": {
                  "$ref": "#/components/schemas/RewardsTargetType"
                }
              },
              "commission_duration": {
                "type": "string",
                "description": "免佣卡持續時間（秒）"
              },
              "commission_balance": {
                "type": "string",
                "description": "免佣卡餘額"
              },
              "unlimited": {
                "type": "integer",
                "description": "免傭模式：\n\n- `0` - 按比例免傭（先收後返，有時間限制）\n- `1` - 全額免傭（先收後返，有時間限制）\n- `2` - 終生免傭（直接抵扣，無次數限制）\n- `6` - 金額次卡（有次數限制，有時間限制）\n- `7` - 折扣次卡（有次數限制，有時間限制）",
                "enum": [
                  0,
                  1,
                  2,
                  6,
                  7
                ]
              },
              "commission_expired_time": {
                "type": "string",
                "description": "免佣到期時間（針對正在使用的免佣卡）"
              },
              "superposition": {
                "type": "boolean",
                "description": "是否可時間疊加"
              },
              "settlement_model": {
                "type": "string",
                "description": "結算模式：payback 先收後返，compensate 直接抵扣",
                "enum": [
                  "payback",
                  "compensate"
                ]
              },
              "usage_count": {
                "type": "string",
                "description": "免佣卡使用次數"
              },
              "lave_usage_count": {
                "type": "string",
                "description": "剩餘可使用次數"
              },
              "amount_limit": {
                "type": "string",
                "description": "單次金額上限（單位：分），不返回表示不限制"
              }
            }
          },
          "ipo": {
            "type": "object",
            "description": "打新特權卡資訊",
            "properties": {
              "subscription_id": {
                "type": "string",
                "description": "預約 id，空表示打新通用卡"
              }
            }
          },
          "ipo_interest": {
            "type": "object",
            "description": "打新融資利息卡資訊",
            "properties": {
              "discount_rate": {
                "type": "string",
                "description": "貼息利率，1 表示 100%"
              }
            }
          },
          "ipo_commission": {
            "type": "object",
            "description": "打新手續費卡資訊",
            "properties": {
              "bz_types": {
                "type": "array",
                "description": "打新方式",
                "items": {
                  "$ref": "#/components/schemas/RewardsIPOType"
                }
              },
              "financing_limit": {
                "type": "string",
                "description": "融資打新額度門檻，0 表示不設門檻"
              },
              "counter_id": {
                "type": "string",
                "description": "指定 IPO 股票 id，空表示不限制"
              }
            }
          },
          "stock": {
            "type": "object",
            "description": "股票卡資訊",
            "properties": {
              "counter_id": {
                "type": "string",
                "description": "股票 id"
              },
              "amount": {
                "type": "number",
                "description": "股票發放數量，支援碎股"
              },
              "redemption_type": {
                "type": "string",
                "description": "兌換類型：by_card_value 按卡面價值兌換，shares_number 固定股數兌換（預設）",
                "enum": [
                  "by_card_value",
                  "shares_number"
                ]
              }
            }
          },
          "stock_fragment": {
            "type": "object",
            "description": "碎股卡資訊。",
            "properties": {
              "counter_id": {
                "type": "string",
                "description": "適用股票 id，空表示碎股通用卡"
              },
              "markets": {
                "type": "array",
                "description": "適用市場",
                "items": {
                  "type": "string"
                }
              },
              "amounts": {
                "type": "object",
                "description": "各市場對應的發放數量",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "underlying_type": {
                "$ref": "#/components/schemas/RewardsTargetType"
              }
            }
          },
          "platform_fee_deduct": {
            "type": "object",
            "description": "平台費抵扣卡資訊",
            "properties": {
              "usage_count": {
                "type": "string",
                "description": "使用次數"
              },
              "lave_usage_count": {
                "type": "string",
                "description": "剩餘可使用次數"
              },
              "superposition": {
                "type": "boolean",
                "description": "是否時間疊加"
              },
              "markets": {
                "type": "array",
                "description": "適用市場",
                "items": {
                  "type": "string"
                }
              },
              "bz_types": {
                "type": "array",
                "description": "適用標的類型",
                "items": {
                  "$ref": "#/components/schemas/RewardsTargetType"
                }
              },
              "counter_id": {
                "type": "string",
                "description": "適用股票 id"
              }
            }
          },
          "finance_interest": {
            "type": "object",
            "description": "融資利息卡資訊",
            "properties": {
              "discount_mode": {
                "type": "integer",
                "description": "優惠方式"
              },
              "discount_rate": {
                "type": "number",
                "description": "折扣率"
              },
              "superposition": {
                "type": "boolean",
                "description": "是否可疊加展期"
              }
            }
          },
          "fund_interest": {
            "type": "object",
            "description": "基金加息卡資訊（結構為動態 JSON，欄位不固定）"
          },
          "coffee_coupon": {
            "type": "object",
            "description": "咖啡券資訊",
            "properties": {
              "coupon_channel": {
                "type": "string",
                "description": "卡券渠道"
              },
              "coupon_no": {
                "type": "string",
                "description": "第三方卡券編號"
              },
              "use_limit": {
                "type": "string",
                "description": "使用限制類型：total 總次數限制，period 週期次數限制",
                "enum": [
                  "total",
                  "period"
                ]
              },
              "threshold": {
                "type": "string",
                "description": "上限次數"
              },
              "period_type": {
                "type": "string",
                "description": "週期類型（use_limit 為 period 時有效），如 day"
              },
              "coupon_id": {
                "type": "string",
                "description": "第三方卡券 id"
              },
              "store_id_list": {
                "type": "array",
                "description": "可使用該卡券的門店 ID 列表。",
                "items": {
                  "type": "string"
                }
              },
              "is_available_all_store": {
                "type": "boolean",
                "description": "是否可在所有門店使用該卡券。"
              },
              "settled_store_id": {
                "type": "string",
                "description": "兌換該卡券的門店 ID。"
              },
              "store_list": {
                "type": "array",
                "description": "可使用該卡券的門店列表。介面暫未定義列表項目結構。",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "crypto": {
            "type": "object",
            "description": "虛擬資產卡資訊。介面暫未定義物件結構。"
          },
          "ai_benefit": {
            "type": "object",
            "description": "AI 權益卡資訊。",
            "properties": {
              "benefit_tag": {
                "type": "string",
                "description": "權益標籤"
              },
              "benefit_days": {
                "type": "integer",
                "description": "權益天數"
              },
              "benefit_start": {
                "type": "string",
                "description": "權益開始時間"
              },
              "benefit_end": {
                "type": "string",
                "description": "權益結束時間"
              }
            }
          },
          "receive_duration": {
            "type": "string",
            "deprecated": true,
            "description": "現金到帳所需時間（秒），已作廢待刪除，語義同 cash.receive_duration，僅為相容舊 Broker App 保留"
          },
          "quote_duration": {
            "type": "string",
            "deprecated": true,
            "description": "權限持續時間（秒），已作廢待刪除，語義同 quote.quote_duration，僅為相容舊 Broker App 保留"
          },
          "markets": {
            "type": "array",
            "deprecated": true,
            "description": "免佣市場，已作廢待刪除，語義同 commission.markets，僅為相容舊 Broker App 保留",
            "items": {
              "type": "string"
            }
          },
          "rebate_rate": {
            "type": "string",
            "deprecated": true,
            "description": "免佣比率，已作廢待刪除，語義同 commission.rebate_rate，僅為相容舊 Broker App 保留"
          },
          "bz_types": {
            "type": "array",
            "deprecated": true,
            "description": "適用標的類型，已作廢待刪除，語義同 commission.bz_types，僅為相容舊 Broker App 保留",
            "items": {
              "$ref": "#/components/schemas/RewardsTargetType"
            }
          },
          "commission_balance": {
            "type": "string",
            "deprecated": true,
            "description": "免佣卡餘額，已作廢待刪除，語義同 commission.commission_balance，僅為相容舊 Broker App 保留"
          },
          "commission_duration": {
            "type": "string",
            "deprecated": true,
            "description": "免佣卡持續時間（秒），已作廢待刪除，語義同 commission.commission_duration，僅為相容舊 Broker App 保留"
          },
          "subscription_id": {
            "type": "string",
            "deprecated": true,
            "description": "打新特權卡預約 id，已作廢待刪除，語義同 ipo.subscription_id，僅為相容舊 Broker App 保留"
          }
        }
      },
      "RewardsCardQuote": {
        "type": "object",
        "description": "行情卡/基本面卡資訊",
        "properties": {
          "quote_duration": {
            "type": "string",
            "description": "權限持續時間（秒）"
          },
          "markets": {
            "type": "array",
            "description": "權益對應市場",
            "items": {
              "type": "string"
            }
          },
          "superposition": {
            "type": "boolean",
            "description": "是否可時間疊加"
          },
          "quote_market": {
            "type": "string",
            "description": "行情市場"
          },
          "current_end_time": {
            "type": "string",
            "description": "當前到期時間"
          },
          "manual_activate": {
            "type": "boolean",
            "description": "是否需手動激活"
          },
          "need_certify": {
            "type": "boolean",
            "description": "是否需要專業投資者認證"
          }
        }
      },
      "RewardsTargetType": {
        "type": "integer",
        "description": "標的類型：\n\n- `0` - 股票交易\n- `1` - 美股期權\n- `2` - 港股窩輪\n- `3` - 場內基金（ETF）\n- `4` - 場外基金（LOF）",
        "enum": [
          0,
          1,
          2,
          3,
          4
        ]
      },
      "RewardsIPOType": {
        "type": "integer",
        "description": "打新方式：\n\n- `1` - 融資打新\n- `2` - 現金打新",
        "enum": [
          1,
          2
        ]
      },
      "MemberReward": {
        "type": "object",
        "description": " 客戶獎勵資訊",
        "properties": {
          "reward_type": {
            "type": "integer",
            "description": "獎勵類型：\n\n- `0` - 現金\n- `1` - 實物\n- `2` - 卡券\n- `3` - 任務幣",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "account_channel": {
            "type": "string",
            "description": "適用租戶"
          },
          "cash": {
            "$ref": "#/components/schemas/MemberRewardCash"
          },
          "task_coin": {
            "$ref": "#/components/schemas/MemberRewardTaskCoin"
          },
          "prize": {
            "$ref": "#/components/schemas/MemberRewardPrize"
          },
          "card": {
            "$ref": "#/components/schemas/MemberRewardCard"
          }
        }
      },
      "MemberRewardCash": {
        "type": "object",
        "description": "現金獎勵資訊",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "記錄 id"
          },
          "activity_title": {
            "type": "string",
            "description": "活動名稱"
          },
          "currency": {
            "type": "string",
            "description": "幣種"
          },
          "amount": {
            "type": "number",
            "description": "金額"
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "取消發放原因（僅 status=1 取消發放時有意義）：\n\n- `0` - 未達到活動門檻\n- `1` - 活動互斥",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "發放時間；未發放則為預計發放時間"
          }
        }
      },
      "MemberRewardTaskCoin": {
        "type": "object",
        "description": "任務幣獎勵資訊",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "記錄 id"
          },
          "activity_title": {
            "type": "string",
            "description": "活動名稱"
          },
          "amount": {
            "type": "number",
            "description": "數量"
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "取消發放原因（僅 status=1 取消發放時有意義）：\n\n- `0` - 未達到活動門檻\n- `1` - 活動互斥",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "發放時間；未發放則為預計發放時間"
          }
        }
      },
      "MemberRewardCard": {
        "type": "object",
        "description": "卡券獎勵資訊",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "記錄 id"
          },
          "card_id": {
            "type": "string",
            "description": "卡券 id"
          },
          "activity_title": {
            "type": "string",
            "description": "活動名稱"
          },
          "card_type": {
            "type": "string",
            "description": "卡券類型：cash 現金卡，quote 行情卡，fundamental 基本面卡，commission 免傭卡",
            "enum": [
              "cash",
              "quote",
              "fundamental",
              "commission"
            ]
          },
          "title": {
            "type": "string",
            "description": "卡券標題"
          },
          "cover": {
            "type": "string",
            "description": "封面"
          },
          "description": {
            "type": "string",
            "description": "面向客戶展示的說明。"
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "取消發放原因（僅 status=1 取消發放時有意義）：\n\n- `0` - 未達到活動門檻\n- `1` - 活動互斥",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "發放時間；未發放則為預計發放時間"
          },
          "detail": {
            "type": "string",
            "description": "卡券詳情"
          },
          "currency": {
            "type": "string",
            "description": "貨幣單位，現金卡、免傭卡屬性"
          },
          "amount": {
            "type": "number",
            "description": "現金卡、免傭卡金額"
          },
          "receive_duration": {
            "type": "string",
            "description": "現金卡使用後預計到賬時間（秒）"
          },
          "quote_duration": {
            "type": "string",
            "description": "持續時間（秒），行情卡/基本面卡屬性"
          },
          "markets": {
            "type": "array",
            "description": "免傭卡市場",
            "items": {
              "type": "string"
            }
          },
          "rebate_rate": {
            "type": "string",
            "description": "免傭卡免傭比率"
          },
          "commission_duration": {
            "type": "string",
            "description": "免佣卡持續時間（秒）"
          },
          "background": {
            "type": "string",
            "description": "卡券背景圖"
          },
          "style": {
            "type": "string",
            "description": "卡券樣式"
          },
          "card_status": {
            "type": "integer",
            "description": "卡券使用狀態：\n\n- `0` - 未使用\n- `1` - 已使用\n- `2` - 已過期\n- `3` - 正在使用",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "reward_rule_url": {
            "type": "string",
            "description": "獎勵發放規則連結，與 reward_rule_description 都有時優先跳轉連結"
          },
          "reward_rule_description": {
            "type": "string",
            "description": "獎勵發放規則描述"
          },
          "short_background": {
            "type": "string",
            "description": "縮略背景圖，主要用於獎勵記錄側展示"
          },
          "fund_interest": {
            "type": "object",
            "description": "基金加息卡資訊（結構為動態 JSON，欄位不固定）"
          },
          "quote": {
            "type": "object",
            "description": "行情卡相關資訊（結構為動態 JSON，欄位不固定）"
          },
          "stock_fragment": {
            "type": "object",
            "description": "碎股卡資訊。",
            "properties": {
              "underlying_type": {
                "$ref": "#/components/schemas/RewardsTargetType"
              }
            }
          },
          "ai_benefit": {
            "type": "object",
            "description": "AI 權益卡資訊。"
          }
        }
      },
      "MemberRewardPrize": {
        "type": "object",
        "description": "實物獎勵資訊",
        "properties": {
          "record_id": {
            "type": "string",
            "description": "記錄 id"
          },
          "prize_id": {
            "type": "string",
            "description": "實物 id"
          },
          "activity_title": {
            "type": "string",
            "description": "活動名稱"
          },
          "title": {
            "type": "string",
            "description": "實物標題"
          },
          "cover": {
            "type": "string",
            "description": "封面"
          },
          "description": {
            "type": "string",
            "description": "面向客戶展示的說明。"
          },
          "status": {
            "$ref": "#/components/schemas/MemberRewardStatus"
          },
          "exit_status": {
            "type": "integer",
            "description": "取消發放原因（僅 status=1 取消發放時有意義）：\n\n- `0` - 未達到活動門檻\n- `1` - 活動互斥",
            "enum": [
              0,
              1
            ]
          },
          "send_time": {
            "type": "string",
            "description": "發放時間"
          },
          "deliver_order": {
            "type": "string",
            "description": "物流單號，已發貨才有該值"
          },
          "detail": {
            "type": "string",
            "description": "實物詳情"
          },
          "deliver_status": {
            "type": "integer",
            "description": "交付狀態，用於 status=12（已發放）的後續狀態：\n\n- `0` - 未激活\n- `1` - 已激活\n- `2` - 已消費\n- `5` - 電子券激活中\n- `6` - 電子券已過期無法激活\n- `7` - 電子券已失效無法消費",
            "enum": [
              0,
              1,
              2,
              5,
              6,
              7
            ]
          },
          "prize_type": {
            "type": "integer",
            "description": "實物業務類型：\n\n- `0` - 實體商品\n- `1` - 電子券",
            "enum": [
              0,
              1
            ]
          },
          "provider_code": {
            "type": "string",
            "description": "電子券供應商：chengquan 橙券供應商，manager 聯繫客戶經理獲取，deposit 寄存，apple_card 蘋果充值卡",
            "enum": [
              "chengquan",
              "manager",
              "deposit",
              "apple_card"
            ]
          },
          "end_time": {
            "type": "string",
            "description": "電子券未激活過期時間，0 表示不過期"
          },
          "goods_result": {
            "type": "string",
            "description": "電子券激活後的結果，如二維碼地址或蘋果卡序列號 JSON"
          },
          "effective_time": {
            "type": "string",
            "description": "電子券激活後的有效期，0 表示一直有效"
          },
          "reward_rule_url": {
            "type": "string",
            "description": "獎勵發放規則連結，與 reward_rule_description 都有時優先跳轉連結"
          },
          "reward_rule_description": {
            "type": "string",
            "description": "獎勵發放規則描述"
          },
          "campaign_code": {
            "type": "string",
            "description": "活動 code"
          },
          "express_info": {
            "$ref": "#/components/schemas/MemberRewardExpressInfo"
          },
          "receive_deadline": {
            "type": "string",
            "description": "實體商品領取截止時間"
          },
          "delivery_types": {
            "type": "array",
            "description": "實體商品配送方式：\n\n- `1` - 自取\n- `2` - 郵寄",
            "items": {
              "type": "integer"
            }
          },
          "addresses": {
            "type": "array",
            "description": "實體商品自取地址資訊",
            "items": {
              "type": "object",
              "properties": {
                "brief": {
                  "type": "string",
                  "description": "地址簡稱"
                },
                "detail": {
                  "type": "string",
                  "description": "地址詳情"
                }
              }
            }
          },
          "coupon_secret_id": {
            "type": "string",
            "description": "為 0 表示發放獎勵時沒有庫存，需要後續補充庫存"
          },
          "coupon_secret": {
            "$ref": "#/components/schemas/MemberRewardCouponSecret"
          },
          "to_cash_card": {
            "type": "boolean",
            "description": "能否兌換成現金卡"
          },
          "cash_card_code": {
            "type": "string",
            "description": "現金卡 code"
          },
          "cash_card_value": {
            "type": "object",
            "description": "現金卡價值"
          },
          "coupon_secret_type": {
            "type": "string",
            "description": "電子券類型"
          }
        }
      },
      "MemberRewardCouponSecret": {
        "type": "object",
        "description": "電子券資訊",
        "properties": {
          "coupon_secret_type": {
            "type": "string",
            "description": "電子券類型"
          },
          "coupon_id": {
            "type": "string",
            "description": "卡號"
          },
          "secret": {
            "type": "string",
            "description": "卡密"
          },
          "status": {
            "type": "integer",
            "description": "電子券狀態：\n\n- `0` - 可用\n- `1` - 鎖定（獎勵已發放， 客戶還未領取）\n- `2` - 已領取\n- `3` - 卡密已過期",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "expire_at": {
            "type": "string",
            "description": "兌換截止日期"
          }
        }
      },
      "MemberRewardExpressInfo": {
        "type": "object",
        "description": "實物發放的快遞資訊",
        "properties": {
          "addressee": {
            "type": "string",
            "description": "收件人"
          },
          "phone": {
            "type": "string",
            "description": "電話"
          },
          "shipping_address": {
            "type": "string",
            "description": "收件地址"
          },
          "province": {
            "type": "string",
            "description": "省"
          },
          "city": {
            "type": "string",
            "description": "市"
          },
          "district": {
            "type": "string",
            "description": "區"
          },
          "delivery_type": {
            "type": "string",
            "description": "配送方式：\n\n- `1` - 自取\n- `2` - 郵寄"
          },
          "pickup_info": {
            "type": "object",
            "description": "自取資訊",
            "properties": {
              "brief": {
                "type": "string",
                "description": "簡要說明"
              },
              "detail": {
                "type": "string",
                "description": "詳細說明"
              }
            }
          },
          "email": {
            "type": "string",
            "description": "電郵"
          },
          "country_code": {
            "type": "string",
            "description": "國家/地區代碼"
          }
        }
      },
      "MemberRewardStatus": {
        "type": "integer",
        "description": "發放狀態（不同獎勵類型適用值域略有差異）：\n\n- `0` - 即將發放\n- `1` - 取消發放\n- `2` - 退出活動\n- `8` - 待領取\n- `10` - 發放中\n- `12` - 已發放\n- `13` - 發放失敗\n- `16` - 已兌換（僅卡券獎勵）\n- `17` - 已過期（僅實物/卡券獎勵）",
        "enum": [
          0,
          1,
          2,
          8,
          10,
          12,
          13,
          16,
          17
        ]
      },
      "StockTemplate": {
        "type": "integer",
        "description": "股票模板：\n\n- `0` - 未知\n- `1` - 股票\n- `2` - ETF\n- `3` - DLC\n- `4` - 指數\n- `5` - LB 行業板塊\n- `6` - LB 概念板塊\n- `11` - 已遞表\n- `12` - 待上市\n- `13` - 今日暗盤\n- `14` - 今日 IPO\n- `15` - LB 自訂證券\n- `16` - 無行情證券\n- `17` - 板塊無行情\n- `20` - 期權\n- `31` - 窩輪證\n- `32` - 牛熊證\n- `33` - 界內證\n- `34` - 美股關聯證券模板\n- `35` - 虛擬資產",
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          20,
          31,
          32,
          33,
          34,
          35
        ]
      },
      "TradeStatus": {
        "type": "integer",
        "description": "交易狀態：\n\n- `0` - 無行情（待上市）\n- `101` - 清盤狀態\n- `102` - 開盤集合競價\n- `105` - 交易中\n- `106` - 午間休市\n- `107` - 收盤集合競價\n- `108` - 收盤\n- `110` - 暗盤待開盤\n- `111` - 暗盤交易中\n- `112` - 暗盤已收盤\n- `120` - 固定價格成交\n- `121` - 半日市已收盤\n- `122` - 未開盤\n- `201` - 美股盤前\n- `202` - 美股交易中\n- `203` - 美股盤後\n- `204` - 美股收盤\n- `205` - 美股停牌\n- `206` - 美股清盤（含盤前）\n- `207` - 美股夜盤\n- `1001` - 退市\n- `1002` - 預備上市\n- `1003` - 代碼變更\n- `1004` - 停牌\n- `1005` - 待開盤\n- `1006` - 拆合股暫停交易\n- `1007` - 已到期/未上市\n- `1008` - 無價格\n- `1009` - 未上市\n- `1010` - 終止交易\n- `1011` - 等待上市",
        "enum": [
          0,
          101,
          102,
          105,
          106,
          107,
          108,
          110,
          111,
          112,
          120,
          121,
          122,
          201,
          202,
          203,
          204,
          205,
          206,
          207,
          1001,
          1002,
          1003,
          1004,
          1005,
          1006,
          1007,
          1008,
          1009,
          1010,
          1011
        ]
      },
      "StockDetailDepth": {
        "type": "object",
        "description": "盤口檔位資訊",
        "properties": {
          "price_level": {
            "type": "integer",
            "description": "第幾檔盤口"
          },
          "count": {
            "type": "string",
            "description": "盤口掛單量（暫未使用）"
          },
          "volume": {
            "type": "string",
            "description": "盤口買賣量"
          },
          "price": {
            "type": "string",
            "description": "盤口價"
          }
        }
      },
      "StockDetailBrokerDepth": {
        "type": "object",
        "description": "經紀隊列檔位資訊",
        "properties": {
          "price_level": {
            "type": "integer",
            "description": "第幾檔盤口"
          },
          "brokers": {
            "type": "array",
            "description": "經紀商 id 列表",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "StockDetailAHPremium": {
        "type": "object",
        "description": "AH 溢價資訊",
        "properties": {
          "counter_id": {
            "type": "string",
            "description": "對比股票代碼"
          },
          "last_done": {
            "type": "string",
            "description": "對比股票最新價"
          },
          "prev_close": {
            "type": "string",
            "description": "對比股票昨收價"
          }
        }
      },
      "StockDetailAdrRate": {
        "type": "object",
        "description": "ADR 比率資訊",
        "properties": {
          "counter_id": {
            "type": "string",
            "description": "關聯股票代碼"
          },
          "rate": {
            "type": "string",
            "description": "ADR 比率"
          }
        }
      },
      "StockDetailPrice": {
        "type": "object",
        "description": "夜盤價格行情",
        "properties": {
          "last_done": {
            "type": "string",
            "description": "最新價"
          },
          "high": {
            "type": "string",
            "description": "最高價"
          },
          "low": {
            "type": "string",
            "description": "最低價"
          },
          "prev_close": {
            "type": "string",
            "description": "昨收價"
          },
          "amount": {
            "type": "string",
            "description": "成交量"
          },
          "balance": {
            "type": "string",
            "description": "成交額"
          },
          "timestamp": {
            "type": "string",
            "description": "時間戳"
          }
        }
      },
      "StockDetailChannelItem": {
        "type": "object",
        "description": "渠道相關狀態資訊",
        "properties": {
          "tradeable": {
            "type": "integer",
            "description": "是否顯示交易區域"
          },
          "margin": {
            "type": "boolean",
            "description": "是否融資"
          },
          "restricted": {
            "type": "integer",
            "description": "買賣限制"
          },
          "sip_status": {
            "type": "string",
            "description": "SIP 狀態"
          }
        }
      },
      "StockDetailETFReference": {
        "type": "object",
        "description": "ETF 參考資訊",
        "properties": {
          "disc_prem": {
            "type": "string",
            "description": "折溢價率"
          },
          "nav": {
            "type": "string",
            "description": "淨值"
          },
          "nav_date": {
            "type": "string",
            "description": "淨值日期"
          }
        }
      },
      "StockDetailHKDual": {
        "type": "object",
        "description": "A/H 雙櫃台標的資訊",
        "properties": {
          "counter_id": {
            "type": "string",
            "description": "對應櫃台的股票代碼"
          },
          "security_type": {
            "type": "integer",
            "description": "櫃檯類型：\n\n- `1` - 人民幣櫃檯標的\n- `2` - 港幣櫃檯標的",
            "enum": [
              1,
              2
            ]
          }
        }
      },
      "StockDetailStatusDescription": {
        "type": "object",
        "description": "交易狀態描述資訊",
        "properties": {
          "status_desc": {
            "type": "string",
            "description": "狀態描述文案"
          },
          "append_market_time": {
            "type": "boolean",
            "description": "是否需要附加市場時間"
          },
          "is_holiday": {
            "type": "boolean",
            "description": "是否假期休市"
          }
        }
      },
      "OptionDetailExtendQuote": {
        "type": "object",
        "description": "延長時段行情",
        "properties": {
          "last_done": {
            "type": "string",
            "description": "最新價"
          },
          "prev_close": {
            "type": "string",
            "description": "昨收價"
          },
          "high": {
            "type": "string",
            "description": "最高價"
          },
          "low": {
            "type": "string",
            "description": "最低價"
          },
          "amount": {
            "type": "string",
            "description": "成交量"
          },
          "balance": {
            "type": "string",
            "description": "成交額"
          },
          "timestamp": {
            "type": "string",
            "description": "時間戳"
          },
          "iv": {
            "type": "string",
            "description": "隱含波動率"
          },
          "trade_session": {
            "type": "integer",
            "format": "int32",
            "description": "交易時段"
          }
        }
      },
      "OptionExpireDate": {
        "type": "object",
        "description": "期權到期日資訊",
        "properties": {
          "expire_date": {
            "type": "string",
            "description": "到期日，格式 YYYYMMDD"
          },
          "type": {
            "type": "string",
            "description": "到期日類型：\n\n- `W` - 週期權\n- `Q` - 季期權"
          },
          "standard_attr": {
            "type": "string",
            "description": "標準屬性：\n\n- `S` - 標準期權\n- `N` - 非標準期權（發生拆股/合併等公司行動後新生成的調整期權， Broker App 標注為 Old；部分多腿策略下單、改倉等流程會排除 N）"
          },
          "support_extend": {
            "type": "integer",
            "format": "int32",
            "description": "是否支援延長時段（盤前/盤後/夜盤）行情：\n\n- `1` - 支援\n- `0` - 不支援"
          }
        }
      },
      "StrikePriceInfo": {
        "type": "object",
        "description": "期權行權價資訊",
        "properties": {
          "price": {
            "type": "string",
            "description": "行權價"
          },
          "call_counter_id": {
            "type": "string",
            "description": "看漲期權合約 id"
          },
          "put_counter_id": {
            "type": "string",
            "description": "看跌期權合約 id"
          },
          "standard_attr": {
            "type": "string",
            "description": "標準屬性：\n\n- `S` - 標準期權\n- `N` - 非標準期權（發生拆股/合併等公司行動後新生成的調整期權， Broker App 標注為 Old；部分多腿策略下單、改倉等流程會排除 N）"
          },
          "call_support_extend": {
            "type": "integer",
            "format": "int32",
            "description": "看漲合約是否支援延長時段（盤前/盤後/夜盤）行情：\n\n- `1` - 支援\n- `0` - 不支援"
          },
          "put_support_extend": {
            "type": "integer",
            "format": "int32",
            "description": "看跌合約是否支援延長時段（盤前/盤後/夜盤）行情：\n\n- `1` - 支援\n- `0` - 不支援"
          }
        }
      },
      "FeeRateTier": {
        "type": "object",
        "description": "階梯費率區間",
        "properties": {
          "id": {
            "type": "string",
            "description": "階梯費率記錄 id（protobuf StepFeeRate.id，uint64）"
          },
          "fee_id": {
            "type": "string",
            "description": "費率配置 id（protobuf StepFeeRate.fee_id，uint64）"
          },
          "fee_rate": {
            "type": "string",
            "description": "費率"
          },
          "gt": {
            "type": "string",
            "description": "區間下限（大於）"
          },
          "lte": {
            "type": "string",
            "description": "區間上限（小於等於）"
          },
          "min": {
            "type": "string",
            "description": "該階梯費率檔位的下限。"
          }
        }
      },
      "FeeRateDetail": {
        "type": "object",
        "description": "單檔費率詳情",
        "properties": {
          "currency": {
            "type": "string",
            "description": "幣種"
          },
          "max_fee": {
            "type": "string",
            "description": "最高費用"
          },
          "min_fee": {
            "type": "string",
            "description": "最低費用"
          },
          "metric_type": {
            "type": "integer",
            "description": "計費方式"
          },
          "metric_cycle_type": {
            "type": "integer",
            "description": "計費週期類型（protobuf SimpleFeeInfo.metric_cycle_type）"
          },
          "step_fee_rates": {
            "type": "array",
            "description": "階梯費率列表",
            "items": {
              "$ref": "#/components/schemas/FeeRateTier"
            }
          },
          "max_metric_rate": {
            "type": "string",
            "description": "費用配置返回的最高計費比率。"
          },
          "max_metric_type": {
            "type": "integer",
            "description": "與 `max_metric_rate` 對應的計費類型。"
          },
          "metric_cycle": {
            "type": "string",
            "description": "計費週期標識，例如 `none`。"
          },
          "metric_type_bill_amount_item_ids": {
            "type": "array",
            "description": "計量計費規則使用的帳單項目 ID 列表。",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FeeRatePair": {
        "type": "object",
        "description": "預設檔位與會員檔位費率",
        "properties": {
          "dft": {
            "$ref": "#/components/schemas/FeeRateDetail"
          },
          "member": {
            "$ref": "#/components/schemas/FeeRateDetail"
          }
        }
      },
      "MarketFeeDetail": {
        "type": "object",
        "description": "佣金或平台費率詳情，含預設檔位、會員檔位，以及與預設/普通費率的差異標註",
        "properties": {
          "dft": {
            "$ref": "#/components/schemas/FeeRateDetail"
          },
          "member": {
            "$ref": "#/components/schemas/FeeRateDetail"
          },
          "diff": {
            "type": "boolean",
            "description": " 客戶費率和預設費率是否相同"
          },
          "general": {
            "type": "boolean",
            "description": "是否為普通收費"
          },
          "diff_from_general": {
            "type": "boolean",
            "description": "是否與普通收費不同"
          },
          "divisor": {
            "type": "integer",
            "description": "年化費率計算使用的除數，例如 `365`。"
          }
        }
      },
      "CommssionRebateCardItem": {
        "type": "object",
        "description": "交易下單可用/不可用卡券條目",
        "properties": {
          "amount": {
            "type": "string",
            "description": "卡券可用金額"
          },
          "currency": {
            "type": "string",
            "description": "幣種"
          },
          "remain_cnt": {
            "type": "integer",
            "description": "剩餘可用次數（次數類卡券）"
          },
          "time_start": {
            "type": "string",
            "description": "生效開始時間"
          },
          "time_end": {
            "type": "string",
            "description": "生效結束時間"
          },
          "card_title": {
            "type": "string",
            "description": "卡券標題"
          },
          "card_id": {
            "type": "string",
            "description": "卡券 ID"
          },
          "card_type": {
            "type": "integer",
            "description": "卡券類型：\n\n- `0` - 普通返佣卡\n- `1` - 無限額返佣卡\n- `2` - 終生免佣卡\n- `3` - 現金卡\n- `4` - 平台費抵扣卡\n- `6` - 免佣金額次卡\n- `7` - 免佣折扣次卡",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              6,
              7
            ]
          },
          "rebate_rate": {
            "type": "string",
            "description": "返佣比例"
          },
          "document": {
            "type": "string",
            "description": "卡券說明文件"
          }
        }
      },
      "RewardsQuoteProductSku": {
        "type": "object",
        "description": "行情商店商品 SKU 資訊（含價格、時長套餐、庫存等）",
        "properties": {
          "product_id": {
            "type": "string",
            "description": "商品 SKU id"
          },
          "title": {
            "type": "string",
            "description": "商品標題"
          },
          "cover": {
            "type": "string",
            "description": "封面圖"
          },
          "description": {
            "type": "string",
            "description": "商品描述"
          },
          "detail": {
            "type": "string",
            "description": "商品詳情"
          },
          "currency": {
            "type": "string",
            "description": "貨幣單位"
          },
          "price": {
            "type": "number",
            "description": "劃線價（原價）"
          },
          "real_price": {
            "type": "number",
            "description": "實際售價"
          },
          "start_time": {
            "type": "string",
            "description": "生效開始時間戳（秒），0 表示不限制"
          },
          "end_time": {
            "type": "string",
            "description": "生效結束時間戳（秒），0 表示不限制"
          },
          "type": {
            "type": "integer",
            "description": "商品類型：0 NORMAL 普通權益，1 CARD 卡券，2 COMBO 套餐，3 COMBO_CARD 套餐卡券",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "limitation": {
            "type": "integer",
            "description": "限購數量，0 表示不限購"
          },
          "detail_url": {
            "type": "string",
            "description": "商品詳情頁地址"
          },
          "store_kind": {
            "type": "integer",
            "description": "商品所屬商店：0 COMMON 通用商品，1 QUOTE 行情商品，2 FUNDAMENTAL 基本面商品，3 AI_PLAN",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "quota_visable": {
            "type": "integer",
            "description": "是否展示限購資訊，1 展示"
          },
          "inventory": {
            "type": "string",
            "description": "庫存數量"
          },
          "labels": {
            "type": "array",
            "description": "商品標籤",
            "items": {
              "type": "string"
            }
          },
          "extra": {
            "type": "string",
            "description": "擴展資訊"
          },
          "is_discount": {
            "type": "boolean",
            "description": "是否為折扣價"
          },
          "market": {
            "type": "string",
            "description": "所屬市場"
          },
          "card_duration": {
            "type": "integer",
            "description": "套餐時長類型：0 WeekCard 週卡，1 MonthCard 月卡，2 QuarterCard 季卡，3 YearCard 年卡，4 ContinuousWeekCard 連續週卡，5 ContinuousMonthCard 連續月卡，6 ContinuousQuarterCard 連續季卡，7 ContinuousYearCard 連續年卡",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7
            ]
          },
          "payment_modes": {
            "type": "array",
            "description": "支援的付款方式：0 Cash 現金，1 Berry 貝里，2 Stripe，3 ApplePay，4 ZeroFree 零元",
            "items": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3,
                4
              ]
            }
          },
          "per_month_price": {
            "type": "number",
            "description": "折算月均價"
          },
          "combo_cards": {
            "type": "object",
            "nullable": true,
            "description": "套餐關聯卡券資訊，僅套餐類商品有值"
          },
          "enable": {
            "type": "boolean",
            "description": "是否可購買"
          },
          "professional_category": {
            "type": "integer",
            "description": "專業投資者分類"
          },
          "apple_product_id": {
            "type": "string",
            "description": "Apple 內購商品 id，走 Apple Pay 付款方式時使用"
          },
          "get_methods": {
            "type": "array",
            "description": "獲取方式，如 buy",
            "items": {
              "type": "string"
            }
          },
          "icon": {
            "type": "string",
            "description": "圖標"
          },
          "get_method_description": {
            "type": "object",
            "description": "各獲取方式對應的說明文案，key 為獲取方式",
            "additionalProperties": {
              "type": "string"
            }
          },
          "button_text": {
            "type": "object",
            "description": "各場景對應的按鈕文案",
            "additionalProperties": {
              "type": "string"
            }
          },
          "is_recommend": {
            "type": "boolean",
            "description": "是否推薦"
          }
        }
      },
      "RewardsProfessionalCheck": {
        "type": "object",
        "description": "專業投資者問卷檢查結果",
        "properties": {
          "status": {
            "type": "integer",
            "description": "檢查結果：0 PASS 已通過，1 NEED_QUESTIONNAIRE 需要填寫問卷，2 NOT_APPLICABLE 不適用",
            "enum": [
              0,
              1,
              2
            ]
          },
          "message": {
            "type": "string",
            "description": "提示資訊"
          }
        }
      }
    }
  },
  "paths": {
    "/v3/quote/stock/detail": {
      "get": {
        "tags": [
          "行情"
        ],
        "summary": "取得股票詳情",
        "description": "查詢單支股票的詳情行情數據，包含最新價、漲跌相關價格、買賣盘口、經紀隊列、AH 溢價、ADR 比率、總股本、行業資訊、ETF 參考淨值、夜盤行情等，用於股票詳細頁展示。\n",
        "operationId": "getV3QuoteStockDetail",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "股票 id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          }
        ],
        "responses": {
          "200": {
            "description": "請求成功。響應體包含「取得股票詳情」操作的結果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "last_done": {
                              "type": "string",
                              "description": "最新價"
                            },
                            "open": {
                              "type": "string",
                              "description": "開盤價"
                            },
                            "prev_close": {
                              "type": "string",
                              "description": "昨收盤價"
                            },
                            "high": {
                              "type": "string",
                              "description": "今日最高價"
                            },
                            "low": {
                              "type": "string",
                              "description": "今日最低價"
                            },
                            "amount": {
                              "type": "string",
                              "description": "成交量"
                            },
                            "balance": {
                              "type": "string",
                              "description": "成交額"
                            },
                            "turnover_rate": {
                              "type": "string",
                              "description": "換手率"
                            },
                            "eps": {
                              "type": "string",
                              "description": "每股盈利"
                            },
                            "eps_ttm": {
                              "type": "string",
                              "description": "每股盈利（TTM）"
                            },
                            "trade_status": {
                              "$ref": "#/components/schemas/TradeStatus"
                            },
                            "timestamp": {
                              "type": "string",
                              "description": "時間戳"
                            },
                            "volume_rate": {
                              "type": "string",
                              "description": "量比"
                            },
                            "depth_rate": {
                              "type": "string",
                              "description": "委比"
                            },
                            "year_high": {
                              "type": "string",
                              "description": "52 週最高"
                            },
                            "year_low": {
                              "type": "string",
                              "description": "52 週最低"
                            },
                            "lowest": {
                              "type": "string",
                              "description": "歷史最低"
                            },
                            "highest": {
                              "type": "string",
                              "description": "歷史最高"
                            },
                            "total_shares": {
                              "type": "string",
                              "description": "總股本"
                            },
                            "circulating_shares": {
                              "type": "string",
                              "description": "流通股本"
                            },
                            "dividend_yield": {
                              "type": "string",
                              "description": "股息"
                            },
                            "bps": {
                              "type": "string",
                              "description": "每股淨資產"
                            },
                            "bid_depths": {
                              "type": "array",
                              "description": "買盤深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "ask_depths": {
                              "type": "array",
                              "description": "賣盤深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "market_timestamp": {
                              "type": "string",
                              "description": "盤前或盤後時間（美股用）"
                            },
                            "market_price": {
                              "type": "string",
                              "description": "盤前盤後價（美股用）"
                            },
                            "factor_a": {
                              "type": "string",
                              "description": "復權係數 A"
                            },
                            "factor_b": {
                              "type": "string",
                              "description": "復權係數 B"
                            },
                            "pretrade_close": {
                              "type": "string",
                              "description": "盤前昨收價"
                            },
                            "limit_up": {
                              "type": "string",
                              "description": "漲停價格"
                            },
                            "limit_down": {
                              "type": "string",
                              "description": "跌停價格"
                            },
                            "ah_premium": {
                              "$ref": "#/components/schemas/StockDetailAHPremium"
                            },
                            "latency": {
                              "type": "boolean",
                              "description": "是否延遲行情"
                            },
                            "market_high": {
                              "type": "string",
                              "description": "盤前盤後最高價"
                            },
                            "market_low": {
                              "type": "string",
                              "description": "盤前盤後最低價"
                            },
                            "market_amount": {
                              "type": "string",
                              "description": "盤前盤後成交量"
                            },
                            "market_balance": {
                              "type": "string",
                              "description": "盤前盤後成交額"
                            },
                            "unit": {
                              "type": "integer",
                              "format": "int32",
                              "description": "每手股數"
                            },
                            "dps_rate": {
                              "type": "string",
                              "description": "股息率"
                            },
                            "upgrade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "引導升級提示 id，0 表示不需要升級提示"
                            },
                            "available_levels": {
                              "type": "array",
                              "description": "行情類型",
                              "items": {
                                "type": "string"
                              }
                            },
                            "prev_year_close": {
                              "type": "string",
                              "description": "上一年收盤價"
                            },
                            "bid_brokers": {
                              "type": "array",
                              "description": "經紀隊列買盤深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailBrokerDepth"
                              }
                            },
                            "ask_brokers": {
                              "type": "array",
                              "description": "經紀隊列賣盤深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailBrokerDepth"
                              }
                            },
                            "inflow": {
                              "type": "string",
                              "description": "資金流入"
                            },
                            "currency": {
                              "type": "string",
                              "description": "貨幣"
                            },
                            "exchange": {
                              "type": "string",
                              "description": "交易所"
                            },
                            "rise": {
                              "type": "string",
                              "description": "上漲家數（指數專屬欄位）"
                            },
                            "fall": {
                              "type": "string",
                              "description": "下跌家數（指數專屬欄位）"
                            },
                            "flatline": {
                              "type": "string",
                              "description": "平盤家數（指數專屬欄位）"
                            },
                            "hk_shares": {
                              "type": "string",
                              "description": "港股股數"
                            },
                            "counter_id": {
                              "type": "string",
                              "description": "股票 id"
                            },
                            "eps_forecast": {
                              "type": "string",
                              "description": "每股盈利（預測）"
                            },
                            "market_cap": {
                              "type": "string",
                              "description": "總市值（僅指數）"
                            },
                            "stock_name": {
                              "type": "string",
                              "description": "股票名稱"
                            },
                            "tpl": {
                              "$ref": "#/components/schemas/StockTemplate"
                            },
                            "cnconnect": {
                              "type": "integer",
                              "format": "int32",
                              "description": "A 股通交易，需要展示 A 股通 icon：\n\n- `1` - 可買可賣\n- `2` - 僅可賣"
                            },
                            "short_sell": {
                              "type": "boolean",
                              "description": "是否可以沽空"
                            },
                            "ticker_size": {
                              "type": "string",
                              "description": "港股步長類型，A/B/C/D 四種"
                            },
                            "channel_info": {
                              "type": "object",
                              "description": "渠道訊息，key 為渠道標識",
                              "additionalProperties": {
                                "$ref": "#/components/schemas/StockDetailChannelItem"
                              }
                            },
                            "industry_counter_id": {
                              "type": "string",
                              "description": "股票所屬行業的 counter_id"
                            },
                            "industry_name": {
                              "type": "string",
                              "description": "股票所屬行業名稱"
                            },
                            "show_kline_type": {
                              "type": "integer",
                              "format": "int32",
                              "description": "K 線對比顯示的類型：\n\n- `1` - K 線少於 120 天\n- `2` - 少於 240 天\n- `3` - 少於 730 天\n- `4` - 少於 1460 天"
                            },
                            "sub_status": {
                              "type": "integer",
                              "format": "int32",
                              "description": "子狀態"
                            },
                            "base_large_balance": {
                              "type": "string",
                              "description": "大單成交基準"
                            },
                            "sub_market": {
                              "type": "string",
                              "description": "子市場"
                            },
                            "tags": {
                              "type": "array",
                              "description": "完整行情標籤",
                              "items": {
                                "type": "string"
                              }
                            },
                            "first_kline_timestamp": {
                              "type": "string",
                              "description": "第一根 K 線的時間戳"
                            },
                            "stock_derivatives": {
                              "type": "array",
                              "description": "支援的衍生工具",
                              "items": {
                                "type": "string"
                              }
                            },
                            "adr_rate": {
                              "$ref": "#/components/schemas/StockDetailAdrRate"
                            },
                            "cnconnect_neue": {
                              "type": "integer",
                              "format": "int32",
                              "description": "A 股通交易（新版）：\n\n- `1` - 可買可賣\n- `2` - 僅可賣\n- `-1` - 不處理"
                            },
                            "constituent_stock": {
                              "type": "integer",
                              "format": "int32",
                              "description": "是否有成分股：\n\n- `-1` - 該模板不適用\n- `0` - 沒有\n- `1` - 有"
                            },
                            "amount_precision": {
                              "type": "integer",
                              "format": "int32",
                              "description": "成交量精度"
                            },
                            "support_overnight": {
                              "type": "boolean",
                              "description": "是否支援夜盤"
                            },
                            "overnight_price": {
                              "$ref": "#/components/schemas/StockDetailPrice"
                            },
                            "overnight_bid_depths": {
                              "type": "array",
                              "description": "夜盤買盤深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "overnight_ask_depths": {
                              "type": "array",
                              "description": "夜盤賣盤深度",
                              "items": {
                                "$ref": "#/components/schemas/StockDetailDepth"
                              }
                            },
                            "etf_reference": {
                              "$ref": "#/components/schemas/StockDetailETFReference"
                            },
                            "relate_etf": {
                              "type": "integer",
                              "format": "int32",
                              "description": "是否有關聯 ETF：\n\n- `-1` - 該模板不適用\n- `0` - 無\n- `1` - 有"
                            },
                            "hk_dual": {
                              "$ref": "#/components/schemas/StockDetailHKDual"
                            },
                            "status_desc": {
                              "$ref": "#/components/schemas/StockDetailStatusDescription"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "last_done": "319.690",
                    "open": "341.000",
                    "prev_close": "374.010",
                    "high": "342.110",
                    "low": "315.735",
                    "amount": "115606413",
                    "balance": "37606914184.000",
                    "turnover_rate": "",
                    "eps": "1.0101914119127742",
                    "eps_ttm": "1.0133865349868262",
                    "trade_status": 207,
                    "timestamp": "1784836800",
                    "volume_rate": "3.63",
                    "depth_rate": "",
                    "year_high": "498.830",
                    "year_low": "297.820",
                    "lowest": "",
                    "highest": "",
                    "total_shares": "3755723871",
                    "circulating_shares": "2815883440",
                    "dividend_yield": "",
                    "bps": "23.1268333305007236",
                    "bid_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "0",
                        "price": ""
                      }
                    ],
                    "ask_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "0",
                        "price": ""
                      }
                    ],
                    "market_timestamp": "1784851199",
                    "market_price": "324.000",
                    "factor_a": "",
                    "factor_b": "",
                    "pretrade_close": "319.690",
                    "limit_up": "",
                    "limit_down": "",
                    "ah_premium": {
                      "counter_id": "",
                      "last_done": "",
                      "prev_close": ""
                    },
                    "latency": false,
                    "market_high": "324.500",
                    "market_low": "318.890",
                    "market_amount": "1248137",
                    "market_balance": "402230214.410",
                    "unit": 1,
                    "dps_rate": "",
                    "upgrade": 0,
                    "available_levels": [
                      "NBBO"
                    ],
                    "prev_year_close": "",
                    "bid_brokers": [],
                    "ask_brokers": [],
                    "inflow": "-249015203.6530",
                    "currency": "USD",
                    "exchange": "NASD",
                    "rise": "",
                    "fall": "",
                    "flatline": "",
                    "hk_shares": "0",
                    "counter_id": "ST/US/TSLA",
                    "eps_forecast": "1.1885857835473443",
                    "market_cap": "",
                    "stock_name": "Tesla",
                    "tpl": 1,
                    "cnconnect": 0,
                    "short_sell": true,
                    "ticker_size": "",
                    "channel_info": {},
                    "industry_counter_id": "BK/US/IN00276",
                    "industry_name": "Automobile Manufacturers",
                    "show_kline_type": 4,
                    "sub_status": 10500,
                    "base_large_balance": "514025.408",
                    "sub_market": "US_USON",
                    "tags": [
                      "Web|USAA|Global|NBBO",
                      "Web|USON|Global|LV1"
                    ],
                    "first_kline_timestamp": "1277784000",
                    "stock_derivatives": [
                      "OP"
                    ],
                    "adr_rate": null,
                    "cnconnect_neue": -1,
                    "constituent_stock": -1,
                    "amount_precision": 0,
                    "support_overnight": true,
                    "overnight_price": {
                      "last_done": "321.220",
                      "high": "324.830",
                      "low": "320.130",
                      "prev_close": "319.690",
                      "amount": "210212",
                      "balance": "67920320.670",
                      "timestamp": "1784863366"
                    },
                    "overnight_bid_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "103",
                        "price": "321.130"
                      }
                    ],
                    "overnight_ask_depths": [
                      {
                        "price_level": 1,
                        "count": "0",
                        "volume": "25",
                        "price": "321.340"
                      }
                    ],
                    "etf_reference": null,
                    "relate_etf": 0,
                    "hk_dual": null,
                    "status_desc": {
                      "status_desc": "Night session trading in progress 07.24 EDT",
                      "append_market_time": false,
                      "is_holiday": false
                    }
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          },
          "400": {
            "description": "請求未通過業務規則或輸入校驗。重試前，請根據業務碼修正請求。",
            "x-business-codes": [
              {
                "code": 301003,
                "description": "證券不存在（標的已退市或不支援），Broker App 因此提示無法查看行情"
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/newmarket/aggregate/logo": {
      "get": {
        "tags": [
          "行情"
        ],
        "summary": "取得股票詳細頁聚合圖示",
        "description": "查詢單支股票在詳細頁展示的聚合識別圖示（如交易所、報價等級、融資、融券、盤口、零股、滬深股通等標識），用於詳細頁角標/圖示展示。\n",
        "operationId": "getNewmarketAggregateLogo",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "股票 id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          }
        ],
        "responses": {
          "200": {
            "description": "請求成功。響應體包含「取得股票詳細頁聚合圖示」操作的結果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "lists": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "標識類型：exchange 交易所標識，quote_level 行情等級標識，option 夜盤標識，option_extend 期權延長時段標識，cn_connect A 股通標識，financing 融資標識，shorting 融券標識，depth 盤口標識，fractional_shares 零股標識，sh_sz_connect 滬深股通標識",
                                    "enum": [
                                      "exchange",
                                      "quote_level",
                                      "option",
                                      "option_extend",
                                      "cn_connect",
                                      "financing",
                                      "shorting",
                                      "depth",
                                      "fractional_shares",
                                      "sh_sz_connect"
                                    ]
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "標題"
                                  },
                                  "sub_title": {
                                    "type": "string",
                                    "description": "副標題"
                                  },
                                  "logo": {
                                    "type": "string",
                                    "description": "圖示位址"
                                  },
                                  "guide": {
                                    "type": "string",
                                    "description": "引導說明文案"
                                  },
                                  "variable_guide": {
                                    "type": "string",
                                    "description": "動態引導說明文案"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "lists": [
                      {
                        "title": "NASDAQ Stock Market",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/market/0ce3564f-0659-410a-9716-75b64b79ef28/market_us.png",
                        "guide": "",
                        "key": "exchange",
                        "variable_guide": ""
                      },
                      {
                        "title": "NASDAQ Basic quotes",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/quote_level/18bd9025-50cc-4f47-99c1-c8d1ac81fc42/lv1.png",
                        "guide": "",
                        "key": "quote_level",
                        "variable_guide": ""
                      },
                      {
                        "title": "Night trading supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/overnight/48dbb0cd-a40c-414a-95b7-d243575e3ed8/overnight.png",
                        "guide": "https://support.longbridgehk.com/topics/marketdata/Overnight20230922",
                        "key": "overnight",
                        "variable_guide": ""
                      },
                      {
                        "title": "Fractional shares supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/fractional/e1edf2e8-34e5-492f-88c7-160b80547be8/20240830-112536.png",
                        "guide": "https://support.longbridgehk.com/topics/us-trade/fractional_shares",
                        "key": "fractional_shares",
                        "variable_guide": ""
                      },
                      {
                        "title": "Margin financing supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/finance/0e52b6b8-d2f8-4810-9a45-9282b162a804/financeable.png",
                        "guide": "https://longbridge.activity.wbrks.com/spa/margin-info?id=ST/US/TSLA",
                        "key": "financing",
                        "variable_guide": "https://{web_activity_host}/spa/margin-info?id=ST/US/TSLA"
                      },
                      {
                        "title": "Short selling supported",
                        "sub_title": "",
                        "logo": "https://assets.lbctrl.com/uploads/agg_logo/finance/7f61759f-1e52-4613-a010-3c03672290de/loanable.png",
                        "guide": "https://longbridge.activity.wbrks.com/spa/margin-info?id=ST/US/TSLA",
                        "key": "shorting",
                        "variable_guide": "https://{web_activity_host}/spa/margin-info?id=ST/US/TSLA"
                      }
                    ]
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          }
        }
      }
    },
    "/v1/credit/stock_margin_ratio_detail": {
      "get": {
        "tags": [
          "交易"
        ],
        "summary": "查詢股票保證金比例詳情",
        "description": "查詢單支股票的融資、融券保證金比例等風控參數，用於判斷該股票是否支援融資買入或融券賣出。\n",
        "operationId": "getCreditStockMarginRatioDetail",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "股票 id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          }
        ],
        "responses": {
          "200": {
            "description": "請求成功。響應體包含「查詢股票保證金比例詳情」操作的結果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "long": {
                              "type": "object",
                              "description": "融資（多頭）保證金資訊",
                              "properties": {
                                "financeable": {
                                  "type": "boolean",
                                  "description": "是否可融資"
                                },
                                "im_factor": {
                                  "type": "string",
                                  "description": "初始保證金比例"
                                },
                                "mm_factor": {
                                  "type": "string",
                                  "description": "維持保證金比例"
                                },
                                "mcm_factor": {
                                  "type": "string",
                                  "description": "追加保證金（Margin Call）比例"
                                },
                                "fm_factor": {
                                  "type": "string",
                                  "description": "強平保證金比例"
                                }
                              }
                            },
                            "short": {
                              "type": "object",
                              "description": "融券（空頭）保證金資訊",
                              "properties": {
                                "short_sellable": {
                                  "type": "boolean",
                                  "description": "是否可融券賣出"
                                },
                                "im_factor": {
                                  "type": "string",
                                  "description": "初始保證金比例"
                                },
                                "mm_factor": {
                                  "type": "string",
                                  "description": "維持保證金比例"
                                },
                                "mcm_factor": {
                                  "type": "string",
                                  "description": "追加保證金（Margin Call）比例"
                                },
                                "fm_factor": {
                                  "type": "string",
                                  "description": "強平保證金比例"
                                },
                                "available": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "可沽空數量"
                                },
                                "stock_lending_pool_visible": {
                                  "type": "boolean",
                                  "description": "是否展示可借股池"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "long": {
                      "financeable": true,
                      "im_factor": "0.45",
                      "mm_factor": "0.3",
                      "mcm_factor": "0.45",
                      "fm_factor": "0.25"
                    },
                    "short": {
                      "short_sellable": true,
                      "im_factor": "0.45",
                      "mm_factor": "0.3",
                      "mcm_factor": "0.42",
                      "fm_factor": "0.25",
                      "available": 10000001,
                      "stock_lending_pool_visible": false
                    }
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          }
        }
      }
    },
    "/v2/app/risk/account_stock_margin/query": {
      "get": {
        "tags": [
          "交易"
        ],
        "summary": "取得股票融資資訊",
        "description": "查詢指定股票的融資保證金比例及融資費率資訊，用於交易下單前的融資額度展示。\n",
        "operationId": "getRiskAccountStockMarginQuery",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "股票 id",
            "schema": {
              "type": "string"
            },
            "example": "ST/US/TSLA"
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "幣種",
            "schema": {
              "type": "string"
            },
            "example": "USD"
          }
        ],
        "responses": {
          "200": {
            "description": "請求成功。響應體包含「取得股票融資資訊」操作的結果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "initial": {
                              "type": "string",
                              "description": "初始保證金比例"
                            },
                            "maintenance": {
                              "type": "string",
                              "description": "維持保證金比例"
                            },
                            "force": {
                              "type": "string",
                              "description": "強平保證金比例"
                            },
                            "counter_id": {
                              "type": "string",
                              "description": "股票 id"
                            },
                            "my_rate": {
                              "type": "string",
                              "description": "我的融資費率"
                            },
                            "finance_rate": {
                              "type": "string",
                              "description": "預設融資費率"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "counter_id": "ST/US/TSLA",
                    "finance_rate": "0.0575",
                    "force": "0.25",
                    "initial": "0.45",
                    "maintenance": "0.3",
                    "my_rate": "0.0575"
                  }
                },
                "x-example-kind": "sanitized-captured",
                "x-example-source": "mr",
                "x-example-captured-at": "2026-07-24T03:22:50.470Z"
              }
            }
          }
        }
      }
    },
    "/v2/app/risk/credit_adjust/apply": {
      "post": {
        "tags": [
          "交易"
        ],
        "summary": "申請調整融資額度",
        "description": " 客戶申請調整（提升）融資信用額度，提交後會立即返回調整結果：調整成功、調整失敗（超出可調整的最大額度）或進入人工審核。\n",
        "operationId": "applyRiskCreditAdjust",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_channel": {
                    "type": "string",
                    "description": "Broker 渠道"
                  },
                  "credit_currency": {
                    "type": "string",
                    "description": "融資幣種"
                  },
                  "apply_amount": {
                    "type": "string",
                    "description": "申請調整的額度，步長為 1000"
                  }
                },
                "required": [
                  "account_channel",
                  "credit_currency",
                  "apply_amount"
                ]
              },
              "example": {
                "account_channel": "<BROKER_CHANNEL>",
                "credit_currency": "HKD",
                "apply_amount": "10000"
              },
              "x-example-kind": "illustrative",
              "x-example-source": "schema"
            }
          }
        },
        "responses": {
          "200": {
            "description": "請求成功。響應體包含「申請調整融資額度」操作的結果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "adjust_status": {
                              "type": "integer",
                              "description": "調整狀態：\n\n- `0` - 調整成功\n- `1` - 調整失敗（超出最大可調整額度）\n- `2` - 審核中",
                              "enum": [
                                0,
                                1,
                                2
                              ]
                            },
                            "max_credit_amount": {
                              "type": "string",
                              "description": "當前可調整至的最大額度"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "adjust_status": 2,
                    "max_credit_amount": "<MAX_CREDIT_AMOUNT>"
                  }
                },
                "x-example-kind": "illustrative",
                "x-example-source": "schema"
              }
            }
          }
        },
        "x-permissions": [
          "trade_token"
        ]
      }
    },
    "/v1/commssion/rebate/list": {
      "get": {
        "tags": [
          "交易"
        ],
        "summary": "取得交易下單可用/不可用卡券列表",
        "description": "交易下單前，取得目前標的下客戶可用及不可用的返佣/免佣卡券列表，供客戶在下單時選擇使用的卡券。\n",
        "operationId": "getCommssionRebateList",
        "parameters": [
          {
            "name": "counter_id",
            "in": "query",
            "required": true,
            "description": "標的代碼，格式為 類型/市場/代碼（如股票 ST/HK/700，期權 OP/US/AAPL260722C205000）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "市場",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bz_type",
            "in": "query",
            "required": false,
            "description": "交易類型：\n\n- `0` - 股票交易\n- `1` - 期權交易",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "rebate_type",
            "in": "query",
            "required": false,
            "description": "卡券類型篩選：\n\n- `-1` - 全部\n- `0` - 普通返佣卡\n- `1` - 無限額返佣\n- `2` - 終生免佣卡\n- `3` - 現金卡\n- `4` - 平台費卡",
            "schema": {
              "type": "integer",
              "enum": [
                -1,
                0,
                1,
                2,
                3,
                4
              ]
            }
          },
          {
            "name": "order_amount",
            "in": "query",
            "required": false,
            "description": "訂單金額，用於校驗卡券是否滿足使用門檻",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "請求成功。響應體包含「取得交易下單可用/不可用卡券列表」操作的結果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "enables": {
                              "type": "array",
                              "description": "可用卡券列表",
                              "items": {
                                "$ref": "#/components/schemas/CommssionRebateCardItem"
                              }
                            },
                            "disables": {
                              "type": "array",
                              "description": "不可用卡券列表",
                              "items": {
                                "$ref": "#/components/schemas/CommssionRebateCardItem"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "enables": [],
                    "disables": []
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/portfolio/statement/list": {
      "get": {
        "tags": [
          "資產"
        ],
        "summary": "取得結單列表",
        "description": "分頁取得客戶的結單（日結單/月結單）列表，返回每份結單的展示名稱與下載用 key。\n",
        "operationId": "getPortfolioStatementList",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": true,
            "description": "結單類型：\n\n- `0` - 日結單\n- `1` - 月結單",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "example": 1
          },
          {
            "name": "start_dt",
            "in": "query",
            "required": false,
            "description": "起始日期，格式 yyyyMM",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_dt",
            "in": "query",
            "required": false,
            "description": "結束日期，格式 yyyyMM",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "頁碼",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "每頁數量，取值範圍 1~100",
            "schema": {
              "type": "integer"
            },
            "example": 5
          },
          {
            "name": "account_channel",
            "in": "query",
            "required": true,
            "description": "Broker 渠道",
            "schema": {
              "type": "string"
            },
            "example": "lb"
          }
        ],
        "responses": {
          "200": {
            "description": "請求成功。響應體包含「取得結單列表」操作的結果。",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "display_name": {
                                    "type": "string",
                                    "description": "結單顯示用檔名"
                                  },
                                  "key": {
                                    "type": "string",
                                    "description": "結單檔案 key，用於取得下載位址"
                                  },
                                  "cache_key": {
                                    "type": "string",
                                    "description": "快取 key，Broker App 用於判斷本地是否需要重新下載快取檔案"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "items": [
                      {
                        "display_name": "2026.06",
                        "key": "*lb-statement*lb*1*202606*statement-monthly-202606-<ACCOUNT_NO>.pdf",
                        "cache_key": "*lb-statement*lb*1*202606*statement-monthly-202606-<ACCOUNT_NO>.pdf_1782902191878"
                      },
                      {
                        "display_name": "2026.05",
                        "key": "*lb-statement*lb*1*202605*statement-monthly-202605-<ACCOUNT_NO>.pdf",
[...]
