{
  "openapi": "3.0.1",
  "info": {
    "title": "Whale API",
    "description": "面向 SaaS 租户的 Longbridge Whale OpenAPI。",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://openapi.longbridge.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "资产"
    }
  ],
  "paths": {
    "/v1/portfolio/query_account_balances_summary": {
      "get": {
        "tags": [
          "资产"
        ],
        "summary": "总资产及账面总现金",
        "description": "资产总览页顶部总资产（按类型/币种占比）与账面总现金明细。筛选项枚举来自 data_porter/search_bar（template_id=balance_and_equity_holding_summary），资产类型标签来自 data_porter/refs 的 equity_type_summary。中英文取自 Accept-Language: zh-CN / en。",
        "parameters": [
          {
            "name": "client_types",
            "in": "query",
            "required": false,
            "description": "客户类型。客户类型，多值用英文逗号拼接；空字符串表示全部。 可选值: `\"\"` = 全部; `1` = 个人客户; `2` = 企业客户; `3` = 联名客户.",
            "schema": {
              "type": "string"
            },
            "example": "2,1"
          },
          {
            "name": "account_types",
            "in": "query",
            "required": false,
            "description": "账户类型。账户类型，多值用英文逗号拼接；空字符串表示全部。 可选值: `\"\"` = 全部; `M` = 融资账户; `C` = 现金账户; `F` = 期货账户.",
            "schema": {
              "type": "string"
            },
            "example": "F,C"
          },
          {
            "name": "broker_codes",
            "in": "query",
            "required": false,
            "description": "经纪人。按经纪人(AE)代码过滤，多值用英文逗号拼接。除下列固定项外，其余为 search_bar 动态下发的 AE 代码列表（随租户/环境变化，key 与 value 相同，如 LBtestwbwhale123、LPT808909 等；示例环境共 127 项）。 可选值: `\"\"` = 全部; `=` = 未分配. 注：其余为动态 AE 代码，非固定枚举，以 search_bar 接口实时返回为准。",
            "schema": {
              "type": "string"
            },
            "example": "=,LBtestwbwhale123"
          }
        ],
        "responses": {
          "200": {
            "description": "接口直接返回资产汇总对象（前端 assetsOverview）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_assets": {
                      "type": "array",
                      "description": "总资产（各币种）。各币种总资产，用于顶部总资产展示与币种切换。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "币种。如 HKD/USD/CNY/SGD。"
                          },
                          "amount": {
                            "type": "string",
                            "description": "总资产金额。该币种总资产金额（decimal 字符串）。"
                          }
                        }
                      }
                    },
                    "total_asset_type": {
                      "type": "array",
                      "description": "总资产按类型占比。按资产类型的占比（总资产类型饼图）。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "equity_type": {
                            "type": "string",
                            "description": "资产类型。资产类型 key（如 CASH/US/HK/CN/OTHER/FUND），对应 data_porter/refs 的 equity_type_summary。"
                          },
                          "name": {
                            "type": "string",
                            "description": "资产类型名称。资产类型的本地化展示名称，随 Accept-Language 返回（如 现金）。"
                          },
                          "ratio": {
                            "type": "string",
                            "description": "占比。占比（decimal 字符串），前端 *100 显示百分比。"
                          }
                        }
                      }
                    },
                    "total_asset_currency": {
                      "type": "array",
                      "description": "总资产按币种占比。按币种的占比（总资产币种饼图）。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "币种。"
                          },
                          "ratio": {
                            "type": "string",
                            "description": "占比。decimal 字符串，取值 0~1，前端 *100 显示百分比。"
                          }
                        }
                      }
                    },
                    "total_balance": {
                      "type": "array",
                      "description": "账面总现金。账面总现金明细（按币种，对应「账面总现金」表格）。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "币种。"
                          },
                          "book_balance": {
                            "type": "string",
                            "description": "账面总现金。decimal 字符串。"
                          },
                          "settled_amount": {
                            "type": "string",
                            "description": "已结算。"
                          },
                          "unsettle_amount": {
                            "type": "string",
                            "description": "待结算。"
                          },
                          "trade_0": {
                            "type": "string",
                            "description": "T+0 待交收金额。"
                          },
                          "trade_1": {
                            "type": "string",
                            "description": "T+1 待交收金额。"
                          },
                          "trade_2": {
                            "type": "string",
                            "description": "T+2 待交收金额。"
                          },
                          "trade_n": {
                            "type": "string",
                            "description": "T+N 待交收金额。"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "total_assets": [
                    {
                      "currency": "HKD",
                      "amount": "12345678.90"
                    },
                    {
                      "currency": "USD",
                      "amount": "2345678.10"
                    }
                  ],
                  "total_asset_type": [
                    {
                      "equity_type": "CASH",
                      "name": "Cash",
                      "ratio": "0.35"
                    },
                    {
                      "equity_type": "HK",
                      "name": "HK Equities",
                      "ratio": "0.65"
                    }
                  ],
                  "total_asset_currency": [
                    {
                      "currency": "HKD",
                      "ratio": "0.8"
                    },
                    {
                      "currency": "USD",
                      "ratio": "0.2"
                    }
                  ],
                  "total_balance": [
                    {
                      "currency": "HKD",
                      "book_balance": "1000000.00",
                      "settled_amount": "900000.00",
                      "unsettle_amount": "100000.00",
                      "trade_0": "0.00",
                      "trade_1": "50000.00",
                      "trade_2": "50000.00",
                      "trade_n": "0.00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "租户 APP_KEY。"
      },
      "accessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "为租户签发的 ACCESS_TOKEN。"
      },
      "timestamp": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Timestamp",
        "description": "请求的 Unix 时间戳，如 1539095200.123。"
      },
      "signature": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Signature",
        "description": "HMAC-SHA256 请求签名，见「鉴权签名」指南。"
      }
    }
  },
  "security": [
    {
      "apiKey": [],
      "accessToken": [],
      "timestamp": [],
      "signature": []
    }
  ]
}