{
  "openapi": "3.0.1",
  "info": {
    "title": "Whale API",
    "description": "面向 SaaS 租戶的 Longbridge Whale OpenAPI。",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://openapi.longbridge.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "資產"
    }
  ],
  "paths": {
    "/v1/portfolio/query_account_balances_summary": {
      "get": {
        "tags": [
          "資產"
        ],
        "summary": "總資產及賬面總現金",
        "description": "資產總覽頁頂部總資產（按類型/幣種佔比）與賬面總現金明細。篩選項枚舉來自 data_porter/search_bar（template_id=balance_and_equity_holding_summary），資產類型標籤來自 data_porter/refs 的 equity_type_summary。中英文取自 Accept-Language: zh-CN / en。",
        "parameters": [
          {
            "name": "client_types",
            "in": "query",
            "required": false,
            "description": "客戶類型。客戶類型，多值用英文逗號拼接；空字串表示全部。 可選值: `\"\"` = 全部; `1` = 個人客戶; `2` = 企業客戶; `3` = 聯名客戶.",
            "schema": {
              "type": "string"
            },
            "example": "2,1"
          },
          {
            "name": "account_types",
            "in": "query",
            "required": false,
            "description": "賬戶類型。賬戶類型，多值用英文逗號拼接；空字串表示全部。 可選值: `\"\"` = 全部; `M` = 融資賬戶; `C` = 現金賬戶; `F` = 期貨賬戶.",
            "schema": {
              "type": "string"
            },
            "example": "F,C"
          },
          {
            "name": "broker_codes",
            "in": "query",
            "required": false,
            "description": "經紀人。按經紀人(AE)代碼過濾，多值用英文逗號拼接。除下列固定項外，其餘為 search_bar 動態下發的 AE 代碼列表（隨租戶/環境變化，key 與 value 相同，如 LBtestwbwhale123、LPT808909 等；示例環境共 127 項）。 可選值: `\"\"` = 全部; `=` = 未分配. 註：其餘為動態 AE 代碼，非固定枚舉，以 search_bar 接口實時返回為準。",
            "schema": {
              "type": "string"
            },
            "example": "=,LBtestwbwhale123"
          }
        ],
        "responses": {
          "200": {
            "description": "接口直接返回資產彙總對象（前端 assetsOverview）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_assets": {
                      "type": "array",
                      "description": "總資產（各幣種）。各幣種總資產，用於頂部總資產展示與幣種切換。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "幣種。如 HKD/USD/CNY/SGD。"
                          },
                          "amount": {
                            "type": "string",
                            "description": "總資產金額。該幣種總資產金額（decimal 字串）。"
                          }
                        }
                      }
                    },
                    "total_asset_type": {
                      "type": "array",
                      "description": "總資產按類型佔比。按資產類型的佔比（總資產類型圓餅圖）。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "equity_type": {
                            "type": "string",
                            "description": "資產類型。資產類型 key（如 CASH/US/HK/CN/OTHER/FUND），對應 data_porter/refs 的 equity_type_summary。"
                          },
                          "name": {
                            "type": "string",
                            "description": "資產類型名稱。資產類型的本地化展示名稱，隨 Accept-Language 返回（如 現金）。"
                          },
                          "ratio": {
                            "type": "string",
                            "description": "佔比。佔比（decimal 字串），前端 *100 顯示百分比。"
                          }
                        }
                      }
                    },
                    "total_asset_currency": {
                      "type": "array",
                      "description": "總資產按幣種佔比。按幣種的佔比（總資產幣種圓餅圖）。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "幣種。"
                          },
                          "ratio": {
                            "type": "string",
                            "description": "佔比。decimal 字串，取值 0~1，前端 *100 顯示百分比。"
                          }
                        }
                      }
                    },
                    "total_balance": {
                      "type": "array",
                      "description": "賬面總現金。賬面總現金明細（按幣種，對應「賬面總現金」表格）。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "幣種。"
                          },
                          "book_balance": {
                            "type": "string",
                            "description": "賬面總現金。decimal 字串。"
                          },
                          "settled_amount": {
                            "type": "string",
                            "description": "已結算。"
                          },
                          "unsettle_amount": {
                            "type": "string",
                            "description": "待結算。"
                          },
                          "trade_0": {
                            "type": "string",
                            "description": "T+0 待交收金額。"
                          },
                          "trade_1": {
                            "type": "string",
                            "description": "T+1 待交收金額。"
                          },
                          "trade_2": {
                            "type": "string",
                            "description": "T+2 待交收金額。"
                          },
                          "trade_n": {
                            "type": "string",
                            "description": "T+N 待交收金額。"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "total_assets": [
                    {
                      "currency": "HKD",
                      "amount": "12345678.90"
                    },
                    {
                      "currency": "USD",
                      "amount": "2345678.10"
                    }
                  ],
                  "total_asset_type": [
                    {
                      "equity_type": "CASH",
                      "name": "Cash",
                      "ratio": "0.35"
                    },
                    {
                      "equity_type": "HK",
                      "name": "HK Equities",
                      "ratio": "0.65"
                    }
                  ],
                  "total_asset_currency": [
                    {
                      "currency": "HKD",
                      "ratio": "0.8"
                    },
                    {
                      "currency": "USD",
                      "ratio": "0.2"
                    }
                  ],
                  "total_balance": [
                    {
                      "currency": "HKD",
                      "book_balance": "1000000.00",
                      "settled_amount": "900000.00",
                      "unsettle_amount": "100000.00",
                      "trade_0": "0.00",
                      "trade_1": "50000.00",
                      "trade_2": "50000.00",
                      "trade_n": "0.00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "租戶 APP_KEY。"
      },
      "accessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "為租戶簽發的 ACCESS_TOKEN。"
      },
      "timestamp": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Timestamp",
        "description": "請求的 Unix 時間戳，如 1539095200.123。"
      },
      "signature": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Signature",
        "description": "HMAC-SHA256 請求簽名，見「鑑權簽名」指南。"
      }
    }
  },
  "security": [
    {
      "apiKey": [],
      "accessToken": [],
      "timestamp": [],
      "signature": []
    }
  ]
}