{
  "openapi": "3.1.1",
  "info": {
    "title": "Longport Whale Broker API",
    "description": "Server-to-server API for brokers using Longport Whale.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://b-api.longbridge.xyz",
      "description": "Test"
    },
    {
      "url": "https://b-api.lbkrs.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Account Assets"
    }
  ],
  "paths": {
    "/v1/portfolio/query_account_balances_summary": {
      "get": {
        "operationId": "query_account_balances_summary",
        "summary": "Total Asset & Total Cash",
        "tags": [
          "Account Assets"
        ],
        "x-permission-key": [
          "asset.summary_query"
        ],
        "x-lbonly": false,
        "description": "Returns total-asset proportions by asset type and currency, together with total book-cash details. Asset-type labels follow the requested `Accept-Language`.\n\nCall `GET /v1/datasets/refs/equity_type_summary` to retrieve the current asset-type dictionary.\n\n### Request parameters\n\n- Optional: `client_types` (client_types), `account_types` (account_types), `broker_codes` (broker_codes)\n- See each field for its format, allowed values, default behavior, and business meaning.\n\n### Result\n\nOn success, the endpoint returns the requested data. See the `200` response schema for details.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "client_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Client type.\n\n- Join multiple values with a comma `,`\n- Omit this parameter to query all client types\n- Example: `1,2`",
            "example": "2,1"
          },
          {
            "name": "account_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Account type.\n\n- Join multiple values with a comma `,`\n- Omit this parameter to query all account types\n- Example: `F,C`",
            "example": "F,C"
          },
          {
            "name": "broker_codes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by broker (AE) code.\n\n- Join multiple values with a comma `,`\n- Omit this parameter to query all brokers\n- `=` means unassigned\n- Example: `=,LBtestwbwhale123`\n\nQuery the complete AE code list through `GET /v1/datasets/refs/broker_accounts`. Values vary\nby tenant and environment.",
            "example": "=,LBtestwbwhale123"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was processed successfully. `data` contains `total_assets`, `total_asset_type`, `total_asset_currency`, `total_balance`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_assets": {
                          "type": "array",
                          "description": "Total Assets (by currency). Total assets per currency, used for the total-assets display and currency switching at the top.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "Currency. e.g. HKD/USD/CNY/SGD"
                              },
                              "amount": {
                                "type": "string",
                                "description": "Amount. Total asset amount for this currency (decimal string)."
                              }
                            }
                          }
                        },
                        "total_asset_type": {
                          "type": "array",
                          "description": "Total Asset by Type. Proportion by asset type (total-assets type pie chart).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "equity_type": {
                                "type": "string",
                                "description": "Equity Type. Asset-type `key`, such as `CASH`, `US`, `HK`, `CN`, `OTHER`, or `FUND`.\n\nCall `GET /v1/datasets/refs/equity_type_summary` to retrieve the complete dynamic value set."
                              },
                              "name": {
                                "type": "string",
                                "description": "Type Name. Localized display name of the asset type, returned per Accept-Language (e.g. Cash)."
                              },
                              "ratio": {
                                "type": "string",
                                "description": "Ratio (decimal string); multiply by 100 to show a percentage."
                              }
                            }
                          }
                        },
                        "total_asset_currency": {
                          "type": "array",
                          "description": "Total Asset by Currency. Proportion by currency (total-assets currency pie chart).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "Currency. **Returned value:** Currency."
                              },
                              "ratio": {
                                "type": "string",
                                "description": "Ratio. Decimal string, range 0–1; multiply by 100 to show a percentage."
                              }
                            }
                          }
                        },
                        "total_balance": {
                          "type": "array",
                          "description": "Total Cash. Book total-cash details (by currency, corresponding to the \"Book Total Cash\" table).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "Currency. **Returned value:** Currency."
                              },
                              "book_balance": {
                                "type": "string",
                                "description": "Total Cash. Decimal string."
                              },
                              "settled_amount": {
                                "type": "string",
                                "description": "Settled. **Returned value:** Settled."
                              },
                              "unsettle_amount": {
                                "type": "string",
                                "description": "Outstanding. **Returned value:** Outstanding."
                              },
                              "trade_0": {
                                "type": "string",
                                "description": "T+0 amount to be settled. **Returned value:** T+0 amount to be settled."
                              },
                              "trade_1": {
                                "type": "string",
                                "description": "T+1 amount to be settled. **Returned value:** T+1 amount to be settled."
                              },
                              "trade_2": {
                                "type": "string",
                                "description": "T+2 amount to be settled. **Returned value:** T+2 amount to be settled."
                              },
                              "trade_n": {
                                "type": "string",
                                "description": "T+N amount to be settled. **Returned value:** T+N amount to be settled."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "total_assets": [
                      {
                        "currency": "string",
                        "amount": "string"
                      }
                    ],
                    "total_asset_type": [
                      {
                        "equity_type": "string",
                        "name": "string",
                        "ratio": "string"
                      }
                    ],
                    "total_asset_currency": [
                      {
                        "currency": "string",
                        "ratio": "string"
                      }
                    ],
                    "total_balance": [
                      {
                        "currency": "string",
                        "book_balance": "string",
                        "settled_amount": "string",
                        "unsettle_amount": "string",
                        "trade_0": "string",
                        "trade_1": "string",
                        "trade_2": "string",
                        "trade_n": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authenticated, or the login session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The current account is not authorized to use this feature. Grant the required permission to the account in User Permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "The request timed out. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/en/api-reference/query_account_balances_summary",
          "metadata": {
            "sidebarTitle": "Total Asset & Total Cash"
          }
        }
      }
    },
    "/v1/portfolio/query_equity_holding_summary": {
      "post": {
        "operationId": "query_equity_holding_summary",
        "summary": "Equity Holding Summary",
        "tags": [
          "Account Assets"
        ],
        "x-permission-key": [
          "asset.summary_query"
        ],
        "x-lbonly": false,
        "description": "Returns Holding Summary.\n\n### Request parameters\n\n- Required: `equity_type` (Equity Type)\n- Optional: `client_types` (Client Type), `account_types` (Account Type), `broker_codes` (AE), `page` (Page), `page_size` (Page Size)\n- See each field for its format, allowed values, and business meaning.\n\n### Result\n\nOn success, the endpoint completes the operation. See the `200` response schema for returned data and subsequent state information.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "equity_type"
                ],
                "properties": {
                  "client_types": {
                    "type": "string",
                    "description": "Client Type. Client type.\n\n- Join multiple values with a comma `,`\n- Omit this parameter to query all client types\n- Example: `1,2`\n\n**Allowed values:**\n- `1` - Personal Client\n- `2` - Corporate Client\n- `3` - Joint Client",
                    "example": "1,2",
                    "enum": [
                      "1",
                      "2",
                      "3"
                    ]
                  },
                  "account_types": {
                    "type": "string",
                    "description": "Account Type. Account type.\n\n- Join multiple values with a comma `,`\n- Omit this parameter to query all account types\n- Example: `M,C`\n\n> Note: An invalid combination of account type and `equity_type` (for example, futures\naccount `F` with fund `FUND` ) returns `400`.\n\n**Allowed values:**\n- `M` - Margin\n- `C` - Cash\n- `F` - Futures",
                    "example": "M,C",
                    "enum": [
                      "M",
                      "C",
                      "F"
                    ]
                  },
                  "broker_codes": {
                    "type": "string",
                    "description": "AE. Filter by broker (AE) code.\n\n- Join multiple values with a comma `,`\n- Omit this parameter to query all brokers\n- `=` means unassigned\n- Example: `=,LBtestwbwhale123`\n\nQuery the complete AE code list through `GET /v1/datasets/refs/broker_accounts`.\nValues vary by tenant and environment.\n\n**Values currently documented:**\n- `=` - Unassigned",
                    "enum": [
                      "="
                    ]
                  },
                  "equity_type": {
                    "type": "string",
                    "description": "Equity Type. Asset-type filter for the holding summary. Only one value is supported.\n\nValues come from the dynamic `equity_holding_summary_equity_type` enumeration and are\nnot fixed.\n\nCall `GET /v1/datasets/refs/equity_holding_summary_equity_type` to retrieve the current data dictionary, and use the returned entry's `key` as this field's value.\n\n**Values currently documented:**\n- `STOCK` - Stock\n- `OPTION` - Option\n- `FUND` - Fund\n- `BOND` - Bond\n- `MMF` - Cash Plus\n- `OTC` - Other\n- `CRYPTO` - Cryptocurrency\n- `WM` - OTC Derivatives",
                    "enum": [
                      "STOCK",
                      "OPTION",
                      "FUND",
                      "BOND",
                      "MMF",
                      "OTC",
                      "CRYPTO",
                      "WM"
                    ]
                  },
                  "page": {
                    "type": "number",
                    "description": "Page number to query, starting from `1`."
                  },
                  "page_size": {
                    "type": "number",
                    "description": "Page Size. Maximum number of records to return per page. Use a positive integer."
                  }
                }
              },
              "example": {
                "client_types": "2,1",
                "account_types": "M,C",
                "broker_codes": "=,LBtestwbwhale123",
                "page": 1,
                "page_size": 20,
                "equity_type": "STOCK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully. `data` contains `total_holdings`, `page`, `page_size`, `total_page`, `total`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_holdings": {
                          "type": "array",
                          "description": "Holdings. **Returned value:** List of holdings.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "counter_id": {
                                "type": "string",
                                "description": "Counter ID. **Returned value:** Counter ID."
                              },
                              "equity_type": {
                                "type": "string",
                                "description": "Equity Type. Same as the request equity_type; see equity_holding_summary_equity_type for values."
                              },
                              "counter_name": {
                                "type": "string",
                                "description": "Symbol Name. Localized name, returned per Accept-Language."
                              },
                              "total_quantity": {
                                "type": "string",
                                "description": "Holding Quantity. **Returned value:** Holding Quantity."
                              },
                              "last_done": {
                                "type": "string",
                                "description": "Closing Price. **Returned value:** Closing Price."
                              },
                              "market_value": {
                                "type": "string",
                                "description": "Holding Market Value. **Returned value:** Holding Market Value."
                              },
                              "settled": {
                                "type": "string",
                                "description": "Settled. **Returned value:** Settled."
                              },
                              "unsettle": {
                                "type": "string",
                                "description": "Outstanding. **Returned value:** Outstanding."
                              },
                              "trade_0": {
                                "type": "string",
                                "description": "T+0 quantity to be settled. **Returned value:** T+0 quantity to be settled."
                              },
                              "trade_1": {
                                "type": "string",
                                "description": "T+1 quantity to be settled. **Returned value:** T+1 quantity to be settled."
                              },
                              "trade_2": {
                                "type": "string",
                                "description": "T+2 quantity to be settled. **Returned value:** T+2 quantity to be settled."
                              },
                              "trade_n": {
                                "type": "string",
                                "description": "T+N quantity to be settled. **Returned value:** T+N quantity to be settled."
                              },
                              "symbol": {
                                "type": "string",
                                "description": "Symbol. Instrument code; empty for some holdings."
                              }
                            }
                          }
                        },
                        "page": {
                          "type": "number",
                          "description": "Page. **Returned value:** Current page number."
                        },
                        "page_size": {
                          "type": "number",
                          "description": "Page Size. **Returned value:** Number of records per page in this response."
                        },
                        "total_page": {
                          "type": "number",
                          "description": "Total Pages. **Returned value:** Total number of result pages."
                        },
                        "total": {
                          "type": "number",
                          "description": "Total. **Returned value:** Total number of matching records, used for pagination."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "total_holdings": [
                      {
                        "counter_id": "string",
                        "equity_type": "string",
                        "counter_name": "string",
                        "total_quantity": "string",
                        "last_done": "string",
                        "market_value": "string",
                        "settled": "string",
                        "unsettle": "string",
                        "trade_0": "string",
                        "trade_1": "string",
                        "trade_2": "string",
                        "trade_n": "string",
                        "symbol": "string"
                      }
                    ],
                    "page": 0,
                    "page_size": 0,
                    "total_page": 0,
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authenticated, or the login session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The current account is not authorized to use this feature. Grant the required permission to the account in User Permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "The request timed out. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/en/api-reference/query_equity_holding_summary",
          "metadata": {
            "sidebarTitle": "Equity Holding Summary"
          }
        }
      }
    },
    "/portfolio/dawn/get_all_biz_code_info": {
      "get": {
        "operationId": "get_all_biz_code_info",
        "summary": "Get All Biz Code Info",
        "tags": [
          "Account Assets"
        ],
        "x-lbonly": false,
        "description": "Get All Biz Code Info.\n\n### Request parameters\n\n- Optional: `locale` (locale)\n- See each field for its format, allowed values, and business meaning.\n\n### Result\n\nOn success, the endpoint returns the requested data. See the `200` response schema for field definitions.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The current UI language sent by the client for title localization; in practice the language is\nactually controlled by the Accept-Language header."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was processed successfully. `data` contains `info_list`, `info_list_ex`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "info_list": {
                          "type": "array",
                          "description": "Biz Code Group Tree. Grouped by major category, e.g. \"Derivatives\" DP / \"Crypto\", etc.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Group Title. Localized per Accept-Language."
                              },
                              "value": {
                                "type": "string",
                                "description": "Group Code. **Returned value:** Display text for the dictionary entry."
                              },
                              "children": {
                                "type": "array",
                                "description": "Biz Codes. **Returned value:** List of biz codes.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "title": {
                                      "type": "string",
                                      "description": "Biz Code Title. e.g. \"LDPDNSDR maturity redemption position payout\""
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "Biz Code Value. **Returned value:** Display text for the dictionary entry."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "info_list_ex": {
                          "type": "array",
                          "description": "Extended Group Tree. Observed as an empty array; purpose unknown.",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "info_list": [
                      {
                        "title": "string",
                        "value": "string",
                        "children": [
                          {
                            "title": "string",
                            "value": "string"
                          }
                        ]
                      }
                    ],
                    "info_list_ex": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authenticated, or the login session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The current account is not authorized to use this feature. Grant the required permission to the account in User Permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "The request timed out. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/en/api-reference/get_all_biz_code_info",
          "metadata": {
            "sidebarTitle": "Get All Biz Code Info"
          }
        }
      }
    },
    "/portfolio/dawn/update_biz_code_info_v2": {
      "post": {
        "operationId": "update_biz_code_info_v2",
        "summary": "Update Biz Code",
        "tags": [
          "Account Assets"
        ],
        "x-lbonly": false,
        "description": "Update Biz Code.\n\n### Request parameters\n\n- Required: `biz_code` (Biz Code)\n- Optional: `visible` (Visible), `business_type` (Business Type), `account_type` (Account Type), `action_type` (Action Type), `language` (Language Names), `remark` (Remark)\n- See each field for its format, allowed values, and business meaning.\n\n### Result\n\nOn success, the endpoint completes the operation. See the `200` response schema for returned data and subsequent state information.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "biz_code"
                ],
                "properties": {
                  "biz_code": {
                    "type": "string",
                    "description": "Biz Code. Cannot be changed when editing; used to locate the record."
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Visible. Boolean flag for visible.\n\n**Boolean values:**\n- `true` - The condition applies\n- `false` - The condition does not apply"
                  },
                  "business_type": {
                    "type": "string",
                    "description": "Business Type. Identifies the business scenario to which this request applies."
                  },
                  "account_type": {
                    "type": "string",
                    "description": "Account Type. Specifies Account Type."
                  },
                  "action_type": {
                    "type": "string",
                    "description": "Action Type. Specifies Action Type."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language Names. Specifies Language Names."
                  },
                  "remark": {
                    "type": "string",
                    "description": "Remark. Specifies Remark."
                  }
                }
              },
              "example": {
                "biz_code": "LCUSTOM001",
                "visible": true,
                "business_type": "1",
                "account_type": "1",
                "action_type": "1",
                "language": "{\"zh-CN\":\"自定义业务码\",\"en\":\"Custom Biz Code\"}",
                "remark": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully. `data.ticket_id` contains the approval ticket ID, which can be used to query the subsequent approval status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ticket_id": {
                          "type": "string",
                          "description": "Ticket ID. **Returned value:** Approval ticket ID. Returned only when the operation starts an approval workflow."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "ticket_id": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authenticated, or the login session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The current account is not authorized to use this feature. Grant the required permission to the account in User Permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "The request timed out. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/en/api-reference/update_biz_code_info_v2",
          "metadata": {
            "sidebarTitle": "Update Biz Code"
          }
        }
      }
    },
    "/portfolio/dawn/update_biz_code_group_info": {
      "post": {
        "operationId": "update_biz_code_group_info",
        "summary": "Update Biz Code Group",
        "tags": [
          "Account Assets"
        ],
        "x-permission-key": [
          "biz_code.biz_code_group_operation"
        ],
        "x-lbonly": false,
        "description": "Updates a business-code group. Uses the same fields as the create operation, plus `id` to identify the record.\n\n### Request parameters\n\n- Required: `id` (Group Record ID), `account_channel` (Account Channel), `biz_group` (Biz Group), `group_name` (Group Name), `group_info` (Group Description), `biz_code_list` (Biz Code List), `op_user` (Operator)\n- Optional: `account_channel_list` (Sync Account Channel List)\n- See each field for its format, allowed values, default behavior, and business meaning.\n\n### Result\n\nOn success, the endpoint completes the described business operation. See the `200` response schema for returned data.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "account_channel",
                  "biz_group",
                  "group_name",
                  "group_info",
                  "biz_code_list",
                  "op_user"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Group Record ID associated with this request."
                  },
                  "account_channel": {
                    "type": "string",
                    "description": "Account Channel. Specifies Account Channel. This field is required."
                  },
                  "biz_group": {
                    "type": "string",
                    "description": "Biz Group. Specifies Biz Group. This field is required."
                  },
                  "group_name": {
                    "type": "string",
                    "description": "Group Name. Specifies Group Name. This field is required."
                  },
                  "group_info": {
                    "type": "string",
                    "description": "Group Description. Specifies Group Description. This field is required."
                  },
                  "biz_code_list": {
                    "type": "array",
                    "description": "Biz Code List. Submit Biz Code List as a JSON array. This field is required.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "account_channel_list": {
                    "type": "array",
                    "description": "Sync Account Channel List. Submit Sync Account Channel List as a JSON array.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "op_user": {
                    "type": "string",
                    "description": "Operator. Identifier of the operator initiating this request, used for audit tracing. This field is required."
                  }
                }
              },
              "example": {
                "id": "123",
                "account_channel": "longport_test",
                "biz_group": "1",
                "group_name": "示例分组",
                "group_info": "分组说明",
                "biz_code_list": [
                  "LCUSTOM001",
                  "LCUSTOM002"
                ],
                "account_channel_list": [
                  "longport_test"
                ],
                "op_user": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully. The response `data` does not contain additional business fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authenticated, or the login session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The current account is not authorized to use this feature. Grant the required permission to the account in User Permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "The request timed out. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/en/api-reference/update_biz_code_group_info",
          "metadata": {
            "sidebarTitle": "Update Biz Code Group"
          }
        }
      }
    },
    "/v1/risk_event/settlement_revoke_check": {
      "post": {
        "operationId": "settlement_revoke_check",
        "summary": "Check Adjustment Revocable",
        "tags": [
          "Account Assets"
        ],
        "x-lbonly": false,
        "description": "Manual-adjustment revoke validation: shared across the eight asset types (Cash/Stock/Fund/Option/Bond/OTC Other/Cryptocurrency/OTC Derivatives). When \"Revoke\" is clicked it first checks whether the adjustment can be revoked (e.g. it cannot if the funds have since been used).\n\n### Request parameters\n\n- Required: `id` (Adjustment Ticket ID)\n- See each field for its format, allowed values, default behavior, and business meaning.\n\n### Result\n\nOn success, the endpoint completes the described business operation. See the `200` response schema for returned data.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Adjustment Ticket ID associated with this request."
                  }
                }
              },
              "example": {
                "id": 123
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully. `data` contains `revoke_type`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "revoke_type": {
                          "type": "string",
                          "description": "Allowed Revoke Type. Determines which option in the \"Revoke reason\" single-select is available;\nvalues come from the dawn_undo_adjustment_revoke_type dynamic enumeration and\nare not fixed.\n\n**Allowed values:**\n- `REGULAR_REVOCATION` - Regular Revocation\n- `UNTRACEABLE_REVOCATION` - Untraceable Revocation\n\nCall `GET /v1/datasets/refs/dawn_undo_adjustment_revoke_type` to retrieve the current data dictionary, and use the returned entry's `key` as this field's value.",
                          "enum": [
                            "REGULAR_REVOCATION",
                            "UNTRACEABLE_REVOCATION"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "revoke_type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authenticated, or the login session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The current account is not authorized to use this feature. Grant the required permission to the account in User Permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "The request timed out. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/en/api-reference/settlement_revoke_check",
          "metadata": {
            "sidebarTitle": "Check Adjustment Revocable"
          }
        }
      }
    },
    "/risk_event/settlement_revoke": {
      "post": {
        "operationId": "settlement_revoke",
        "summary": "Revoke Manual Adjustment",
        "tags": [
          "Account Assets"
        ],
        "x-permission-key": [
          "change_ticket.delete_record"
        ],
        "x-lbonly": false,
        "description": "Revokes Manual Adjustment.\n\n### Request parameters\n\n- Required: `id` (Adjustment Ticket ID)\n- Optional: `remark` (Revoke Remark)\n- See each field for its format, allowed values, and business meaning.\n\n### Risk notice\n\n> This operation may change real cash balances, positions, or transaction state. Verify the target records and parameters before calling it.\n\n### Result\n\nOn success, the endpoint completes the operation. See the `200` response schema for returned data and subsequent state information.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Adjustment Ticket ID associated with this request."
                  },
                  "remark": {
                    "type": "string",
                    "description": "Revoke Remark. Other request fields are submitted together with the cancellation-reason form; the\nspecific fields have not been individually confirmed by live testing."
                  }
                }
              },
              "example": {
                "id": 123
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully. The response `data` does not contain additional business fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authenticated, or the login session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The current account is not authorized to use this feature. Grant the required permission to the account in User Permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "The request timed out. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/en/api-reference/settlement_revoke",
          "metadata": {
            "sidebarTitle": "Revoke Manual Adjustment"
          }
        }
      }
    },
    "/v1/datasets/account_cash_balances": {
      "post": {
        "operationId": "account_cash_balances",
        "summary": "Cash Account Balance",
        "tags": [
          "Account Assets"
        ],
        "x-permission-key": [
          "account_balance.account"
        ],
        "x-lbonly": false,
        "description": "Queries Cash Account Balance data. Combine business filters in `filters`, and use `page`, `page_size`, and `orderBy` to control pagination and sorting.\n\n### Response\n\nOn success, the API returns the matching records and pagination metadata. See each filter field for its purpose, allowed values, and dynamic value source.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "Filters. Combines business filters. Omit a filter field to disable that filter.",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "Client. Filters results by Client."
                      },
                      "currency": {
                        "type": "string",
                        "description": "Currency. Filters results by Currency.\n\nValues are dynamic. Call `GET /v1/datasets/refs/tenant_currencies_by_channel` to retrieve the current data dictionary, and use the returned entry's `key` as this parameter's value."
                      },
                      "account_type": {
                        "type": "string",
                        "description": "Account Type. Filters results by Account Type.\n\n**Allowed values:** `SETTLEMENT`, `BUSINESS` (Business), `EXTERNAL`, `INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "Updated At. Filters results by Updated At.",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "Greater Than or Equal. Inclusive lower bound of the filter range."
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "Less Than or Equal. Inclusive upper bound of the filter range."
                          }
                        }
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number to retrieve, starting from `1`."
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "Page Size. Number of records to return per page."
                  },
                  "orderBy": {
                    "type": "array",
                    "description": "Order By. Array of sorting rules. Each item defines a sort field and direction.",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              },
              "example": {
                "filters": {},
                "page": 1,
                "page_size": 20,
                "orderBy": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On success, returns paginated Cash Account Balance records together with pagination metadata such as the page number, page size, and total record count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "list",
                        "total"
                      ],
                      "properties": {
                        "list": {
                          "type": "array",
                          "description": "List. **Returned value:** List of list.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "ID. **Returned value:** Unique identifier of the current record."
                              },
                              "member_id": {
                                "type": "string",
                                "description": "Member ID. **Returned value:** Member ID."
                              },
                              "real_name": {
                                "type": "string",
                                "description": "Name. **Returned value:** Name."
                              },
                              "real_name_val": {
                                "type": "string",
                                "description": "Name (raw value). Raw value of `real_name`. The `real_name` field contains the display value resolved through a dictionary or related record; this field contains the underlying code or ID."
                              },
                              "origin_id": {
                                "type": "string",
                                "description": "A/C No. **Returned value:** A/C No."
                              },
                              "account_type": {
                                "type": "string",
                                "description": "Account Type. **Returned value:** Account Type."
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency. **Returned value:** Currency."
                              },
                              "currency_val": {
                                "type": "string",
                                "description": "Currency (raw value). Raw value of `currency`. The `currency` field contains the display value resolved through a dictionary or related record; this field contains the underlying code or ID."
                              },
                              "custom_unavailable_amount": {
                                "type": "string",
                                "description": "Frozen Balance. **Returned value:** Frozen Balance."
                              },
                              "book_balance": {
                                "type": "string",
                                "description": "Total Balance. **Returned value:** Total Balance."
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "Updated At. **Returned value:** Updated At. The date or time format follows the value returned by the API."
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total. **Returned value:** Total number of matching records, used for pagination."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "list": [
                      {
                        "id": "7496263",
                        "member_id": "1000000000000000000",
                        "real_name": "示例用户",
                        "real_name_val": "",
                        "origin_id": "H00000000",
                        "account_type": "SETTLEMENT",
                        "currency": "CNH",
                        "currency_val": "CNH",
                        "custom_unavailable_amount": "",
                        "book_balance": "1,000,000,000.00",
                        "updated_at": "1784185026"
                      }
                    ],
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authenticated, or the login session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The current account is not authorized to use this feature. Grant the required permission to the account in User Permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "The request timed out. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/en/api-reference/account_cash_balances",
          "metadata": {
            "sidebarTitle": "Cash Account Balance"
          }
        }
      }
    },
    "/v1/datasets/account_cash_balances/download": {
      "post": {
        "operationId": "account_cash_balances_download",
        "summary": "Cash Account Balance Export",
        "tags": [
          "Account Assets"
        ],
        "x-permission-key": [
          "account_balance.account"
        ],
        "x-lbonly": false,
        "description": "Exports Cash Account Balance data to a file. `filters` defines the export scope, `orderBy` controls sorting, and `down_fields` can restrict the exported columns.\n\n### Export modes\n\n- `mode: 0`: synchronous export; the download URL is returned directly on success.\n- `mode: 1`: asynchronous export; the API first returns `file_download_id`. Call `GET /v1/datasets/download/{id}` to obtain the download URL.\n- When the export record is no longer needed, delete it with `DELETE /v1/datasets/download/{id}`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "Filters. Same fields as the filters of account_cash_balances.yaml (the query capability).",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "Client. Filters results by Client."
                      },
                      "currency": {
                        "type": "string",
                        "description": "Currency. Filters results by Currency.\n\nValues are dynamic. Call `GET /v1/datasets/refs/tenant_currencies_by_channel` to retrieve the current data dictionary, and use the returned entry's `key` as this parameter's value."
                      },
                      "account_type": {
                        "type": "string",
                        "description": "Account Type. Filters results by Account Type.\n\n**Allowed values:** `SETTLEMENT`, `BUSINESS` (Business), `EXTERNAL`, `INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "Updated At. Filters results by Updated At.",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "Greater Than or Equal. Inclusive lower bound of the filter range."
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "Less Than or Equal. Inclusive upper bound of the filter range."
                          }
                        }
                      }
                    }
                  },
                  "orderBy": {
                    "type": "array",
                    "description": "Order By. Array of sorting rules. Each item defines a sort field and direction.",
                    "items": {
                      "type": "object"
                    }
                  },
                  "mode": {
                    "type": "integer",
                    "default": 0,
                    "description": "Mode. Defaults to `0` (synchronous mode) when omitted.\n\n**Allowed values:**\n- `0` - Sync\n- `1` - Async",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "ext": {
                    "type": "string",
                    "description": "Ext. Download file format. Defaults to `csv` when omitted.\n\n**Allowed values:**\n- `csv` - CSV\n- `xlsx` - Excel",
                    "enum": [
                      "csv",
                      "xlsx"
                    ]
                  },
                  "file_name": {
                    "type": "string",
                    "description": "File Name. Export file name. The server generates a name when omitted."
                  },
                  "remark": {
                    "type": "string",
                    "description": "Remarks to save with this operation."
                  },
                  "down_fields": {
                    "type": "array",
                    "description": "Down Fields. When omitted, all fields are exported; allowed values are listed under items.enum (the\nsame field list as the query endpoint's data.list.items).",
                    "items": {
                      "type": "string",
                      "enum": [
                        "id",
                        "member_id",
                        "real_name",
                        "real_name_val",
                        "origin_id",
                        "account_type",
                        "currency",
                        "currency_val",
                        "custom_unavailable_amount",
                        "book_balance",
                        "updated_at"
                      ]
                    }
                  },
                  "ticket_content": {
                    "type": "string",
                    "description": "Ticket Content. Information shown to the approver when download approval is enabled for the template."
                  },
                  "ticket_preview_url": {
                    "type": "string",
                    "description": "Ticket Preview URL. Export approval detail URL. Used only when the export requires approval."
                  },
                  "hide": {
                    "type": "integer",
                    "description": "Hide. Whether to hide this export from the download-record list.\n\n**Allowed values:**\n- `0` - Not Hidden\n- `1` - Hidden",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              },
              "example": {
                "filters": {},
                "orderBy": [],
                "mode": 0,
                "ext": "csv",
                "file_name": "",
                "remark": "",
                "down_fields": [],
                "ticket_content": "",
                "ticket_preview_url": "",
                "hide": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On success, returns information about the Cash Account Balance Export task. Synchronous exports provide a download URL directly; asynchronous exports provide `file_download_id` for subsequent status queries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Download URL. Returned in synchronous mode (`mode: 0`); empty in asynchronous mode."
                        },
                        "file_download_id": {
                          "type": "string",
                          "description": "File Download ID. Returned in async mode (`mode: 1`); it is the `{id}` in\n`GET /v1/datasets/download/{id}` / `DELETE /v1/datasets/download/{id}`: GET\nobtains the final download URL, DELETE deletes the export record."
                        },
                        "ticket_id": {
                          "type": "string",
                          "description": "Ticket ID. **Returned value:** Approval ticket ID. Returned only when the operation starts an approval workflow."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "url": "https://b-api.longbridge.xyz/download/export_result.csv",
                    "file_download_id": "",
                    "ticket_id": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authenticated, or the login session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The current account is not authorized to use this feature. Grant the required permission to the account in User Permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "The request timed out. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/en/api-reference/account_cash_balances_download",
          "metadata": {
            "sidebarTitle": "Cash Account Balance Export"
          }
        }
      }
    },
    "/v1/datasets/account_stock_holdings": {
      "post": {
        "operationId": "account_stock_holdings",
        "summary": "Stock Account Balance",
        "tags": [
          "Account Assets"
        ],
        "x-permission-key": [
          "account_balance.stock"
        ],
        "x-lbonly": false,
        "description": "Queries Stock Account Balance data. Combine business filters in `filters`, and use `page`, `page_size`, and `orderBy` to control pagination and sorting.\n\n### Response\n\nOn success, the API returns the matching records and pagination metadata. See each filter field for its purpose, allowed values, and dynamic value source.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "Filters. Combines business filters. Omit a filter field to disable that filter.",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "Client. Filters results by Client."
                      },
                      "account_type": {
                        "type": "string",
                        "description": "Account Type. Filters results by Account Type.\n\n**Allowed values:** `SETTLEMENT`, `BUSINESS` (Business), `EXTERNAL`, `INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "Stock Code. Filters results by Stock Code."
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "Updated At. Filters results by Updated At.",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "Greater Than or Equal. Inclusive lower bound of the filter range."
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "Less Than or Equal. Inclusive upper bound of the filter range."
                          }
                        }
                      },
                      "is_zero": {
                        "type": "string",
                        "description": "Display Type. Filters results by Display Type.\n\nMultiple values are supported. Join them with commas (`,`). Omit the field to disable this filter.\n\n**Allowed values:**\n- `0` - Nil\n- `1` - Valid",
                        "example": "0,1",
                        "enum": [
                          "0",
                          "1"
                        ]
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number to retrieve, starting from `1`."
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "Page Size. Number of records to return per page."
                  },
                  "orderBy": {
                    "type": "array",
                    "description": "Order By. Array of sorting rules. Each item defines a sort field and direction.",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              },
              "example": {
                "filters": {},
                "page": 1,
                "page_size": 20,
                "orderBy": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On success, returns paginated Stock Account Balance records together with pagination metadata such as the page number, page size, and total record count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "list",
                        "total"
                      ],
                      "properties": {
                        "list": {
                          "type": "array",
                          "description": "List. **Returned value:** List of list.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "ID. **Returned value:** Unique identifier of the current record."
                              },
                              "member_id": {
                                "type": "string",
                                "description": "Member ID. **Returned value:** Member ID."
                              },
                              "real_name": {
                                "type": "string",
                                "description": "Name. **Returned value:** Name."
                              },
                              "origin_id": {
                                "type": "string",
                                "description": "A/C No. **Returned value:** A/C No."
                              },
                              "account_type": {
                                "type": "string",
                                "description": "Account Type. **Returned value:** Account Type."
                              },
                              "account_type_val": {
                                "type": "string",
                                "description": "Account Type (raw value). Raw value of `account_type`. The `account_type` field contains the display value resolved through a dictionary or related record; this field contains the underlying code or ID."
                              },
                              "counter_id": {
                                "type": "string",
                                "description": "Stock Code. **Returned value:** Stock Code."
                              },
                              "unavailable_quantity": {
                                "type": "string",
                                "description": "Frozen Quantity. **Returned value:** Frozen Quantity."
                              },
                              "holding_quantity": {
                                "type": "string",
                                "description": "Total Quantity. **Returned value:** Total Quantity."
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "Updated At. **Returned value:** Updated At. The date or time format follows the value returned by the API."
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total. **Returned value:** Total number of matching records, used for pagination."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "list": [
                      {
                        "id": "5898040",
                        "member_id": "1000000000000000000",
                        "real_name": "示例用户",
                        "origin_id": "H00000000",
                        "account_type": "SETTLEMENT",
                        "account_type_val": "SETTLEMENT",
                        "counter_id": "ST/HK/700",
                        "unavailable_quantity": "0",
                        "holding_quantity": "5,000",
                        "updated_at": "1784181462"
                      }
                    ],
                    "total": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authenticated, or the login session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The current account is not authorized to use this feature. Grant the required permission to the account in User Permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          },
          "408": {
            "description": "The request timed out. Check the business error code in `code` and the error details in `message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerGatewayErrorEnvelope"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/en/api-reference/account_stock_holdings",
          "metadata": {
            "sidebarTitle": "Stock Account Balance"
          }
        }
      }
    },
    "/v1/datasets/account_stock_holdings/download": {
      "post": {
        "operationId": "account_stock_holdings_download",
        "summary": "Stock Account Balance Export",
        "tags": [
          "Account Assets"
        ],
        "x-permission-key": [
          "account_balance.stock"
        ],
        "x-lbonly": false,
        "description": "Exports Stock Account Balance data to a file. `filters` defines the export scope, `orderBy` controls sorting, and `down_fields` can restrict the exported columns.\n\n### Export modes\n\n- `mode: 0`: synchronous export; the download URL is returned directly on success.\n- `mode: 1`: asynchronous export; the API first returns `file_download_id`. Call `GET /v1/datasets/download/{id}` to obtain the download URL.\n- When the export record is no longer needed, delete it with `DELETE /v1/datasets/download/{id}`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "Filters. Same fields as the filters of account_stock_holdings.yaml (the query capability).",
                    "properties": {
                      "aaid": {
                        "type": "string",
                        "description": "Client. Filters results by Client."
                      },
                      "account_type": {
                        "type": "string",
                        "description": "Account Type. Filters results by Account Type.\n\n**Allowed values:** `SETTLEMENT`, `BUSINESS` (Business), `EXTERNAL`, `INTERNAL`",
                        "enum": [
                          "SETTLEMENT",
                          "BUSINESS",
                          "EXTERNAL",
                          "INTERNAL"
                        ]
                      },
                      "counter_id": {
                        "type": "string",
                        "description": "Stock Code. Filters results by Stock Code."
                      },
                      "updated_at": {
                        "type": "object",
                        "description": "Updated At. Filters results by Updated At.",
                        "properties": {
                          "gte": {
                            "type": "string",
                            "format": "date",
                            "description": "Greater Than or Equal. Inclusive lower bound of the filter range."
                          },
                          "lte": {
                            "type": "string",
                            "format": "date",
                            "description": "Less Than or Equal. Inclusive upper bound of the filter range."
                          }
                        }
                      },
                      "is_zero": {
                        "type": "string",
                        "description": "Display Type. Filters results by Display Type.\n\nMultiple values are supported. Join them with commas (`,`). Omit the field to disable this filter.\n\n**Allowed values:**\n- `0` - Nil\n- `1` - Valid",
                        "example": "0,1",
                        "enum": [
                          "0",
                          "1"
                        ]
                      }
                    }
                  },
                  "orderBy": {
                    "type": "array",
                    "description": "Order By. Array of sorting rules. Each item defines a sort field and direction.",
                    "items": {
                      "type": "object"
                    }
                  },
                  "mode": {
                    "type": "integer",
                    "default": 0,
                    "description": "Mode. Defaults to `0` (synchronous mode) when omitted.\n\n**Allowed values:**\n- `0` - Sync\n- `1` - Async",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "ext": {
                    "type": "string",
                    "description": "Ext. Download file format. Defaults to `csv` when omitted.\n\n**Allowed values:**\n- `csv` - CSV\n- `xlsx` - Excel",
                    "enum": [
                      "csv",
                      "xlsx"
                    ]
                  },
                  "file_name": {
                    "type": "string",
                    "description": "File Name. Export file name. The server generates a name when omitted."
                  },
                  "remark": {
                    "type": "string",
                    "description": "Remarks to save with this operation."
                  },
                  "down_fields": {
                    "type": "array",
                    "description": "Down Fields. When omitted, all fields are exported; allowed values are listed under items.enum (the\nsame field list as the query endpoint's data.list.items).",
                    "items": {
                      "type": "string",
                      "enum": [
                        "id",
                        "member_id",
                        "real_name",
                        "origin_id",
                        "account_type",
                        "account_type_val",
                        "counter_id",
                        "unavailable_quantity",
                        "holding_quantity",
                        "updated_at"
                      ]
                    }
                  },
                  "ticket_content": {
                    "type": "string",
                    "description": "Ticket Content. Information shown to the approver when download approval is enabled for the template."
                  },
                  "ticket_preview_url": {
                    "type": "string",
                    "description": "Ticket Preview URL. Export approval detail URL. Used only when the export requires approval."
                  },
                  "hide": {
                    "type": "integer",
                    "description": "Hide. Whether to hide this export from the download-record list.\n\n**Allowed values:**\n- `0` - Not Hidden\n- `1` - Hidden",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              },
              "example": {
                "filters": {},
                "orderBy": [],
                "mode": 0,
                "ext": "csv",
                "file_name": "",
                "remark": "",
                "down_fields": [],
                "ticket_content": "",
                "ticket_preview_url": "",
                "hide": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On success, returns information about the Stock Account Balance Export task. Synchronous exports provide a download URL directly; asynchronous exports provide `file_download_id` for subsequent status queries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "`0` indicates success. A non-zero value is a business error code, in which case\n`data` is usually empty.\n\nHTTP status codes use their standard semantics. A successful request normally\nreturns `200`; errors may return `400`, `401`, `403`, `408`, or another applicable\nstatus. Interpret the HTTP status together with the business `code`.\n\n- `401`: The user is not authenticated.\n- `403`: The current account is not authorized to use this function. Grant access\n  through User Permission."
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Download URL. Returned in synchronous mode (`mode: 0`); empty in asynchronous mode."
                        },
                        "file_download_id": {
                          "type": "string",
                          "description": "File Download ID. Returned in async mode (`mode: 1`); it is the `{id}` in\n`GET /v1/datasets/download/{id}` / `DELETE /v1/datasets/download/{id}`: GET\nobtains the final download URL, DELETE deletes the export record."
                        },
                        "ticket_id": {
                          "type": "string",
                          "description": "Ticket ID. **Returned value:** Approval ticket ID. Returned only when the operation starts an approval workflow."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "message": "success",
                  "data": {
                    "url": "https://b-api.longbridge.xyz/download/export_result.csv",
                    "file_download_id": "",
                    "ticket_id": ""
                  }
                }
              }
            }
          },
          "400": {
[...]
