{
  "openapi": "3.0.1",
  "info": {
    "title": "Longport Whale Broker API",
    "description": "Institution-grade server-to-server API for brokers running on Longport Whale.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://b-api.longbridge.xyz",
      "description": "Test"
    },
    {
      "url": "https://b-api.lbkrs.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "FD／B2B"
    },
    {
      "name": "Service Parameter"
    },
    {
      "name": "Trading Panel"
    },
    {
      "name": "Accounting"
    },
    {
      "name": "Corporate Action"
    },
    {
      "name": "Announcement"
    },
    {
      "name": "Shared Components"
    },
    {
      "name": "Suspicious Incident Monitoring"
    },
    {
      "name": "Fund Management"
    },
    {
      "name": "Reports"
    },
    {
      "name": "IPO System"
    },
    {
      "name": "Cash Management"
    },
    {
      "name": "Day-End Settlement"
    },
    {
      "name": "Broker Management"
    },
    {
      "name": "VA Clearing Management"
    },
    {
      "name": "Stock Management"
    },
    {
      "name": "Account Assets"
    },
    {
      "name": "Risk Control Compliance"
    }
  ],
  "paths": {
    "/v1/datasets/fd_organizations": {
      "post": {
        "tags": [
          "FD／B2B"
        ],
        "summary": "券商组织列表",
        "description": "Query the `券商组织列表` dataset. Dataset name (in the URL path) is `fd_organizations`.",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Filter object.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number (1-based)."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "Rows per page (10/20/50/100/200)."
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Organization Name"
                          },
                          "code": {
                            "type": "string",
                            "description": "Code"
                          },
                          "contact_name": {
                            "type": "string",
                            "description": "Contact Name"
                          },
                          "contact_email": {
                            "type": "string",
                            "description": "Contact Email"
                          },
                          "contact_phone_number": {
                            "type": "string",
                            "description": "Contact Phone Number"
                          },
                          "logo": {
                            "type": "string",
                            "description": "Logo"
                          },
                          "licence": {
                            "type": "string",
                            "description": "License Numebr"
                          },
                          "admin_name": {
                            "type": "string",
                            "description": "Admin"
                          },
                          "ce_no": {
                            "type": "string",
                            "description": "Broker CE Licence"
                          },
                          "banner": {
                            "type": "string",
                            "description": "Banner"
                          },
                          "icon": {
                            "type": "string",
                            "description": "Security Account Icon"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total row count."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/organization/create": {
      "post": {
        "tags": [
          "FD／B2B"
        ],
        "summary": "Create Organization",
        "description": "券商机构(Brokerage institutions) 页面「新增」弹窗（AddItem.tsx -> OrgForm.tsx）提交。前端 service 层 addOrg(params: any) 类型未定义，字段实际来自 OrgForm.tsx 的表单字段配置。来自前端 fe-wealth-admin packages/next/src/services/organization.ts#addOrg，未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为 any）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为 any）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Organization ID. 仅数字，1-8位"
                  },
                  "code": {
                    "type": "string",
                    "description": "Organization Code. 数字/大写字母/连字符，1-6位"
                  },
                  "name": {
                    "type": "string",
                    "description": "Organization Name"
                  },
                  "banner": {
                    "type": "string",
                    "description": "Banner Image"
                  },
                  "ce_no": {
                    "type": "string",
                    "description": "CE No."
                  },
                  "icon": {
                    "type": "string",
                    "description": "Icon"
                  },
                  "licence": {
                    "type": "string",
                    "description": "Licence"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "Contact Name"
                  },
                  "contact_phone_number": {
                    "type": "string",
                    "description": "Contact Phone Number. 格式：区号-号码，如 1-2345678"
                  },
                  "contact_email": {
                    "type": "string",
                    "description": "Contact Email"
                  },
                  "logo": {
                    "type": "string",
                    "description": "Logo"
                  },
                  "settings": {
                    "type": "string",
                    "description": "Settings. 前端固定传 JSON.stringify({})，页面上没有可编辑入口"
                  }
                },
                "required": [
                  "id",
                  "code",
                  "icon",
                  "licence",
                  "contact_name",
                  "contact_phone_number",
                  "contact_email"
                ]
              },
              "example": {
                "id": "1",
                "code": "A1",
                "name": "",
                "ce_no": "",
                "licence": "",
                "contact_name": "",
                "contact_phone_number": "1-2345678",
                "contact_email": "",
                "icon": "",
                "banner": "",
                "logo": "",
                "settings": "{}"
              }
            }
          }
        }
      }
    },
    "/account/organization/update": {
      "put": {
        "tags": [
          "FD／B2B"
        ],
        "summary": "Update Organization",
        "description": "券商机构(Brokerage institutions) 列表行内「编辑」弹窗（EditItem.tsx）和「设置」弹窗（EditSetting.tsx）共用同一接口，仅表单字段范围不同。来自前端 fe-wealth-admin packages/next/src/services/organization.ts#editOrg/editOrgSetting，未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为 any）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为 any）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "org_id": {
                    "type": "string",
                    "description": "Organization ID. 同 id，两个入口（编辑/设置）都会带上"
                  },
                  "id": {
                    "type": "string",
                    "description": "Organization ID"
                  },
                  "code": {
                    "type": "string",
                    "description": "Organization Code. 「编辑」弹窗字段，只读展示不可改"
                  },
                  "name": {
                    "type": "string",
                    "description": "Organization Name. 「编辑」弹窗字段"
                  },
                  "banner": {
                    "type": "string",
                    "description": "Banner Image. 「编辑」弹窗字段"
                  },
                  "ce_no": {
                    "type": "string",
                    "description": "CE No.. 「编辑」弹窗字段"
                  },
                  "icon": {
                    "type": "string",
                    "description": "Icon. 「编辑」弹窗字段"
                  },
                  "licence": {
                    "type": "string",
                    "description": "Licence. 「编辑」弹窗字段"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "Contact Name. 「编辑」弹窗字段"
                  },
                  "contact_phone_number": {
                    "type": "string",
                    "description": "Contact Phone Number. 「编辑」弹窗字段，格式：区号-号码"
                  },
                  "contact_email": {
                    "type": "string",
                    "description": "Contact Email. 「编辑」弹窗字段"
                  },
                  "logo": {
                    "type": "string",
                    "description": "Logo. 「编辑」弹窗字段"
                  },
                  "settings": {
                    "type": "string",
                    "description": "Settings. 「设置」弹窗（OrgSettingForm.tsx）可编辑字段，JSON 字符串（前端先与旧值合并、再 JSON.stringify 后传递）；「编辑」弹窗（OrgForm.tsx）提交时该字段原样透传，不做修改。内层可编辑项见 settings_fields。"
                  }
                },
                "required": [
                  "org_id",
                  "id"
                ]
              },
              "example": {
                "org_id": "1",
                "id": "1",
                "code": "A1",
                "name": "",
                "ce_no": "",
                "licence": "",
                "contact_name": "",
                "contact_phone_number": "1-2345678",
                "contact_email": "",
                "icon": "",
                "banner": "",
                "logo": "",
                "settings": "{\"name\":{\"en\":\"\",\"zh-CN\":\"\",\"zh-HK\":\"\"},\"entity\":{\"lb\":{\"en\":\"\",\"zh-CN\":\"\",\"zh-HK\":\"\"}},\"slogan\":{\"en\":\"\",\"zh-CN\":\"\",\"zh-HK\":\"\"},\"intro\":{\"en\":\"\",\"zh-CN\":\"\",\"zh-HK\":\"\"},\"account_name\":{\"lb\":{\"en\":\"\",\"zh-CN\":\"\",\"zh-HK\":\"\"}}}"
              }
            }
          }
        }
      }
    },
    "/v1/datasets/corp_action_sub_position_views": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "公司行动 - 子仓视图",
        "description": "Query the `公司行动 - 子仓视图` dataset. Dataset name (in the URL path) is `corp_action_sub_position_views`.",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Filter object.",
                    "properties": {}
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number (1-based)."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "Rows per page (10/20/50/100/200)."
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "View ID"
                          },
                          "view_name": {
                            "type": "string",
                            "description": "View Name"
                          },
                          "usage_scene": {
                            "type": "string",
                            "description": "Usage Scenario"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status"
                          },
                          "remark": {
                            "type": "string",
                            "description": "Remarks"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation Time"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "Created By"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total row count."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corporate_action/sub_position_view/disable": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Disable Sub Account View",
        "description": "子仓视图(Sub Account View) 列表行内「停用/关闭」按钮。来自前端 fe-wealth-admin packages/bss/src/services/corporate-action-sub-account.ts#disableSubAccountView，未实际提交验证。request 参数取自该文件里具名 interface SubAccountViewActionData 的完整定义，并以 packages/bss/src/pages/corporate-action-sub-account/index.tsx 中「关闭」行操作的真实调用值（runDisable({ id, audit_frontend_resource })）核实，涉及真实子仓视图停用状态变更，未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Sub Account View ID. 来自列表行记录的 record.id。当 record.status_val == '0'（已停用）时该「关闭」操作按钮会被隐藏，说明 status_val 至少含 '0'=已停用、'1'=已启用两种取值（由后端 ref 字典解析，前端未找到静态枚举定义）。"
                  },
                  "audit_frontend_resource": {
                    "type": "object",
                    "description": "Audit Frontend Resource (auxiliary). 非业务字段，仅用于审计日志展示，interface SubAccountViewActionData 定义为 { id: string; audit_frontend_resource?: { view_name?: string; $behavior?: any } }。前端调用处传入 { view_name: record.view_name, $behavior: t('corporate_action_sub_account_disable') }（本地化文本 zh-CN: 关闭 / en: Disable）。"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "10086",
                "audit_frontend_resource": {
                  "view_name": "尾差调整视图A",
                  "$behavior": "关闭"
                }
              }
            }
          }
        }
      }
    },
    "/corporate_action/sub_position_view/del": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Delete Sub Account View",
        "description": "子仓视图(Sub Account View) 列表行内「删除」按钮。来自前端 fe-wealth-admin packages/bss/src/services/corporate-action-sub-account.ts#deleSubAccountView，request 字段取自该文件 SubAccountViewActionData 类型定义（id + 可选 audit_frontend_resource 审批工单资源），未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Sub Account View ID"
                  },
                  "audit_frontend_resource": {
                    "type": "object",
                    "description": "Audit Frontend Resource. 用于审批工单展示原视图信息（如 view_name）及行为标记 $behavior，非业务必填字段"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "10086",
                "audit_frontend_resource": {
                  "view_name": "示例子仓视图"
                }
              }
            }
          }
        }
      }
    },
    "/corporate_action/sub_position_view/enable": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Enable Sub Account View",
        "description": "子仓视图(Sub Account View) 列表行内「启用」按钮。来自前端 fe-wealth-admin packages/bss/src/services/corporate-action-sub-account.ts#enableSubAccountView，request 字段取自该文件 SubAccountViewActionData 类型定义（id + 可选 audit_frontend_resource 审批工单资源），未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为具名 interface SubAccountViewActionData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Sub Account View ID"
                  },
                  "audit_frontend_resource": {
                    "type": "object",
                    "description": "Audit Frontend Resource. 用于审批工单展示原视图信息（如 view_name）及行为标记 $behavior，非业务必填字段"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "10086",
                "audit_frontend_resource": {
                  "view_name": "示例子仓视图"
                }
              }
            }
          }
        }
      }
    },
    "/corporate_action/sub_position_view/create": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Create Sub Account View",
        "description": "子仓视图(Sub Account View) 页面「新增」抽屉（detail-drawer-form.tsx）提交。来自前端 fe-wealth-admin packages/bss/src/services/corporate-action-sub-account.ts#createSubAccountView，未实际提交验证。request 参数取自该文件里具名 interface CreateSubAccountViewData 的完整定义（同结构也复用为 packages/bss/src/pages/corporate-action-sub-account/type.ts#SubAccountView），并以 detail-drawer-form.tsx 中的表单字段定义（formFields）及 packages/bss/src/services/audit-logs/5380.ts 审计模板核实，涉及真实新建子仓视图，未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为具名 interface CreateSubAccountViewData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为具名 interface CreateSubAccountViewData，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "view_name": {
                    "type": "string",
                    "description": "View Name. 表单字段 name=view_name，input 输入框，必填（rules: [{ required: true }]）。"
                  },
                  "usage_scene": {
                    "type": "number",
                    "description": "Usage Scenario. 表单字段 name=usage_scene，radio-group，必填。可选项通过 GET /data_porter/refs?ref_ids=corp_sub_account_view_usage_scene（Accept-Language: zh-CN / en）动态获取；前端源码注释给出唯一静态线索：1=尾差调整 2=退税 3=明细调整。. Options: `1` = Tail Difference Adjustment; `2` = Tax Refund; `3` = Detail Adjustment"
                  },
                  "remark": {
                    "type": "string",
                    "description": "Remark. 表单字段 name=remark，textarea，非必填。"
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Group List. 对应表单 Form.List，name=groups，初始值 [{}]，可通过「新增分组」按钮追加。每项为 { group_name: string; sub_position_scope: string[] }。"
                  },
                  "groups[].group_name": {
                    "type": "string",
                    "description": "Group Name. 表单字段 name=group_name，input，必填，并有前端自定义校验：同一提交内分组名称不可重复（去除空白后比较）。"
                  },
                  "groups[].sub_position_scope": {
                    "type": "string",
                    "description": "Sub-Account Scope. 表单字段 name=sub_position_scope，select（多选，mode: 'multiple'），必填。可选项通过 GET /data_porter/refs?ref_ids=all_sub_position_no（Accept-Language: zh-CN / en）动态获取，为结算子仓/子仓编号列表，前端未找到静态枚举定义。"
                  }
                },
                "required": [
                  "view_name",
                  "usage_scene",
                  "groups",
                  "groups[].group_name",
                  "groups[].sub_position_scope"
                ]
              },
              "example": {
                "view_name": "尾差调整视图A",
                "usage_scene": 1,
                "remark": "用于日终尾差调整",
                "groups": [
                  {
                    "group_name": "分组1",
                    "sub_position_scope": [
                      "1001",
                      "1002"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/datasets/va_coin_withdraw_audit_rules": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "出币审核规则",
        "description": "Query the `出币审核规则` dataset. Dataset name (in the URL path) is `va_coin_withdraw_audit_rules`.",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Filter object.",
                    "properties": {
                      "rule_name": {
                        "type": "string",
                        "description": "Rule Name Rule Name"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status Status Options ref: `atm_va_ref_coin_withdraw_audit_status`."
                      },
                      "audit_type": {
                        "type": "string",
                        "description": "Audit rules Audit rules Options ref: `atm_va_ref_coin_withdraw_audit_type`."
                      },
                      "id": {
                        "type": "string",
                        "description": "ID"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number (1-based)."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "Rows per page (10/20/50/100/200)."
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID"
                          },
                          "rule_name": {
                            "type": "string",
                            "description": "Rule Name"
                          },
                          "upstream_broker": {
                            "type": "string",
                            "description": "Channel"
                          },
                          "account_nos": {
                            "type": "string",
                            "description": "A/C No"
                          },
                          "broker_allocate_states": {
                            "type": "string",
                            "description": "Company Fund Allocation Status"
                          },
                          "custom_coin_quantity_ranges": {
                            "type": "string",
                            "description": "Crypto & Quantity Range"
                          },
                          "custom_equivalent_usd_range": {
                            "type": "string",
                            "description": "Equivalent USD Range"
                          },
                          "custom_delay_time": {
                            "type": "string",
                            "description": "Review Delay"
                          },
                          "audit_type": {
                            "type": "string",
                            "description": "Audit rules"
                          },
                          "priority": {
                            "type": "string",
                            "description": "Priority"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Created Time"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Update Time"
                          },
                          "remark": {
                            "type": "string",
                            "description": "Remark"
                          },
                          "updater": {
                            "type": "string",
                            "description": "Operator"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total row count."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/delete/withdraw/audit/rule": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Delete Withdraw Audit Rule",
        "description": "出币审核规则(Crypto Approval) 列表行内「删除」按钮。来自前端 fe-wealth-admin apps/atm-next/src/services/atm.ts#deleteWithdrawAuditRule，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Rule ID"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "123"
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/add/withdraw/audit/rule": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Add Withdraw Audit Rule",
        "description": "出币审核规则(Crypto Approval) 页面「新增」子页面（crypto-approval/edit.tsx，路由 /crypto-withdrawal-rules/crypto-approval/new）提交。字段来自前端 fe-wealth-admin apps/atm-next/src/services/atm.ts#addWithdrawAuditRule 的 addWithdrawAuditRuleRequest 接口定义，并结合 apps/atm-next/src/pages/crypto-withdrawal-rules/crypto-approval/edit.tsx 的表单字段确认。broker_allocate_states/audit_type/coin(coin_quantity_list 内)等枚举值来自后端 refs（atm_va_ref_broker_allocation_status / atm_va_ref_coin_withdraw_audit_type / global_coin），未在前端硬编码中文/英文文案。此接口为写操作（涉及真实规则数据变更），本次仅做静态代码分析，未实际提交验证。\n\n未在前端调用处发现明确字段读取（函数参数为具名 interface addWithdrawAuditRuleRequest，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为具名 interface addWithdrawAuditRuleRequest，未展开确认全部字段）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rule_name": {
                    "type": "string",
                    "description": "Rule Name"
                  },
                  "priority": {
                    "type": "number",
                    "description": "Priority. 取值范围 1-999"
                  },
                  "upstream_broker": {
                    "type": "string",
                    "description": "Channel. 区分存款账户对应的上手，目前前端固定可选值为 HASHKEY"
                  },
                  "account_nos": {
                    "type": "string",
                    "description": "Applicable Accounts. 前端为「全部账户」/「指定账户」二选一：全部账户传 all；指定账户传多个证券账号，以逗号分隔"
                  },
                  "broker_allocate_states": {
                    "type": "string",
                    "description": "Company Fund Allocation Status. 多选，提交时以逗号拼接为字符串；可选值来自后端枚举 ref atm_va_ref_broker_allocation_status，已知取值：all-全部，4-成功，5-失败，6-异常，7-已驳回"
                  },
                  "coin_quantity_list": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Crypto & Quantity Range List. 动态列表，每项为 { coin: string（币种，枚举来自 ref global_coin）, quantity_min: string（最小数量）, quantity_max: string（最大数量） }"
                  },
                  "equivalent_usd": {
                    "type": "object",
                    "description": "Equivalent USD Amount Range. { amount_min: string, amount_max: string }，前端为可选数值范围输入"
                  },
                  "delay_time": {
                    "type": "number",
                    "description": "Review Delay Time. 单位分钟，取值范围 1-999"
                  },
                  "audit_type": {
                    "type": "string",
                    "description": "Audit Type. 枚举值（来自 ref atm_va_ref_coin_withdraw_audit_type）：auto_pass-自动通过，auto_reject-自动驳回，manual_ticket-人工工单审核"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status. 枚举值：enabled-启用，disabled-禁用"
                  },
                  "remark": {
                    "type": "string",
                    "description": "Remark. 最长 500 字符"
                  }
                },
                "required": [
                  "rule_name",
                  "priority",
                  "upstream_broker",
                  "account_nos",
                  "broker_allocate_states",
                  "coin_quantity_list",
                  "delay_time",
                  "audit_type",
                  "status"
                ]
              },
              "example": {
                "rule_name": "HashKey自动通过规则",
                "priority": 10,
                "upstream_broker": "HASHKEY",
                "account_nos": "all",
                "broker_allocate_states": "4,5",
                "coin_quantity_list": [
                  {
                    "coin": "BTC",
                    "quantity_min": "0",
                    "quantity_max": "1"
                  }
                ],
                "equivalent_usd": {
                  "amount_min": "0",
                  "amount_max": "10000"
                },
                "delay_time": 30,
                "audit_type": "auto_pass",
                "status": "enabled",
                "remark": "示例备注"
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/modify/withdraw/audit/rule": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Modify Withdraw Audit Rule",
        "description": "出币审核规则(Crypto Approval) 列表行内「编辑」子页面（crypto-approval/edit.tsx）提交，字段结构与「新增」一致（见同目录 withdraw_audit_rule_add.json 的 addWithdrawAuditRuleRequest 接口），额外多传 id 定位待编辑记录。来自前端 fe-wealth-admin apps/atm-next/src/services/atm.ts#modifyWithdrawAuditRule，结合 apps/atm-next/src/pages/crypto-withdrawal-rules/crypto-approval/edit.tsx 表单字段确认。此接口为写操作（涉及真实规则数据变更），本次仅做静态代码分析，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Rule ID. 待编辑规则的主键，编辑时必填"
                  },
                  "rule_name": {
                    "type": "string",
                    "description": "Rule Name"
                  },
                  "priority": {
                    "type": "number",
                    "description": "Priority. 取值范围 1-999"
                  },
                  "upstream_broker": {
                    "type": "string",
                    "description": "Channel. 区分存款账户对应的上手，目前前端固定可选值为 HASHKEY"
                  },
                  "account_nos": {
                    "type": "string",
                    "description": "Applicable Accounts. 前端为「全部账户」/「指定账户」二选一：全部账户传 all；指定账户传多个证券账号，以逗号分隔"
                  },
                  "broker_allocate_states": {
                    "type": "string",
                    "description": "Company Fund Allocation Status. 多选，提交时以逗号拼接为字符串；可选值来自后端枚举 ref atm_va_ref_broker_allocation_status，已知取值：all-全部，4-成功，5-失败，6-异常，7-已驳回"
                  },
                  "coin_quantity_list": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Crypto & Quantity Range List. 动态列表，每项为 { coin: string（币种，枚举来自 ref global_coin）, quantity_min: string（最小数量）, quantity_max: string（最大数量） }"
                  },
                  "equivalent_usd": {
                    "type": "object",
                    "description": "Equivalent USD Amount Range. { amount_min: string, amount_max: string }，前端为可选数值范围输入"
                  },
                  "delay_time": {
                    "type": "number",
                    "description": "Review Delay Time. 单位分钟，取值范围 1-999"
                  },
                  "audit_type": {
                    "type": "string",
                    "description": "Audit Type. 枚举值（来自 ref atm_va_ref_coin_withdraw_audit_type）：auto_pass-自动通过，auto_reject-自动驳回，manual_ticket-人工工单审核"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status. 枚举值：enabled-启用，disabled-禁用"
                  },
                  "remark": {
                    "type": "string",
                    "description": "Remark. 最长 500 字符"
                  }
                },
                "required": [
                  "id",
                  "rule_name",
                  "priority",
                  "upstream_broker",
                  "account_nos",
                  "broker_allocate_states",
                  "coin_quantity_list",
                  "delay_time",
                  "audit_type",
                  "status"
                ]
              },
              "example": {
                "id": "1001",
                "rule_name": "HashKey自动通过规则",
                "priority": 10,
                "upstream_broker": "HASHKEY",
                "account_nos": "all",
                "broker_allocate_states": "4,5",
                "coin_quantity_list": [
                  {
                    "coin": "BTC",
                    "quantity_min": "0",
                    "quantity_max": "1"
                  }
                ],
                "equivalent_usd": {
                  "amount_min": "0",
                  "amount_max": "10000"
                },
                "delay_time": 30,
                "audit_type": "auto_pass",
                "status": "enabled",
                "remark": "示例备注"
              }
            }
          }
        }
      }
    },
    "/v1/datasets/va_coin_withdraw_limit_configs": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "出币日限额配置",
        "description": "Query the `出币日限额配置` dataset. Dataset name (in the URL path) is `va_coin_withdraw_limit_configs`.",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Filter object.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID ID"
                      },
                      "member_ids": {
                        "type": "string",
                        "description": "Client ID Client ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status Status Options ref: `atm_va_ref_coin_withdraw_limit_status`."
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Created Time"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number (1-based)."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "Rows per page (10/20/50/100/200)."
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID"
                          },
                          "custom_member_ids": {
                            "type": "string",
                            "description": "Client ID"
                          },
                          "withdrawal_crypto": {
                            "type": "string",
                            "description": "Supported Crypto"
                          },
                          "custom_cut_time": {
                            "type": "string",
                            "description": "Cycle Base Date"
                          },
                          "custom_limit_currency": {
                            "type": "string",
                            "description": "Daily Limit (Currency)"
                          },
                          "custom_frequency_limit": {
                            "type": "string",
                            "description": "Withdrawal Frequency Limit"
                          },
                          "priority": {
                            "type": "string",
                            "description": "Priority"
                          },
                          "raw_status": {
                            "type": "string",
                            "description": "Status"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Created Time"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Update Time"
                          },
                          "remark": {
                            "type": "string",
                            "description": "Remarks"
                          },
                          "updater": {
                            "type": "string",
                            "description": "Operator"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total row count."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/delete/coin/withdraw/limit": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Delete Coin Withdraw Limit",
        "description": "出币日限额(Cryptocurrency W/D Limit) 列表行内「删除」按钮。来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#deleteCoinWithdrawLimit，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Config ID"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "123"
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/add/coin/withdraw/limit": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Add Coin Withdraw Limit",
        "description": "出币日限额(Cryptocurrency W/D Limit) 页面「新增」弹窗（WithdrawLimitConfigHandler.tsx）提交。此页面为最近合并到 master 的新功能（PD-30693），来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#addCoinWithdrawLimit，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Config ID"
                  },
                  "creator": {
                    "type": "string",
                    "description": "Creator"
                  },
                  "cut_time": {
                    "type": "string",
                    "description": "Cut Time"
                  },
                  "exchange_currency": {
                    "type": "string",
                    "description": "Exchange Currency"
                  },
                  "frequency_limit": {
                    "type": "string",
                    "description": "Frequency Limit. 空表示不限制"
                  },
                  "limit_amount": {
                    "type": "string",
                    "description": "Limit Amount. 只允许非负数"
                  },
                  "limit_type": {
                    "type": "string",
                    "description": "Limit Type"
                  },
                  "member_ids": {
                    "type": "string",
                    "description": "Member IDs. 多个用逗号分隔，全部传 all，特定客户如 1,2,3"
                  },
                  "priority": {
                    "type": "number",
                    "description": "Priority. 用于排序"
                  },
                  "remark": {
                    "type": "string",
                    "description": "Remark"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status"
                  },
                  "time_zone": {
                    "type": "string",
                    "description": "Time Zone"
                  },
                  "updater": {
                    "type": "string",
                    "description": "Updater"
                  },
                  "withdrawal_crypto": {
                    "type": "string",
                    "description": "Withdrawal Crypto. 多选逗号分隔"
                  }
                },
                "required": [
                  "cut_time",
                  "exchange_currency",
                  "limit_amount",
                  "member_ids",
                  "priority",
                  "status",
                  "time_zone"
                ]
              },
              "example": {
                "creator": "",
                "cut_time": "",
                "exchange_currency": "USD",
                "frequency_limit": "",
                "limit_amount": "0",
                "limit_type": "daily",
                "member_ids": "all",
                "priority": 1,
                "remark": "",
                "status": "enabled",
                "time_zone": "CN",
                "withdrawal_crypto": ""
              }
            }
          }
        }
      }
    },
    "/v1/atm/va/modify/coin/withdraw/limit": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Modify Coin Withdraw Limit",
        "description": "出币日限额(Cryptocurrency W/D Limit) 列表行内「编辑」弹窗（WithdrawLimitConfigHandler.tsx）提交，字段结构与「新增」一致（见同目录 add_coin_withdraw_limit.json），此时 id 必传。来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#modifyCoinWithdrawLimit，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Config ID"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "123"
              }
            }
          }
        }
      }
    },
    "/v1/datasets/atm_balance_rules": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "余额风控规则",
        "description": "Query the `余额风控规则` dataset. Dataset name (in the URL path) is `atm_balance_rules`.",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Filter object.",
                    "properties": {
                      "biz_type": {
                        "type": "string",
                        "description": "Business Type Options ref: `atm_biz_type`."
                      },
                      "rule_status": {
                        "type": "string",
                        "description": "Status Options ref: `atm_rule_status`."
                      },
                      "bank_code": {
                        "type": "string",
                        "description": "Bank Code"
                      },
                      "bank_account": {
                        "type": "string",
                        "description": "Account No"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number (1-based)."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "Rows per page (10/20/50/100/200)."
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bank_code": {
                            "type": "string",
                            "description": "Bank Code"
                          },
                          "bank_account": {
                            "type": "string",
                            "description": "Account No"
                          },
                          "biz_type": {
                            "type": "string",
                            "description": "Business Type"
                          },
                          "rule_status": {
                            "type": "string",
                            "description": "Status"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency"
                          },
                          "warning_amount": {
                            "type": "string",
                            "description": "Warning Amount"
                          },
                          "intercept_amount": {
                            "type": "string",
                            "description": "Intercept Amount"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Modified At"
                          },
                          "modify_operator": {
                            "type": "string",
                            "description": "Processed By"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total row count."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atmrisk/switch_balance_rule": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Switch Balance Rule",
        "description": "余额拦截(Balance Blocking Rules) 列表行内启停开关。来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#switchBalanceRule，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Rule ID"
                  },
                  "rule_switch": {
                    "type": "boolean",
                    "description": "Rule Switch"
                  }
                },
                "required": [
                  "id",
                  "rule_switch"
                ]
              },
              "example": {
                "id": "123",
                "rule_switch": true
              }
            }
          }
        }
      }
    },
    "/v1/datasets/atm_withdraw_prompts": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "出金参数配置",
        "description": "Query the `出金参数配置` dataset. Dataset name (in the URL path) is `atm_withdraw_prompts`.",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Filter object.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "currencies": {
                        "type": "string",
                        "description": "Currency Options ref: `global_currency_with_all`."
                      },
                      "account_channel": {
                        "type": "string",
                        "description": "Account Channel"
                      },
                      "rule_status": {
                        "type": "string",
                        "description": "Status Options ref: `atm_withdraw_audits_rule`."
                      },
                      "region_codes": {
                        "type": "string",
                        "description": "Bank Region Options ref: `atm_cash_notice_region`."
                      },
                      "bank_ids": {
                        "type": "string",
                        "description": "Bank Name Options ref: `atm_out_region_banks`."
                      },
                      "rule_name": {
                        "type": "string",
                        "description": "Rule Name"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number (1-based)."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "Rows per page (10/20/50/100/200)."
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID"
                          },
                          "region_codes": {
                            "type": "string",
                            "description": "Bank Region"
                          },
                          "bank_ids": {
                            "type": "string",
                            "description": "Bank Name"
                          },
                          "custom_time": {
                            "type": "string",
                            "description": "Submission Deadline"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency"
                          },
                          "priority": {
                            "type": "string",
                            "description": "Priority"
                          },
                          "rule_status": {
                            "type": "string",
                            "description": "Status"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Created At"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Update Time"
                          },
                          "modify_operator": {
                            "type": "string",
                            "description": "Modify Operator"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total row count."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atm/withdraw/prompt/add": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Add Withdraw Prompt",
        "description": "出金参数(Withdrawal Configuration) 页面「新增」子页面（rule/parameter-query/add.tsx，经 ParameterForm.tsx）提交。来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#AddWithdrawPrompt，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "region_codes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Region Codes"
                  },
                  "bank_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Bank IDs"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency"
                  },
                  "time_type": {
                    "type": "string",
                    "description": "Time Type"
                  },
                  "time_left": {
                    "type": "string",
                    "description": "Time Left"
                  },
                  "time_right": {
                    "type": "string",
                    "description": "Time Right"
                  },
                  "priority": {
                    "type": "number",
                    "description": "Priority"
                  },
                  "rule_status": {
                    "type": "string",
                    "description": "Rule Status"
                  },
                  "prompts": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Prompts. 每项含 amount_left/amount_right/plat_fee/bank_fee/arrive_time（均为多语言对象）/arrive_rule"
                  }
                },
                "required": [
                  "region_codes",
                  "bank_ids",
                  "currency",
                  "time_type",
                  "time_left",
                  "time_right",
                  "priority",
                  "rule_status",
                  "prompts"
                ]
              },
              "example": {
                "region_codes": [],
                "bank_ids": [],
                "currency": "HKD",
                "time_type": "",
                "time_left": "",
                "time_right": "",
                "priority": 1,
                "rule_status": "",
                "prompts": [
                  {
                    "amount_left": "",
                    "amount_right": "",
                    "plat_fee": {
                      "en": "",
                      "zh-CN": "",
                      "zh-HK": ""
                    },
                    "bank_fee": {
                      "en": "",
                      "zh-CN": "",
                      "zh-HK": ""
                    },
                    "arrive_time": {
                      "en": "",
                      "zh-CN": "",
                      "zh-HK": ""
                    },
                    "arrive_rule": ""
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/atm/withdraw/prompt/modify": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Modify Withdraw Prompt",
        "description": "出金参数(Withdrawal Configuration) 页面「编辑」子页面（rule/parameter-query/edit.tsx，经 ParameterForm.tsx）提交，字段结构与「新增出金提示配置」一致（见同目录 add_withdraw_prompt.json），额外带 id。来自前端 fe-wealth-admin apps/finance-next/src/services/atm.ts#ModifyWithdrawPrompt，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Config ID"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "123"
              }
            }
          }
        }
      }
    },
    "/v1/datasets/atm_bank_daily_limits": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "日限额配置",
        "description": "Query the `日限额配置` dataset. Dataset name (in the URL path) is `atm_bank_daily_limits`.",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Filter object.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Daily Limit Setup ID"
                      },
                      "lb_bank_name": {
                        "type": "string",
                        "description": "Bank Account Name Options ref: `atm_lb_bank_name`."
                      },
                      "currency": {
                        "type": "string",
                        "description": "Currency Options ref: `global_currency_filter_by_account_channel`."
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Created Time"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number (1-based)."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "Rows per page (10/20/50/100/200)."
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Daily Limit Setup ID"
                          },
                          "last_bill_date": {
                            "type": "string",
                            "description": "Cycle Base Date"
                          },
                          "lb_bank_name": {
                            "type": "string",
                            "description": "Bank Account Name"
                          },
                          "bank_accounts": {
                            "type": "string",
                            "description": "A/C No"
                          },
                          "bank_operation_types_names": {
                            "type": "string",
                            "description": "Withdraw Method"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency"
                          },
                          "limit_amount": {
                            "type": "string",
                            "description": "Initial Quota"
                          },
                          "alarm_amount": {
                            "type": "string",
                            "description": "Alarm Level Of Remaining Daily Quota"
                          },
                          "remaining_amount": {
                            "type": "string",
                            "description": "Remaining Daily Quota"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Created Time"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Update Time"
                          },
                          "remark": {
                            "type": "string",
                            "description": "Remark"
                          },
                          "operator": {
                            "type": "string",
                            "description": "Operator"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total row count."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atm/delete/bank/balance": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Delete Exchange Balance",
        "description": "日限额(Daily limits) 列表行内「删除」按钮，与 汇兑(Exchange)/换汇池额度设置(FX Pool Limit Configuration) 页面共用同一接口（详见该目录下 delete_bank_balance.json）。来自前端 fe-wealth-admin packages/finance/src/services/atm.ts#delExchangeBalance，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Record ID"
                  },
                  "business_type": {
                    "type": "string",
                    "description": "Business Type"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "123",
                "business_type": ""
              }
            }
          }
        }
      }
    },
    "/v1/datasets/atm_bank_daily_limit_changes": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "日限额变动表",
        "description": "Query the `日限额变动表` dataset. Dataset name (in the URL path) is `atm_bank_daily_limit_changes`.",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Filter object.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Daily Limit Change ID"
                      },
                      "change_type": {
                        "type": "string",
                        "description": "Business Type Options ref: `atm_change_type_cash_for_list`."
                      },
                      "currency": {
                        "type": "string",
                        "description": "Currency Options ref: `global_currency_filter_by_account_channel`."
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Created Time"
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number (1-based)."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "Rows per page (10/20/50/100/200)."
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Daily Limit Change ID"
                          },
                          "bank_balance_id": {
                            "type": "string",
                            "description": "Daily Limit Setup ID"
                          },
                          "bill_date": {
                            "type": "string",
                            "description": "Cycle Base Date"
                          },
                          "change_type": {
                            "type": "string",
                            "description": "Business Type"
                          },
                          "lb_bank_name": {
                            "type": "string",
                            "description": "Bank Account Name"
                          },
                          "bank_accounts": {
                            "type": "string",
                            "description": "A/C No"
                          },
                          "bank_operation_types_names": {
                            "type": "string",
                            "description": "Withdraw Method"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency"
                          },
                          "order_no": {
                            "type": "string",
                            "description": "Order ID"
                          },
                          "before_occurred": {
                            "type": "string",
                            "description": "Initial Remaining Daily Quota"
                          },
                          "occurred_amount": {
                            "type": "string",
                            "description": "Amount Incurred"
                          },
                          "after_occurred": {
                            "type": "string",
                            "description": "Remaining Daily Quota"
                          },
                          "occurred_from": {
                            "type": "string",
                            "description": "Automatically By The System?"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Created Time"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Update Time"
                          },
                          "remark": {
                            "type": "string",
                            "description": "Remark"
                          },
                          "operator": {
                            "type": "string",
                            "description": "Operator"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total row count."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atm/update/direct/withdraw/audit/config": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Update Direct Withdraw Audit Config",
        "description": "更多设置(More settings) 页面开关切换。来自前端 fe-wealth-admin packages/next/src/services/atm.ts#auditConfig，未实际提交验证。config_key 前端固定传 direct_withdraw_need_audit。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "config_key": {
                    "type": "string",
                    "description": "Config Key"
                  },
                  "config_value": {
                    "type": "string",
                    "description": "Config Value"
                  }
                },
                "required": [
                  "config_key",
                  "config_value"
                ]
              },
              "example": {
                "config_key": "direct_withdraw_need_audit",
                "config_value": "yes"
              }
            }
          }
        }
      }
    },
    "/v1/datasets/atm_withdraw_package_rules": {
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "自动化出金打包配置表",
        "description": "Query the `自动化出金打包配置表` dataset. Dataset name (in the URL path) is `atm_withdraw_package_rules`.",
        "servers": [
          {
            "url": "https://b-api.longbridge.xyz",
            "description": "Test"
          },
          {
            "url": "https://b-api.lbkrs.com",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Filter object.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Withdrawal Rule ID Please Enter Options ref: `withdraw_type`."
                      },
                      "lb_bank_channel_id": {
                        "type": "string",
                        "description": "Withdraw Channel Options ref: `atm_lb_bank_channel_id_name`."
                      },
                      "package_type": {
                        "type": "string",
                        "description": "Withdrawal Policy Options ref: `atm_package_type`."
                      },
                      "support_region": {
                        "type": "string",
                        "description": "Supported Bank Types Options ref: `atm_cash_notice_region`."
                      },
                      "support_bank_ids": {
                        "type": "string",
                        "description": "Supported Bank Name Options ref: `atm_cash_notice_region_bank`."
                      },
                      "status": {
                        "type": "string",
                        "description": "Status Options ref: `atm_status`."
                      },
                      "audit_status": {
                        "type": "string",
                        "description": "Audit Status Options ref: `atm_out_package_rule_apply_state`."
                      },
                      "original_limit": {
                        "type": "string",
                        "description": "Original Limit Options ref: `atm_out_package_original_limit`."
                      },
                      "hit_rules": {
                        "type": "string",
                        "description": "Hit Rule Options ref: `withdraw_audit_flags_all`."
                      },
                      "rule_codes": {
                        "type": "string",
                        "description": "Hit Rules Options ref: `aml_withdraw_rules`."
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number (1-based)."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20,
                    "description": "Rows per page (10/20/50/100/200)."
                  }
                }
              },
              "example": {
                "body": {},
                "page": 1,
                "page_size": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Withdrawal Rule ID"
                          },
                          "original_limit": {
                            "type": "string",
                            "description": "Original Limit"
                          },
                          "rule_codes": {
                            "type": "string",
                            "description": "Hit Rules"
                          },
                          "custom_lb_bank_channel_id": {
                            "type": "string",
                            "description": "Withdraw Channel"
                          },
                          "custom_original_limit_accounts": {
                            "type": "string",
                            "description": "Withdrawal Account"
                          },
                          "fee_bank_account_id": {
                            "type": "string",
                            "description": "Service fee account"
                          },
                          "package_type": {
                            "type": "string",
                            "description": "Withdrawal Policy"
                          },
                          "batch_max_count": {
                            "type": "string",
                            "description": "Batch Maximum Number"
                          },
                          "charge_type": {
                            "type": "string",
                            "description": "Charge Type"
                          },
                          "custom_single_quota_currency_amount": {
                            "type": "string",
                            "description": "Supported Currencies & Single Limit"
                          },
                          "custom_service_time": {
                            "type": "string",
                            "description": "Bank Service Counter"
                          },
                          "custom_lb_service_time": {
                            "type": "string",
                            "description": "Company Service Period"
                          },
                          "support_region": {
                            "type": "string",
                            "description": "Bank Region"
                          },
                          "support_bank_ids": {
                            "type": "string",
                            "description": "Supported Bank List Name"
                          },
                          "sec_auth_show": {
                            "type": "string",
                            "description": "Bank Securities Supported?"
                          },
                          "priority": {
                            "type": "string",
                            "description": "Priority"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status"
                          },
                          "audit_status": {
                            "type": "string",
                            "description": "Audit Status"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Created Time"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Update Time"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total row count."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/atm/out/cash/package/rule": {
      "delete": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Delete Out Cash Package Rule",
        "description": "自动出金规则(Auto Withdrawal Rules) 列表行内「删除」按钮。来自前端 fe-wealth-admin packages/finance/src/services/atm.ts#delOutCashPackage，未实际提交验证。\n\n未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现字段读取；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Rule ID"
                  },
                  "action_in": {
                    "type": "number",
                    "description": "Action In. 前端固定传 1"
                  }
                },
                "required": [
                  "id",
                  "action_in"
                ]
              },
              "example": {
                "id": "123",
                "action_in": 1
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Service Parameter"
        ],
        "summary": "Add Out Cash Package Rule",
        "description": "自动出金规则(Auto Withdrawal Rules) 页面「新增」子页面（rule/withdrawal/edit.tsx）提交。来自前端 fe-wealth-admin packages/finance/src/services/atm.ts#addOutCashPackage，request.params 取自 edit.tsx 的 handleSubmit（先用常量 white 白名单 pick 表单值，再合并 action_in/audit_frontend_resource 才调用 addOutCashPackage），未实际提交验证，涉及真实自动出金规则配置。\n\n未在前端调用处发现明确字段读取（函数参数为 data，无类型标注）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
        "responses": {
          "200": {
            "description": "未在前端调用处发现明确字段读取（函数参数为 data，无类型标注）；未在 whale-admin-api.json 里找到同路径定义。未实调，保持 schema 为空。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "original_limit": {
                    "type": "string",
                    "description": "Original Limit Type. 仅 LBHK 站点展示的 radio-group，枚举来自 ref atm_out_package_original_limit（如是否使用「原始限额出金账户」维度）；新增时可编辑，编辑态禁用。"
                  },
                  "lb_bank_channel_id": {
                    "type": "string",
                    "description": "Bank Channel ID. select，候选项依 original_limit 与是否 LBHK 从不同 ref 取值：original_limit=1 且 LBHK 时用 ref atm_bank_operate_types_original，否则用 ref atm_select_lb_bank_channel_id_name（编辑态用级联 ref atm_select_lb_bank_channel_id_name_cascade）。"
                  },
                  "package_type": {
                    "type": "string",
                    "description": "Package Type. select，枚举来自 ref atm_package_type。"
                  },
                  "batch_max_count": {
                    "type": "string",
                    "description": "Batch Max Count. input-number，范围 0-100，整数，提交前会转成字符串。"
                  },
                  "charge_type": {
                    "type": "string",
                    "description": "Charge Type. select，枚举来自 ref atm_charge_type，如 SHA/OUR/BEN 等 SWIFT 费用承担方式。"
                  },
                  "fee_bank_account_id": {
                    "type": "string",
                    "description": "Fee Bank Account ID. 仅当 charge_type 为 SHA 或 OUR 时展示，select，候选项来自选定银行渠道后动态查询 template lb_bank_accounts 的结果。"
                  },
                  "single_quota_currency_amount": {
                    "type": "string",
                    "description": "Single Quota Currency Amount. 可增行的 [{currency, amount}] 列表，currency 来自 ref global_currency_filter_by_account_channel，amount 为数字；提交前 JSON.stringify 成字符串。"
                  },
                  "single_quota_currency_amount_keys": {
                    "type": "string",
                    "description": "Single Quota Currency Amount Row Keys. 前端自动生成，值为 single_quota_currency_amount 数组的下标序列（如 [0,1,...]），供后端/审计标识行顺序。"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency (comma-joined). 由 single_quota_currency_amount 中各行 currency 去重拼接的逗号分隔字符串，非独立表单项。"
                  },
                  "support_region": {
                    "type": "string",
                    "description": "Support Region (comma-joined). 表单多选 select，候选项来自 ref atm_out_cash_rule_region，提交前 join(',') 成字符串；变更后会重新联动查询 support_bank_ids 的候选银行。"
                  },
                  "support_bank_ids": {
                    "type": "string",
                    "description": "Support Bank IDs. TreeSelect 多选，候选项来自按 support_region 联动查询 ref atm_region_banks_pick_exclude_default 返回的银行列表。"
                  },
                  "sec_auth": {
                    "type": "string",
                    "description": "Secondary Auth Method. radio-group，枚举来自 ref atm_sec_auth。"
                  },
                  "priority": {
                    "type": "number",
                    "description": "Priority. input-number，范围 0-999，整数。"
                  },
                  "status": {
                    "type": "string",
                    "description": "Rule Status. radio-group，前端本地定义两个选项：'1'=启用，'2'=禁用。"
                  },
                  "remark": {
                    "type": "string",
                    "description": "Remark. textarea 自由文本。"
                  },
                  "rule_codes": {
                    "type": "string",
                    "description": "Hit AML Withdraw Rules (LBHK only). 仅 LBHK 站点展示，多选，枚举来自 ref aml_withdraw_rules（含 all=全部，选 all 会互斥清空其它选项）。"
                  },
[...]
